Repository DeltaV-Station/Delta-v, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DeltaV-Station/maintainers, @MilonPL, @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction, @DeltaV-Station/maptainers, @DeltaV-Station/head-administrators, @deltanedas

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Add missing roles to Secure Cabinet (#2554)
  Resources/Prototypes/_DV/Entities/Structures/Storage/SecureCabinet/secure_cabinets.yml
Owners: @DeltaV-Station/yaml-maintainers

Update Patrons.yml
  Resources/Credits/Patrons.yml
Owners: @DeltaV-Station/yaml-maintainers

lighthouse unchristmasing (#2541)
  Resources/Maps/lighthouse.yml
Owners: @DeltaV-Station/maptainers

glacier unchristmasing (#2540)
  Resources/Maps/glacier.yml
Owners: @DeltaV-Station/maptainers

Shoko Anti-Christmas update (#2530)
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Owners: @DeltaV-Station/maptainers

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Colin Map Update - Holopads (#2562)
  Resources/Maps/asterisk.yml
  Resources/Maps/chibi.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/chibi.yml
Owners: @DeltaV-Station/maptainers

Edge Station Update Dec 31st (#2567)
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Owners: @DeltaV-Station/maptainers

:troll:
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
Owners: @DeltaV-Station/yaml-maintainers

additional changes
  Content.Client/Credits/CreditsWindow.xaml.cs
  Resources/Credits/Patrons.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers

feat: cleanbots can now go beneath tables
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Owners: @DeltaV-Station/yaml-maintainers

Moved HOPs access configurator to the administrative assistant starting gear (#2579)
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
Owners: @DeltaV-Station/yaml-maintainers

Add an optional administrative assistant locker for mappers (#2578)
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/command.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/_DV/Structures/Storage/closet.rsi/admin_assist.png
  Resources/Textures/_DV/Structures/Storage/closet.rsi/admin_assist_door.png
  Resources/Textures/_DV/Structures/Storage/closet.rsi/admin_assist_open.png
  Resources/Textures/_DV/Structures/Storage/closet.rsi/meta.json
Owners: @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction

lighthouse update
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Owners: @DeltaV-Station/maptainers

glacier update
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Owners: @DeltaV-Station/maptainers

untroll
  Resources/Maps/lighthouse.yml
Owners: @DeltaV-Station/maptainers

Patrons - December 2024 (#2582)
  Content.Client/Credits/CreditsWindow.xaml.cs
  Resources/Credits/Patrons.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

feat: cleanbots can now go beneath tables (#2583)
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

make robo better, massive cleanup
  Resources/Maps/ovni.yml
  Resources/Prototypes/Maps/ovni.yml
Owners: @DeltaV-Station/maptainers

cargo ass spawners + clean up disposals below epi + public ordering comp
  Resources/Maps/ovni.yml
Owners: @DeltaV-Station/maptainers

make CrimeAssistPage use LocId and ProtoId instead of a test (#2100)
  Content.Client/_DV/CartridgeLoader/Cartridges/CrimeAssistUiFragment.xaml.cs
  Content.Shared/_DV/CartridgeLoader/Cartridges/CrimeAssistPage.cs
  Resources/Prototypes/_DV/Cartridges/crimeassistflow.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers

Added whitelisted tags to the belt
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
Owners: @DeltaV-Station/yaml-maintainers

Added ForensicBeltEquip tag to the head cage
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
Owners: @DeltaV-Station/yaml-maintainers

Fix mantis knife storage icon bug
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/knives.yml
Owners: @DeltaV-Station/yaml-maintainers

More minor edits
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/byoin.yml
  Resources/Prototypes/Maps/byoin.yml
Owners: @DeltaV-Station/maptainers

remove crime assist test
  Content.IntegrationTests/Tests/_DV/CrimeassistTest.cs
Owners: @DeltaV-Station/maintainers

remove crime assist test (#2587)
  Content.IntegrationTests/Tests/_DV/CrimeassistTest.cs
Owners: @DeltaV-Station/maintainers

Fix evac shuttle file location
  Resources/Maps/_DV/Shuttles/NTES_Basu.yml
  Resources/Maps/byoin.yml
  Resources/Prototypes/Maps/byoin.yml
Owners: @DeltaV-Station/maptainers

Add traumoxadone/stelloxadone, let doxa work on the dead
  Resources/Locale/en-US/_Floof/reagents/meta/medicine.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_Floof/Reagents/chemicals.yml
  Resources/Prototypes/_Floof/Reagents/medicine.yml
  Resources/Prototypes/_Floof/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Floof/Recipes/Reactions/medicine.yml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers

Add belt + sprites
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
  Resources/Textures/_DV/Clothing/Belt/secretary.rsi/equipped-BELT.png
  Resources/Textures/_DV/Clothing/Belt/secretary.rsi/icon.png
  Resources/Textures/_DV/Clothing/Belt/secretary.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Belt/secretary.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Belt/secretary.rsi/meta.json
Owners: @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction

Add DV comment
  Resources/Prototypes/Reagents/medicine.yml
Owners: @DeltaV-Station/yaml-maintainers

untroll
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
Owners: @DeltaV-Station/maintainers

whitespace
  Resources/Prototypes/Reagents/medicine.yml
Owners: @DeltaV-Station/yaml-maintainers

add full to meta.json
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_tails.rsi/meta.json
Owners: @DeltaV-Station/direction

Make corpsman skirt sleeves foldable (#2369)
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Update butlertron foods and payout (#2500)
  Content.Server/_DV/NPC/Roboisseur/RoboisseurComponent.cs
  Content.Server/_DV/NPC/Roboisseur/RoboisseurSystem.cs
Owners: @DeltaV-Station/maintainers

.github/CODEOWNERS:

# Last match in file takes precedence.

# C# code
/Content.*/ @DeltaV-Station/maintainers

# Any assets
/Resources/ @DeltaV-Station/maintainers

# Server config files
/Resources/ConfigPresets/ @MilonPL

# YML files
/Resources/*.yml @DeltaV-Station/yaml-maintainers
/Resources/**/*.yml @DeltaV-Station/yaml-maintainers

# Sprites
/Resources/Textures/ @DeltaV-Station/direction

# Lobby art and music - automatically direction issues since its immediately visible to players
/Resources/Audio/Lobby/ @DeltaV-Station/direction
/Resources/Textures/LobbyScreens/ @DeltaV-Station/direction

# Maps
/Resources/Maps/ @DeltaV-Station/maptainers
/Resources/Prototypes/Maps/ @DeltaV-Station/maptainers
/Content.IntegrationTests/Tests/PostMapInitTest.cs @DeltaV-Station/maptainers

# Server rules
/Resources/ServerInfo/Guidebook/DeltaV/Rules/ @DeltaV-Station/head-administrators

# Tools and scripts
/Tools/ @deltanedas @MilonPL

# Workflows, codeowners, templates, etc.
/.github/ @deltanedas @MilonPL

# Standalone files in the root repo
/* @deltanedas
