Repository DeltaV-Station/Delta-v, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DeltaV-Station/maintainers, @MilonPL, @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction, @DeltaV-Station/maptainers, @DeltaV-Station/head-administrators, @deltanedas

.github/CODEOWNERS:

# Last match in file takes precedence.

# C# code
/Content.*/ @DeltaV-Station/maintainers

# Any assets
/Resources/ @DeltaV-Station/maintainers

# Server config files
/Resources/ConfigPresets/ @MilonPL

# YML files
/Resources/*.yml @DeltaV-Station/yaml-maintainers
/Resources/**/*.yml @DeltaV-Station/yaml-maintainers

# Sprites
/Resources/Textures/ @DeltaV-Station/direction

# Lobby art and music - automatically direction issues since its immediately visible to players
/Resources/Audio/Lobby/ @DeltaV-Station/direction
/Resources/Textures/LobbyScreens/ @DeltaV-Station/direction

# Maps
/Resources/Maps/ @DeltaV-Station/maptainers
/Resources/Prototypes/Maps/ @DeltaV-Station/maptainers
/Content.IntegrationTests/Tests/PostMapInitTest.cs @DeltaV-Station/maptainers

# Server rules
/Resources/ServerInfo/Guidebook/DeltaV/Rules/ @DeltaV-Station/head-administrators

# Tools and scripts
/Tools/ @deltanedas @MilonPL

# Workflows, codeowners, templates, etc.
/.github/ @deltanedas @MilonPL

# Standalone files in the root repo
/* @deltanedas

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

make nanochat notifications more robust (#2565)
  Content.Server/_DV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Shared/_DV/NanoChat/NanoChatCardComponent.cs
  Content.Shared/_DV/NanoChat/SharedNanoChatSystem.cs
Owners: @DeltaV-Station/maintainers

more harmless critters from events (#2518)
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_DV/GameRules/events.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Feedback popups (#2561)
  Content.Client/_DV/FeedbackPopup/FeedbackPopupUIController.cs
  Content.Client/_DV/FeedbackPopup/FeedbackPopupWindow.xaml
  Content.Client/_DV/FeedbackPopup/FeedbackPopupWindow.xaml.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_DV/FeedbackPopup/FeedbackPopupManager.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Content.Shared/_DV/FeedbackOverwatch/FeedbackOverwatchEvents.cs
  Content.Shared/_DV/FeedbackOverwatch/FeedbackPopupPrototype.cs
  Content.Shared/_DV/FeedbackOverwatch/SharedFeedbackOverwatchSystem.Events.cs
  Content.Shared/_DV/FeedbackOverwatch/SharedFeedbackOverwatchSystem.cs
  Resources/Locale/en-US/_DV/feedbackpopup/feedbackpopup.ftl
  Resources/Locale/en-US/_DV/feedbackpopup/popups/examplefeedbackpopup.ftl
  Resources/Prototypes/_DV/FeedbackPopup/feedbackpopups.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers
