Repository DeltaV-Station/Delta-v, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DeltaV-Station/maintainers, @deltanedas, @DeltaV-Station/yaml-maintainers, @AftrLite, @DeltaV-Station/direction, @DeltaV-Station/maptainers, @DeltaV-Station/head-administrators

shorten indentation on plushie soundcollection
  Resources/Prototypes/_DV/SoundCollections/plushie.yml
Owners: @DeltaV-Station/yaml-maintainers

fucked up this comment oops
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
Owners: @DeltaV-Station/yaml-maintainers

reduce indents on plushie components
  Resources/Prototypes/_DV/Entities/Objects/Fun/toys.yml
Owners: @DeltaV-Station/yaml-maintainers

removes these comments
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
Owners: @DeltaV-Station/yaml-maintainers

FIXES HARPY PLUSH STRAY PIXEL i hate my baka life
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/harpy.png
Owners: @AftrLite

Copy over AHelpUIController.cs
  Content.Client/_DV/UserInterfaces/Systems/Bwoink/CHelpUIController.cs
Owners: @DeltaV-Station/maintainers

replace ahelp with chelp
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
Owners: @DeltaV-Station/maintainers

change sound
  Content.Shared/_DV/CCVars/DCCVars.cs
Owners: @DeltaV-Station/maintainers

updated icon
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
  Resources/Textures/_DV/Interface/curator2.svg
  Resources/Textures/_DV/Interface/curator2.svg.192dpi.png
  Resources/Textures/_DV/Interface/curator2.svg.192dpi.png.yml
Owners: @DeltaV-Station/maintainers, @AftrLite

check for chelp flag
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Shared/Administration/AdminFlags.cs
Owners: @DeltaV-Station/maintainers

Fixes.
  Resources/Maps/edge.yml
Owners: @DeltaV-Station/maptainers

feat: Allow removing empty SmartFridge entries
  Content.Client/_DV/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Client/_DV/SmartFridge/SmartFridgeItem.xaml
  Content.Client/_DV/SmartFridge/SmartFridgeItem.xaml.cs
  Content.Client/_DV/SmartFridge/SmartFridgeMenu.xaml.cs
  Content.Shared/_DV/SmartFridge/SmartFridgeComponent.cs
  Content.Shared/_DV/SmartFridge/SmartFridgeSystem.cs
Owners: @DeltaV-Station/maintainers

Map Edits: Arena
  Resources/Maps/_DV/Shuttles/NTCS_Duster.yml
  Resources/Prototypes/Maps/arena.yml
Owners: @DeltaV-Station/maptainers

More changes
  Resources/Textures/_Impstation/Objects/Power/echion_cell.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Power/echion_cell.rsi/medium.png
  Resources/Textures/_Impstation/Objects/Power/echion_cell.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Power/echion_cell.rsi/o1.png
  Resources/Textures/_Impstation/Objects/Power/echion_cell.rsi/o2.png
  Resources/Textures/_Impstation/Objects/Specific/Syndicate/echionsynth.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Special/echioncanister.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Speedloaders/Magnum/sniper.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/leviathan.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/bazooka.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/energybolts.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/flamer.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/impacts.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Revolvers/anaconda.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Revolvers/anacondax64.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/adder.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/akurra.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/xiuhcoatl.rsi/meta.json
Owners: @AftrLite

Evac + fixatmos
  Resources/Maps/_DV/Shuttles/NTES_UCLB.yml
Owners: @DeltaV-Station/maptainers

Initial implementation of dog whistles
  Content.Client/_DV/DogWhistle/EntitySystems/DogWhistleSystem.cs
  Content.Server/_DV/DogWhistle/EntitySystems/DogWhistleSystem.cs
  Content.Shared/_DV/DogWhistle/Components/DogWhistleComponent.cs
  Content.Shared/_DV/DogWhistle/Components/DogWhistleHolderComponent.cs
  Content.Shared/_DV/DogWhistle/Components/DogWhistleReceiverComponent.cs
  Content.Shared/_DV/DogWhistle/EntitySystems/SharedDogWhistleSystem.cs
  Content.Shared/_DV/DogWhistle/Events/DogWhistleOrderEvents.cs
  Content.Shared/_DV/DogWhistle/Events/ToggleDogWhistleEvent.cs
  Resources/Locale/en-US/_DV/dogwhistle/dogwhistle.ftl
  Resources/Prototypes/_DV/Actions/dogwhistle.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/dog_whistle.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers

switched the files oops
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Client/_DV/UserInterfaces/Systems/Cwoink/CHelpUIController.cs
Owners: @DeltaV-Station/maintainers

cwoink
  Content.Client/_DV/Curation/UI/Cwoink/CwoinkControl.xaml
  Content.Client/_DV/Curation/UI/Cwoink/CwoinkControl.xaml.cs
  Content.Client/_DV/Curation/UI/Cwoink/CwoinkPanel.xaml
  Content.Client/_DV/Curation/UI/Cwoink/CwoinkPanel.xaml.cs
  Content.Client/_DV/Curation/UI/Cwoink/CwoinkWindow.xaml
  Content.Client/_DV/Curation/UI/Cwoink/CwoinkWindow.xaml.cs
  Content.Shared/_DV/Curation/SharedCwoinkSystem.cs
Owners: @DeltaV-Station/maintainers

Dreadnought for high impact event
  Resources/Maps/_DV/Shuttles/dreadnought.yml
Owners: @DeltaV-Station/maptainers

remove buttons
  Content.Client/_DV/Curation/UI/Cwoink/CwoinkControl.xaml
  Content.Client/_DV/Curation/UI/Cwoink/CwoinkControl.xaml.cs
Owners: @DeltaV-Station/maintainers

Replace Mindbreaking with Noöspheric Tampering
  .wiki/_DV/Laws/AlertProcedure.txt
  .wiki/_DV/Laws/SpaceLaw.txt
Owners: none

Seperate Cwoink System
  Content.Client/_DV/Curation/Systems/CwoinkSystem.cs
  Content.Client/_DV/UserInterfaces/Systems/Cwoink/CHelpUIController.cs
  Content.Server/_DV/Curation/BwoinkData.cs
  Content.Server/_DV/Curation/Systems/CwoinkSystem.cs
Owners: @DeltaV-Station/maintainers

loc
  Content.Client/_DV/Curation/UI/Cwoink/CwoinkControl.xaml
  Content.Client/_DV/Curation/UI/Cwoink/CwoinkPanel.xaml.cs
  Content.Client/_DV/Curation/UI/Cwoink/CwoinkWindow.xaml
  Resources/Locale/en-US/_DV/curation/cwoink.ftl
Owners: @DeltaV-Station/maintainers

Inital commit. Adjusted inventory for robovend
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
Owners: @DeltaV-Station/yaml-maintainers

simplified a comment
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Owners: @DeltaV-Station/yaml-maintainers

added robo figurine to contra inventory
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
Owners: @DeltaV-Station/yaml-maintainers

Review fixes
  Resources/Maps/_DV/Shuttles/NTES_UCLB.yml
Owners: @DeltaV-Station/maptainers

Killing
  Resources/Locale/en-US/_DV/datasets/figurines.ftl
  Resources/Locale/en-US/_DV/job/job-names.ftl
  Resources/Locale/en-US/_DV/paper/stamp-component.ftl
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Migrations/deltaMigrations.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_DV/Catalog/Chat/highlights.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/command.yml
  Resources/Prototypes/_DV/Datasets/figurines.yml
  Resources/Prototypes/_DV/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_DV/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_DV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DV/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/Closets/Lockers/wall_lockers.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Loadouts/role_loadouts.yml
  Resources/Prototypes/_DV/QuickPhrases/jobs.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/_DV/Roles/play_time_trackers.yml
  Resources/Prototypes/_DV/StatusIcon/job.yml
  Resources/Prototypes/_Impstation/datasets.yml
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/AdminAssistant.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_DV/Markers/jobs.rsi/adminassistant.png
  Resources/Textures/_DV/Markers/jobs.rsi/meta.json
  Resources/Textures/_DV/Objects/Fun/figurines.rsi/meta.json
  Resources/Textures/_DV/Objects/Fun/figurines.rsi/secretary.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/meta.json
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers, @AftrLite

.github/CODEOWNERS:

# Last match in file takes precedence.

# C# code
/Content.*/ @DeltaV-Station/maintainers

# Any assets
/Resources/ @DeltaV-Station/maintainers

# Server config files
/Resources/ConfigPresets/ @deltanedas

# YML files
/Resources/*.yml @DeltaV-Station/yaml-maintainers
/Resources/**/*.yml @DeltaV-Station/yaml-maintainers

# Sprites - Art Director
/Resources/Textures/ @AftrLite

# Lobby art and music - automatically direction issues since its immediately visible to players
/Resources/Audio/Lobby/ @DeltaV-Station/direction
/Resources/Textures/LobbyScreens/ @DeltaV-Station/direction

# Maps
/Resources/Maps/ @DeltaV-Station/maptainers
/Resources/Prototypes/Maps/ @DeltaV-Station/maptainers
/Content.IntegrationTests/Tests/PostMapInitTest.cs @DeltaV-Station/maptainers

# Server rules
/Resources/ServerInfo/Guidebook/DeltaV/Rules/ @DeltaV-Station/head-administrators

# Tools and scripts
/Tools/ @deltanedas

# Workflows, codeowners, templates, etc.
/.github/ @deltanedas

# Standalone files in the root repo
/* @deltanedas
