Repository DeltaV-Station/Delta-v, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DeltaV-Station/maintainers, @deltanedas, @DeltaV-Station/yaml-maintainers, @AftrLite, @DeltaV-Station/direction, @DeltaV-Station/maptainers, @DeltaV-Station/head-administrators

.github/CODEOWNERS:

# Last match in file takes precedence.

# C# code
/Content.*/ @DeltaV-Station/maintainers

# Any assets
/Resources/ @DeltaV-Station/maintainers

# Server config files
/Resources/ConfigPresets/ @deltanedas

# YML files
/Resources/*.yml @DeltaV-Station/yaml-maintainers
/Resources/**/*.yml @DeltaV-Station/yaml-maintainers

# Sprites - Art Director
/Resources/Textures/ @AftrLite

# Lobby art and music - automatically direction issues since its immediately visible to players
/Resources/Audio/Lobby/ @DeltaV-Station/direction
/Resources/Textures/LobbyScreens/ @DeltaV-Station/direction

# Maps
/Resources/Maps/ @DeltaV-Station/maptainers
/Resources/Prototypes/Maps/ @DeltaV-Station/maptainers
/Content.IntegrationTests/Tests/PostMapInitTest.cs @DeltaV-Station/maptainers

# Server rules
/Resources/ServerInfo/Guidebook/DeltaV/Rules/ @DeltaV-Station/head-administrators

# Tools and scripts
/Tools/ @deltanedas

# Workflows, codeowners, templates, etc.
/.github/ @deltanedas

# Standalone files in the root repo
/* @deltanedas

Initial commit: - new triage categories - allow claiming without triage - unclaiming (WIP)
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBoundUserInterface.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Client/_DV/Overlays/ShowTriageIconsSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/_DV/MedicalRecords/MedicalRecordsSystem.cs
  Content.Shared/_DV/MedicalRecords/MedicalRecord.cs
  Content.Shared/_DV/MedicalRecords/SharedMedicalRecordsSystem.cs
  Content.Shared/_DV/MedicalRecords/TriageMessages.cs
  Resources/Locale/en-US/_DV/medical/components/health-analyzer-component.ftl
Owners: @DeltaV-Station/maintainers

Fixes
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Launchers/leviathan.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/hitscan.rsi/muzzle_synd.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/meta.json
Owners: @AftrLite

MIssed a Comp+system
  Content.Server/_Impstation/FoodReagentExtractor/FoodReagentExtractorComponent.cs
  Content.Server/_Impstation/FoodReagentExtractor/FoodReagentExtractorSystem.cs
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/syndicate.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers

Update muzzleflashes.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/muzzleflashes.yml
Owners: @DeltaV-Station/yaml-maintainers

Deattach triage status from station records and use entity components directly
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/_DV/MedicalRecords/MedicalRecordsSystem.cs
  Content.Shared/_DV/MedicalRecords/MedicalRecordComponent.cs
  Content.Shared/_DV/MedicalRecords/SharedMedicalRecordsSystem.cs
Owners: @DeltaV-Station/maintainers

Developer art update
  Content.Client/_DV/Overlays/ShowTriageIconsSystem.cs
  Resources/Prototypes/_DV/StatusIcon/triage.yml
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/delayed.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/dnr.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/high.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/immediate.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/low.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/meta.json
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/minor.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/unclaimed.png
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers, @AftrLite

Combine RSI path and state updates in TypingIndicatorVisualizerSystem.cs
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
Owners: @DeltaV-Station/maintainers

CMO leads triage, part 1 - If the triage is assigned by the CMO / Captain, it can only be changed by the CMO / Captain. - Mindshield-like overlay for the icon if it is command level
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Client/_DV/Overlays/ShowTriageIconsSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/_DV/MedicalRecords/MedicalRecordsSystem.cs
  Content.Shared/_DV/MedicalRecords/MedicalRecord.cs
  Resources/Prototypes/_DV/StatusIcon/triage.yml
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/command_overlay.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/meta.json
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers, @AftrLite

Parallax
  Resources/Prototypes/_DV/Parallaxes/space.yml
  Resources/Textures/_DV/Parallaxes/EleganceParallaxBG.png
  Resources/Textures/_DV/Parallaxes/EleganceParallaxStarsBG.png
Owners: @DeltaV-Station/yaml-maintainers, @AftrLite

Combine RSI path and state updates in TypingIndicatorVisualizerSystem.cs (#3847)
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
Owners: @DeltaV-Station/maintainers

Triage remote! Plus, documentation and MedicalRecordsSystem stuff
  Content.Client/_DV/MedicalRecords/EntitySystems/TriageRemoteSystem.cs
  Content.Client/_DV/MedicalRecords/TriageRemoteStatusControl.cs
  Content.Server/_DV/MedicalRecords/MedicalRecordsSystem.cs
  Content.Server/_DV/MedicalRecords/TriageRemoteSystem.cs
  Content.Shared/_DV/MedicalRecords/SharedTriageRemoteSystem.cs
  Content.Shared/_DV/MedicalRecords/TriageRemoteComponent.cs
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Medical/triage_remote.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers

Auto clear triage status!
  Content.Server/_DV/MedicalRecords/MedicalRecordsSystem.cs
  Content.Shared/_DV/MedicalRecords/MedicalRecordComponent.cs
Owners: @DeltaV-Station/maintainers

removed mention of dex plus in dex description
  Resources/Locale/en-US/reagents/meta/medicine.ftl
Owners: @DeltaV-Station/maintainers

Revert #3094
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
  Content.Client/_RMC14/Mentor/MentorHelpWindow.xaml
  Content.Client/_RMC14/Mentor/MentorHelpWindow.xaml.cs
  Content.Client/_RMC14/Mentor/MentorWindow.xaml
  Content.Client/_RMC14/Mentor/MentorWindow.xaml.cs
  Content.Client/_RMC14/Mentor/StaffHelpUIController.cs
  Content.Client/_RMC14/Mentor/StaffHelpWindow.xaml
  Content.Client/_RMC14/Mentor/StaffHelpWindow.xaml.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_RMC14/Mentor/MentorManager.cs
  Content.Shared/Administration/AdminFlags.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Mentor/MentorHelpMsg.cs
  Content.Shared/_RMC14/Mentor/MentorMessage.cs
  Content.Shared/_RMC14/Mentor/MentorMessageReceivedMsg.cs
  Content.Shared/_RMC14/Mentor/MentorSendMessageMsg.cs
  Content.Shared/_RMC14/Mentor/MentorStatusMsg.cs
  Content.Shared/_RMC14/Mentor/SendMentorHelpMessageEvent.cs
  Resources/Locale/en-US/_DV/escape-menu/options-menu.ftl
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
Owners: @DeltaV-Station/maintainers

Ouroboros to BASALISK
  Content.Server/_Impstation/FoodReagentExtractor/FoodReagentExtractorComponent.cs
  Content.Server/_Impstation/FoodReagentExtractor/FoodReagentExtractorSystem.cs
  Resources/Audio/_Impstation/Weapons/Guns/Melee/attributions.yml
  Resources/Audio/_Impstation/Weapons/Guns/Melee/shove_foley.ogg
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/blasterbolts.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Special/basalisk.yml
  Resources/Prototypes/_Impstation/tags.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/mag-unshaded-0.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/mag-unshaded-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/mag-unshaded-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/mag-unshaded-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/mag-unshaded-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/mag-unshaded-5.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/mag-unshaded-6.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/wielded-inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Special/basalisk.rsi/wielded-inhand-right.png
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers, @AftrLite

add button
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/_DV/escape-menu/options-menu.ftl
Owners: @DeltaV-Station/maintainers

Update Resources/Prototypes/Entities/Markers/Spawners/Random/paintings.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/paintings.yml
Owners: @DeltaV-Station/yaml-maintainers

Update Resources/Textures/_DEN/Structures/Wallmounts/paintings.rsi/meta.json
  Resources/Textures/_DEN/Structures/Wallmounts/paintings.rsi/meta.json
Owners: @AftrLite

relocates to _den (i forgor)
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Prototypes/_DEN/Entities/Structures/Wallmounts/Signs/paintings.yml
Owners: @DeltaV-Station/yaml-maintainers

Nukes universals
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_armory.yml
Owners: @DeltaV-Station/yaml-maintainers

More fixes
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Impstation/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/beeroboros.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Power/echioncell.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/echion.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/blasterbolts.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Revolvers/anaconda.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Special/basalisk.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Special/ouroboros.yml
  Resources/Textures/_Impstation/Mobs/Animals/beeroboros.rsi/0.png
  Resources/Textures/_Impstation/Mobs/Animals/beeroboros.rsi/1.png
  Resources/Textures/_Impstation/Mobs/Animals/beeroboros.rsi/2.png
  Resources/Textures/_Impstation/Mobs/Animals/beeroboros.rsi/3.png
  Resources/Textures/_Impstation/Mobs/Animals/beeroboros.rsi/4.png
  Resources/Textures/_Impstation/Mobs/Animals/beeroboros.rsi/dead.png
  Resources/Textures/_Impstation/Mobs/Animals/beeroboros.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Special/echioncanister.rsi/canister-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Special/echioncanister.rsi/canister-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Special/echioncanister.rsi/canister-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Special/echioncanister.rsi/canister-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Special/echioncanister.rsi/canister.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Special/echioncanister.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Special/echioncanister.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Speedloaders/Magnum/sniper.rsi/base-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Speedloaders/Magnum/sniper.rsi/base-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Speedloaders/Magnum/sniper.rsi/base-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Speedloaders/Magnum/sniper.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Speedloaders/Magnum/sniper.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Ammuntion/Magazine/Speedloaders/Magnum/sniper.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/disablerbolt.rsi/bee.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/disablerbolt.rsi/meta.json
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers, @AftrLite

Elegance Fixes & Changes (#3828)
  Resources/Prototypes/_DV/Parallaxes/space.yml
  Resources/Textures/_DV/Parallaxes/EleganceParallaxBG.png
  Resources/Textures/_DV/Parallaxes/EleganceParallaxStarsBG.png
Owners: @DeltaV-Station/yaml-maintainers, @AftrLite

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

lighthouse atmosia/silo update (#3834)
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/_DV/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/_DV/Entities/Structures/Specific/Atmospherics/sensor.yml
Owners: @DeltaV-Station/maptainers, @DeltaV-Station/yaml-maintainers

Allow for pointing system to raise events when an entity points at a tile
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Shared/Pointing/PointingEvents.cs
Owners: @DeltaV-Station/maintainers

Last changes, I hope so at least.
  Resources/Maps/edge.yml
Owners: @DeltaV-Station/maptainers

fix: not always being able to drop a carried person
  Content.Shared/_DV/Carrying/CarryingSystem.cs
Owners: @DeltaV-Station/maintainers

Update byoin.yml
  Resources/Maps/byoin.yml
Owners: @DeltaV-Station/maptainers

Named some stuff
  Resources/Maps/byoin.yml
Owners: @DeltaV-Station/maptainers

add: species plushies
  Resources/Prototypes/_DV/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DV/SoundCollections/plushie.yml
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/chitinid.png
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/felinid.png
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/feroxi.png
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/harpy.png
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/kitsune.png
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/meta.json
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/oni.png
  Resources/Textures/_DV/Objects/Fun/Toys/plushies.rsi/rodentia.png
Owners: @DeltaV-Station/yaml-maintainers, @AftrLite

whitespace
  Resources/Prototypes/_DV/Entities/Objects/Fun/toys.yml
Owners: @DeltaV-Station/yaml-maintainers

makes deltav plushies obtainable elsewhere
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
Owners: @DeltaV-Station/yaml-maintainers

adds thaven plush to a couple more pools too yay!
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
Owners: @DeltaV-Station/yaml-maintainers

initial commit
  Content.Server/_DV/CosmicCult/Abilities/CosmicConversionSystem.cs
  Content.Server/_DV/CosmicCult/Components/CosmicFinaleComponent.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicColossusSystem.cs
  Resources/Locale/en-US/_DV/cosmiccult/colossus-names.ftl
  Resources/Locale/en-US/_DV/cosmiccult/examine.ftl
  Resources/Maps/_DV/Nonstations/cosmicvoid.yml
  Resources/Prototypes/_DV/CosmicCult/Clothing/cosmiccult_armor.yml
  Resources/Prototypes/_DV/CosmicCult/Mobs/colossus.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/monument.yml
  Resources/Prototypes/_DV/CosmicCult/colossus_dataset.yml
  Resources/Prototypes/_DV/CosmicCult/game_presets.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/maptainers, @DeltaV-Station/yaml-maintainers

Some more changes
  Resources/Maps/edge.yml
Owners: @DeltaV-Station/maptainers

Fix not always being able to drop a carried person (#3848)
  Content.Shared/_DV/Carrying/CarryingSystem.cs
Owners: @DeltaV-Station/maintainers

Cosmic Cult | r1.01 (#3851)
  Content.Server/_DV/CosmicCult/Abilities/CosmicConversionSystem.cs
  Content.Server/_DV/CosmicCult/Components/CosmicFinaleComponent.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicColossusSystem.cs
  Resources/Locale/en-US/_DV/cosmiccult/colossus-names.ftl
  Resources/Locale/en-US/_DV/cosmiccult/examine.ftl
  Resources/Maps/_DV/Nonstations/cosmicvoid.yml
  Resources/Prototypes/_DV/CosmicCult/Clothing/cosmiccult_armor.yml
  Resources/Prototypes/_DV/CosmicCult/Mobs/colossus.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/monument.yml
  Resources/Prototypes/_DV/CosmicCult/colossus_dataset.yml
  Resources/Prototypes/_DV/CosmicCult/game_presets.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/maptainers, @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

convert these comments to start/end tags
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
Owners: @DeltaV-Station/yaml-maintainers

comment capitalization
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/toys.yml
Owners: @DeltaV-Station/yaml-maintainers
