Repository DeltaV-Station/Delta-v, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DeltaV-Station/maintainers, @MilonPL, @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction, @DeltaV-Station/maptainers, @DeltaV-Station/head-administrators, @deltanedas

.github/CODEOWNERS:

# Last match in file takes precedence.

# C# code
/Content.*/ @DeltaV-Station/maintainers

# Any assets
/Resources/ @DeltaV-Station/maintainers

# Server config files
/Resources/ConfigPresets/ @MilonPL

# YML files
/Resources/*.yml @DeltaV-Station/yaml-maintainers
/Resources/**/*.yml @DeltaV-Station/yaml-maintainers

# Sprites
/Resources/Textures/ @DeltaV-Station/direction

# Lobby art and music - automatically direction issues since its immediately visible to players
/Resources/Audio/Lobby/ @DeltaV-Station/direction
/Resources/Textures/LobbyScreens/ @DeltaV-Station/direction

# Maps
/Resources/Maps/ @DeltaV-Station/maptainers
/Resources/Prototypes/Maps/ @DeltaV-Station/maptainers
/Content.IntegrationTests/Tests/PostMapInitTest.cs @DeltaV-Station/maptainers

# Server rules
/Resources/ServerInfo/Guidebook/DeltaV/Rules/ @DeltaV-Station/head-administrators

# Tools and scripts
/Tools/ @deltanedas @MilonPL

# Workflows, codeowners, templates, etc.
/.github/ @deltanedas @MilonPL

# Standalone files in the root repo
/* @deltanedas

untroll
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_tails.rsi/felinid_fluffy_tail_full.png
Owners: @DeltaV-Station/direction

fix
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Owners: @DeltaV-Station/yaml-maintainers

stop carrying if you get downed
  Content.Shared/_DV/Carrying/CarryingSystem.cs
Owners: @DeltaV-Station/maintainers

change tests namespace to _DV too
  Content.IntegrationTests/Tests/_DV/CrimeassistTest.cs
  Content.IntegrationTests/Tests/_DV/MetempsychosisTest.cs
  Content.IntegrationTests/Tests/_DV/ReverseEngineeringTest.cs
  Content.IntegrationTests/Tests/_DV/RoboisseurTest.cs
  Content.IntegrationTests/Tests/_DV/ShipyardTest.cs
Owners: @DeltaV-Station/maintainers

adjust eshotgun recharge delay (#33996)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Owners: @DeltaV-Station/yaml-maintainers

silent footsteps for ninja (#33280)
  Content.Client/Tips/TippyUIController.cs
  Content.Shared/Movement/Components/FootstepModifierComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

minor fix to "silent footsteps for ninja" (#34040)
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Fix borgs being able to drink from buckets and spray bottles. (#32964)
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
Owners: @DeltaV-Station/maintainers

Fix the sensor monitoring console (#34035)
  Content.Client/SensorMonitoring/SensorMonitoringWindow.xaml.cs
Owners: @DeltaV-Station/maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Fix race condition causing disconnected admins to appear in adminwho (#34033)
  Content.Server/Administration/Managers/AdminManager.cs
Owners: @DeltaV-Station/maintainers

Multiple items in loadouts (#33193)
  Content.Client/Lobby/UI/Loadouts/LoadoutContainer.xaml.cs
  Content.Shared/Clothing/LoadoutSystem.cs
  Content.Shared/Preferences/Loadouts/LoadoutPrototype.cs
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/dummy_entities.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Objects/Misc/candles.rsi/loadout.png
  Resources/Textures/Objects/Misc/candles.rsi/meta.json
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Allow to paint multiple airlocks (#34001)
  Content.Shared/SprayPainter/Components/SprayPainterComponent.cs
  Content.Shared/SprayPainter/SharedSprayPainterSystem.cs
Owners: @DeltaV-Station/maintainers

Automatic changelog update
  Resources/Changelog/Admin.yml
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Reinforced tables require welding to construct/deconstruct (#33992)
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Arrivals blacklist for bluespace lockers and QSIs (#34072)
  Content.Server/Storage/EntitySystems/BluespaceLockerSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/swapper.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/closets.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Fix popup on handcuffing for person being handcuffed (#33639)
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Owners: @DeltaV-Station/maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Removed Power Monitoring Computer boards from research and lathe recipes. Added default engineering sprites for atmos computer boards. (#34078)
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
Owners: @DeltaV-Station/yaml-maintainers

Fix wagging action name and desc (#34089)
  Resources/Locale/en-US/actions/actions/wagging.ftl
  Resources/Prototypes/Actions/types.yml
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers

Ignore audio entities in SpawnAndDeleteEntityCountTest (#34021)
  Content.IntegrationTests/Tests/EntityTest.cs
Owners: @DeltaV-Station/maintainers

Traitor can no longer get multiple objectives to save/help/kill the same person (#33704)
  Content.Server/Objectives/Systems/HelpProgressConditionSystem.cs
  Content.Server/Objectives/Systems/KeepAliveCondition.cs
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
Owners: @DeltaV-Station/maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

UI improvements for holopads (#34055)
  Content.Client/Holopad/HolopadWindow.xaml
  Content.Client/Holopad/HolopadWindow.xaml.cs
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Shared/Telephone/SharedTelephoneSystem.cs
  Content.Shared/Telephone/TelephoneComponent.cs
  Resources/Locale/en-US/holopad/holopad.ftl
  Resources/Locale/en-US/telephone/telephone.ftl
Owners: @DeltaV-Station/maintainers

Removes weh.txt from Textures/Parallaxes (#34097)
  Resources/Textures/Parallaxes/weh.txt
Owners: @DeltaV-Station/direction

Added support so that smile can use hats (#33924)
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/Mobs/Pets/Smile/smile.rsi/inhand-left.png
  Resources/Textures/Mobs/Pets/Smile/smile.rsi/inhand-right.png
  Resources/Textures/Mobs/Pets/Smile/smile.rsi/meta.json
  Resources/Textures/Mobs/Pets/Smile/smile_displacement.rsi/head.png
  Resources/Textures/Mobs/Pets/Smile/smile_displacement.rsi/meta.json
Owners: @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Add a guaranteed cotton pizza to pizza crates (#33997)
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
Owners: @DeltaV-Station/yaml-maintainers

Corrected Cotton Dough Recipe (#33988)
  Resources/ServerInfo/Guidebook/Service/FoodRecipes.xml
Owners: @DeltaV-Station/maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

New cotton baguette, crostini, chevre-chaud, bagel, and croissant foods for moffs (#33508)
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/doughrope.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/bagel.rsi/bagel-cottondough.png
  Resources/Textures/Objects/Consumable/Food/Baked/bagel.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/baguette-cotton-equipped-BELT.png
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/baguette-cotton-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/baguette-cotton-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/baguette-cotton.png
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/crostini-cotton.png
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/chevrechaud-cotton.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/croissant-cotton.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/cotton-dough-rope.png
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/cotton-dough-slice.png
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/croissant-raw-cotton.png
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/meta.json
Owners: @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers
