Repository DeltaV-Station/Delta-v, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DeltaV-Station/maintainers, @MilonPL, @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction, @DeltaV-Station/maptainers, @DeltaV-Station/head-administrators, @deltanedas

Rolling joints no longer requires a filter (#34106)
  Resources/Prototypes/Recipes/Crafting/Graphs/smokeables.yml
Owners: @DeltaV-Station/yaml-maintainers

fix interdimensional teleporter desc (#34108)
  Resources/Prototypes/Entities/Objects/Devices/hand_teleporter.yml
Owners: @DeltaV-Station/yaml-maintainers

Adds kitchen/botany-locked maints airlock (#34116)
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Owners: @DeltaV-Station/yaml-maintainers

Rename cryobed yml file (#34134)
  Resources/Prototypes/Entities/Structures/cryogenic_sleep_unit.yml
Owners: @DeltaV-Station/yaml-maintainers

Add hair pulato (#34117)
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/pulato.png
Owners: @DeltaV-Station/maintainers, @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction

Holopad UI tweak for incoming calls (#34137)
  Content.Client/Holopad/HolopadWindow.xaml
  Content.Server/Telephone/TelephoneSystem.cs
  Resources/Locale/en-US/telephone/telephone.ftl
Owners: @DeltaV-Station/maintainers

Add contraband parent to laser gun safe (#34132)
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Owners: @DeltaV-Station/yaml-maintainers

Holopads no longer log broadcasted speech and emotes in the chat (#34114)
  Content.Server/Holopad/HolopadSystem.cs
  Content.Server/Telephone/TelephoneSystem.cs
Owners: @DeltaV-Station/maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Fixes borgs not being able to check their laws in crit (#34133)
  Resources/Prototypes/Actions/borgs.yml
  Resources/Prototypes/Actions/station_ai.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Owners: @DeltaV-Station/yaml-maintainers

Add Holopad Circuit Board to A/V Communication Technology (#34150)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/civilianservices.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Fix disposal signal routers sprites (#34139)
  Resources/Textures/Structures/Piping/disposal.rsi/meta.json
  Resources/Textures/Structures/Piping/disposal.rsi/signal-router-flipped-free.png
  Resources/Textures/Structures/Piping/disposal.rsi/signal-router-flipped.png
Owners: @DeltaV-Station/direction

Fix friendly vent spiders (#34153)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Owners: @DeltaV-Station/yaml-maintainers

Removed UseDelay component from RCD (#34149)
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

FIX: Thief beacon doubled steal targets (#33750)
  Content.Server/Objectives/Systems/StealConditionSystem.cs
Owners: @DeltaV-Station/maintainers

Decrease hp for rusted walls (#34043)
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

remove nukemass song (#34066)
  Resources/Audio/StationEvents/attributions.yml
  Resources/Audio/StationEvents/nukemass.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Owners: @DeltaV-Station/yaml-maintainers, @DeltaV-Station/maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: @DeltaV-Station/yaml-maintainers

stop carrying if you get downed (#2576)
  Content.Shared/_DV/Carrying/CarryingSystem.cs
Owners: @DeltaV-Station/maintainers

change tests namespace to _DV too (#2577)
  Content.IntegrationTests/Tests/_DV/CrimeassistTest.cs
  Content.IntegrationTests/Tests/_DV/MetempsychosisTest.cs
  Content.IntegrationTests/Tests/_DV/ReverseEngineeringTest.cs
  Content.IntegrationTests/Tests/_DV/RoboisseurTest.cs
  Content.IntegrationTests/Tests/_DV/ShipyardTest.cs
Owners: @DeltaV-Station/maintainers

Added locker
  Resources/Prototypes/_DV/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/_DV/Structures/Storage/closet.rsi/admin_assist.png
  Resources/Textures/_DV/Structures/Storage/closet.rsi/admin_assist_door.png
  Resources/Textures/_DV/Structures/Storage/closet.rsi/admin_assist_open.png
  Resources/Textures/_DV/Structures/Storage/closet.rsi/meta.json
Owners: @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction

Add the fill
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/command.yml
Owners: @DeltaV-Station/yaml-maintainers

Map Edits: Arena
  Resources/Maps/arena.yml
  Resources/Prototypes/Maps/arena.yml
Owners: @DeltaV-Station/maptainers

Moved HOPs Access Configurator to the administrative assistant
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
Owners: @DeltaV-Station/yaml-maintainers

Formal dresses for heads! (#2556)
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/chiefjustice.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Justice/chiefjustice.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/cjformaldress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/cjformaldress.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/cjformaldress.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/cjformaldress.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/cjformaldress.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/hopformaldress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/hopformaldress.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/hopformaldress.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/hopformaldress.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/hopformaldress.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/qmformaldress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/qmformaldress.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/qmformaldress.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/qmformaldress.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/qmformaldress.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/hopformal.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/hopformal.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/hopformal.rsi/inhand-right.png
Owners: @DeltaV-Station/yaml-maintainers, @DeltaV-Station/direction

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Evac fixes (#2525)
  Resources/Maps/_DV/Shuttles/NTES_BC20.yml
  Resources/Maps/_DV/Shuttles/NTES_Centipede.yml
  Resources/Maps/_DV/Shuttles/NTES_Fishbowl.yml
  Resources/Maps/_DV/Shuttles/NTES_Seal.yml
  Resources/Maps/_DV/Shuttles/NTES_UCLB.yml
Owners: @DeltaV-Station/maptainers

Map Edits: Tortuga (#2537)
  Resources/Prototypes/Maps/tortuga.yml
Owners: @DeltaV-Station/maptainers

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Map Edits: Arena (#2580)
  Resources/Maps/arena.yml
  Resources/Prototypes/Maps/arena.yml
Owners: @DeltaV-Station/maptainers

Automatic changelog update
  Resources/Changelog/DeltaVChangelog.yml
Owners: @DeltaV-Station/yaml-maintainers

Switch ID for coffee jug
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/command.yml
Owners: @DeltaV-Station/yaml-maintainers

Map Edits: Hive (#2551)
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/hive.yml
Owners: @DeltaV-Station/maptainers

.github/CODEOWNERS:

# Last match in file takes precedence.

# C# code
/Content.*/ @DeltaV-Station/maintainers

# Any assets
/Resources/ @DeltaV-Station/maintainers

# Server config files
/Resources/ConfigPresets/ @MilonPL

# YML files
/Resources/*.yml @DeltaV-Station/yaml-maintainers
/Resources/**/*.yml @DeltaV-Station/yaml-maintainers

# Sprites
/Resources/Textures/ @DeltaV-Station/direction

# Lobby art and music - automatically direction issues since its immediately visible to players
/Resources/Audio/Lobby/ @DeltaV-Station/direction
/Resources/Textures/LobbyScreens/ @DeltaV-Station/direction

# Maps
/Resources/Maps/ @DeltaV-Station/maptainers
/Resources/Prototypes/Maps/ @DeltaV-Station/maptainers
/Content.IntegrationTests/Tests/PostMapInitTest.cs @DeltaV-Station/maptainers

# Server rules
/Resources/ServerInfo/Guidebook/DeltaV/Rules/ @DeltaV-Station/head-administrators

# Tools and scripts
/Tools/ @deltanedas @MilonPL

# Workflows, codeowners, templates, etc.
/.github/ @deltanedas @MilonPL

# Standalone files in the root repo
/* @deltanedas
