Repository DeltaV-Station/Delta-v, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: C#, Changes: Documentation, Changes: Localization, Changes: Map, Changes: Sprite, Changes: UI, Changes: YML, Changes: Shaders

.github/labeler.yml:

"Changes: C#":
- changed-files:
  - any-glob-to-any-file: "**/*.cs"

"Changes: Documentation":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.xml"
    - "**/*.md"

"Changes: Localization":
- changed-files:
  - any-glob-to-any-file:
    - 'Resources/Locale/**/*.ftl'

"Changes: Map":
- changed-files:
  - any-glob-to-any-file:
    - "Resources/Maps/**/*.yml"
    - "Resources/Prototypes/Maps/**/*.yml"

"Changes: Sprite":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.rsi/*.png"
    - "**/*.rsi/*.json"

"Changes: UI":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.xaml*"

"Changes: YML":
- changed-files:
  - any-glob-to-any-file:
    - "**/*.yml"

"Changes: Shaders":
- changed-files:
  - any-glob-to-any-file: '**/*.swsl'

raargh
  Resources/Maps/pebble.yml
Labels: Changes: Map, Changes: YML

Update Resources/Locale/en-US/deltav/job/job-description.ftl
  Resources/Locale/en-US/deltav/job/job-description.ftl
Labels: Changes: Localization

Update Resources/Locale/en-US/deltav/job/job-names.ftl
  Resources/Locale/en-US/deltav/job/job-names.ftl
Labels: Changes: Localization

Update Resources/Locale/en-US/deltav/reagents/meta/pharmacy.ftl
  Resources/Locale/en-US/deltav/reagents/meta/pharmacy.ftl
Labels: Changes: Localization

Update Resources/Locale/en-US/deltav/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/deltav/reagents/meta/physical-desc.ftl
Labels: Changes: Localization

Update Resources/Locale/en-US/deltav/reagents/sodiumamalgam.ftl
  Resources/Locale/en-US/deltav/reagents/sodiumamalgam.ftl
Labels: Changes: Localization

Update Resources/Prototypes/DeltaV/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Windoors/windoor.yml
Labels: Changes: YML

Update Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/Signs/signs.yml
Labels: Changes: YML

Update Resources/Prototypes/DeltaV/Guidebook/medical.yml
  Resources/Prototypes/DeltaV/Guidebook/medical.yml
Labels: Changes: YML

Update Resources/Locale/en-US/deltav/reagents/pharmacymsg.ftl
  Resources/Locale/en-US/deltav/reagents/pharmacymsg.ftl
Labels: Changes: Localization

Update Resources/Prototypes/DeltaV/Access/medical.yml
  Resources/Prototypes/DeltaV/Access/medical.yml
Labels: Changes: YML

Update Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: Changes: YML

Update Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
Labels: Changes: YML

Update Resources/Prototypes/DeltaV/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/rubber_stamp.yml
Labels: Changes: YML

Resolving conflicts
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
Labels: Changes: YML

new sec
  Resources/Maps/glacier.yml
Labels: Changes: Map, Changes: YML

named doors and added buttons
  Resources/Maps/glacier.yml
Labels: Changes: Map, Changes: YML
