Repository DeltaV-Station/Delta-v, pull requests merged in 2023-07, with the labels that each got.

#81 New oracle and revenant sprites
  Resources/Textures/Mobs/Ghosts/revenant.rsi/active.png
  Resources/Textures/Mobs/Ghosts/revenant.rsi/ectoplasm.png
  Resources/Textures/Mobs/Ghosts/revenant.rsi/harvesting.png
  Resources/Textures/Mobs/Ghosts/revenant.rsi/icon.png
  Resources/Textures/Mobs/Ghosts/revenant.rsi/idle.png
  Resources/Textures/Mobs/Ghosts/revenant.rsi/meta.json
  Resources/Textures/Mobs/Ghosts/revenant.rsi/stunned.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-0.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-1.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-10.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-2.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-3.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-4.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-5.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-6.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-7.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-8.png
  Resources/Textures/Nyanotrasen/Structures/Decoration/statues.rsi/oracle-9.png
Labels: Changes: Sprites, Status: Needs Review, No C#

#84 Replace in-game wiki links
  README.md
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Books/hyperlinks.yml
  Resources/ServerInfo/Guidebook/Med/Chemistry.xml
Labels: No C#

#92 Pull the heater/freezer fix from Nyano
  Resources/Locale/en-US/atmos/gas-thermomachine-system.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: No C#

#93 Remove gravity manipulation research
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/Research/industrial.yml
Labels: No C#

#96 Fix lighthouse cargo, and prevent NPCs from attacking syndicate agents
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: Map

#90 Updated epi clothes, Sophic Grammateus sprite, and new cocktail Dulleavene
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/DeltaV/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/DeltaV/Flavors/flavors.yml
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/DeltaV/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/robes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Textures/DeltaV/Clothing/Neck/Cloaks/mystacloak.rsi/equipped-NECK.png
  Resources/Textures/DeltaV/Clothing/Neck/Cloaks/mystacloak.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Neck/Cloaks/mystacloak.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Robes/mystic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Robes/mystic.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Robes/mystic.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Robes/white.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Robes/white.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Robes/white.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/dulleavene.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/dulleavene.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-0.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-1.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-10.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-2.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-3.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-4.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-5.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-6.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-7.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-8.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-9.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/sophie.png
Labels: Changes: Sprites, Status: Needs Review, No C#

#98 Remove mining shittle again
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#

#102 Disable starvationdamage (#1730)
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: No C#

#87 Added Synthetic and Inactive blood
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: Status: Needs Review, No C#

#103 Glass Tile Hotfix
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/DeltaV/Tiles/attributions.yml
  Resources/Textures/DeltaV/Tiles/glass.png
Labels: No C#
