Repository DeltaV-Station/Delta-v, pull requests merged in 2023-05, with the labels that each got.

#9 Readme
  README.md
Labels: Status: Needs Review, No C#

#10 Hotfix angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#11 Replace Nyanotrasen mentions
  Resources/Locale/en-US/connection-messages.ftl
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Locale/en-US/info/rules.ftl
  Resources/ServerInfo/Rules.txt
Labels: Status: Needs Review, No C#

#16 Small Morphotype Buffs
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vulpkanin.yml
Labels: No C#

#15 Improve changelog system
  .github/workflows/publish.yml
  Content.Client/Changelog/ChangelogManager.cs
  Content.Client/Changelog/ChangelogWindow.xaml.cs
  Resources/Changelog/Changelog.yml
  Resources/Changelog/DeltaVChangelog.yml
  Resources/Changelog/NyanotrasenChangelog.yml
  Tools/actions_changelogs_since_last_run.py
  Tools/manual_changelog.py
Labels: Changes: UI, Status: Needs Review

#19 Fix changelog script
  Tools/actions_changelogs_since_last_run.py
Labels: No C#

#18 Defines earliestStart on MidRoundAntag
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: No C#

#20 Change permission for brief and add restricted brief
  Content.Server/Nyanotrasen/Administration/Commands/BriefCommand.cs
  Content.Server/Nyanotrasen/Administration/Commands/RBriefCommand.cs
  Content.Shared/Nyanotrasen/Administration/BriefOfficerComponent.cs
Labels: Status: Needs Review

#21 Fix discord changelogs yet again
  .github/workflows/publish.yml
  Tools/actions_changelogs_since_last_run.py
Labels: Status: Needs Review, No C#

#23 Update the rules
  Resources/Changelog/DeltaVChangelog.yml
  Resources/ServerInfo/Rules.txt
Labels: No C#

#24 Wizden uplinks
  Content.Client/PDA/PDABoundUserInterface.cs
  Content.Client/PDA/PDAMenu.xaml
  Content.Client/PDA/PDAMenu.xaml.cs
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreMenu.xaml
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/Mind/Commands/RenameCommand.cs
  Content.Server/PDA/PDASystem.cs
  Content.Server/PDA/Ringer/RingerSystem.cs
  Content.Server/PDA/Ringer/RingerUplinkComponent.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Content.Shared/PDA/PDAMessagesUI.cs
  Content.Shared/Store/StoreUi.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/en-US/implant/implant.ftl
  Resources/Locale/en-US/pda/pda-component.ftl
  Resources/Locale/en-US/store/currency.ftl
  Resources/Locale/en-US/store/store.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: UI

#25 Update Angle and Shoukou (#1574)
  Resources/Maps/angle.yml
  Resources/Maps/shoukou.yml
Labels: No C#, Changes: Map

#29 Fix crew monitoring direction & memory leak
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Resources/Changelog/DeltaVChangelog.yml
Labels: Changes: UI

#43 Update role timers
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#44 added type: Carriable to dwarf, skeleton, vox
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: No C#

#48 Update changelog
  Resources/Changelog/DeltaVChangelog.yml
Labels: No C#
