Repository DeltaV-Station/Delta-v, pull requests merged in 2023-08, with the labels that each got.

#108 Automatically select IP bans by default in the ban panel
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml
Labels: Changes: UI, No C#

#107 Mystagogue is allowed to have hair once again
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
Labels: No C#

#110 Adds Edge Station
  Resources/Maps/Shuttles/NTES_Pioneer.yml
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/edge.yml
Labels: No C#, Changes: Map

#114 Update Rules.txt
  Resources/ServerInfo/Rules.txt
Labels: No C#

#115 Hotfix Edge
  Resources/Maps/edge.yml
Labels: No C#, Changes: Map

#116 Hotfix Edge
  Resources/Maps/Shuttles/NTES_Pioneer.yml
  Resources/Maps/edge.yml
Labels: No C#, Changes: Map

#117 Coldfix Edge
  Resources/Maps/Shuttles/NTES_Pioneer.yml
  Resources/Maps/edge.yml
Labels: No C#, Changes: Map

#119 Prevent non-admins from using fuckrules
  Resources/clientCommandPerms.yml
Labels: No C#

#121 Update Edge
  Resources/Maps/Shuttles/NTES_Pioneer.yml
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: No C#, Changes: Map

#123 Map Edits
  Resources/Maps/arena.yml
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/hive.yml
Labels: No C#, Changes: Map

#131 Update edge.yml
  Resources/Maps/edge.yml
Labels: No C#, Changes: Map

#132 Update clientCommandPerms.yml
  Resources/clientCommandPerms.yml
Labels: No C#

#133 Add the roundstart salvage shittle back
  Resources/Maps/Shuttles/mining-deltav.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#

#134 Hotfix salvage shittle
  Resources/Maps/Shuttles/mining-deltav.yml
Labels: No C#

#136 Prevent multiple automatic changelog updates at once
  .github/workflows/changelog.yml
Labels: No C#

#135 Update edge.yml
  Resources/Maps/edge.yml
Labels: No C#, Changes: Map

#152 Update Edge
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: No C#, Changes: Map

#145 Map Tweaks
  Resources/Maps/hive.yml
Labels: No C#, Changes: Map

#128 pants, plants, and animal update
  Resources/Audio/DeltaV/Animals/capybara.ogg
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Textures/DeltaV/Clothing/OuterClothing/WinterCoats/corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/WinterCoats/corpo_jacket.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/WinterCoats/corpo_jacket.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/WinterCoats/denim_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/WinterCoats/denim_jacket.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/WinterCoats/denim_jacket.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/fishing_boots.rsi/equipped-FEET.png
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/fishing_boots.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/fishing_boots.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/jeans_brown.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/jeans_brown.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/jeans_brown.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/jeans_green.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/jeans_green.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/jeans_green.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/jeans_red.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/jeans_red.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/jeans_red.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/lost_tourist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/lost_tourist.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/lost_tourist.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Animals/capybara.rsi/capybara.png
  Resources/Textures/DeltaV/Mobs/Animals/capybara.rsi/capybara_crit.png
  Resources/Textures/DeltaV/Mobs/Animals/capybara.rsi/capybara_dead.png
  Resources/Textures/DeltaV/Mobs/Animals/capybara.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_largepalm.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_largepalm.rsi/palmlarge01.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_largepalm.rsi/palmlarge02.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_largepalm.rsi/palmlarge03.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_largepalm.rsi/palmlarge04.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_largepalm.rsi/palmlarge05.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_largepalm.rsi/palmlarge06.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_palmtree.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_palmtree.rsi/palm01.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_palmtree.rsi/palm02.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_palmtree.rsi/palm03.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/flora_palmtree.rsi/palm04.png
Labels: Changes: Sprites, No C#

#153 Update Rules.txt
  Resources/ServerInfo/Rules.txt
Labels: No C#

#154 Changes announcer files
  Resources/Audio/Announcements/Alerts/code_blue.ogg
  Resources/Audio/Announcements/Alerts/code_delta.ogg
  Resources/Audio/Announcements/Alerts/code_epsilon.ogg
  Resources/Audio/Announcements/Alerts/code_gamma.ogg
  Resources/Audio/Announcements/Alerts/code_green.ogg
  Resources/Audio/Announcements/Alerts/code_red.ogg
  Resources/Audio/Announcements/Alerts/code_violet.ogg
  Resources/Audio/Announcements/Alerts/code_white.ogg
  Resources/Audio/Announcements/Alerts/code_yellow.ogg
  Resources/Audio/Announcements/aliens.ogg
  Resources/Audio/Announcements/attention.ogg
  Resources/Audio/Announcements/bureaucratic_error.ogg
  Resources/Audio/Announcements/gas_leak.ogg
  Resources/Audio/Announcements/kudzu.ogg
  Resources/Audio/Announcements/license.txt
  Resources/Audio/Announcements/meteors.ogg
  Resources/Audio/Announcements/noosphericstorm.ogg
  Resources/Audio/Announcements/outbreak7.ogg
  Resources/Audio/Announcements/power_off.ogg
  Resources/Audio/Announcements/power_on.ogg
  Resources/Audio/Announcements/radiation.ogg
  Resources/Audio/Announcements/shuttle_dock.ogg
  Resources/Audio/Announcements/shuttlecalled.ogg
  Resources/Audio/Announcements/shuttlerecalled.ogg
  Resources/Audio/Announcements/ventclog.ogg
  Resources/Audio/Announcements/welcome.ogg
Labels: No C#

#143 Add Scrubs to MediDrobes v3
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
Labels: No C#

#160 Fix RSI validator errors for now
  Resources/Textures/Clothing/Head/Hats/captain.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cluwne.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cluwne.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cluwne.rsi/meta.json
Labels: Changes: Sprites, No C#

#146 New Shotgun and Battle rifle for security
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-armory.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/vulcan.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/vulcan.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/vulcan.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/vulcan.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/vulcan.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/vulcan.rsi/mag-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/vulcan.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/Adjutant.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/Adjutant.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/Adjutant.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/Adjutant.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/Adjutant.rsi/meta.json
Labels: Changes: Sprites, No C#

#157 Update code_blue.ogg
  Resources/Audio/Announcements/Alerts/code_blue.ogg
Labels: No C#
