Repository DeltaV-Station/Delta-v, pull requests merged in 2023-11, with the labels that each got.

#364 Adjustments to pebble.
  Resources/Maps/pebble.yml
Labels: No C#, Status: Needs Review, Changes: Map

#372 edgemos rework
  Resources/Maps/edge.yml
Labels: No C#, Status: Needs Review, Changes: Map

#370 Prevent labelling felinids
  Content.Server/Labels/Label/HandLabelerSystem.cs
  Content.Server/Labels/Label/LabelSystem.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Resources/Prototypes/DeltaV/tags.yml
Labels: Status: Needs Review

#379 Update Labeler Action to Match New Labels
  .github/labeler.yml
Labels: Status: Needs Review, No C#

#378 Asterisk hotfix
  Resources/Maps/asterisk.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Status: Needs Review, Changes: Map

#347 Updated Halloween Sounds
  Resources/Audio/Announcements/RoundEnd/attributions.yml
  Resources/Audio/Announcements/RoundEnd/pdpt.ogg
  Resources/Audio/Announcements/RoundEnd/safescience.ogg
  Resources/Audio/Announcements/RoundEnd/susguyeatscrew.ogg
Labels: Changes: YML, Status: Needs Review

#383 Add time requirement for Technical Assistant
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
Labels: Changes: YML, Status: Needs Review

#381 Update asterisk.yml
  Resources/Maps/asterisk.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Status: Needs Review, Changes: Map

#391 parallax for pebble
  Resources/Maps/pebble.yml
  Resources/Prototypes/Nyanotrasen/Parallaxes/space.yml
  Resources/Textures/DeltaV/Parallaxes/Asteroids.png
  Resources/Textures/DeltaV/Parallaxes/licences.txt
Labels: Status: Needs Review, Changes: Map

#393 Updates mob spawners for Arena
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/mobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/xeno.yml
Labels: Changes: YML, Status: Needs Review

#401 Removes starvation damage from upstream species
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Changes: YML, Status: Needs Review

#405 Move cat ears out of the Syndicate Uplink into AutoDrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#404 Remove Carp Suit bundle
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#402 Ombre and Crewcut haircuts classic variants
  Resources/Locale/en-US/deltav/accessories/hair.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/hair.yml
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_bob.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_crewcut.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_gentle.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_lowfade.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_medfade.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_messy.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_nofade.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_ombre.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#406 Update asterisk.yml
  Resources/Maps/asterisk.yml
Labels: Status: Needs Review, Changes: Map

#388 Mediborg Candy Frabication
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: Changes: YML, Status: Needs Review

#411 Add the Salvage Expedition board to research
  Resources/Prototypes/DeltaV/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/ServerInfo/Rules.txt
Labels: Changes: YML, Status: Needs Review

#414 Hotfix Asterisk
  Resources/Maps/asterisk.yml
Labels: Status: Needs Review, Changes: Map

#412 Merge MailDrobe and CourierDrobe
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/courierdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/courierdrobe.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/courierdrobe.rsi/normal-unshaded.png
  Resources/migration.yml
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#409 Remove fried eggs from Mulan Congee mothic recipe.
  Content.Server/DeltaV/NPC/Roboisseur/RoboisseurComponent.cs
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#408 Reverse Engineering guidebook + fixes
  Content.Server/Nyanotrasen/ReverseEngineering/ReverseEngineeringMachineComponent.cs
  Resources/Locale/en-US/nyanotrasen/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/reverseEngineering.yml
  Resources/Prototypes/Nyanotrasen/Guidebook/epistemics.yml
  Resources/ServerInfo/Nyanotrasen/Guidebook/Epistemics/ReverseEngineering.xml
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization, Changes: Documentation

#397 Arena Rebase
  Resources/Maps/arena.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Textures/DeltaV/Parallaxes/ArenaParallaxBG.png
  Resources/Textures/DeltaV/Parallaxes/attributions.yml
Labels: Status: Needs Review, Changes: Map

#407 add carp suit to autodrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: Changes: YML, Status: Needs Review

#422 CRITICAL Hotfix Arena
  Resources/Maps/arena.yml
Labels: Status: Needs Review, Changes: Map

#424 Remove cat ears from the drobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: Changes: YML, Status: Needs Review

#425 Arena Hotfix 2
  Resources/Maps/arena.yml
  Resources/Prototypes/Nyanotrasen/Parallaxes/space.yml
Labels: Status: Needs Review, Changes: Map

#418 Fix Mass Sleep being Telegnosis
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/MassSleep/MassSleepPowerComponent.cs
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#419 Trimming the bird emotes
  Resources/Prototypes/DeltaV/SoundCollections/harpy.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#420 fixes warden + sec hardsuits on pebble
  Resources/Maps/pebble.yml
Labels: Status: Needs Review, Changes: Map

#416 Shiva as ghost role
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#415 Readds Captain's Beret to their locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, Status: Needs Review

#421 Reskin Glimmer Machines (Prober and Drain)
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Textures/DeltaV/Structures/Machines/glimmer_machines.rsi/base.png
  Resources/Textures/DeltaV/Structures/Machines/glimmer_machines.rsi/drain.png
  Resources/Textures/DeltaV/Structures/Machines/glimmer_machines.rsi/intermediate.png
  Resources/Textures/DeltaV/Structures/Machines/glimmer_machines.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Machines/glimmer_machines.rsi/powered.png
  Resources/Textures/DeltaV/Structures/Machines/glimmer_machines.rsi/prober.png
  Resources/Textures/DeltaV/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_1.png
  Resources/Textures/DeltaV/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_2.png
  Resources/Textures/DeltaV/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_3.png
  Resources/Textures/DeltaV/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_4.png
  Resources/Textures/DeltaV/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_5.png
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#427 Update asterisk.yml
  Resources/Maps/asterisk.yml
Labels: Status: Needs Review, Changes: Map

#429 Fix custom round end sounds
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Changes: YML, Status: Needs Review

#430 Laika is Smart Doggo
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML, Status: Needs Review

#431 Removes Security Gear from Salvage Corpses
  Resources/Prototypes/Entities/Markers/Spawners/corpses.yml
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
Labels: Changes: YML, Status: Needs Review

#426 Expand valid character names
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Status: Needs Review, Changes: C#

#413 Set max head revs to 1
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, Status: Needs Review

#434 Added Head ID cards to lockers
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, Status: Needs Review

#435 Hive five
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/arena.yml
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/hive.yml
Labels: Status: Needs Review, Changes: Map, Changes: C#

#436 Map Edits
  Resources/Maps/hive.yml
Labels: Status: Needs Review, Changes: Map

#398 Prober and Drainer crafting + Prober sounds
  Resources/Locale/en-US/nyanotrasen/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Research/crystals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Projectiles/shotgun.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/Nyanotrasen/Guidebook/epistemics.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/glimmerdevices.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/machines.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Reactions/psionic.yml
  Resources/Prototypes/Nyanotrasen/tags.yml
  Resources/ServerInfo/Nyanotrasen/Guidebook/Epistemics/Altar.xml
  Resources/ServerInfo/Nyanotrasen/Guidebook/Epistemics/Psionics.xml
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Documentation

#438 Hotfix hive
  Resources/Maps/hive.yml
Labels: Status: Needs Review, Changes: Map

#339 Add the bionic syrinx implant
  Content.Server/DeltaV/Implants/SubdermalBionicSyrinxImplantSystem.cs
  Content.Server/DeltaV/VoiceMask/SyrinxVoiceMaskComponent.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Resources/Locale/en-US/deltav/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Textures/DeltaV/Interface/Actions/harpy_syrinx.png
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization, Merge Conflict

#310 Shoukou from Nyanotrasen.
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map, Changes: C#

#385 Energy Guns
  Content.Server/DeltaV/Weapons/Ranged/Components/EnergyGunComponent.cs
  Content.Server/DeltaV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Shared/DeltaV/Weapons/Ranged/EnergyGunFireModeVisuals.cs
  Resources/Audio/DeltaV/Weapons/Guns/Empty/dry_fire.ogg
  Resources/Audio/DeltaV/Weapons/Guns/Gunshots/laser.ogg
  Resources/Audio/DeltaV/license.txt
  Resources/Locale/en-US/deltav/weapons/ranged/energygun.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/disabler-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/disabler-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/lethal-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/lethal-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-3.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-4.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mode-disabler.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mode-lethal.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mode-stun.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/special-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/special-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/disabler-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/disabler-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/lethal-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/lethal-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-3.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-4.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode-disabler.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode-ion.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode-lethal.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/special-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/special-inhand-right.png
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization, Changes: Documentation, Changes: Sprite

#445 Gameplay adjustments
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: YML, Status: Needs Review

#446 Edgemos improvments
  Resources/Maps/edge.yml
Labels: Status: Needs Review, Changes: Map

#450 Give HoP lawyer access
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: Changes: YML, Status: Needs Review

#448 Map Edits
  Resources/Maps/hive.yml
Labels: Status: Needs Review, Changes: Map

#452 Map Edits
  Resources/Maps/arena.yml
Labels: Status: Needs Review, Changes: Map

#451 Hotfix Shoukou
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#459 Update Asterisk & map protos
  Resources/Maps/asterisk.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#462 bluespace crystals in fab
  Resources/Locale/en-US/deltav/materials/units.ftl
  Resources/Prototypes/Nyanotrasen/Reagents/Materials/materials.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#453 Salvage Map Rebase
  Resources/Maps/Salvage/DeltaV/DV-animalfarm.yml
  Resources/Maps/Salvage/DeltaV/DV-asteroid-base.yml
  Resources/Maps/Salvage/DeltaV/DV-asteroid-large-01.yml
  Resources/Maps/Salvage/DeltaV/DV-asteroid-large-02.yml
  Resources/Maps/Salvage/DeltaV/DV-asteroid-large-03.yml
  Resources/Maps/Salvage/DeltaV/DV-asteroid-mining-chemlab.yml
  Resources/Maps/Salvage/DeltaV/DV-atlas-atmos.yml
  Resources/Maps/Salvage/DeltaV/DV-atlas-cargo.yml
  Resources/Maps/Salvage/DeltaV/DV-atlas-conference-room.yml
  Resources/Maps/Salvage/DeltaV/DV-atlas-dorms.yml
  Resources/Maps/Salvage/DeltaV/DV-atlas-epi.yml
  Resources/Maps/Salvage/DeltaV/DV-atlas-jailcells.yml
  Resources/Maps/Salvage/DeltaV/DV-atlas-medical.yml
  Resources/Maps/Salvage/DeltaV/DV-atlas-perma.yml
  Resources/Maps/Salvage/DeltaV/DV-atlas-salvage.yml
  Resources/Maps/Salvage/DeltaV/DV-atlas-service.yml
  Resources/Maps/Salvage/DeltaV/DV-cargo-01.yml
  Resources/Maps/Salvage/DeltaV/DV-large-asteroid-mining-01.yml
  Resources/Maps/Salvage/DeltaV/DV-large-engineer-chunk.yml
  Resources/Maps/Salvage/DeltaV/DV-med-asteroid-mining-01.yml
  Resources/Maps/Salvage/DeltaV/DV-med-chunk-01.yml
  Resources/Maps/Salvage/DeltaV/DV-med-crashed-shuttle.yml
  Resources/Maps/Salvage/DeltaV/DV-med-dock.yml
  Resources/Maps/Salvage/DeltaV/DV-med-library.yml
  Resources/Maps/Salvage/DeltaV/DV-med-pet-hospital.yml
  Resources/Maps/Salvage/DeltaV/DV-med-pirate.yml
  Resources/Maps/Salvage/DeltaV/DV-med-ruined-emergency-shuttle.yml
  Resources/Maps/Salvage/DeltaV/DV-med-service-chunk-01.yml
  Resources/Maps/Salvage/DeltaV/DV-med-silent-orchestra.yml
  Resources/Maps/Salvage/DeltaV/DV-med-vault-01.yml
  Resources/Maps/Salvage/DeltaV/DV-medium-01.yml
  Resources/Maps/Salvage/DeltaV/DV-mining-outpost-01.yml
  Resources/Maps/Salvage/DeltaV/DV-research-outpost-01.yml
  Resources/Maps/Salvage/DeltaV/DV-ruin-cargo-salvage.yml
  Resources/Maps/Salvage/DeltaV/DV-security-chunk.yml
  Resources/Maps/Salvage/DeltaV/DV-syndi-hideout.yml
  Resources/Maps/Salvage/DeltaV/DV-tick-colony.yml
  Resources/Maps/Salvage/DeltaV/DV-tick-nest.yml
  Resources/Maps/Salvage/DeltaV/DV-wh-salvage.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: Status: Needs Review, Changes: Map

#454 Bit of quality to shoukou.
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#455 Adjustments to pebble.
  Resources/Maps/pebble.yml
Labels: Status: Needs Review, Changes: Map

#472 Allow nuclear operatives to buy deswords
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#475 A small adjustment for shoukou.
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#478 Robustify Seclite
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
Labels: Changes: YML, Status: Needs Review

#480 Update Asterisk
  Resources/Maps/asterisk.yml
Labels: Status: Needs Review, Changes: Map

#470 Adds robust granular access
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/medical.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Access/service.yml
  Resources/Prototypes/DeltaV/Access/cargo.yml
  Resources/Prototypes/DeltaV/Access/epistemics.yml
  Resources/Prototypes/DeltaV/Access/medical.yml
  Resources/Prototypes/DeltaV/Access/service.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization

#476 Update Arena carp spawner with 5% chance to spawn sharkminnow
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/mobs.yml
Labels: Changes: YML, Status: Needs Review

#457 Bluespace crystal recipes
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
Labels: Changes: YML, Status: Needs Review

#456 Role accesses and starting equipment
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/backpacks.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/duffelbag.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/satchel.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
Labels: Changes: YML, Status: Needs Review

#482 Corpsman getting a GPS into their locker.
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Changes: YML, Status: Needs Review

#484 Updates to Shoukou, Asterisk, and Edge
  Resources/Maps/asterisk.yml
  Resources/Maps/edge.yml
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#481 Salvage tweaks and templates
  Content.Server/Salvage/SalvageMagnetComponent.cs
  Resources/Maps/Salvage/DeltaV/Templates/DV-large-asteroid-template.yml
  Resources/Maps/Salvage/DeltaV/Templates/DV-med-asteroid-template.yml
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
Labels: Status: Needs Review, Changes: Map, Changes: C#

#463 More energy guns
  Resources/Locale/en-US/deltav/prototypes/catalog/cargo/cargo-armory.ftl
  Resources/Locale/en-US/deltav/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Locale/en-US/deltav/research/technologies.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/security.yml
  Resources/Prototypes/DeltaV/Research/arsenal.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/lethal-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/lethal-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/mag-unshaded-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/mag-unshaded-1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/mag-unshaded-2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/mag-unshaded-3.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/mag-unshaded-4.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/disabler-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/disabler-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/lethal-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/lethal-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/mag-unshaded-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/mag-unshaded-1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/mag-unshaded-2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/mag-unshaded-3.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/mag-unshaded-4.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/mode-disabler.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/mode-lethal.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/disabler-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/disabler-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/lethal-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/lethal-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/mag-unshaded-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/mag-unshaded-1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/mag-unshaded-2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/mag-unshaded-3.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/mag-unshaded-4.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/mode-disabler.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/mode-lethal.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/mode-stun.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/special-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/special-inhand-right.png
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite
