Repository DeltaV-Station/Delta-v, pull requests merged in 2023-09, with the labels that each got.

#163 Update angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#164 Hotfix angle.yml
  Resources/Maps/angle.yml
Labels: No C#, Changes: Map

#166 Add xeno vent event
  Resources/Locale/en-US/delta-v/station-events/events/xeno-vent.ftl
  Resources/Prototypes/DeltaV/GameRules/events.yml
Labels: No C#

#144 Adding PDAs to the PDA vendor
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
Labels: No C#

#174 Update edge.yml
  Resources/Maps/edge.yml
Labels: No C#, Changes: Map

#175 Fix issues with adjutant and vulcan
  Resources/Locale/en-US/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: No C#

#171 Siobhan, Mystagogue's Arctic Fox
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/animals.yml
  Resources/Textures/DeltaV/Mobs/Pets/arcticfox.rsi/arcticfox.png
  Resources/Textures/DeltaV/Mobs/Pets/arcticfox.rsi/arcticfox_crit.png
  Resources/Textures/DeltaV/Mobs/Pets/arcticfox.rsi/arcticfox_dead.png
  Resources/Textures/DeltaV/Mobs/Pets/arcticfox.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Fun/Toys/renaulttoy.rsi/base.png
  Resources/Textures/DeltaV/Objects/Fun/Toys/renaulttoy.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Fun/Toys/siobhantoy.rsi/base.png
  Resources/Textures/DeltaV/Objects/Fun/Toys/siobhantoy.rsi/meta.json
Labels: Changes: Sprites, No C#

#173 New hairstyle! Short bedhead.
  Resources/Locale/en-US/deltav/accessories/new_hair.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Hairstyles/new_hair.yml
  Resources/Textures/DeltaV/Mobs/Customization/new_hair.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/new_hair.rsi/short_bedhead.png
Labels: Changes: Sprites, No C#

#168 Early Merge - Updated Glacier Station
  Resources/Maps/glacier.yml
Labels: No C#, Changes: Map

#184 Map Edits
  Resources/Maps/arena.yml
  Resources/Maps/hive.yml
Labels: No C#, Changes: Map

#188 Buffs blast door dmg resistance
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
Labels: No C#

#183 Update paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
Labels: No C#

#192 Add Blue Curacao Recipe of OJ and Sugar
  Resources/Prototypes/DeltaV/Recipes/Reactions/drinks.yml
Labels: No C#

#194 Grilled Cheese
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/DeltaV/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/grilledcheese.rsi/grilled-cheese-v2.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/grilledcheese.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/grilledcheese.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/grilledcheese.rsi/meta.json
Labels: Changes: Sprites, No C#

#170 ERT Overhaul
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: Status: Needs Review, No C#

#193 Butlertron, the Roboisseur
  Content.Server/DeltaV/NPC/Roboisseur/RoboisseurComponent.cs
  Content.Server/DeltaV/NPC/Roboisseur/RoboisseurSystem.cs
  Resources/Locale/en-US/deltav/roboisseur/roboisseur.ftl
  Resources/Prototypes/DeltaV/NPC/roboisseur.yml
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-1.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-2.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-3.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-4.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-impatient1.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-impatient2.png
Labels: Changes: Sprites

#200 Revert "ERT Overhaul"
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: No C#

#190 Update Rules.txt
  Resources/ServerInfo/Rules.txt
Labels: No C#

#201 Map Edits
  Resources/Maps/arena.yml
Labels: No C#, Changes: Map

#203 fill pockets with bee. drink bee.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#
