Repository DeltaV-Station/Delta-v, pull requests merged in 2023-10, with the labels that each got.

#71 Ports mining rocks and spawner over from Nyano
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/Random/miningrock.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Walls/mountain.yml
  Resources/Prototypes/DeltaV/ore.yml
  Resources/Textures/DeltaV/Structures/Walls/asteroid_rock.rsi/full.png
  Resources/Textures/DeltaV/Structures/Walls/asteroid_rock.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Walls/asteroid_rock.rsi/rock_0.png
  Resources/Textures/DeltaV/Structures/Walls/asteroid_rock.rsi/rock_1.png
  Resources/Textures/DeltaV/Structures/Walls/asteroid_rock.rsi/rock_2.png
  Resources/Textures/DeltaV/Structures/Walls/asteroid_rock.rsi/rock_3.png
  Resources/Textures/DeltaV/Structures/Walls/asteroid_rock.rsi/rock_4.png
  Resources/Textures/DeltaV/Structures/Walls/asteroid_rock.rsi/rock_5.png
  Resources/Textures/DeltaV/Structures/Walls/asteroid_rock.rsi/rock_6.png
  Resources/Textures/DeltaV/Structures/Walls/asteroid_rock.rsi/rock_7.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock.rsi/full.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock.rsi/rock_0.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock.rsi/rock_1.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock.rsi/rock_2.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock.rsi/rock_3.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock.rsi/rock_4.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock.rsi/rock_5.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock.rsi/rock_6.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock.rsi/rock_7.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock_ore.rsi/full.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock_ore.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock_ore.rsi/rock_0.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock_ore.rsi/rock_1.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock_ore.rsi/rock_2.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock_ore.rsi/rock_3.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock_ore.rsi/rock_4.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock_ore.rsi/rock_5.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock_ore.rsi/rock_6.png
  Resources/Textures/DeltaV/Structures/Walls/mountain_rock_ore.rsi/rock_7.png
Labels: No C#, Changes: Sprites

#72 Additional posters and signs from Nyano
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/posters.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/misc.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/misc.rsi/poster_ayaya.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/rosysyntax.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/rosysyntax.rsi/poster_corncobpizza.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/pods.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/space.png
Labels: No C#, Changes: Sprites

#16 Mail!
  Content.Client/Nyanotrasen/Mail/MailComponent.cs
  Content.Client/Nyanotrasen/Mail/MailSystem.cs
  Content.Server/Nyanotrasen/Mail/Components/MailComponent.cs
  Content.Server/Nyanotrasen/Mail/Components/MailReceiverComponent.cs
  Content.Server/Nyanotrasen/Mail/Components/MailTeleporterComponent.cs
  Content.Server/Nyanotrasen/Mail/Components/StationMailRouterComponent.cs
  Content.Server/Nyanotrasen/Mail/MailCommands.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Content.Shared/Nyanotrasen/Mail/MailDeliveryPoolPrototype.cs
  Content.Shared/Nyanotrasen/Mail/MailVisuals.cs
  Content.Shared/Nyanotrasen/Mail/SharedMailComponent.cs
  Resources/Locale/en-US/Mail/mail.ftl
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_civilian.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_command.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_engineering.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_epistemology.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_medical.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_security.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_specific_items.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
  Resources/Prototypes/Nyanotrasen/Entities/Stations/mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/mailTeleporter.yml
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
  Resources/Textures/Nyanotrasen/Objects/Specific/Mail/mail.rsi/broken.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Mail/mail.rsi/fragile.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Mail/mail.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Mail/mail.rsi/locked.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Mail/mail.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Specific/Mail/mail.rsi/postmark.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Mail/mail.rsi/priority.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Mail/mail.rsi/priority_inactive.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Mail/mail.rsi/trash.png
  Resources/Textures/Nyanotrasen/Structures/mailbox.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/mailbox.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/mailbox.rsi/unlit.png
Labels: Changes: Sprites, Status: Needs Review

#65 MNK, Reporter, Automatrobe Vendors
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/automatrobe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/mnkdrobe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/repdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/mnkdrobe.rsi/broken.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/mnkdrobe.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/mnkdrobe.rsi/off.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/mnkdrobe.rsi/panel.png
Labels: No C#, Changes: Sprites

#76 Vector Safe
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/security.yml
Labels: No C#

#77 Corrected the XenoVents event
  Resources/Locale/en-US/deltav/station-events/events/xeno-vent.ftl
  Resources/Prototypes/DeltaV/GameRules/events.yml
Labels: No C#

#69 Vulpakin Rebalance
  Resources/Audio/DeltaV/Voice/Vulpakin/attributions.yml
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_bark1.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_bark2.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_bark3.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_growl1.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_growl2.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_growl3.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_snarl1.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_snarl2.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_snarl3.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_whine.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/license.txt
  Resources/Prototypes/DeltaV/Damage/modifier_sets.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/SoundCollections/vulpakin.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
Labels: No C#

#80 Adds PDA boxes and adjusts PTech stock
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Boxes/pda.yml
Labels: No C#

#95 Rename QM Mantle
  Resources/Prototypes/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#93 Insulative Gear research and items
  Resources/Locale/en-US/nyanotrasen/research/technologies.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/security.yml
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
Labels: No C#

#81 Nyanotrasen Tips
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#75 Update changelog system to be datetime based and merge all files
  Content.Client/Changelog/ChangelogManager.cs
  Content.Client/Changelog/ChangelogWindow.xaml.cs
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: UI

#82 Nyanotrasen epistemic lore book
  Resources/Locale/en-US/nyanotrasen/paper/book-epistemics.ftl
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Books/lore.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/books.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
Labels: No C#

#83 Kanabou + Samurai crate
  Resources/Locale/en-US/nyanotrasen/prototypes/fills/crates/syndicate-crates.ftl
  Resources/Locale/en-US/nyanotrasen/store/uplink-catalog.ftl
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
Labels: No C#

#68 Add hologram shader
  Content.Client/DeltaV/Hologram/HologramSystem.cs
  Content.Server/DeltaV/Hologram/HologramSystem.cs
  Content.Shared/DeltaV/Hologram/HologramComponent.cs
  Content.Shared/DeltaV/Hologram/SharedHologramSystem.cs
  Resources/Locale/en-US/deltav/hologram/hologram.ftl
  Resources/Prototypes/DeltaV/shaders.yml
  Resources/Textures/DeltaV/Shaders/hologram.swsl
Labels: Status: Needs Review

#91 Reverse Engineering.
  Content.Client/Nyanotrasen/ReverseEngineering/ReverseEngineeringMachineBoundUserInterface.cs
  Content.Client/Nyanotrasen/ReverseEngineering/ReverseEngineeringMachineMenu.xaml
  Content.Client/Nyanotrasen/ReverseEngineering/ReverseEngineeringMachineMenu.xaml.cs
  Content.Server/Nyanotrasen/ReverseEngineering/ActiveReverseEngineeringMachineComponent.cs
  Content.Server/Nyanotrasen/ReverseEngineering/ReverseEngineeringMachineComponent.cs
  Content.Server/Nyanotrasen/ReverseEngineering/ReverseEngineeringSystem.cs
  Content.Shared/Nyanotrasen/ReverseEngineering/ReverseEngineeringComponent.cs
  Content.Shared/Nyanotrasen/ReverseEngineering/SharedReverseEngineering.cs
  Resources/Audio/Ambience/Objects/attributions.yml
  Resources/Audio/Ambience/Objects/revMachine_ambience.ogg
  Resources/Locale/en-US/nyanotrasen/reverse-engineering/reverseengineering.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/atmos_alarms.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/disposal.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/firelock.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/intercom.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Devices/hand_teleporter.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/rped.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/node_scanner.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/reverseEngineering.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/devices.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/hardsuits.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/parts.yml
  Resources/Prototypes/Nyanotrasen/Stacks/materials.yml
  Resources/Prototypes/Nyanotrasen/tags.yml
  Resources/Textures/Nyanotrasen/Objects/Materials/materials.rsi/bluespace.png
  Resources/Textures/Nyanotrasen/Objects/Materials/materials.rsi/bluespace_2.png
  Resources/Textures/Nyanotrasen/Objects/Materials/materials.rsi/bluespace_3.png
  Resources/Textures/Nyanotrasen/Objects/Materials/materials.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/closed.png
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/open.png
  Resources/Textures/Nyanotrasen/Structures/Machines/reverse_engineering.rsi/unlit.png
Labels: Changes: Sprites, Changes: UI

#89 Martial Artist PDA
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/pda-martialartist.png
Labels: No C#, Changes: Sprites

#96 Bluespace is real
  Resources/Prototypes/DeltaV/Recipes/Lathes/security.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_epistemology.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/altars.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/security.yml
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
Labels: No C#

#97 One new mail, bundle of three books
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
Labels: No C#

#98 Fix lobbyart missing yml prototype
  Resources/Prototypes/lobbyscreens.yml
Labels: No C#

#106 Glass texture that you can see.
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/DeltaV/Tiles/attributions.yml
  Resources/Textures/DeltaV/Tiles/glass.png
Labels: No C#

#105 Reprevent the Bureaucratic Error event
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#53 Paramedic Lockers, Portafibs, and Chemvend Tweaks
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Prototypes/Access/medical.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/Medical/portafib.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Textures/DeltaV/Objects/Medical/portafib.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Medical/portafib.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Medical/portafib.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Medical/portafib.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Medical/portafib.rsi/ready.png
  Resources/Textures/DeltaV/Objects/Medical/portafib.rsi/screen.png
Labels: Changes: Sprites, Status: Needs Review

#102 Candy
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/candy.yml
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/gumball.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/lollipop.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/meta.json
Labels: No C#, Changes: Sprites

#101 Not ugly salvage technician drip
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/explorer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/explorer.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/explorer.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/explorer.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/explorer.rsi/meta.json
Labels: No C#, Changes: Sprites

#110 Kvass
  Resources/Locale/en-US/deltav/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/en-US/deltav/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Locale/en-US/deltav/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/en-US/deltav/reagents/meta/consumable/food/condiments.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/DeltaV/Structures/Storage/kvass.rsi/kvass.png
  Resources/Textures/DeltaV/Structures/Storage/kvass.rsi/meta.json
Labels: No C#, Changes: Sprites

#111 Two mentions of QM replaced to HoL
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
Labels: No C#

#107 Amphora
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Chapel/amphorae.yml
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/amphorae.rsi/amphora3.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/amphorae.rsi/meta.json
Labels: No C#, Changes: Sprites

#87 Replace dough with flat dough for our custom pizzas
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#108 Migration + Various items to fix missing prototypes in maps
  Resources/Locale/en-US/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Paper/salvage_lore.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#114 Adds mantis airlocks and mail windoors
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Windoors/windoor.yml
Labels: No C#

#115 Fix Chapel door color
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: No C#

#121 Adds Edge
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: Map

#125 Edge 1.1
  Resources/Maps/edge.yml
Labels: No C#, Changes: Map

#128 Stray mention of RD
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
Labels: No C#

#122 Scrubs for Medical Interns
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
Labels: No C#

#118 Logistics + Mailroom Directional sign
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/direction_logi.png
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/direction_mail.png
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/meta.json
Labels: No C#, Changes: Sprites

#117 Remove upstreamed signs
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/court.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/law.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/meta.json
Labels: No C#, Changes: Sprites

#133 Update edge.yml
  Resources/Maps/edge.yml
Labels: No C#, Changes: Map

#134 Adjusted playtime requirements for roles
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
Labels: No C#

#139 Update HoP accesses
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: No C#

#135 Update Rules.txt
  Resources/ServerInfo/Rules.txt
Labels: No C#

#142 HoP's Photobook steal objective
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/ian_dossier.yml
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/Textures/DeltaV/Objects/Misc/bureaucracy.rsi/folder-hop-ian.png
  Resources/Textures/DeltaV/Objects/Misc/bureaucracy.rsi/meta.json
Labels: No C#, Changes: Sprites

#137 Replace Salvage Jumpsuit sprite instead of adding a new item
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
Labels: No C#

#103 Two new paintings
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/paintings.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/paintings.yml
  Resources/Textures/DeltaV/Structures/Wallmounts/Paintings/leonardodabepis.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Wallmounts/Paintings/leonardodabepis.rsi/spoonpainting.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Paintings/ps3moira.rsi/bluntpainting.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Paintings/ps3moira.rsi/meta.json
Labels: No C#, Changes: Sprites

#116 Re-sprite Revenant
  Resources/Prototypes/Alerts/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/toys.yml
  Resources/Prototypes/Recipes/Crafting/toys.yml
  Resources/Textures/DeltaV/Mobs/Ghosts/revenant.rsi/active.png
  Resources/Textures/DeltaV/Mobs/Ghosts/revenant.rsi/ectoplasm.png
  Resources/Textures/DeltaV/Mobs/Ghosts/revenant.rsi/harvesting.png
  Resources/Textures/DeltaV/Mobs/Ghosts/revenant.rsi/icon.png
  Resources/Textures/DeltaV/Mobs/Ghosts/revenant.rsi/idle.png
  Resources/Textures/DeltaV/Mobs/Ghosts/revenant.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Ghosts/revenant.rsi/stunned.png
Labels: No C#, Changes: Sprites

#127 Holy damage type
  Resources/Locale/en-US/nyanotrasen/medical/components/health-analyzer-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Nyanotrasen/Damage/containers.yml
  Resources/Prototypes/Nyanotrasen/Damage/groups.yml
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Damage/types.yml
Labels: No C#

#126 Gladiator Uniform for Gladiator
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
Labels: No C#

#143 Resize Skull
  Resources/Prototypes/Body/Parts/skeleton.yml
Labels: No C#, Status: Needs Review

#138 Quickerfix
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/duravest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/duravest.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/duravest.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/duravest.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/duravest.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/platecarrier.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/platecarrier.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/platecarrier.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/platecarrier.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/platecarrier.rsi/meta.json
Labels: No C#, Changes: Sprites

#147 Fix test fails
  Resources/ConfigPresets/DeltaV/apoapsis.toml
  Resources/ConfigPresets/DeltaV/deltav.toml
  Resources/ConfigPresets/DeltaV/periapsis.toml
Labels: No C#

#145 Add Station Holograph
  Resources/Prototypes/DeltaV/Entities/Structures/Decoration/shuttle_manipulator.yml
  Resources/Textures/DeltaV/Structures/Decoration/shuttle_manipulator.rsi/holograph_station.png
  Resources/Textures/DeltaV/Structures/Decoration/shuttle_manipulator.rsi/meta.json
Labels: No C#, Changes: Sprites

#148 HoP Headset
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Ears/headset_alt.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/service.rsi/alt-equipped-EARS.png
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/service.rsi/icon_alt.png
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/service.rsi/meta.json
Labels: No C#, Changes: Sprites

#146 Job Icon clean up and change
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/jobs.yml
  Resources/Textures/DeltaV/Markers/jobs.rsi/green.png
  Resources/Textures/DeltaV/Markers/jobs.rsi/meta.json
  Resources/Textures/DeltaV/Markers/jobs.rsi/mystagogue.png
  Resources/Textures/DeltaV/Markers/jobs.rsi/nyanogladiator.png
  Resources/Textures/DeltaV/Markers/jobs.rsi/nyanomailcarrier.png
  Resources/Textures/DeltaV/Markers/jobs.rsi/nyanomartialartist.png
  Resources/Textures/DeltaV/Markers/jobs.rsi/nyanoprisoner.png
  Resources/Textures/DeltaV/Markers/jobs.rsi/nyanoprisonguard.png
  Resources/Textures/DeltaV/Markers/jobs.rsi/salvagespecialist.png
  Resources/Textures/DeltaV/Markers/jobs.rsi/scientist.png
Labels: No C#, Changes: Sprites

#141 Adjusts migration file
  Resources/migration.yml
Labels: No C#

#112 Mystabible, Shockcollar, Fish Labeler, Tinfoil craft
  Content.Server/Nyanotrasen/Item/ShockCollar/ShockCollarComponent.cs
  Content.Server/Nyanotrasen/Item/ShockCollar/ShockCollarSystem.cs
  Resources/Prototypes/DeltaV/Research/arsenal.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/shock_collar.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/security.yml
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/holylight.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/holylight.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/holylight.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Chapel/holylight.rsi/meta.json
Labels: Changes: Sprites

#120 Some nyano spawners
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/mobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/xeno.yml
Labels: No C#

#153 Action psionics nospawn
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
Labels: No C#

#156 Quickfix to plate carriers and duravests (ACTUAL QUICKFIX)
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#157 Quickfix on melee
  Resources/Prototypes/DeltaV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_cutlass.rsi/e_cutlass.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_cutlass.rsi/e_cutlass_blade.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_cutlass.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_cutlass.rsi/inhand-left-blade.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_cutlass.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_cutlass.rsi/inhand-right-blade.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_cutlass.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_cutlass.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Melee/katana.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/katana.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/katana.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/katana.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Belt/katanasheath.rsi/equipped-BELT.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/katanasheath.rsi/sheath-sabre-equipped-BELT.png
Labels: No C#, Changes: Sprites

#161 protection of ass division
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster29_legit.png
Labels: No C#, Changes: Sprites

#159 Minor dripdate - HoP, boat cloak
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/DeltaV/Clothing/Head/Hats/dircap.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/dircap.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/dircap.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/dircap.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/dircap.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Neck/Cloaks/boatcloak.rsi/equipped-NECK.png
  Resources/Textures/DeltaV/Clothing/Neck/Cloaks/boatcloak.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Neck/Cloaks/boatcloak.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/hos_trenchcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/hos_trenchcoat.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/hos_trenchcoat.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/hos_trenchcoat.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/hos_trenchcoat.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/repcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/repcoat.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/repcoat.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/repcoat.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/repcoat.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/hopmesskit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/hopmesskit.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/hopmesskit.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/hopmesskit.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/hopmesskit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/hopmesskit.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/hopmesskit.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/hopmesskit.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#124 Pebble Rebased
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: Map

#151 Courier drip
  Resources/Locale/en-US/deltav/advertisements/vending/courierdrobe.ftl
  Resources/Locale/en-US/deltav/advertisements/vending/pride.ftl
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Advertisements/courierdrobe.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/courierdrobe.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/tools.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Cargo/courier.yml
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Textures/DeltaV/Clothing/Belt/courierbag.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Clothing/Belt/courierbag.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Belt/courierbag.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Soft/couriersoft.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Soft/couriersoft.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Soft/couriersoft.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Soft/couriersoft.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Soft/couriersoft.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Soft/couriersoft_flipped.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Soft/couriersoft_flipped.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Soft/couriersoft_flipped.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Soft/couriersoft_flipped.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Soft/couriersoft_flipped.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/courier.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/courier.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/courier.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/courier.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/courier.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/courier.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/courier.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/courier.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/courier.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/courier.rsi/meta.json
  Resources/Textures/DeltaV/Markers/jobs.rsi/courier.png
  Resources/Textures/DeltaV/Markers/jobs.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/courierdrobe.rsi/broken.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/courierdrobe.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/courierdrobe.rsi/normal-unshaded.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/courierdrobe.rsi/off.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/courierdrobe.rsi/panel.png
Labels: No C#, Changes: Sprites

#162 Update edge.yml
  Resources/Maps/edge.yml
Labels: No C#, Changes: Map

#149 Make it grey again!
  Content.Client/Stylesheets/StyleBase.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/MenuButton.cs
  Resources/Textures/Interface/Default/left_arrow.svg.192dpi.png
  Resources/Textures/Interface/Default/right_arrow.svg.192dpi.png
  Resources/Textures/Interface/Misc/health_bar.rsi/icon.png
  Resources/Textures/Interface/Misc/health_bar.rsi/meta.json
  Resources/Textures/Interface/Nano/chat_sub_background.png
  Resources/Textures/Interface/Nano/checkbox_checked.svg.96dpi.png
  Resources/Textures/Interface/Nano/checkbox_unchecked.svg.96dpi.png
  Resources/Textures/Interface/Nano/gear.svg.192dpi.png
  Resources/Textures/Interface/Nano/item_status_left.svg.96dpi.png
  Resources/Textures/Interface/Nano/item_status_middle.svg.96dpi.png
  Resources/Textures/Interface/Nano/item_status_right.svg.96dpi.png
  Resources/Textures/Interface/Nano/light_panel_background_bordered.png
  Resources/Textures/Interface/Nano/lineedit.png
  Resources/Textures/Interface/Nano/lock.svg.192dpi.png
  Resources/Textures/Interface/Nano/lock_open.svg.192dpi.png
  Resources/Textures/Interface/Nano/stripeback.svg.96dpi.png
  Resources/Textures/Interface/Nano/tabcontainer_panel.png
  Resources/Textures/Interface/Nano/tooltip.png
  Resources/Textures/Interface/Nano/transparent_window_background_bordered.png
  Resources/Textures/Interface/Nano/window_background.png
  Resources/Textures/Interface/Nano/window_background_bordered.png
  Resources/Textures/Interface/Nano/window_header.png
  Resources/Textures/Interface/Nano/window_header_alert.png
Labels: Changes: Sprites

#166 Paramedic Airlocks & SSU
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: No C#

#78 Harpy Species
  Content.Shared/DeltaV/Harpy/HarpySingerComponent.cs
  Content.Shared/DeltaV/Harpy/HarpySingerSystem.cs
  Resources/Audio/DeltaV/Voice/Harpy/attributions.yml
  Resources/Audio/DeltaV/Voice/Harpy/caw1.ogg
  Resources/Audio/DeltaV/Voice/Harpy/chirp1.ogg
  Resources/Audio/DeltaV/Voice/Harpy/license.txt
  Resources/Locale/en-US/deltav/markings/harpy.ftl
  Resources/Locale/en-US/deltav/species/species.ftl
  Resources/Prototypes/DeltaV/Body/Prototypes/harpy.yml
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Damage/modifier_sets.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/SoundCollections/harpy.yml
  Resources/Prototypes/DeltaV/Species/harpy.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Textures/DeltaV/Interface/Actions/harpy_sing.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_ears.rsi/harpy_ears_default.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_ears.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_tails.rsi/harpy_tail_swallow.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_tails.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_tails.rsi/phoenix_tail.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_tails.rsi/rooster_tail.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings_default.rsi/harpy.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings_default.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#165 Reworked riot suit, resprited helmets
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Textures/DeltaV/Clothing/Head/Helmets/light_riot.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/light_riot.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/light_riot.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/light_riot.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/light_riot.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/light-equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/lighton-equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/security.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/riot.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/riot.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/riot.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/riot.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Armor/riot.rsi/meta.json
Labels: No C#, Changes: Sprites

#164 Further Resprites
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_hos.rsi/equipped-HELMET-hamster.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_hos.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_hos.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_hos.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_warden.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_warden.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_warden.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Hats/hoshat.rsi/equipped-HELMET-hamster.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/hoshat.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/hoshat.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/hoshat.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/hoshat.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/hoshat.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Hats/warden.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/warden.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/warden.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/greatcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/greatcoat.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/leatherjacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/leatherjacket.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/overcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/overcoat.rsi/icon.png
Labels: No C#, Changes: Sprites

#119 Paralaxes
  Resources/Prototypes/Nyanotrasen/Parallaxes/space.yml
  Resources/Textures/Nyanotrasen/Parallaxes/Angle.png
  Resources/Textures/Nyanotrasen/Parallaxes/Lighthouse.png
  Resources/Textures/Nyanotrasen/Parallaxes/Pebble.png
  Resources/Textures/Nyanotrasen/Parallaxes/Tortuga.png
Labels: No C#, Status: Needs Review

#172 Changed ghost role rules
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
Labels: No C#

#171 Add tags to custom food
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/salad.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/snacks.yml
Labels: No C#

#170 Moth can eat fruits
  Resources/Prototypes/Body/Organs/moth.yml
Labels: No C#

#169 Remove Nyano deathgasps
  Content.Server/Nyanotrasen/Psionics/PsionicsSystem.cs
Labels: Status: Needs Review

#183 Increase default lobby duration
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: No C#, Status: Needs Review

#186 adds new drink mothamphetamine and changes dulleavene to "health violation"
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/DeltaV/Recipes/Reactions/drinks.yml
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/mothamphetamine.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/mothamphetamine.rsi/meta.json
Labels: No C#, Changes: Sprites

#179 Fix mono sounds and rename Vulpakin
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_bark1.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_bark2.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_bark3.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_growl1.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_growl2.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_growl3.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_snarl1.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_snarl2.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_snarl3.ogg
  Resources/Audio/DeltaV/Voice/Vulpakin/dog_whine.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/attributions.yml
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_bark1.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_bark2.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_bark3.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_growl1.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_growl2.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_growl3.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_snarl1.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_snarl2.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_snarl3.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_whine.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/license.txt
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/SoundCollections/vulpakin.yml
  Resources/Prototypes/DeltaV/SoundCollections/vulpkanin.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
Labels: No C#

#184 Moth RGB 2: The electric boogaloo
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/SkinColor.cs
  Resources/Prototypes/Species/moth.yml
Labels: Status: Needs Review, Changes: UI

#181 Pumpkin Pie
  Content.Server/DeltaV/NPC/Roboisseur/RoboisseurComponent.cs
  Resources/Locale/en-US/deltav/flavors/flavor-profiles.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/DeltaV/Flavors/flavors.yml
  Resources/Prototypes/DeltaV/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_single.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_whole.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meal.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_single.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/pie.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/pie.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/pie.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/pie.rsi/pumpkin-slice.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/pie.rsi/pumpkin.png
Labels: Changes: Sprites

#175 Harpy Customization Pack 1
  Content.Server/DeltaV/Harpy/HarpySingerSystem.cs
  Content.Shared/DeltaV/Harpy/HarpySingerSystem.cs
  Resources/Locale/en-US/deltav/markings/harpy.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_tails.rsi/harpy_tail_swallow.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_tails.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpy.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpy2tone1.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpy2tone2.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpy3tone1.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpy3tone2.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpy3tone3.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpyspeckled1.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpyspeckled2.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpyundertone1.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpyundertone2.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpywingtip1.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/harpywingtip2.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings_default.rsi/harpy.png
  Resources/Textures/DeltaV/Mobs/Customization/Harpy/harpy_wings_default.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#189 Added Scrambled Eggs
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/DeltaV/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meal.yml
  Resources/Textures/DeltaV/Objects/Consumable/Food/scrambledeggs.rsi/bowl.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/scrambledeggs.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Food/scrambledeggs.rsi/scrambled-eggs.png
Labels: No C#, Changes: Sprites

#187 Rename Head of Logistics to Logistics Officer
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/cargo-crates.ftl
  Resources/Maps/pebble.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/first_bill.yml
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Jobs.xml
Labels: No C#, Changes: Map

#188 Be gone sound
  Content.Server/Administration/Systems/AdminSystem.cs
  Resources/Audio/DeltaV/Misc/license.txt
  Resources/Audio/DeltaV/Misc/reducedtoatmos.ogg
Labels: Status: Needs Review

#163 Deep Fryer And Its Powers
  Content.Client/Nyanotrasen/Kitchen/Components/DeepFriedComponent.cs
  Content.Client/Nyanotrasen/Kitchen/Components/DeepFryerComponent.cs
  Content.Client/Nyanotrasen/Kitchen/UI/DeepFryerBoundUserInterface.cs
  Content.Client/Nyanotrasen/Kitchen/UI/DeepFryerWindow.xaml
  Content.Client/Nyanotrasen/Kitchen/UI/DeepFryerWindow.xaml.cs
  Content.Client/Nyanotrasen/Kitchen/Visualizers/DeepFriedVisualizer.cs
  Content.Client/Nyanotrasen/Kitchen/Visualizers/DeepFryerVisualizer.cs
  Content.IntegrationTests/Tests/Nyanotrasen/DeepFryerTest.cs
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
  Content.Server/Nyanotrasen/Kitchen/Components/DeepFriedComponent.cs
  Content.Server/Nyanotrasen/Kitchen/Components/DeepFryerComponent.cs
  Content.Server/Nyanotrasen/Kitchen/Components/ProfessionalChefComponent.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
  Content.Shared/Nyanotrasen/Kitchen/ClearSlagDoAfterEvent.cs
  Content.Shared/Nyanotrasen/Kitchen/Components/SharedDeepFriedComponent.cs
  Content.Shared/Nyanotrasen/Kitchen/Components/SharedDeepFryerComponent.cs
  Content.Shared/Nyanotrasen/Kitchen/UI/DeepFryerMessages.cs
  Content.Shared/Throwing/ThrowEvents.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Audio/Nyanotrasen/Machines/attributions.yml
  Resources/Audio/Nyanotrasen/Machines/deepfryer_basket_add_item.ogg
  Resources/Audio/Nyanotrasen/Machines/deepfryer_basket_remove_item.ogg
  Resources/Locale/en-US/nyanotrasen/kitchen/deep-fryer-component.ftl
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Drinks/drinks_oil.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/deep_fryer.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Reactions/food.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Reactions/pyrotechnic.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/oil_jar.rsi/butter.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/oil_jar.rsi/corn.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/oil_jar.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/oil_jar.rsi/icon_open.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/oil_jar.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Drinks/oil_jar.rsi/olives.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/off-0.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/off-1.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/off-2.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/off-3.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/off-4.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/off-5.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/off-6.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/off-7.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/off-8.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/on-1.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/on-2.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/on-3.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/on-4.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/on-5.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/on-6.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/on-7.png
  Resources/Textures/Nyanotrasen/Structures/Machines/deep_fryer.rsi/on-8.png
Labels: Changes: Sprites, Changes: UI

#191 Role whitelists
  Content.Client/Nyanotrasen/Players/PlayTimeTracking/JobRequirementsManager.Whitelist.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/Nyanotrasen/Players/PlayTimeTracking/PlayTimeTrackingManager.Whitelist.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Whitelist/WhitelistCommands.cs
  Content.Shared/DeltaV/Roles/JobRequirements.Whitelist.cs
  Content.Shared/Nyanotrasen/Players/PlayTimeTracking/MsgWhitelist.cs
  Content.Shared/Players/PlayerData.cs
  Content.Shared/Roles/JobRequirements.cs
  Resources/Locale/en-US/players/play-time/whitelist.ftl
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: Status: Needs Review

#94 SilverCore research for the silver golem
  Resources/Prototypes/Entities/Mobs/Species/golem.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/silvercore.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/golem_silver.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
  Resources/Prototypes/Nyanotrasen/tags.yml
  Resources/Textures/Nyanotrasen/Mobs/Golem/cult.rsi/cultgolem_chest.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/cult.rsi/cultgolem_head.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/cult.rsi/cultgolem_l_arm.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/cult.rsi/cultgolem_l_hand.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/cult.rsi/cultgolem_l_leg.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/cult.rsi/cultgolem_r_arm.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/cult.rsi/cultgolem_r_hand.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/cult.rsi/cultgolem_r_leg.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/cult.rsi/full.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/cult.rsi/lights.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/cult.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Golem/silver.rsi/full.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/silver.rsi/lights.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/silver.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Golem/silver.rsi/silver_base.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/wood.rsi/head.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/wood.rsi/lights.png
  Resources/Textures/Nyanotrasen/Mobs/Golem/wood.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Devices/QSI.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Devices/QSI.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#199 Another harpy bugfix
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/harpy.yml
Labels: No C#

#204 Removes borgmedical spawn role
  Resources/Locale/en-US/deltav/job/job-description.ftl
  Resources/Locale/en-US/deltav/job/job-names.ftl
  Resources/Locale/en-US/deltav/station-laws/laws.ftl
  Resources/Maps/edge.yml
  Resources/Maps/pebble.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/DeltaV/Roles/play_time_trackers.yml
  Resources/Prototypes/DeltaV/StatusEffects/job.yml
  Resources/Prototypes/DeltaV/silicon-laws.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/BorgMedical.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/meta.json
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Changes: Map

#206 Antag times
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
Labels: No C#

#202 Head Locker/Starting Gear Adjustment
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_lo.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_lo.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_lo.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_lo.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_lo.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/centcom_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/centcom_officer.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/centcom_officer.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/centcom_officer.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/centcom_officer.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/meta.json
Labels: No C#, Changes: Sprites

#200 Deep-Fried Crispy Shader
  Resources/Prototypes/DeltaV/shaders.yml
  Resources/Textures/Shaders/crispy.swsl
Labels: No C#

#221 Disable sandbox and deathmatch
  Resources/Prototypes/game_presets.yml
Labels: No C#

#211 Rename Science and Cargo ID
  Resources/Locale/en-US/Mail/mail.ftl
  Resources/Locale/en-US/deltav/job/department.ftl
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Lockers/biohazard.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Markers/warp_point.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
  Resources/Prototypes/Objectives/ninja.yml
  Resources/Prototypes/Palettes/departmental.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Engineering/AME.xml
  Resources/ServerInfo/Guidebook/Engineering/AccessConfigurator.xml
  Resources/ServerInfo/Guidebook/Jobs.xml
  Resources/ServerInfo/Guidebook/Medical/Cloning.xml
  Resources/ServerInfo/Guidebook/Science/APE.xml
  Resources/ServerInfo/Guidebook/Science/AnomalousResearch.xml
  Resources/ServerInfo/Guidebook/Science/Robotics.xml
  Resources/ServerInfo/Guidebook/Science/ScannersAndVessels.xml
  Resources/ServerInfo/Guidebook/Science/Science.xml
  Resources/ServerInfo/Guidebook/Science/Xenoarchaeology.xml
Labels: No C#

#216 Resprite medals and flavour descriptions
  Resources/Prototypes/DeltaV/Entities/Clothing/Neck/medals.yml
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
  Resources/Textures/DeltaV/Clothing/Neck/Medals/blackstar.rsi/equipped-NECK.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/blackstar.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/blackstar.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Neck/Medals/cargomedal.rsi/equipped-NECK.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/cargomedal.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/cargomedal.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Neck/Medals/clownmedal.rsi/equipped-NECK.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/clownmedal.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/clownmedal.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Neck/Medals/engineermedal.rsi/equipped-NECK.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/engineermedal.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/engineermedal.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Neck/Medals/medicalmedal.rsi/equipped-NECK.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/medicalmedal.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/medicalmedal.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Neck/Medals/sciencemedal.rsi/equipped-NECK.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/sciencemedal.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/sciencemedal.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Neck/Medals/securitymedal.rsi/equipped-NECK.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/securitymedal.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Neck/Medals/securitymedal.rsi/meta.json
Labels: No C#, Changes: Sprites

#173 Charlie Station
  Resources/Maps/Misc/charliestation.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#, Status: Needs Review

#195 Fixed "health code violation" cocktail
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/drinks.yml
Labels: No C#

#213 Mr. Gog's GigaDrip Updatee
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Textures/DeltaV/Clothing/Head/Hats/mysta.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/mysta.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/mysta.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/mysta.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/mysta.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Hats/mystic.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/mystic.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/epicoat.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/epicoat.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/epicoat.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/mystacoat.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/mystacoat.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/mystacoat.rsi/meta.json
Labels: No C#, Changes: Sprites

#207 Readd sophie and glimmer monitor
  Content.Client/Nyanotrasen/CartridgeLoader/Cartridges/GlimmerMonitorUiFragment.xaml.cs
  Content.Client/Nyanotrasen/UserInterface/GlimmerGraph.cs
  Content.Server/Nyanotrasen/Research/SophicScribe/SophicScribeComponent.cs
  Content.Server/Nyanotrasen/Research/SophicScribe/SophicScribeSystem.cs
  Resources/Locale/en-US/nyanotrasen/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Textures/Interface/glimmerGraph.png
  Resources/Textures/Nyanotrasen/Icons/psi.rsi/meta.json
  Resources/Textures/Nyanotrasen/Icons/psi.rsi/psi.png
  Resources/Textures/Nyanotrasen/Objects/Devices/cartridge.rsi/cart-psi.png
  Resources/Textures/Nyanotrasen/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#220 Disable immovable rod event
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#223 Updates migrations
  Resources/Prototypes/Tiles/tile_migrations.yml
  Resources/migration.yml
Labels: No C#

#224 Re-adds directional tinted windows
  Resources/Prototypes/DeltaV/Entities/Structures/Windows/tinted_windows.yml
  Resources/migration.yml
Labels: No C#

#167 Benches & Sofas
  Resources/Prototypes/SimpleStation14/benches.yml
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/arm_left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/arm_right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/arm_left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/arm_right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/corner.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/arm_left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/arm_right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/corner.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/meta.json
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/middle.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#212 Update Edge
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: No C#, Changes: Map

#228 Give Chapel access to Mystagogue
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: No C#

#218 fixes to pebble
  Resources/Maps/pebble.yml
Labels: No C#, Changes: Map

#230 Make nuclear operative commander whitelisted
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: No C#

#190 Add Laika and security dogs
  Resources/Locale/en-US/deltav/prototypes/catalog/cargo/cargo-armory.ftl
  Resources/Locale/en-US/deltav/prototypes/catalog/cargo/cargo-livestock.ftl
  Resources/Locale/en-US/deltav/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/DeltaV/InventoryTemplates/secdog_inventory_template.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Textures/Clothing/Eyes/Glasses/meson.rsi/equipped-EYES-secdog.png
  Resources/Textures/Clothing/Eyes/Glasses/meson.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/equipped-EYES-secdog.png
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/sunglasses.rsi/equipped-EYES-secdog.png
  Resources/Textures/Clothing/Eyes/Glasses/sunglasses.rsi/meta.json
  Resources/Textures/Clothing/Mask/breath.rsi/equipped-MASK-secdog.png
  Resources/Textures/Clothing/Mask/breath.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Pets/secdog.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Pets/secdog.rsi/secdog.png
  Resources/Textures/DeltaV/Mobs/Pets/secdog.rsi/secdog_crit.png
  Resources/Textures/DeltaV/Mobs/Pets/secdog.rsi/secdog_dead.png
  Resources/Textures/Objects/Tanks/anesthetic.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/anesthetic.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/emergency.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_double.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/emergency_double.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_yellow.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/emergency_yellow.rsi/meta.json
  Resources/Textures/Objects/Tanks/generic.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/generic.rsi/meta.json
  Resources/Textures/Objects/Tanks/oxygen.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/oxygen.rsi/meta.json
  Resources/Textures/Objects/Tanks/red.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/red.rsi/meta.json
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/yellow.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#210 Fixed the Visibility of 'Go Back' on Telegnostic Projections
  Content.Shared/Eye/VisibilityFlags.cs
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
Labels: Status: Needs Review

#231 Adds map cleaning tool
  Tools/Nyanotrasen/TidyToolHowTo.txt
  Tools/Nyanotrasen/tidy_map.py
Labels: No C#

#229 Allow antag on Service Worker
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
Labels: No C#

#217 Carrying system.
  Content.Server/Nyanotrasen/Carrying/BeingCarriedComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarriableComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarryingComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingDoAfterEvent.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingSlowdownComponent.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingSlowdownSystem.cs
  Resources/Locale/en-US/nyanotrasen/carrying/carry.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Status: Needs Review

#243 Changelog locale
  Resources/Locale/en-US/deltav/changelog/changelog-window.ftl
Labels: No C#

#233 Fix the wrong nukeops whitelist
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: No C#

#244 Remove the normal random sentience event
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#262 Removes Prisoner selection from maps
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/tortuga.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#, Changes: Map

#250 Change radio channel from Supply to Logistics
  Resources/Locale/en-US/headset/headset-component.ftl
Labels: No C#

#242 Update armor.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/armor.yml
Labels: No C#

#263 Hotfixes for Harpies
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
Labels: No C#

#254 Bloats the ClothesMate and AutoDrobe again
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: No C#

#265 Update REV guidebook to replace RD and QM with MG and LO
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
Labels: No C#

#264 Delta-V Round Weights
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#268 Fix Felinid not being able to eat
  Resources/Prototypes/DeltaV/Body/Organs/vulpkanin.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/felinid.yml
Labels: No C#

#271 Removes another wild mention of quartermaster
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/Signs/posters.yml
Labels: No C#

#267 Gives vulpkanin a custom speechverb
  Resources/Locale/en-US/deltav/chat/managers/chat_manager.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/Voice/speech_verbs.yml
Labels: No C#

#273 Update word_replacements.yml
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#

#275 Adjusted shuttle times
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: No C#

#276 Brings back 2 classics hair
  Resources/Locale/en-US/deltav/accessories/hair.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/hair.yml
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/bobclassic.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/messyclassic.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/meta.json
Labels: No C#, Changes: Sprites

#287 Readds the mantis stamp sprite
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-mantis.png
Labels: No C#, Changes: Sprites

#281 Readd donk pocket shipments
  Resources/Locale/en-US/deltav/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/en-US/deltav/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/food.yml
Labels: No C#

#279 Replace the last standing mention of zorkmid
  Resources/Locale/en-US/Mail/mail.ftl
Labels: No C#

#280 Make the mothplushie scream and squeak again
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#293 Minor buff to the mindbreaker .38
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/special.yml
Labels: No C#

#295 Update Alert Level Text
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
Labels: No C#

#296 Updating Butlertron's Sprite.
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-1.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-2.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-3.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-4.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-impatient1.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-impatient2.png
Labels: No C#, Changes: Sprites

#302 Psychic Birbs & Doggos
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/vulpkanin.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/SoundCollections/harpy.yml
Labels: No C#

#311 Fixes Tortuga evac being unpowered AND ADDS ARENA STATION!
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/NTES_Seal.yml
  Resources/Maps/Shuttles/NTES_UCLB.yml
  Resources/Maps/arena.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/arena.yml
Labels: Changes: Map

#312 Fix missing drink locale
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/en-US/nyanotrasen/reagents/meta/consumable/drink/alcohol.ftl
Labels: No C#

#313 Brigmedic Reimplementation
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/backpacks.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/duffelbag.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/satchel.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/DeltaV/Roles/play_time_trackers.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#

#314 Update secret_weights.yml
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#294 pebble fixes 2.0
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: No C#, Changes: Map

#288 Fixes MG missing telepathic chat and dispel power
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: No C#

#321 Remove glorius death
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: No C#

#318 Double bladed energy sword tweaks
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: No C#

#323 Update e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: No C#

#316 Rename and refit brigmedic
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/backpacks.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/duffelbag.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/satchel.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/DeltaV/Clothing/Back/Backpacks/brigmedic.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Clothing/Back/Backpacks/brigmedic.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Back/Backpacks/brigmedic.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Back/Backpacks/brigmedic.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Back/Backpacks/brigmedic.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Back/Duffels/brigmedic.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Clothing/Back/Duffels/brigmedic.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Back/Duffels/brigmedic.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Back/Duffels/brigmedic.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Back/Duffels/brigmedic.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Back/Satchels/brigmedic.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Clothing/Back/Satchels/brigmedic.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Back/Satchels/brigmedic.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Back/Satchels/brigmedic.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Back/Satchels/brigmedic.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Belt/corpsman.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Clothing/Belt/corpsman.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Belt/corpsman.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Belt/corpsman.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Belt/corpsman.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_corpsman.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_corpsman.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_corpsman.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_corpsman.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/beret_corpsman.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/meta.json
Labels: No C#, Changes: Sprites

#322 Map Hotfix
  Resources/Maps/arena.yml
Labels: No C#, Changes: Map

#326 Disable the Silver Golem research for now
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
Labels: No C#

#332 Change Uplink Cat Ears price back to 4 from 26
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#333 Corpsman PDA and Headset sprite update
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/securitymedical.rsi/equipped-EARS.png
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/securitymedical.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/securitymedical.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/pda-corpsman.png
Labels: No C#, Changes: Sprites
