Repository DeltaV-Station/Delta-v, pull requests merged in 2023-06, with the labels that each got.

#49 Nerf assault robots
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/replicated.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: No C#

#50 Added ghost-bar.yml
  Resources/Maps/Misc/ghost-bar.yml
Labels: Status: Needs Review, No C#

#55 Update security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#

#53 Map dead bar
  Resources/Maps/Misc/ghost-bar.yml
Labels: No C#

#35 Slime can have a sex(not erp) again
  Resources/Prototypes/Species/slime.yml
Labels: No C#

#60 Disable 2 ambience sounds
  Resources/Prototypes/audio.yml
Labels: No C#

#61 Changelog bot
  .github/workflows/changelog.yml
  Tools/changelog/changelog.js
  Tools/changelog/package.json
Labels: No C#

#51 Adding a small part of the ghost bar system early
  Content.Server/DeltaV/Ghost/Roles/Components/GhostRoleCharacterSpawnerComponent.cs
  Content.Server/DeltaV/Ghost/Roles/GhostRoleCharacterSystem.cs
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
Labels: Status: Needs Review

#71 Ghost roles, couple of changes.
  Resources/Maps/Misc/ghost-bar.yml
Labels: Status: Needs Review, No C#

#70 Tweak Typewriter, add guns to cargo
  Resources/Audio/DeltaV/Weapons/Guns/Gunshots/typewriter.ogg
  Resources/Audio/DeltaV/license.txt
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-armory.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/secformal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/mobster.png
Labels: Changes: Sprites, Status: Needs Review, No C#

#72 Reverts Atmos Tech Syndie possibility
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
Labels: No C#

#73 Add the ability to set an outfit on ghostrolecharacterspawner
  Content.Server/DeltaV/Ghost/Roles/Components/GhostRoleCharacterSpawnerComponent.cs
  Content.Server/DeltaV/Ghost/Roles/GhostRoleCharacterSystem.cs
Labels: Status: Needs Review

#76 Add LRP server Rules
  Resources/ServerInfo/RulesLRP.txt
Labels: No C#

#77 Ghost Map Update
  Resources/Maps/Misc/ghost-bar.yml
  Resources/Maps/Misc/ghost-hotel-day.yml
Labels: Status: Needs Review, No C#

#80 added new central command coat
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Textures/DeltaV/Clothing/OuterClothing/WinterCoats/cc_warden_winter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/WinterCoats/cc_warden_winter_coat.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/WinterCoats/cc_warden_winter_coat.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/WinterCoats/cc_warden_winter_coat.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/WinterCoats/cc_warden_winter_coat.rsi/meta.json
Labels: Changes: Sprites, No C#

#79 Gunmetal
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/posters.yml
  Resources/Prototypes/DeltaV/Flavors/flavors.yml
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/DeltaV/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/leatherjacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/leatherjacket.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/leatherjacket.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/leatherjacket.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Coats/leatherjacket.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/sober.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/sober.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/sober.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/sober.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/sober.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/arsonist.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/arsonist.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/daiquiri.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/daiquiri.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/greengrass.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/greengrass.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/gunmetal.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/gunmetal.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/lemondrop.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/lemondrop.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/moonshine.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/moonshine.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/moonshinebottle.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/moonshinebottle.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/TJohnson.rsi/fuckaround.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/TJohnson.rsi/meta.json
Labels: Changes: Sprites, No C#
