Repository DeltaV-Station/Delta-v, pull requests merged in 2023-09, with the labels that each got.

#1 Update basic stuff
  README.md
  Resources/ServerInfo/AssDayRules.txt
  Resources/ServerInfo/RedialAddresses.txt
  Resources/ServerInfo/RedialAddressesCentral.txt
  Resources/ServerInfo/Rules.txt
  Resources/ServerInfo/RulesLRP.txt
  Resources/Textures/Logo/icon-license.txt
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/manifest.yml
Labels: No C#

#6 Short bedhead
  Resources/Locale/en-US/deltav/accessories/hair.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/hair.yml
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/short_bedhead.png
Labels: No C#, Changes: Sprites

#11 Add automatic changelogs
  .github/workflows/changelog.yml
  Resources/Changelog/DeltaVChangelog.yml
  Tools/changelog/changelog.js
  Tools/changelog/package.json
Labels: No C#

#14 Moth plushies
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/toys.yml
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff1.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff10.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff11.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff12.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff13.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff14.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff2.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff3.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff4.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff5.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff6.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff7.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff8.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moff9.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moffbartender.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Toys/moff.rsi/moffmusician.png
Labels: No C#, Changes: Sprites

#13 Adds a lot of DeltaV objects, textures, and others
  Resources/Audio/DeltaV/Animals/capybara.ogg
  Resources/Audio/DeltaV/Weapons/Guns/Gunshots/typewriter.ogg
  Resources/Prototypes/DeltaV/Entities/GameRules/events.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/Syndicate_Gadgets/borg_beacon.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/replicated.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/replicated.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/posters.yml
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/oracle-0.png
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/oracle-1.png
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/oracle-10.png
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/oracle-2.png
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/oracle-3.png
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/oracle-4.png
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/oracle-5.png
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/oracle-6.png
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/oracle-7.png
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/oracle-8.png
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/oracle-9.png
  Resources/Textures/DeltaV/Objects/Structures/Decoration/statues.rsi/sophie.png
  Resources/Textures/DeltaV/Objects/Structures/Wallmounts/Posters/TJohnson.rsi/fuckaround.png
  Resources/Textures/DeltaV/Objects/Structures/Wallmounts/Posters/TJohnson.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/viperwood.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/viperwood.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Revolvers/webleysnubnose.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Revolvers/webleysnubnose.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/vulcan.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/vulcan.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/SMGs/typewriter.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/SMGs/typewriter.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/Adjutant.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/Adjutant.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-0.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-1.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-10.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-2.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-3.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-4.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-5.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-6.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-7.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-8.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/oracle-9.png
  Resources/Textures/DeltaV/Structures/Decoration/statues.rsi/sophie.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/TJohnson.rsi/fuckaround.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/TJohnson.rsi/meta.json
Labels: No C#, Changes: Sprites

#9 Mothroaches
  Resources/Locale/en-US/nyanotrasen/accent/accents.ftl
  Resources/Locale/en-US/nyanotrasen/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Nyanotrasen/Accents/full_replacements.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Crafting/Graphs/fun/mothplushie.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Crafting/fun.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_sounds.yml
  Resources/Prototypes/Nyanotrasen/tags.yml
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/0-equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/icon.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/mothroach.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/mothroach_dead.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/mothroach_lazy.png
  Resources/Textures/Nyanotrasen/Mobs/Animals/mothroach.rsi/mothroach_sleep.png
  Resources/Textures/Nyanotrasen/Objects/Materials/mothroach.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Materials/mothroach.rsi/mothroachhide.png
Labels: No C#, Changes: Sprites

#10 Siobhan, Mystagogue's Arctic Fox
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/DeltaV/Mobs/Pets/arcticfox.rsi/arcticfox.png
  Resources/Textures/DeltaV/Mobs/Pets/arcticfox.rsi/arcticfox_crit.png
  Resources/Textures/DeltaV/Mobs/Pets/arcticfox.rsi/arcticfox_dead.png
  Resources/Textures/DeltaV/Mobs/Pets/arcticfox.rsi/meta.json
Labels: No C#, Changes: Sprites

#8 Update attributions.yml
  Resources/Audio/Announcements/RoundEnd/attributions.yml
  Resources/Audio/Lobby/attributions.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: No C#

#15 Moth foods fixes
  Resources/Locale/en-US/deltav/reagents/consumable/food/condiments.ftl
  Resources/Prototypes/DeltaV/Recipes/Reactions/food.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/salad.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ingredients.rsi/bechamel-1.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ingredients.rsi/bechamel-2.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ingredients.rsi/bechamel-3.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ingredients.rsi/condimentbowl.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ingredients.rsi/pesto-1.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ingredients.rsi/pesto-2.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ingredients.rsi/pesto-3.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ingredients.rsi/tomatosauce-1.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ingredients.rsi/tomatosauce-2.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/ingredients.rsi/tomatosauce-3.png
Labels: No C#, Changes: Sprites

#20 Adjusted Erroneous folders
  Resources/Locale/en-US/deltav/catalog/armory-crates.ftl
  Resources/Locale/en-US/deltav/catalog/cargo/cargo-armory.ftl
  Resources/Locale/en-US/deltav/catalog/fills/armory-crates.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Datasets/Names/vulpkanin_female.yml
  Resources/Prototypes/DeltaV/Datasets/Names/vulpkanin_last.yml
  Resources/Prototypes/DeltaV/Datasets/Names/vulpkanin_male.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/robes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/psionic_clothing.yml
  Resources/Prototypes/Nyanotrasen/Entities/Effects/lightning.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Nyanotrasen/Mobs/Pets/whiteferret.rsi/ferret.png
  Resources/Textures/Nyanotrasen/Mobs/Pets/whiteferret.rsi/ferret_dead.png
  Resources/Textures/Nyanotrasen/Mobs/Pets/whiteferret.rsi/ferret_lazy.png
  Resources/Textures/Nyanotrasen/Mobs/Pets/whiteferret.rsi/meta.json
Labels: No C#, Changes: Sprites

#22 Pride-o-mat and refill for it
  Resources/Locale/en-US/deltav/advertisements/vending/pride.yml
  Resources/Locale/en-US/deltav/catalog/cargo/cargo-vending.ftl
  Resources/Locale/en-US/deltav/catalog/fills/crates/vending-crates.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Advertisements/pride.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/base.png
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/green_bit.png
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/refill_pride.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/broken.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/normal-unshaded.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/off.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/panel.png
Labels: No C#, Changes: Sprites

#23 Nyano walls
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window.yml
  Resources/Textures/Nyanotrasen/Structures/Walls/drywall.rsi/drywall0.png
  Resources/Textures/Nyanotrasen/Structures/Walls/drywall.rsi/drywall1.png
  Resources/Textures/Nyanotrasen/Structures/Walls/drywall.rsi/drywall2.png
  Resources/Textures/Nyanotrasen/Structures/Walls/drywall.rsi/drywall3.png
  Resources/Textures/Nyanotrasen/Structures/Walls/drywall.rsi/drywall4.png
  Resources/Textures/Nyanotrasen/Structures/Walls/drywall.rsi/drywall5.png
  Resources/Textures/Nyanotrasen/Structures/Walls/drywall.rsi/drywall6.png
  Resources/Textures/Nyanotrasen/Structures/Walls/drywall.rsi/drywall7.png
  Resources/Textures/Nyanotrasen/Structures/Walls/drywall.rsi/full.png
  Resources/Textures/Nyanotrasen/Structures/Walls/drywall.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Walls/paper.rsi/full.png
  Resources/Textures/Nyanotrasen/Structures/Walls/paper.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Walls/paper.rsi/paperwall0.png
  Resources/Textures/Nyanotrasen/Structures/Walls/paper.rsi/paperwall1.png
  Resources/Textures/Nyanotrasen/Structures/Walls/paper.rsi/paperwall2.png
  Resources/Textures/Nyanotrasen/Structures/Walls/paper.rsi/paperwall3.png
  Resources/Textures/Nyanotrasen/Structures/Walls/paper.rsi/paperwall4.png
  Resources/Textures/Nyanotrasen/Structures/Walls/paper.rsi/paperwall5.png
  Resources/Textures/Nyanotrasen/Structures/Walls/paper.rsi/paperwall6.png
  Resources/Textures/Nyanotrasen/Structures/Walls/paper.rsi/paperwall7.png
  Resources/Textures/Nyanotrasen/Structures/Walls/shuttleinterior.rsi/full.png
  Resources/Textures/Nyanotrasen/Structures/Walls/shuttleinterior.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Walls/shuttleinterior.rsi/state0.png
  Resources/Textures/Nyanotrasen/Structures/Walls/shuttleinterior.rsi/state1.png
  Resources/Textures/Nyanotrasen/Structures/Walls/shuttleinterior.rsi/state2.png
  Resources/Textures/Nyanotrasen/Structures/Walls/shuttleinterior.rsi/state3.png
  Resources/Textures/Nyanotrasen/Structures/Walls/shuttleinterior.rsi/state4.png
  Resources/Textures/Nyanotrasen/Structures/Walls/shuttleinterior.rsi/state5.png
  Resources/Textures/Nyanotrasen/Structures/Walls/shuttleinterior.rsi/state6.png
  Resources/Textures/Nyanotrasen/Structures/Walls/shuttleinterior.rsi/state7.png
Labels: No C#, Changes: Sprites

#26 Nyano wallmounts
  Resources/Locale/en-US/nyanotrasen/barsign/barsign-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/paintings.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Wallmount/bar_sign.yml
  Resources/Prototypes/Nyanotrasen/Entities/Wallmount/paintings.yml
  Resources/Prototypes/Nyanotrasen/Entities/Wallmount/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Wallmount/signs.yml
  Resources/Prototypes/Nyanotrasen/bar_signs.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Paintings/wabungus.rsi/bigcatch.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Paintings/wabungus.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/CerebralError.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/CerebralError.rsi/poster_ChknDnnr.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/BAR.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/BotanyFood.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/BreadLies.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/DONK.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/EATMEAT.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/MoreBread.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/PIE.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/PIZZA.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Huvy.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Hyenh.rsi/glaciermap.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Hyenh.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Hyenh.rsi/northwaymap.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Hyenh.rsi/shoukoumap.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Hyenh.rsi/shoukouposter.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/arenamap.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/poster_medicate.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Velcroboy.rsi/poster_notouching.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Vordenburg.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Vordenburg.rsi/poster_dejavu.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Vordenburg.rsi/poster_dontpanic.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/Vordenburg.rsi/poster_saucer1.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/conspiracy_board.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/conspiracy_board.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/doujou.rsi/doujousign.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/doujou.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/last_idiot.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/last_idiot.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/court.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/law.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/sec.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/klubskub.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/barsign.rsi/whiskeyechoes.png
Labels: No C#, Changes: Sprites

#35 Paramedic update
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
Labels: No C#

#39 Nyano furniture
  Resources/Audio/Nyanotrasen/Ambience/Objects/deepfryer_sizzling.ogg
  Resources/Audio/Nyanotrasen/Ambience/Objects/prober_hum_dangerous.ogg
  Resources/Audio/Nyanotrasen/Ambience/Objects/prober_hum_high.ogg
  Resources/Audio/Nyanotrasen/Ambience/Objects/prober_hum_low.ogg
  Resources/Audio/Nyanotrasen/Ambience/Objects/prober_hum_moderate.ogg
  Resources/Audio/Nyanotrasen/Ambience/Objects/revMachine_ambience.ogg
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Nyanotrasen/Entities/Furniture/Tables/tables.yml
  Resources/Prototypes/Nyanotrasen/Entities/Furniture/tatami.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/altars.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/glimmerdevices.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/tatami.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/furniture.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/machines.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/full.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_0.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_1.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_2.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_3.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_4.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_5.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_6.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/Tables/rwood.rsi/state_7.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/tatami.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Furniture/tatami.rsi/tatami_1x1.png
  Resources/Textures/Nyanotrasen/Structures/Furniture/tatami.rsi/tatami_1x1P.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/base.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/drain.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/intermediate.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/powered.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_1.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_2.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_3.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_4.png
  Resources/Textures/Nyanotrasen/Structures/Machines/glimmer_machines.rsi/prober_glimmer_fx_5.png
Labels: No C#, Changes: Sprites

#33 Got wood? poster + file placement fix
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/posters.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/paintings.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/misc.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/misc.rsi/woodygotwood.png
Labels: No C#, Changes: Sprites

#27 Remove Declaration of War
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#

#31 No natural clown spider
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#28 Oni Morphotype from nyanotrasen
  Content.Server/Nyanotrasen/Abilities/Oni/HeldbyOniComponent.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniComponent.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniSystem.cs
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Locale/en-US/nyanotrasen/abilities/Oni.ftl
  Resources/Locale/en-US/nyanotrasen/markings/Oni.ftl
  Resources/Locale/en-US/nyanotrasen/species/namepreset.ftl
  Resources/Locale/en-US/nyanotrasen/species/species.ftl
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Datasets/Names/oni_female.yml
  Resources/Prototypes/Nyanotrasen/Datasets/Names/oni_location.yml
  Resources/Prototypes/Nyanotrasen/Datasets/Names/oni_male.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Species/species_weights.yml
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/double_curved.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/double_curved_outwards.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/double_left_broke_curved.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/double_right_broke_curved.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/single_curved.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/single_left_curved.png
  Resources/Textures/Nyanotrasen/Mobs/Customization/oni_horns.rsi/single_right_curved.png
Labels: Changes: Sprites

#32 Clown EVA suit
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#34 Boxing Drobe
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/boxingdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/boxingdrobe.rsi/broken.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/boxingdrobe.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/boxingdrobe.rsi/normal-unshaded.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/boxingdrobe.rsi/off.png
  Resources/Textures/Nyanotrasen/Structures/Machines/VendingMachines/boxingdrobe.rsi/panel.png
Labels: No C#, Changes: Sprites

#41 Replace Tinned Can starter item
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ration.yml
Labels: No C#

#37 [minor] add the renault/siobhan toys to spawners
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
Labels: No C#

#29 Remove bold names from rich text
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
Labels: No C#

#36 zero toy
  Resources/Prototypes/DeltaV/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Textures/DeltaV/Objects/Fun/Toys/zerotoy.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Fun/Toys/zerotoy.rsi/meta.json
Labels: No C#, Changes: Sprites

#48 Prepare workflows for test publishes
  .github/workflows/publish.yml
  Tools/gen_build_info.py
Labels: No C#

#49 1984 the squished sprite specie
  Resources/Prototypes/Species/dwarf.yml
Labels: No C#

#30 Cadet doesn't get a gun and SecOffs only gets the gun with non lethals
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#, Status: Needs Review

#43 Role time requirements
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#25 Removes Senior Roles
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Prototypes/Maps/aspid.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/kettle.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
Labels: No C#, Status: Needs Review, Changes: Map

#50 Remove Ian killing objective
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: No C#

#56 [minor] Move armory and vending locales in proper folders
  Resources/Locale/en-US/deltav/catalog/fills/armory-crates.ftl
  Resources/Locale/en-US/deltav/prototypes/catalog/cargo/cargo-armory.ftl
  Resources/Locale/en-US/deltav/prototypes/catalog/cargo/cargo-vending.ftl
  Resources/Locale/en-US/deltav/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Locale/en-US/deltav/prototypes/catalog/fills/crates/vending-crates.ftl
Labels: No C#

#52 [minor] Forgot some mail carrier stuff
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: No C#

#54 Fill pockets with bee. Drink bee.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#55 Grilled cheese
  Resources/Prototypes/DeltaV/Entities/Consumable/Food/meals.yml
  Resources/Prototypes/DeltaV/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/grilledcheese.rsi/grilledcheese.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/grilledcheese.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/grilledcheese.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/Baked/grilledcheese.rsi/meta.json
Labels: No C#, Changes: Sprites

#57 Add orders access level
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Locale/en-US/deltav/prototypes/access/accesses.ftl
  Resources/Locale/en-US/nyanotrasen/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/cargo.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/DeltaV/Access/cargo.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Nyanotrasen/Access/cargo.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: Status: Needs Review

#59 [minor] fix missing pseudoitem locale
  Resources/Locale/en-US/nyanotrasen/items/components/pseudoitem-component.ftl
Labels: No C#

#58 HoL steal objective
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/first_bill.yml
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/Textures/DeltaV/Objects/Misc/first_bill.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Misc/first_bill.rsi/meta.json
Labels: No C#, Changes: Sprites

#62 Fake wizard robes and sandals
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Shoes/misc.yml
Labels: No C#

#64 Missing map stuff part 1
  Content.Client/Nyanotrasen/Laundry/LaundryVisuals.cs
  Content.Server/Nyanotrasen/Laundry/LaundrySystem.cs
  Content.Shared/Nyanotrasen/Laundry/SharedLaundry.cs
  Resources/Audio/Nyanotrasen/Machines/attributions.yml
  Resources/Audio/Nyanotrasen/Machines/washer_close.ogg
  Resources/Audio/Nyanotrasen/Machines/washer_open.ogg
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/laundry.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/bar_sign.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/paintings.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/posters.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Wallmounts/signs.yml
  Resources/Textures/Nyanotrasen/Objects/Devices/Holoprojectors/eng.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Devices/Holoprojectors/eng.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Holo/eng.rsi/icon.png
  Resources/Textures/Nyanotrasen/Structures/Holo/eng.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/washer.rsi/broken-base.png
  Resources/Textures/Nyanotrasen/Structures/Machines/washer.rsi/broken-closed.png
  Resources/Textures/Nyanotrasen/Structures/Machines/washer.rsi/broken-open.png
  Resources/Textures/Nyanotrasen/Structures/Machines/washer.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/washer.rsi/normal-base.png
  Resources/Textures/Nyanotrasen/Structures/Machines/washer.rsi/normal-closed.png
  Resources/Textures/Nyanotrasen/Structures/Machines/washer.rsi/normal-open.png
  Resources/Textures/Nyanotrasen/Structures/Machines/washer.rsi/stuff.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_0.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_1.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_11.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_2.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_4.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/Posters/safetymoth.rsi/safetymoth_9.png
  Resources/migration.yml
Labels: Changes: Sprites

#66 Reimplement cargo pallet selling
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
Labels: Status: Needs Review

#60 Readd character ghost role spawners
  Content.Server/DeltaV/Ghost/Roles/Components/GhostRoleCharacterSpawnerComponent.cs
  Content.Server/DeltaV/Ghost/Roles/GhostRoleSystem.Character.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
Labels: Status: Needs Review

#63 Real Wizard Robes are space proof
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
Labels: No C#

#70 [minor] Removes ID card duplicate sprites
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/blue-inhand-left.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/blue-inhand-right.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/centcom.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/default-inhand-left.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/default-inhand-right.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/default.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/gold-inhand-left.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/gold-inhand-right.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/gold.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/orange-inhand-left.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/orange-inhand-right.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/orange.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/silver-inhand-left.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/silver-inhand-right.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/silver.png
Labels: No C#, Changes: Sprites

#61 Butlertron
  Content.Server/DeltaV/NPC/Roboisseur/RoboisseurComponent.cs
  Content.Server/DeltaV/NPC/Roboisseur/RoboisseurSystem.cs
  Resources/Locale/en-US/deltav/roboisseur/roboisseur.ftl
  Resources/Prototypes/DeltaV/NPC/roboisseur.yml
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-1.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-2.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-3.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-4.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-impatient1.png
  Resources/Textures/DeltaV/Structures/Machines/roboisseur.rsi/roboisseur-impatient2.png
Labels: Changes: Sprites, Status: Needs Review
