Repository DeltaV-Station/Delta-v, pull requests merged in 2023-12, with the labels that each got.

#495 Revert "Allow nuclear operatives to buy deswords"
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#494 Shoukou readjustments.
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#496 Updated reporter rooms in two maps
  Resources/Maps/edge.yml
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#486 Allow mindshield implants to be removed
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, Status: Needs Review

#503 Remove disposals instagib
  Content.Shared/Materials/SharedMaterialReclaimerSystem.cs
Labels: Changes: C#

#523 Update cargo_armory.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_armory.yml
Labels: Changes: YML, Status: Needs Review

#518 Add some missing reagent descriptions
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
Labels: Status: Needs Review, Changes: Localization

#521 Port spider parts from Nyano
  Resources/Prototypes/Nyanotrasen/Entities/Body/Parts/spider.yml
  Resources/migration.yml
Labels: Changes: YML, Status: Needs Review

#510 Prevent shooting while inside a duffelbag
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Status: Needs Review, Changes: C#

#511 Bring back the prisoner role
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Spawners/EntitySystems/SpawnPointSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Maps/asterisk.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Maps/tortuga.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Status: Needs Review, Changes: Map, Changes: C#

#400 Nyano port of digging
  Content.Server/Nyanotrasen/Digging/DiggingSystem.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Maps/TileSystem.cs
  Content.Shared/Nyanotrasen/Digging/DiggingEvents.cs
  Content.Shared/Nyanotrasen/Digging/EarthDiggingComponent.cs
  Resources/Audio/Nyanotrasen/Items/attributions.yml
  Resources/Audio/Nyanotrasen/Items/shovel_dig.ogg
  Resources/Locale/en-US/nyanotrasen/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Nyanotrasen/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Nyanotrasen/Tiles/floors.yml
  Resources/Prototypes/Nyanotrasen/tool_qualities.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/planet.yml
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/bedrock-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/bedrock-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/bedrock.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/dirt-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/dirt-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/dirt.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grassdark-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grassdark-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grassdark.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grassjungle-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grassjungle-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grasslight-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grasslight-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grasslight.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/meta.json
  Resources/Textures/Nyanotrasen/Tiles/bedrock.png
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization, Changes: Sprite

#468 Food cart storage buff
  Resources/Prototypes/Entities/Objects/Specific/Kitchen/foodcarts.yml
Labels: Changes: YML, Status: Needs Review

#515 Added Mouse Ops...again 🐭
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/deltav/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/deltav/store/uplink-catalog.ftl
  Resources/Prototypes/Datasets/Names/mouse_death_commando.yml
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/nukiemouse.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Textures/DeltaV/Mobs/Animals/nukiemouse.rsi/dead.png
  Resources/Textures/DeltaV/Mobs/Animals/nukiemouse.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Mobs/Animals/nukiemouse.rsi/icon.png
  Resources/Textures/DeltaV/Mobs/Animals/nukiemouse.rsi/inhand-left.png
  Resources/Textures/DeltaV/Mobs/Animals/nukiemouse.rsi/inhand-right.png
  Resources/Textures/DeltaV/Mobs/Animals/nukiemouse.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Animals/nukiemouse.rsi/mouse.png
  Resources/Textures/DeltaV/Mobs/Animals/nukiemouse.rsi/splat.png
  Resources/Textures/DeltaV/Objects/Devices/communication.rsi/cheese-radio.png
  Resources/Textures/DeltaV/Objects/Devices/communication.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#528 Prisoners require whitelist
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: YML, Status: Needs Review

#545 Blacklisted Syrinx Implant from Surplus Bundles
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#548 Station grid physics dampening
  Resources/Maps/asterisk.yml
  Resources/Maps/edge.yml
  Resources/Maps/pebble.yml
Labels: Status: Needs Review, Changes: Map

#554 Move paramedic windoor to Delta V directory
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
Labels: Changes: YML, Status: Needs Review

#541 Carp fillet's are now Sushi-Grade
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
Labels: Changes: YML, Status: Needs Review

#527 Straw hat
  Resources/Prototypes/DeltaV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/Graphs/strawhat.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/improvised.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Textures/DeltaV/Clothing/Head/Hats/straw_hat.rsi/equipped-HELMET-hamster.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/straw_hat.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/straw_hat.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/straw_hat.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/straw_hat.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Hats/straw_hat.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#555 Remove non-salvage testing map from pool
  Resources/Prototypes/Maps/salvage.yml
Labels: Status: Needs Review, Changes: Map

#550 Adds laundromat chunk to salvage pool
  Resources/Maps/Salvage/DeltaV/DV-laundromat-chunk.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: Status: Needs Review, Changes: Map

#542 Added Fish n' Chips
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
Labels: Changes: YML, Status: Needs Review

#543 Make felinids meow it instead of sayin it.
  Resources/Locale/en-US/deltav/chat/managers/chat_manager.ftl
  Resources/Prototypes/DeltaV/Voice/speech_verbs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#540 This fixes the birb gasping
  Resources/Prototypes/DeltaV/Body/Organs/harpy.yml
Labels: Changes: YML, Status: Needs Review

#536 puller
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/nukiemouse.yml
Labels: Changes: YML, Status: Needs Review

#547 Bags of holding recipe tweak
  Resources/Prototypes/Recipes/Lathes/devices.yml
Labels: Changes: YML, Status: Needs Review

#558 Remove completely randomly selected items from the christmas trees
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: Changes: YML, Status: Needs Review

#568 Allows non-wizden species to wear the new markings.
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
Labels: Changes: YML, Status: Needs Review

#569 Allow vulpkaning to sigh.
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
Labels: Changes: YML, Status: Needs Review

#576 fix: update job descriptions
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/nyanotrasen/job/job-description.ftl
Labels: Status: Needs Review, Changes: Localization

#579 Update spawners
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_single.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_snacks.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/techboard.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/animals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boardgames.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/books.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/seeds.yml
Labels: Changes: YML, Status: Needs Review

#573 Add Space Cobras to spawners
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/mobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/space.yml
Labels: Changes: YML, Status: Needs Review

#563 add fishops book
  Resources/Locale/en-US/paper/book-salvage.ftl
  Resources/Prototypes/Catalog/Fills/Books/lore.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/books.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#535 Fix unlocalized name deep-fried-burnt-item
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
Labels: Status: Needs Review, Changes: C#

#570 HoP gets back his armored coat
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, Status: Needs Review

#586 nerf loneop and ninja spawn rate
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, Status: Needs Review

#581 deep frier slice fix
  Content.Server/DeltaV/Nutrition/Events.cs
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
Labels: Status: Needs Review, Changes: C#

#538 Ectoplasm fix for normality crystals
  Resources/Locale/en-US/nyanotrasen/reagents/toxins.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#590 Added rules for Smile
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#591 Reverts New E-Sword Sprites
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_sword.rsi/inhand-left-blade.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_sword.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_sword.rsi/inhand-right-blade.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_sword.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/e_sword.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#597 bluespace ore bag use bluespace
  Resources/Prototypes/Recipes/Lathes/devices.yml
Labels: Changes: YML, Status: Needs Review

#606 Fix to cyborgs being able to spawn with nearsighted.
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
Labels: Changes: YML, Status: Needs Review

#604 Updates more variation of mraowing.
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#603 Adds more classic hair.
  Resources/Locale/en-US/deltav/accessories/hair.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/hair.yml
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_long.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_long2.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_long3.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#602 Laika changes
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/DeltaV/InventoryTemplates/secdog_inventory_template.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: Changes: YML, Status: Needs Review

#610 Gives oxygen miner to shoukou.
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#464 Crime Assist pda program
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiFragment.xaml.cs
  Content.Server/DeltaV/CartridgeLoader/CrimeAssistCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/CrimeAssistCartridgeSystem.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/CrimeAssistPage.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiState.cs
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/cartridges/crimeassistflow.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Textures/DeltaV/Icons/cri.rsi/cri.png
  Resources/Textures/DeltaV/Icons/cri.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-cri.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: UI, Changes: C#, Changes: Localization, Changes: Sprite

#553 Prevent pseudoitems from being transferred between bags
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Shared/Nyanotrasen/Item/Components/PseudoItemComponent.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: Changes: C#

#598 death to eorg
  Content.Server/DeltaV/RoundEnd/RoundEndSystem.Pacified.cs
Labels: Status: Needs Review, Changes: C#

#608 Scottish Trait
  Content.Server/DeltaV/Speech/Components/ScottishAccentComponent.cs
  Content.Server/DeltaV/Speech/EntitySystems/ScottishAccentSystem.cs
  Resources/Locale/en-US/deltav/accent/scottish.ftl
  Resources/Locale/en-US/deltav/traits/traits.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/DeltaV/Accents/word_replacements.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/DeltaV/Traits/neutral.yml
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/kilt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/kilt.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/kilt.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/kilt.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/kilt.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization, Changes: Sprite

#611 Remove potential psionic from Laika
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: YML, Status: Needs Review

#612 Adjust book spawner
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/books.yml
Labels: Changes: YML, Status: Needs Review

#609 remove throw damage from mail
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
Labels: Changes: YML, Status: Needs Review

#619 fix ftl reference in yaml
  Resources/Prototypes/DeltaV/cartridges/crimeassistflow.yml
Labels: Changes: YML, Status: Needs Review

#433 Fluffy tail for felinids
  Resources/Locale/en-US/deltav/markings/felinid.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/Felinid_fluffy_tail_full.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/felinid_fluffy_tail_rings.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#623 Remove cargo gambling
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
Labels: Changes: YML, Status: Needs Review

#624 Fix Crime Assist incorrect entires and add a test
  Content.IntegrationTests/Tests/DeltaV/CrimeassistTest.cs
  Resources/Prototypes/DeltaV/cartridges/crimeassistflow.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#618 Logistics airlocks sprite fixes
  Resources/Textures/Structures/Doors/Airlocks/Glass/cargo.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/cargo.rsi/open.png
Labels: Status: Needs Review, Changes: Sprite

#578 Listening outpost
  Content.Server/DeltaV/StationEvents/Components/PirateRadioSpawnRuleComponent.cs
  Content.Server/DeltaV/StationEvents/Events/PirateRadioSpawnRule.cs
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Maps/Shuttles/pirateradio.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Ears/headset_alt.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/salvage.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/human.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/syndicate_monitor_server.yml
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/NPC/syndicateNPCs.yml
Labels: Status: Needs Review, Changes: Map, Changes: C#, Changes: Localization

#627 Increase barber scissors' doafter time
  Resources/Prototypes/Entities/Objects/Specific/Service/barber.yml
Labels: Changes: YML, Status: Needs Review
