Repository DeltaV-Station/Delta-v, pull requests merged in 2024-03, with the labels that each got.

#859 Adds Prescription huds
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/DeltaV/Recipes/Construction/Graphs/clothing/prescription_huds.yml
  Resources/Prototypes/DeltaV/Recipes/Construction/clothing.yml
  Resources/Textures/DeltaV/Clothing/Eyes/Hud/prescmedhud.rsi/equipped-EYES.png
  Resources/Textures/DeltaV/Clothing/Eyes/Hud/prescmedhud.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Eyes/Hud/prescmedhud.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Eyes/Hud/prescmedhud.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Eyes/Hud/prescmedhud.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Eyes/Hud/prescsechud.rsi/equipped-EYES.png
  Resources/Textures/DeltaV/Clothing/Eyes/Hud/prescsechud.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Eyes/Hud/prescsechud.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Eyes/Hud/prescsechud.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Eyes/Hud/prescsechud.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#919 make midround antag spawn code better
  Content.Server/Nyanotrasen/StationEvents/Components/MidRoundAntagRuleComponent.cs
  Content.Server/Nyanotrasen/StationEvents/Events/MidRoundAntagRule.cs
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#924 1984 rat kings
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML

#925 Warden whitelist
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: YML, Status: Needs Review

#843 Adjust suffix for red light
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Lighting/base_lighting.yml
Labels: Changes: YML, Status: Needs Review

#927 Map Hotfix: The Hive
  Resources/Maps/hive.yml
Labels: Changes: Map

#922 Pebble minor update
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Status: Needs Review, Changes: Map

#914 Port Nyano's FTL sound
  Content.Server/Shuttles/Components/FTLComponent.cs
  Resources/Audio/DeltaV/Effects/Shuttle/attributions.yml
  Resources/Audio/DeltaV/Effects/Shuttle/hyperspace_progress.ogg
Labels: Changes: YML, Changes: C#

#893 Replace RD mentions with Mystagogue
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
Labels: Changes: YML, Status: Needs Review

#933 Salvage loses their shuttle
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: YML

#934 Update uplink_catalog.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML

#706 More Borg Lawsets
  Resources/Locale/en-US/deltav/station-laws/laws.ftl
  Resources/Prototypes/DeltaV/siliconlaws.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#855 Recipe for the Pumpkin Pie
  Resources/Prototypes/DeltaV/Recipes/Cooking/meal_recipes.yml
Labels: Changes: YML, Status: Needs Review

#865 Fixes the 2 pixels in the fluffy tail.
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/felinid_fluffy_tail_rings.png
Labels: Status: Needs Review, Changes: Sprite

#938 Remove Hive maxpop
  Resources/Prototypes/Maps/hive.yml
Labels: Changes: Map

#930 Revert AME buff
  Content.Server/Ame/AmeNodeGroup.cs
Labels: Status: Needs Review, Changes: C#

#849 Psychologist & Lawyer stamp
  Resources/Locale/en-US/deltav/paper/stamp-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Textures/DeltaV/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/stamps.rsi/stamp-lawyer.png
  Resources/Textures/DeltaV/Objects/Misc/stamps.rsi/stamp-psychologist.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-lawyer.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-psychologist.png
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#715 Prison communications
  Resources/Locale/en-US/deltav/headset/headset-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/DeltaV/radio_channels.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/prisoner.rsi/equipped-EARS.png
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/prisoner.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/prisoner.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/encryption_keys.rsi/crypt_orange.png
  Resources/Textures/DeltaV/Objects/Devices/encryption_keys.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/encryption_keys.rsi/prisoner_label.png
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#846 Energy Gun Rebalancing
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML, Status: Needs Review

#639 Listening Post 2.0
  Content.Server/DeltaV/StationEvents/Components/PirateRadioSpawnRuleComponent.cs
  Content.Server/DeltaV/StationEvents/Events/PirateRadioSpawnRule.cs
  Resources/Maps/Shuttles/DeltaV/DV-pirateradio.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/salvage.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/faxmachines.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/syndicate_monitor_server.yml
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/NPC/syndicateNPCs.yml
  Resources/Prototypes/Entities/Structures/Machines/crew_monitor_server.yml
  Resources/Textures/DeltaV/Structures/Machines/syndicate_fax_machine.rsi/icon.png
  Resources/Textures/DeltaV/Structures/Machines/syndicate_fax_machine.rsi/idle.png
  Resources/Textures/DeltaV/Structures/Machines/syndicate_fax_machine.rsi/inserting.png
  Resources/Textures/DeltaV/Structures/Machines/syndicate_fax_machine.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Machines/syndicate_fax_machine.rsi/printing.png
Labels: Status: Needs Review, Changes: Map, Changes: C#, Changes: Sprite

#854 Personal Protective Equipment - The Polished Version
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemdrobe.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Neck/ties.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/safetyglasses.rsi/equipped-EYES.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/safetyglasses.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/safetyglasses.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/safetyglasses.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/safetyglasses.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Hands/Gloves/hvchemresgloves.rsi/equipped-HAND.png
  Resources/Textures/DeltaV/Clothing/Hands/Gloves/hvchemresgloves.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Hands/Gloves/hvchemresgloves.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Hands/Gloves/hvchemresgloves.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Hands/Gloves/hvchemresgloves.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Neck/Ties/chemtie.rsi/equipped-NECK-hamster.png
  Resources/Textures/DeltaV/Clothing/Neck/Ties/chemtie.rsi/equipped-NECK.png
  Resources/Textures/DeltaV/Clothing/Neck/Ties/chemtie.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Neck/Ties/chemtie.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Neck/Ties/chemtie.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Neck/Ties/chemtie.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Misc/chemapron.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Misc/chemapron.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Misc/chemapron.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Misc/chemapron.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Misc/chemapron.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Shoes/Specific/enclosedshoes.rsi/equipped-FEET.png
  Resources/Textures/DeltaV/Clothing/Shoes/Specific/enclosedshoes.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Shoes/Specific/enclosedshoes.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Shoes/Specific/enclosedshoes.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Shoes/Specific/enclosedshoes.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/chemshirtsuit.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/chemshirtsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/chemshirtsuit.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/chemshirtsuit.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/chemshirtsuit.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/chemshirtsuit.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#871 Cap Gun Crate
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/fun.yml
Labels: Changes: YML, Status: Needs Review

#905 Adds DV fluff to captain's nolaser locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, Status: Needs Review

#884 Makes Vulpkanin able to howl + adds some growling noises
  Resources/Audio/DeltaV/Voice/Vulpkanin/attributions.yml
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_growl4.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_growl5.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/dog_growl6.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/howl.ogg
  Resources/Audio/DeltaV/Voice/Vulpkanin/license.txt
  Resources/Prototypes/DeltaV/SoundCollections/harpy.yml
  Resources/Prototypes/DeltaV/SoundCollections/vulpkanin.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#923 Shoukou's security revamp.
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#661 Implement Ifriit
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: YML, Status: Needs Review

#950 Makes ifriit immune to zombie-fication.
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
Labels: Changes: YML, Status: Needs Review

#767 Adds Delta V station beacons
  Resources/Locale/en-US/deltav/navmap-beacons/station-beacons.ftl
  Resources/Locale/en-US/navmap-beacons/station-beacons.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
Labels: Changes: YML, Status: Needs Review, Status: Do Not Merge, Changes: Localization, Status: Awaiting Changes

#953 minor lawset fixes
  Resources/Locale/en-US/deltav/station-laws/laws.ftl
  Resources/Prototypes/DeltaV/siliconlaws.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#956 Fix some trading post oopsies
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
Labels: Changes: C#

#957 Fix changelog order and admin changelog
  Resources/Changelog/Admin.yml
  Resources/Changelog/Changelog.yml
  Resources/Changelog/DeltaVAdmin.yml
Labels: Changes: YML

#958 Remove bad CL entries and try admin changelogs a second time
  Resources/Changelog/DeltaVChangelog.yml
Labels: Changes: YML

#952 Rules Update
  Resources/ServerInfo/Rules.txt
Labels: Status: Needs Review

#960 Fix Edge Boxer room access
  Resources/Maps/edge.yml
Labels: Status: Needs Review, Changes: Map

#943 pebble hotfix two, eletric boogaloo
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Status: Needs Review, Changes: Map

#964 Map Edits: Arena
  Resources/Maps/arena.yml
Labels: Changes: Map

#944 Add Anti Anomaly Zone
  Resources/Prototypes/DeltaV/Entities/Markers/anti_anomaly_zone.yml
Labels: Changes: YML, Status: Needs Review

#949 Add magnet pickup system from Frontier
  Content.Shared/Frontier/Storage/Components/MaterialReclaimerMagnetPickupComponent.cs
  Content.Shared/Frontier/Storage/Components/MaterialStorageMagnetPickupComponent.cs
  Content.Shared/Frontier/Storage/EntitySystems/MaterialReclaimerMagnetPickupSystem.cs
  Content.Shared/Frontier/Storage/EntitySystems/MaterialStorageMagnetPickupSystem.cs
  Resources/Locale/en-US/frontier/storage/components/magnet-pickup-components.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/material_reclaimer.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization

#963 Removes a random `1` from SiliconPolice lawset
  Resources/Prototypes/DeltaV/siliconlaws.yml
Labels: Changes: YML, Status: Needs Review

#972 A small change to ifriit.
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
Labels: Changes: YML, Status: Needs Review

#975 Fix #974
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: Changes: YML, Status: Needs Review

#976 Fix Moth not eating Jumpskirts
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
Labels: Changes: YML, Status: Needs Review

#977 pebble minor patch 3²
  Resources/Maps/pebble.yml
Labels: Status: Needs Review, Changes: Map

#979 Change map prefix to DV
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Maps/submarine.yml
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: Map

#980 Lunchboxes! Revival
  Resources/Locale/en-US/deltav/paper/paper-misc.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/Containers/lunchbox.yml
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/command-inhand-left.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/command-inhand-right.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/command-open.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/command.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/engineering-inhand-left.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/engineering-inhand-right.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/engineering-open.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/engineering.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/epistemics-inhand-left.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/epistemics-inhand-right.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/epistemics-open.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/epistemics.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/generic-inhand-left.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/generic-inhand-right.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/generic-open.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/generic.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/logistics-inhand-left.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/logistics-inhand-right.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/logistics-open.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/logistics.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/medical-inhand-left.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/medical-inhand-right.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/medical-open.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/medical.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/security-inhand-left.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/security-inhand-right.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/security-open.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/security.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/service-inhand-left.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/service-inhand-right.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/service-open.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/service.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/syndicate-inhand-left.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/syndicate-inhand-right.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/syndicate-open.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/syndicate.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#892 Add Corspman Access & Airlocks
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Locale/en-US/deltav/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Access/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/DeltaV/Access/misc.yml
  Resources/Prototypes/DeltaV/Access/security.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization

#984 Add Submarine to map pool :)
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map

#989 Adds Lunchboxes to Lockers
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/science.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
Labels: Changes: YML

#991 Adds pre-set warp points
  Resources/Locale/en-US/deltav/warp-points/warp-points.ftl
  Resources/Prototypes/DeltaV/Entities/Markers/warp_points.yml
Labels: Changes: YML, Changes: Localization

#997 Map Edits
  Resources/Maps/Shuttles/DeltaV/NTES_Seal.yml
  Resources/Maps/arena.yml
Labels: Changes: Map

#990 A quick fix to shoukou
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#1013 Undo warp-strings
  Resources/Locale/en-US/deltav/warp-points/warp-points.ftl
  Resources/Prototypes/DeltaV/Entities/Markers/warp_point.yml
Labels: Changes: YML, Changes: Localization

#1002 Separates DV-added airlocks into DV files
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: YML

#1017 Map Edits: Shoukou
  Resources/Maps/shoukou.yml
Labels: Changes: Map

#968 Remove warp point comp from map beacons
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
Labels: Changes: YML, Status: Needs Review

#1024 Uncomment metem board in RandomBoards spawner
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/devices.yml
Labels: Changes: YML

#1027 Map Edits: The Hive
  Resources/Maps/hive.yml
Labels: Changes: Map

#992 Fixes missing Weh emote on species
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
Labels: Changes: YML

#1032 Updates spawners with new content
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/books.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/machineparts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/seeds.yml
Labels: Changes: YML

#832 Makes mail teleporter craftable.
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/mailTeleporter.yml
Labels: Changes: YML, Status: Needs Review

#1034 Migrate MagicalLamp to Lamp
  Resources/Migrations/deltaMigrations.yml
Labels: Changes: YML
