Repository DeltaV-Station/Delta-v, pull requests merged in 2024-06, with the labels that each got.

#1280 Quick Micro changes
  Resources/Maps/micro.yml
  Resources/Prototypes/Maps/micro.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1292 lighthouse update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Changes: Map

#1298 Removes DragonSpawn event
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/threats.yml
Labels: Changes: YML

#1299 Colin map updates
  Resources/Maps/asterisk.yml
  Resources/Maps/edge.yml
  Resources/Maps/micro.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1297 Map Edits: Arena
  Resources/Maps/arena.yml
Labels: Changes: YML, Changes: Map

#1286 Re enable the mime suit
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/mime_hardsuit.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
Labels: Changes: YML, Status: Needs Review

#1303 Map Hotfix
  Resources/Maps/hive.yml
  Resources/Maps/pebble.yml
  Resources/Maps/shoukou.yml
Labels: Changes: YML, Changes: Map

#1307 Subpatch 1984
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/submarine.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map, Changes: C#

#1315 Justice asterisk
  Resources/Maps/asterisk.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map, Changes: C#, Changes: Localization, Changes: Sprite

#1310 Micro with justice
  Resources/Maps/micro.yml
  Resources/Prototypes/Maps/micro.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map, Changes: C#, Changes: Localization, Changes: Sprite

#1318 Brings Justice to Edge
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map, Changes: C#, Changes: Localization, Changes: Sprite

#1309 Bring justice to Pebble
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map, Changes: C#, Changes: Localization, Changes: Sprite

#1323 Add Closet Skeleton Playtime Requirement
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
Labels: Changes: YML

#1324 Stop Burning Bodies Turning into Ash
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: YML

#1321 Brings Justice to Shoukou
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1334 add ChiefJustice to command
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML

#1344 Micro & Asterisk adjustments
  Resources/Maps/asterisk.yml
  Resources/Maps/micro.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1322 lighthouse justice dept
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1339 Shoukou Hotfix
  Resources/Maps/shoukou.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1342 Pebble Update
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: YML, Changes: Map

#1359 Fix justice/sec access
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/clerk.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
Labels: Changes: YML

#1358 fix ninja requirement not existing
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: YML

#1302 Adjust Hunger rates
  Content.Shared/Nutrition/Components/HungerComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#1364 Fix shipyard UI refusing to open
  Content.Client/DeltaV/Shipyard/UI/ShipyardBoundUserInterface.cs
Labels: Changes: YML, Status: Needs Review, Changes: C#, Priority: 1-Urgent

#1376 fix reveng troll
  Content.Server/Nyanotrasen/ReverseEngineering/ReverseEngineeringSystem.cs
Labels: Changes: YML, Changes: C#

#1370 lighthouse litter removal
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1354 Pebble fix - June 11th
  Resources/Maps/pebble.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1384 Change hunger rate again
  Content.Shared/Nutrition/Components/HungerComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Labels: Changes: YML, Changes: C#

#1395 Add Chief Justice Cloak to Uniform Printer
  Resources/Prototypes/DeltaV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML

#1402 buff tank resistances
  Resources/Prototypes/DeltaV/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
Labels: Changes: YML

#1399 helix price hike
  Resources/Prototypes/DeltaV/Catalog/Shipyard/civilian.yml
Labels: Changes: YML

#1404 Decrease minimum number of players to 20 for NukeOps
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML

#1396 Temporarily remove Clerk time from CJ Job Requirements
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
Labels: Changes: YML

#1400 make void jetpack REable
  Resources/Prototypes/DeltaV/Recipes/Lathes/devices.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML

#1387 Prosecutor and det switch positions ON SHOKO.
  Resources/Maps/shoukou.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1409 Map Edits: Hive Justice
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/hive.yml
Labels: Changes: YML, Changes: Map

#1392 lighthouse update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Changes: Map

#1330 Edge Station Rebuild: Phase 1
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1391 Update Asterisk and Micro
  Resources/Maps/asterisk.yml
  Resources/Maps/micro.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1414 Map Hotfix: The Hive
  Resources/Maps/hive.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1352 Centcomm justice update
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Shuttles/Components/StationCentcommComponent.cs
  Resources/Maps/DeltaV/centcomm.yml
  Resources/Prototypes/Maps/centcomm.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map, Changes: C#

#1419 add 1h requirement to cargo tech
  Resources/Prototypes/DeltaV/Roles/Jobs/Cargo/courier.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
Labels: Changes: YML, Status: Needs Review

#1389 Wake up Sleepy Agents
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML

#1424 Increase power output for Fishbowl Evac shuttle
  Resources/Maps/Shuttles/DeltaV/NTES_Fishbowl.yml
Labels: Changes: YML, Changes: Map

#1437 Fixed justice suffix
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/rubber_stamp.yml
Labels: Changes: YML

#1413 fugitives redux
  Content.Client/Thief/ThiefBackpackMenu.xaml
  Content.Client/Thief/ThiefBackpackMenu.xaml.cs
  Content.Server/DeltaV/StationEvents/Components/FugitiveRuleComponent.cs
  Content.Server/DeltaV/StationEvents/Events/FugitiveRule.cs
  Content.Server/Roles/FugitiveRoleComponent.cs
  Content.Server/Thief/Components/ThiefUndeterminedBackpackComponent.cs
  Content.Server/Thief/Systems/ThiefUndeterminedBackpackSystem.cs
  Resources/Locale/en-US/deltav/fugitive/sets.ftl
  Resources/Locale/en-US/deltav/game-ticking/game-rules/rule-fugitive.ftl
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Prototypes/DeltaV/Catalog/fugitive_sets.yml
  Resources/Prototypes/DeltaV/Datasets/fugitive_crimes.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/fugitive.yml
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/DeltaV/Objectives/fugitive.yml
  Resources/Prototypes/DeltaV/Roles/Antags/fugitive.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: YML, Changes: UI, Changes: C#, Changes: Localization
