Repository DeltaV-Station/Delta-v, pull requests merged in 2024-05, with the labels that each got.

#1128 early merge projector rewrite/fixes
  Content.Client/Polymorph/Systems/ChameleonProjectorSystem.cs
  Content.Server/Polymorph/Systems/ChameleonProjectorSystem.cs
  Content.Shared/Clothing/EntitySystems/StealthClothingSystem.cs
  Content.Shared/Polymorph/Components/ChameleonDisguiseComponent.cs
  Content.Shared/Polymorph/Components/ChameleonDisguisedComponent.cs
  Content.Shared/Polymorph/Components/ChameleonProjectorComponent.cs
  Content.Shared/Polymorph/Systems/SharedChameleonProjectorSystem.cs
  Resources/Locale/en-US/chameleon-projector/chameleon-projector.ftl
  Resources/Prototypes/Entities/Objects/Devices/chameleon_projector.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#1154 Remove "Placeholder sprite." text from hairballs, normality crystals, telegnostic projection descriptions
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Research/crystals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Species/felinid.yml
Labels: Changes: YML

#1162 Fix speech verb names so they show correctly in voice changer
  Resources/Prototypes/DeltaV/Voice/speech_verbs.yml
Labels: Changes: YML

#1110 fixes harpie issues with tag inheritance
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
Labels: Changes: YML

#1130 DeltaV Jukebox additions
  Resources/Audio/DeltaV/Jukebox/DOS=HIGH,_UMB.ogg
  Resources/Audio/DeltaV/Jukebox/Patricia_Taxxon_-_Minute_-_MONO.ogg
  Resources/Audio/DeltaV/Jukebox/Scratch_Post_-_OST_MONO.ogg
  Resources/Audio/DeltaV/Jukebox/a_different_reality_lagoona_remix.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/aggravated.it-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/attributions.yml
  Resources/Audio/DeltaV/Jukebox/autumnal_equinox.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/drozerix_-_alone.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/drozerix_-_leisurely_voice.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/femtanyl_-_MURDER_EVERY_1_U_KNOW_feat._takihasdied_MONO.ogg
  Resources/Audio/DeltaV/Jukebox/hackers-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/marhaba-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/psirius_-_nymphs_of_the_forest.mptm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/shibamata-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/space_asshole-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/superposition-MONO.ogg
  Resources/Prototypes/DeltaV/Catalog/Jukebox/Standard.yml
Labels: Changes: YML

#1015 Increase moth color blending strength by 25% and replace color blending with the intended helper function
  Content.Shared/Humanoid/SkinColor.cs
Labels: Changes: C#

#1118 Port carrying & pseudo-item tweaks & features from frontier
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Server/Resist/CanEscapeInventoryComponent.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/AllowsSleepInsideComponent.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/PseudoItemComponent.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/SharedPseudoItemSystem.Checks.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/SharedPseudoItemSystem.cs
  Content.Shared/Resist/EscapeInventoryCancelEvent.cs
  Resources/Locale/en-US/deltav/actions/sleep.ftl
  Resources/Locale/en-US/nyanotrasen/carrying/carry.ftl
  Resources/Prototypes/DeltaV/Entities/Actions/cancel-escape-inventory.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Textures/DeltaV/Actions/escapeinventory.rsi/cancel-escape.png
  Resources/Textures/DeltaV/Actions/escapeinventory.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite

#1102 Felinid Thievery
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Shared/Strip/Components/ThievingComponent.cs
  Content.Shared/Strip/ThievingSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Labels: Changes: YML, Status: Needs Review, Status: Do Not Merge, Changes: C#

#1176 [Feat] Security dogs now have vulpkanin vocal emotes
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/DeltaV/InventoryTemplates/secdog_inventory_template.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
Labels: Changes: YML, Status: Needs Review

#1178 Fixes screens not showing ETA/ETD for evac shuttles
  Resources/Maps/Shuttles/DeltaV/NTES_BC20.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Box.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Centipede.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Delta.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Kaeri.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Lox.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Propeller.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Right.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Seal.yml
  Resources/Maps/Shuttles/DeltaV/NTES_UCLB.yml
  Resources/Maps/Shuttles/DeltaV/sub_escape_pod.yml
Labels: Changes: YML, Changes: Map

#1180 Replace debug gen on salvage map with solar parts
  Resources/Maps/Salvage/DeltaV/DV-atlas-atmos.yml
Labels: Changes: YML, Changes: Map

#1189 lighthouse fix
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1191 Add Makeup
  Resources/Locale/en-US/markings/makeup.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Textures/Mobs/Customization/makeup.rsi/blush.png
  Resources/Textures/Mobs/Customization/makeup.rsi/lips.png
  Resources/Textures/Mobs/Customization/makeup.rsi/meta.json
  Resources/Textures/Mobs/Customization/makeup.rsi/moth_blush.png
  Resources/Textures/Mobs/Customization/makeup.rsi/moth_lips.png
  Resources/Textures/Mobs/Customization/makeup.rsi/nail_polish_l.png
  Resources/Textures/Mobs/Customization/makeup.rsi/nail_polish_r.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#1172 Paper signatures
  Content.Server/DeltaV/Paper/SignatureSystem.cs
  Resources/Locale/en-US/deltav/paper/signature.ftl
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-signature.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite

#1201 Move makeup to Delta-V namespace
  Resources/Locale/en-US/deltav/markings/makeup.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Textures/DeltaV/Mobs/Customization/makeup.rsi/blush.png
  Resources/Textures/DeltaV/Mobs/Customization/makeup.rsi/lips.png
  Resources/Textures/DeltaV/Mobs/Customization/makeup.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/makeup.rsi/moth_blush.png
  Resources/Textures/DeltaV/Mobs/Customization/makeup.rsi/moth_lips.png
  Resources/Textures/DeltaV/Mobs/Customization/makeup.rsi/nail_polish_l.png
  Resources/Textures/DeltaV/Mobs/Customization/makeup.rsi/nail_polish_r.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#1202 Update asterisk.yml
  Resources/Maps/asterisk.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1208 Map Edits: Arena
  Resources/Maps/Shuttles/DeltaV/NTES_UCLB.yml
  Resources/Maps/arena.yml
Labels: Changes: YML, Changes: Map

#1205 lighthouse shipyard
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1145 carrypets
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Labels: Changes: YML, Status: Needs Review

#1206 paradox anomaly antag rework
  Content.Server/DeltaV/ParadoxAnomaly/Components/ParadoxAnomalySpawner.cs
  Content.Server/DeltaV/ParadoxAnomaly/Systems/ParadoxAnomalySystem.cs
  Content.Server/DeltaV/StationEvents/Components/ParadoxClonerRuleComponent.cs
  Content.Server/DeltaV/StationEvents/Events/ParadoxClonerRule.cs
  Content.Server/Nyanotrasen/StationEvents/Components/MidRoundAntagRuleComponent.cs
  Content.Server/Nyanotrasen/StationEvents/Components/MidRoundAntagSpawnLocationComponent.cs
  Content.Server/Nyanotrasen/StationEvents/Events/MidRoundAntagRule.cs
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML, Changes: C#

#1042 Reverse Engineering Update
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/hand_teleporter.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Devices/swapper.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/Research/experimental.yml
Labels: Changes: YML, Status: Needs Review

#1228 Shoukou shipyard update.
  Resources/Maps/shoukou.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1233 Fix obsolete playtime tracker for Couriers
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: Changes: YML

#1236 Remove Syndicate Sleeper Agents
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML

#1239 disable nukeops test role check
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
Labels: Changes: YML, Changes: C#

#1237 add secwatch pda app for current sussy bakas
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiFragment.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchEntryControl.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchEntryControl.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchUiFragment.xaml.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/SecWatchCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/SecWatchCartridgeSystem.cs
  Content.Server/DeltaV/CartridgeLoader/CrimeAssistCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/CrimeAssistCartridgeSystem.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiState.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/SecWatchUiState.cs
  Resources/Locale/en-US/deltav/cartridge-loader/secwatch.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
Labels: Changes: YML, Changes: UI, Changes: C#, Changes: Localization

#1243 port painkillers and antidepressants
  Resources/Locale/en-US/_CD/reagents/RPmeds.ftl
  Resources/Locale/en-US/_CD/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_CD/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/_CD/Reactions/medicine.yml
  Resources/Prototypes/_CD/Reagents/medicine.yml
Labels: Changes: YML, Changes: Localization

#1250 lighthouse mini fix
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1254 Asterisk update
  Resources/Maps/asterisk.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1234 Add random sec animal spawner
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/mobs.yml
Labels: Changes: YML, Status: Needs Review

#1253 Tweak event weights
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML

#1246 Make Senior Roles Dept Playtime Only
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
Labels: Changes: YML

#1248 fix addiction popups
  Resources/Prototypes/_CD/Reagents/medicine.yml
Labels: Changes: YML

#862 Shrimp Mob for Metempsychosis
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/fun.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticNonHumanoids.yml
  Resources/Textures/DeltaV/Mobs/Animals/shrimp.rsi/dead.png
  Resources/Textures/DeltaV/Mobs/Animals/shrimp.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Animals/shrimp.rsi/shrimp.png
Labels: Changes: YML, Status: Needs Review, Changes: Sprite, Status: Requires

#1008 Craftable muskets + Flintlocks
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/improvised_gun_parts.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/musket.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/musket.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/Graphs/improvised/bayonet.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/Graphs/improvised/modular_breech.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/Graphs/improvised/modular_trigger.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/Graphs/improvised/musket.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/Graphs/improvised/musket_cartridge.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/improvised.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Textures/DeltaV/Objects/Misc/bayonet.rsi/base.png
  Resources/Textures/DeltaV/Objects/Misc/bayonet.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Misc/bayonet.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Misc/bayonet.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/modular_breech.rsi/base.png
  Resources/Textures/DeltaV/Objects/Misc/modular_breech.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Misc/modular_breech.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Misc/modular_breech.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/modular_trigger.rsi/base.png
  Resources/Textures/DeltaV/Objects/Misc/modular_trigger.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Ammunition/Casings/musket_casing.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Ammunition/Casings/musket_casing.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#1261 Fixes for craftable muskets
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/improvised.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/musket.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/musket.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/musket.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/musket.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/musket.rsi/wielded-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/musket.rsi/wielded-inhand-right.png
Labels: Changes: YML, Changes: Sprite

#1262 Add Syndicate/generic radio implants, remove Syndicate encryption key from uplink
  Content.Client/DeltaV/Implants/Radio/RadioImplantSystem.cs
  Content.Server/DeltaV/Implants/Radio/RadioImplantSystem.cs
  Content.Shared/DeltaV/Implants/Radio/HasRadioImplantComponent.cs
  Content.Shared/DeltaV/Implants/Radio/RadioImplantComponent.cs
  Content.Shared/DeltaV/Implants/Radio/SharedRadioImplantSystem.cs
  Resources/Locale/en-US/deltav/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Actions/types.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization

#1251 Micro station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/micro.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/micro.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map, Changes: C#

#1268 Micro quick fix
  Resources/Maps/micro.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1270 Shoukou quality of life update. (allegedly)
  Resources/Maps/shoukou.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1274 Update micro.yml
  Resources/Maps/micro.yml
  Resources/Prototypes/Maps/micro.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map
