Repository DeltaV-Station/Delta-v, pull requests merged in 2024-11, with the labels that each got.

#2082 Fixed trash not being spawned when throwing pies (#33013)
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
Labels: Changes: C#

#2086 Fix the Mail Carrier PDA missing the MailMetrics program.
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
Labels: Changes: YML, Status: Needs Review

#2071 Emag Borg Law Adjustment
  Resources/Locale/en-US/station-laws/laws.ftl
Labels: Changes: Localization

#2009 Added Agent ID and backpack to the Listening Post Operatives.
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: YML

#2098 Make Nukie Agent require chem time
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Changes: YML

#2085 Added SecWatch to the justice department.
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML, Status: Needs Review

#2079 Chem vend changes
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
Labels: Changes: YML, Status: Needs Review

#2099 remove deep fryer test
  Content.IntegrationTests/Tests/Nyanotrasen/DeepFryerTest.cs
Labels: Status: Needs Review, Changes: C#

#2089 Double the amount of Hardsuits for sec
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Labels: Changes: YML, Status: Needs Review

#2095 Add canes to loadouts :3
  Resources/Prototypes/DeltaV/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: YML, Status: Needs Review

#1923 add overcoat to prosecutor loadout
  Resources/Locale/en-US/deltav/preferences/loadout-groups.ftl
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Justice/prosecutor.yml
  Resources/Prototypes/DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/DeltaV/Loadouts/role_loadouts.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#2084 Revert "Block emotes for sleeping" (#32779)
  Content.Shared/Bed/Sleep/SleepingSystem.cs
Labels: Changes: C#, Status: Awaiting Changes

#2102 disable eating brains
  Resources/Prototypes/Body/Organs/human.yml
Labels: Changes: YML, Status: Needs Review

#2087 Added smiley face to the medibot.
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Textures/DeltaV/Mobs/Silicon/Bots/medibot.rsi/medibot.png
  Resources/Textures/DeltaV/Mobs/Silicon/Bots/medibot.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Awaiting Changes

#2055 Fix Syrinx implant
  Content.Server/DeltaV/Implants/SyrinxImplantComponent.cs
  Content.Server/DeltaV/Implants/SyrinxImplantSystem.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Shared/DeltaV/Implants/SyrinxImplantSetNameEvent.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, Changes: C#, Status: Awaiting Changes

#2108 Cassette-Cartridges
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/cartridges.yml
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-cri.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-mail.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-psi.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Devices/cartridge.rsi/cart-psi.png
  Resources/Textures/Nyanotrasen/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#2083 Add prescription security/corpsman glasses
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/DeltaV/Recipes/Construction/Graphs/clothing/prescription_departamental_glasses.yml
  Resources/Prototypes/DeltaV/Recipes/Construction/clothing.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/presccorpsglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/presccorpsglasses.rsi/equipped-EYES-secdog.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/presccorpsglasses.rsi/equipped-EYES.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/presccorpsglasses.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/presccorpsglasses.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/presccorpsglasses.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/presccorpsglasses.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/prescsecglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/prescsecglasses.rsi/equipped-EYES-secdog.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/prescsecglasses.rsi/equipped-EYES.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/prescsecglasses.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/prescsecglasses.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/prescsecglasses.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/prescsecglasses.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#1897 Addictions 2 electric boogaloo
  Content.Client/DeltaV/Addictions/AddictionSystem.cs
  Content.Server/DeltaV/Addictions/AddictionSystem.cs
  Content.Server/DeltaV/EntityEffects/Effects/Addicted.cs
  Content.Shared/DeltaV/Addictions/AddictedComponent.cs
  Content.Shared/DeltaV/Addictions/SharedAddictionSystem.cs
  Resources/Locale/en-US/deltav/guidebook/chemistry/effects.ftl
  Resources/Prototypes/DeltaV/Datasets/addictions.yml
  Resources/Prototypes/DeltaV/status_effects.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization

#2110 change cartridge names to be consistent with upstream
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
Labels: Changes: YML

#2116 cherry pick "fix BankClientComponent never updating" (#33123)
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
Labels: Changes: C#

#2121 Robotics Airlock
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/airlock_groups.yml
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/assembly.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/bolted_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/closed.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/closed_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/closing.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/closing_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/deny_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/emergency_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/open.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/opening.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/opening_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/panel_closing.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/panel_open.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/panel_opening.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/sparks.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/sparks_broken.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/sparks_damaged.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/sparks_open.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Glass/roboticist.rsi/welded.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/assembly.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/bolted_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/closed.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/closed_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/closing.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/closing_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/deny_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/emergency_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/open.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/opening.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/opening_unlit.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/panel_closing.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/panel_open.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/panel_opening.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/sparks.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/sparks_broken.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/sparks_damaged.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/sparks_open.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/roboticist.rsi/welded.png
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#2105 FIX THE FUCKING ENTITYWHITELIST
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/mail_capsule.yml
Labels: Changes: YML, Status: Needs Review

#2007 Re-adds the fire-fighting door remote and modifies it.
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/DeltaV/Access/engineering.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/DeltaV/Wires/layouts.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/firelock.yml
Labels: Changes: YML, Status: Needs Review

#2120 add secborg to silicons department
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML

#2124 Fix the fire-fight remote PR changelog.
  Resources/Changelog/DeltaVChangelog.yml
Labels: Changes: YML, Status: Needs Review

#2072 the return of player character spawners (feat. mindshield bullshit)
  Content.Server/DeltaV/Ghost/Roles/Components/GhostRoleCharacterSpawnerComponent.cs
  Content.Server/DeltaV/Ghost/Roles/GhostRoleSystem.Character.cs
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#2103 stocks trading
  Content.Client/DeltaV/CartridgeLoader/Cartridges/PriceHistoryTable.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/PriceHistoryTable.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/StockTradingUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/StockTradingUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/StockTradingUiFragment.xaml.cs
  Content.Server/DeltaV/Cargo/Components/StationStockMarketComponent.cs
  Content.Server/DeltaV/Cargo/StocksCommands.cs
  Content.Server/DeltaV/Cargo/Systems/StockMarketSystem.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/StockTradingCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/StockTradingCartridgeSystem.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/StockTradingUiMessageEvent.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/StockTradingUiState.cs
  Resources/Locale/en-US/deltav/cargo/stocks-comapnies.ftl
  Resources/Locale/en-US/deltav/cargo/stocks-commands.ftl
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Textures/DeltaV/Misc/program_icons.rsi/meta.json
  Resources/Textures/DeltaV/Misc/program_icons.rsi/stock_trading.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-stonk.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: UI, Changes: C#, Changes: Localization, Changes: Sprite

#2127 Make syndicate refugees a non antag.
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
Labels: Changes: YML, Changes: Localization

#2074 Add security magboots
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/magboots-security.rsi/equipped-FEET.png
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/magboots-security.rsi/icon-on.png
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/magboots-security.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/magboots-security.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/magboots-security.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/magboots-security.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/magboots-security.rsi/on-equipped-FEET.png
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/magboots-security.rsi/on-inhand-left.png
  Resources/Textures/DeltaV/Clothing/Shoes/Boots/magboots-security.rsi/on-inhand-right.png
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#2119 add contributing guidelines and update github stuff
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: Changes: Documentation

#2106 Add hushed trait
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/DeltaV/Speech/HushedComponent.cs
  Resources/Locale/en-US/deltav/traits/traits.ftl
  Resources/Prototypes/DeltaV/Traits/speech.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization

#2132 Remove upstream shock collar migration
  Resources/Migrations/migration.yml
Labels: Changes: YML

#2111 Packing Justice's lunch
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/clerk.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/Containers/lunchbox.yml
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/justice-inhand-left.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/justice-inhand-right.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/justice-open.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/justice.png
  Resources/Textures/DeltaV/Objects/Storage/lunchbox.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#2109 Make infectious anomalies produce glimmer
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomaly_injections.yml
Labels: Changes: YML, Status: Needs Review

#2126 remove syndicats from the uplink
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#2150 hide ratvar and narsie from the spawn menu
  Resources/Prototypes/Entities/Mobs/Player/narsie.yml
  Resources/Prototypes/Entities/Mobs/Player/ratvar.yml
Labels: Changes: YML, Status: Needs Review

#2149 Remove the mention of secHUD functionality in corpsman sunglasses
  Resources/Prototypes/DeltaV/Recipes/Construction/clothing.yml
Labels: Changes: YML, Status: Needs Review

#2148 standarize sec hardsuit storage
  Resources/Migrations/deltaMigrations.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/suit_storage.yml
Labels: Changes: YML, Status: Needs Review

#1905 Adds a black turtleneck
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/black_turtleneck.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/black_turtleneck.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/black_turtleneck.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/black_turtleneck.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/black_turtleneck.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/black_turtleneck.rsi/rolled-equipped-INNERCLOTHING.png
Labels: Changes: YML, Changes: Sprite, Status: Awaiting Changes

#2154 make meat spike drop organs
  Content.Server/Kitchen/EntitySystems/KitchenSpikeSystem.cs
Labels: Changes: C#

#2156 fix metempsychosis
  Content.IntegrationTests/Tests/DeltaV/MetempsychosisTest.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/DeltaV/Chapel/SacrificialAltarSystem.cs
  Content.Server/DeltaV/Cloning/CloningSystem.Metempsychosis.cs
  Content.Server/DeltaV/Cloning/MetempsychosisKarmaComponent.cs
  Content.Server/DeltaV/Cloning/MetempsychoticMachineComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychosisKarmaComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineSystem.cs
Labels: Status: Needs Review, Changes: C#

#2157 cherry pick "fix solution contents duplication on spill behavior" (#33231)
  Content.Server/Destructible/Thresholds/Behaviors/SpillBehavior.cs
Labels: Changes: C#, Holy Shit

#2143 let chemvend restock refill syndiejuice
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: YML, Status: Needs Review

#2117 prevent telegnomes from interacting with anything
  Content.Client/Nyanotrasen/Abilities/Psionics/TelegnosisPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/TelegnosisPowerSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/Telegnosis/SharedTelegnosisPowerSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/Telegnosis/TelegnosisPowerComponent.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/Telegnosis/TelegnosticProjectionComponent.cs
Labels: Status: Needs Review, Changes: C#

#2160 Adds AI directional sign
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/direction_aicore.png
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#2114 add engine essentials crate
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/engine.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#2152 Synthesis Ghost Role Rule Adjustment
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
Labels: Status: Needs Review, Changes: Localization

#2163 announcecustom command
  Content.Server/DeltaV/Administration/Commands/AnnounceCustomCommand.cs
  Resources/Locale/en-US/deltav/administration/commands/announce-custom.ftl
Labels: Status: Needs Review, Changes: C#, Changes: Localization

#2107 Removes the "Raise Glimmer" objective
  Resources/Prototypes/Nyanotrasen/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: YML, Status: Needs Review, Changes: Documentation

#2164 Update Antagonist/Bribery rules
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/2_Metagaming.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/RoleRules/C1_CommandSecurityJustice.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/RoleRules/C3_Antags.xml
Labels: Status: Needs Review, Changes: Documentation

#2144 Remove the t3 lockout
  Resources/Prototypes/Research/disciplines.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#2169 Add the syringe gun as research
  Resources/Locale/en-US/deltav/research/technologies.ftl
  Resources/Prototypes/DeltaV/Recipes/Lathes/medical.yml
  Resources/Prototypes/DeltaV/Research/civilianservices.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#2158 New Prosec stamp and minor Justice loadout adjustments
  Resources/Locale/en-US/deltav/paper/stamp-component.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/clerk.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
  Resources/Textures/DeltaV/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/stamps.rsi/stamp-prosec.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-prosec.png
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#2175 Justice Mindshields
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/clerk.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
Labels: Changes: YML

#2054 Shoukou: Freezer and Camera Layout Fix
  Resources/Maps/shoukou.yml
Labels: Changes: YML, Changes: Map

#2185 Update chibi.yml
  Resources/Maps/chibi.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#2189 Buff Silvia Omnizine Regen
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML, Status: Needs Review

#2193 Make Thief and Sleeper Agent need 24hrs Playtime
  Resources/Prototypes/Roles/Antags/thief.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
Labels: Changes: YML, Status: Needs Review

#2195 ENTITY WHITELIST TYPO OPS TAKE 9
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, Status: Needs Review

#2212 Give Corpsman Security Magboots
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Labels: Changes: YML

#2209 Add medkit slot
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: Changes: YML, Status: Needs Review

#2217 Adds Cybersun Attorney Jumpsuit
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/DeltaV/Roles/Antags/recruiter.yml
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/cybersunattorney.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/cybersunattorney.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/cybersunattorney.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/cybersunattorney.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/cybersunattorney.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2215 tweak: Make maroon towel require Justice instead of Lawyer time
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
Labels: Changes: YML, Status: Needs Review

#2219 Buff beanbags shells
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: Changes: YML, Status: Needs Review

#2182 Adds the Energy Shotgun to HOS lockers
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: YML, S: Needs Review

#2180 Removed the CJ cloak from the uniform printer.
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, S: Needs Review

#2159 Genaric radio implants are no longer syndicate branded
  Resources/Locale/en-US/deltav/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, Changes: Localization

#2214 Adjust Security Loadouts, adds alternative firearms
  Resources/Locale/en-US/deltav/preferences/loadout-groups.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/DeltaV/Loadouts/role_loadouts.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Nyanotrasen/Loadouts/role_loadouts.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#2184 Change Kill Person to "Teach person a lesson"
  Content.Server/DeltaV/Objectives/Components/TeachLessonConditionComponent.cs
  Content.Server/DeltaV/Objectives/Systems/TeachLessonConditionSystem.cs
  Resources/Locale/en-US/deltav/objectives/conditions/teach-person.ftl
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization

#2227 Ports Salv Cannon requiring power from Frontier
  Content.Server/Weapons/Ranged/Systems/GunSystem.AutoFire.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/AutoShootGunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/_NF/weapons/gun.ftl
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, Status: Needs Review

#2226 Really add the new lobby art
  Resources/Prototypes/lobbyscreens.yml
Labels: Changes: YML, Status: Needs Review

#2230 Port frontier no power popups
  Content.Server/Weapons/Ranged/Systems/GunSystem.AutoFire.cs
  Resources/Locale/en-US/_NF/weapons/gun.ftl
Labels: Changes: C#, Changes: Localization, Status: Needs Review

#2235 Adds a helpful guide in book format on meeting vulpkanin
  Resources/Locale/en-US/deltav/paper/book-salvage.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/books.yml
Labels: Changes: YML, Changes: Localization, Status: Needs Review

#2233 Add "Deck the Halls" by Kevin Macleod
  Resources/Audio/DeltaV/Jukebox/attributions.yml
  Resources/Audio/DeltaV/Jukebox/deck_the_halls_b.ogg
  Resources/Prototypes/DeltaV/Catalog/Jukebox/Standard.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#2239 Mailposter
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/mailposter.rsi/mailposter.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/mailposter.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2171 bluespace fire extinguisher
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/tools.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/DeltaV/Objects/Misc/fire_extinguisher_bluespace.rsi/fire_extinguisher_closed.png
  Resources/Textures/DeltaV/Objects/Misc/fire_extinguisher_bluespace.rsi/fire_extinguisher_open.png
  Resources/Textures/DeltaV/Objects/Misc/fire_extinguisher_bluespace.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Misc/fire_extinguisher_bluespace.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Misc/fire_extinguisher_bluespace.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Sprite

#2186 Ports Bloodstains And Footprints from EE
  Content.Client/_EE/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Server/_EE/FootPrint/FootPrintsSystem.cs
  Content.Server/_EE/FootPrint/PuddleFootPrintsSystem.cs
  Content.Shared/_EE/Footprint/FootPrintComponent.cs
  Content.Shared/_EE/Footprint/FootPrintVisuals.cs
  Content.Shared/_EE/Footprint/FootPrintsComponent.cs
  Content.Shared/_EE/Footprint/PuddleFootPrintsComponent.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/_EE/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/_EE/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/_EE/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/_EE/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/_EE/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/_EE/Effects/footprints.rsi/dragging-test.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-left-bare-diona.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-left-bare-dwarf.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-left-bare-human.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-left-bare-lizard.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-left-bare-slime.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-left-bare-spider.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-right-bare-diona.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-right-bare-dwarf.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-right-bare-human.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-right-bare-lizard.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-right-bare-slime.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-right-bare-spider.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-shoes.png
  Resources/Textures/_EE/Effects/footprints.rsi/footprint-suit.png
  Resources/Textures/_EE/Effects/footprints.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Sprite, Status: Needs Review

#2234 New Lobby Track "Undefined Theory" by A-Guy
  Resources/Audio/Lobby/Undefined_Theory.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Changes: YML, Changes: Audio, Status: Needs Review

#2243 update pr labeler
  .github/workflows/conflict-labeler.yml
  .github/workflows/labeler-needsreview.yml
  .github/workflows/labeler-untriaged.yml
Labels: Changes: YML

#2245 fix deck the halls in jukebox
  Resources/Audio/DeltaV/Jukebox/attributions.yml
  Resources/Audio/DeltaV/Jukebox/deck_the_halls_b-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/deck_the_halls_b.ogg
  Resources/Prototypes/DeltaV/Catalog/Jukebox/Standard.yml
Labels: Changes: YML, S: Needs Review, Changes: Audio

#2248 fix pain popups
  Content.Server/DeltaV/Pain/PainSystem.cs
Labels: S: Needs Review, Changes: C#

#2246 Turn Bomberjackets into wintercoats.
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
Labels: Changes: YML, S: Needs Review

#2249 Nerf "mini" syringes
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Changes: YML, S: Needs Review

#2261 disable funny stack price test
  Content.IntegrationTests/Tests/CargoTest.cs
Labels: Changes: C#

#2265 disable DeleteAllThenGhost
  Content.IntegrationTests/Tests/Minds/MindTest.DeleteAllThenGhost.cs
Labels: S: Needs Review, Changes: C#

#2269 Remove the disabler from HoP's locker.
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, S: Needs Review

#2266 Relabels IK-60 to be more accurate
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML, S: Needs Review

#2254 Sprite For Vulps 101
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/books.yml
  Resources/Textures/DeltaV/Objects/Misc/books.rsi/icon_kiss.png
  Resources/Textures/DeltaV/Objects/Misc/books.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Sprite

#2096 Add random solar spawners
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/Random/solar.yml
  Resources/Textures/DeltaV/Structures/Power/Generation/solar_panel.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Power/Generation/solar_panel.rsi/random_solar.png
Labels: Changes: YML, S: Needs Review, Changes: Sprite

#2259 Add soretizone to starting kit of chronically ill characters
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/DeltaV/Traits/disabilities.yml
Labels: Changes: YML, S: Needs Review

#2274 Unused announcer line is now used
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, S: Needs Review, size/XS, S: Untriaged

#2276 fix borgs not having names
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: YML, S: Needs Review, size/XS, S: Untriaged

#2255 Resprites EE corpse dragging sprites.
  Resources/Textures/_EE/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/_EE/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/_EE/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/_EE/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/_EE/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/_EE/Effects/footprints.rsi/meta.json
Labels: S: Needs Review, size/XS, Changes: Sprite

#2208 Make Nukie announcements more versatile
  Resources/Locale/en-US/deltav/communications/communications-console-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/war_declarator.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, S: Awaiting Changes

#2206 cherry pick portable charger
  Content.Server/Power/Components/ChargerComponent.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Objects/Power/portable_recharger.rsi/charging-equipped-BACKPACK.png
  Resources/Textures/Objects/Power/portable_recharger.rsi/charging-unlit.png
  Resources/Textures/Objects/Power/portable_recharger.rsi/charging.png
  Resources/Textures/Objects/Power/portable_recharger.rsi/inhand-left.png
  Resources/Textures/Objects/Power/portable_recharger.rsi/inhand-right.png
  Resources/Textures/Objects/Power/portable_recharger.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Sprite, S: Awaiting Changes

#2277 make moths 1% harder to round remove
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2278 fix secborg sprite
  Resources/Prototypes/DeltaV/borg_types.yml
Labels: Changes: YML, S: Needs Review, size/XS, S: Untriaged

#2280 fix debris having nothing
  Content.Server/Procedural/DungeonJob/DungeonJob.PostGenBiome.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Content.Shared/Procedural/PostGeneration/BiomeDunGen.cs
Labels: Changes: C#, size/S, S: Untriaged

#2211 feat: Add emergency pie delivery
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/food.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#2161 Clarify wording on borgs NLR rules
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/1_Behave.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#2283 update pr labeler pt 2
  .github/workflows/labeler-untriaged.yml
Labels: Changes: YML, size/XS, S: Untriaged

#2287 Replace the diamond stack at Arena with a singular diamond
  Resources/Maps/arena.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/M

#2289 fix KillPersonCondition
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2194 zombie gamemode semi rework
  Content.Server/DeltaV/GameTicking/Rules/Components/DelayedRuleComponent.cs
  Content.Server/DeltaV/GameTicking/Rules/DelayedRuleSystem.cs
  Resources/Locale/en-US/deltav/game-ticking/game-presets/preset-zombies.ftl
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, Changes: C#, Changes: Localization, size/M, S: Awaiting Changes

#2292 Omega Particles buff
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2294 Home run bat discount
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2297 update pr review labeler
  .github/workflows/labeler-needsreview.yml
Labels: Changes: YML, S: Needs Review, size/S

#2302 Psych chems no longer stronger than nocturine
  Resources/Prototypes/_CD/Reagents/medicine.yml
Labels: Changes: YML, size/M

#2301 Port Dogtags from CD and fix some minor issues with it.
  Content.Server/_CD/Engraving/EngraveableComponent.cs
  Content.Server/_CD/Engraving/EngraveableSystem.cs
  Resources/Locale/en-US/_CD/engraving/engraving.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CD/Entities/Objects/Misc/dogtags.yml
  Resources/Prototypes/_CD/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_CD/Objects/Misc/dogtags.rsi/dogtag.png
  Resources/Textures/_CD/Objects/Misc/dogtags.rsi/equipped-NECK.png
  Resources/Textures/_CD/Objects/Misc/dogtags.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M, Changes: Sprite

#2309 Nuke core container closed fail popup
  Resources/Locale/en-US/nuke/nuke-core-container.ftl
  Resources/Prototypes/Entities/Objects/Misc/plutonium_core.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization

#2312 fix borg unshaded error
  Content.Shared/Silicons/Borgs/BorgTypePrototype.cs
Labels: S: Needs Review, Changes: C#

#2307 Add sustenance vendor restock
  Resources/Locale/en-US/deltav/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/refill_sustenance.png
Labels: Changes: YML, Changes: Localization, size/S, Changes: Sprite

#2313 Delta V Species Gasps
  Resources/Prototypes/DeltaV/SoundCollections/harpy.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
Labels: Changes: YML, S: Needs Review, size/S

#2210 feat: HydroCo - Beverage Powders
  Resources/Locale/en-US/deltav/cargo/stocks-comapnies.ftl
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/powdered_drinks.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sustenance.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/powdered_drinks.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/DeltaV/Entities/Stations/base.yml
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/powdered_drinks.yml
  Resources/Prototypes/DeltaV/Recipes/Cooking/powdered_drinks.yml
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/powdered_drinks.rsi/icon-open.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/powdered_drinks.rsi/icon-order-dairy.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/powdered_drinks.rsi/icon-order-juices.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/powdered_drinks.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/powdered_drinks.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/powdered_drinks.rsi/overlay-container.png
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite, Changes: Audio

#2058 glacier ai/robotics update
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2321 Buttery recipe changes
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/DeltaV/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
Labels: Changes: YML, S: Needs Review

#2284 Shoko AI & Roboticist Update
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2017 lighthouse botany/ai/robotics update
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2231 Beam Devastator (RPG Replacement) and Beam Cannon (research)
  Resources/Audio/DeltaV/Weapons/Guns/Gunshots/beamcannon.ogg
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/mag-unshaded-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/mag-unshaded-1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/mag-unshaded-2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/mag-unshaded-3.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/mag-unshaded-4.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/wielded-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_cannon.rsi/wielded-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_devestator.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_devestator.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_devestator.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/beam_devestator.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Projectiles/projectiles.rsi/beam.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Projectiles/projectiles.rsi/impact_laser.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Projectiles/projectiles.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Projectiles/projectiles.rsi/muzzle_laser.png
Labels: Changes: YML, S: Needs Review, size/L, Changes: Sprite, Changes: Audio

#2324 Add the gas analyzer to the tools module
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: YML, size/XS

#2318 Buff Aloxadone
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2181 Updates Micro station
  Resources/Maps/micro.yml
  Resources/Prototypes/Maps/micro.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#1987 Edge AI Update (And more!)
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Changes: Map, size/XL

#2138 Map Updates: Arena
  Resources/Maps/arena.yml
  Resources/Prototypes/Maps/arena.yml
Labels: Changes: YML, Changes: Map, size/XL

#2188 The hive ai
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/hive.yml
Labels: Changes: YML, Changes: Map, size/XL

#2325 Asterisk AI Update 2
  Resources/Maps/asterisk.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2326 Justice Airlock Changes
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/justice.rsi/assembly.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/justice.rsi/closed.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/justice.rsi/closing.png
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/justice.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Doors/Airlocks/Standard/justice.rsi/opening.png
Labels: S: Needs Review, size/XS, Changes: Sprite
