Repository DeltaV-Station/Delta-v, pull requests merged in 2024-09, with the labels that each got.

#1731 more harpy fixes
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Einstein-Engines/SoundCollections/harpy.yml
  Resources/Prototypes/InventoryTemplates/digitigrade_inventory_template.yml
Labels: Changes: YML

#1730 replace mime breath mask with spacepen
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: Changes: YML

#1736 fix
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
Labels: Changes: YML

#1735 make the credits action commit directly
  .github/workflows/update-credits.yml
Labels: Changes: YML

#1740 mothic salad recipe fix
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
Labels: Changes: YML

#1741 fix synthesis specialist + recruiter localization
  Resources/Locale/en-US/deltav/prototypes/roles/antags.ftl
  Resources/Prototypes/DeltaV/Roles/Antags/synthesis_specialist.yml
Labels: Changes: YML, Changes: Localization

#1743 Nukes AGPL headers
  Content.Server/DeltaV/StationEvents/Components/LoadFarGridRuleComponent.cs
  Content.Server/DeltaV/StationEvents/Events/LoadFarGridRule.cs
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/salvage.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/faxmachines.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/syndicate_monitor_server.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/NPC/syndicateNPCs.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#1745 add fulton beacon to fulton blueprint
  Resources/Prototypes/Entities/Objects/Tools/blueprint.yml
Labels: Changes: YML

#1748 fix sleeper agents rule announcement
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML

#1738 Add ringbox and loadout rings!
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Chapel/ringbox.yml
  Resources/Prototypes/DeltaV/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Textures/DeltaV/Objects/Specific/Chapel/ringbox.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Specific/Chapel/ringbox.rsi/ring-box-closed.png
  Resources/Textures/DeltaV/Objects/Specific/Chapel/ringbox.rsi/ring-box-open.png
  Resources/Textures/DeltaV/Objects/Specific/Chapel/ringbox.rsi/ring.png
Labels: Changes: YML, Changes: Sprite

#1750 Add corpsman access to warden
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: YML

#1755 Remove the space clown shuttle event
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: YML, Status: Needs Review

#1760 add fulton recipes to a t1 tech
  Resources/Locale/en-US/deltav/research/technologies.ftl
  Resources/Prototypes/DeltaV/Research/industrial.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, Changes: Localization

#1761 New Lobby Track: "The Station"
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/thestation.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Changes: YML

#1489 Pebble Station Update
  Resources/Maps/pebble.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1765 make bookshelf storage more flexible
  Resources/Prototypes/Entities/Structures/Furniture/bookshelf.yml
Labels: Changes: YML

#1695 Make RGB Moths a thing again
  Resources/Prototypes/Species/moth.yml
Labels: Changes: YML, Status: Needs Review

#1773 Give Rodentia Survival Boxes
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
Labels: Changes: YML

#1774 fix: syndicate synthesis translation string improperly named
  Resources/Locale/en-US/deltav/prototypes/roles/antags.ftl
Labels: Changes: Localization

#1775 Remove clothing-forced accents
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: Changes: YML

#1777 uncurse materials on asterisk
  Resources/Maps/asterisk.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1779 fix: Return search to the Drinks guide
  Resources/Prototypes/Guidebook/references.yml
  Resources/Prototypes/Guidebook/service.yml
Labels: Changes: YML

#1782 tweak: lower maximum custom burger height to 6
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
Labels: Changes: YML

#1783 tweak: RGB Felinids
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
Labels: Changes: YML

#1787 feat: Greenshift as vote option
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML

#1795 Revert "make the credits action commit directly"
  .github/workflows/update-credits.yml
Labels: Changes: YML

#1798 update codeowners
  .github/CODEOWNERS
Labels: Status: Needs Review

#1804 Give Mystagogue External access
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: Changes: YML, Status: Needs Review

#1799 Pebble Hotfix Sep11
  Resources/Maps/pebble.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1805 add external command-locked and security-locked airlocks
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: YML, Status: Needs Review

#1803 refactor gun safe spawners to use entity tables
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/Random/safes.yml
Labels: Changes: YML, Status: Needs Review

#1785 add glimmer/psionic artifact stuff
  Content.Server/DeltaV/Xenoarchaeology/XenoArtifacts/Effects/Components/GlimmerArtifactComponent.cs
  Content.Server/DeltaV/Xenoarchaeology/XenoArtifacts/Effects/Components/PsionicProducingArtifactComponent.cs
  Content.Server/DeltaV/Xenoarchaeology/XenoArtifacts/Effects/Systems/GlimmerArtifactSystem.cs
  Content.Server/DeltaV/Xenoarchaeology/XenoArtifacts/Effects/Systems/PsionicProducingArtifactSystem.cs
  Content.Server/DeltaV/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactMetapsionicTriggerComponent.cs
  Content.Server/DeltaV/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactMetapsionicTriggerSystem.cs
  Content.Server/Nyanotrasen/Psionics/PsionicsSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/SharedPsionicAbilitiesSystem.cs
  Resources/Locale/en-US/deltav/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/DeltaV/XenoArch/Effects/glimmer.yml
  Resources/Prototypes/DeltaV/XenoArch/Effects/psionic.yml
  Resources/Prototypes/DeltaV/XenoArch/artifact_triggers.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization

#1814 Vulpkanin Mask/Helmet Sprite updates
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/Clothing/Mask/neckgaiter.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/Clothing/Mask/neckgaiter.rsi/meta.json
  Resources/Textures/Clothing/Mask/neckgaiterred.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/Clothing/Mask/neckgaiterred.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Helmets/light_riot.rsi/equipped-HELMET-reptilian.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/light_riot.rsi/equipped-HELMET-vox.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/light_riot.rsi/equipped-HELMET-vulpkanin.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/light_riot.rsi/meta.json
Labels: Changes: Sprite

#1797 give fugitives a copy of their warrant
  Content.Server/DeltaV/StationEvents/Events/FugitiveRule.cs
Labels: Changes: C#

#1818 remove sentient artifact effect
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Labels: Changes: YML, Status: Needs Review

#1722 New Emergency Shuttle "NTES Titan"
  Resources/Maps/Shuttles/DeltaV/NTES_Titan.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1599 Edge Rebuild Phase 4, The Final Phase
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1703 Shoukou runaround
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1737 lighthouse update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1758 Map updates (Asterisk, Chibi, Micro)
  Resources/Maps/asterisk.yml
  Resources/Maps/chibi.yml
  Resources/Maps/micro.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/chibi.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1821 glacier update
  Resources/Maps/glacier.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1828 Corpsman Glasses
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/DeltaV/Recipes/Construction/Graphs/clothing/glasses_corpshud.yml
  Resources/Prototypes/DeltaV/Recipes/Construction/clothing.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/corpsglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/corpsglasses.rsi/equipped-EYES-secdog.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/corpsglasses.rsi/equipped-EYES.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/corpsglasses.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/corpsglasses.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/corpsglasses.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/corpsglasses.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#1829 Update micro.yml
  Resources/Maps/micro.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1838 Laika Emote Sounds! [She can bark again!]
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML

#1839 disable new shuttle events
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: YML, Status: Needs Review

#1840 make uncloneable popup more clear
  Resources/Locale/en-US/medical/components/cloning-console-component.ftl
Labels: Changes: Localization

#1834 make random sentience a glimmer event + fix glimmer events not existing
  Content.Server/DeltaV/StationEvents/Components/GlimmerMobRuleComponent.cs
  Content.Server/DeltaV/StationEvents/Events/GlimmerMobSpawnRule.cs
  Content.Server/Nyanotrasen/StationEvents/Components/GlimmerRandomSentienceRuleComponent.cs
  Content.Server/Nyanotrasen/StationEvents/Components/GlimmerRevenantSpawnRuleComponent.cs
  Content.Server/Nyanotrasen/StationEvents/Events/GlimmerRandomSentienceRule.cs
  Content.Server/Nyanotrasen/StationEvents/Events/GlimmerRevenantSpawnRule.cs
  Resources/Prototypes/DeltaV/GameRules/glimmer_events.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#1819 Limit "Die a glorious death" objective to one traitor per round.
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: YML

#1766 New Lobby Track "Get It Done"
  Resources/Audio/Lobby/Get_It_Done.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: Changes: YML, Status: Needs Review

#1786 feat: Different Oracle Bark Types, default to Never
  Content.Server/Nyanotrasen/Research/Oracle/OracleComponent.cs
  Content.Server/Nyanotrasen/Research/Oracle/OracleSystem.cs
Labels: Status: Needs Review, Changes: C#

#1848 fix traitor guide link
  Resources/Prototypes/Roles/Antags/traitor.yml
Labels: Changes: YML, Status: Needs Review

#1837 Revert "Firelocks are no longer pryable by hand if they are powered
  Content.Shared/Doors/Systems/SharedFirelockSystem.cs
Labels: Status: Needs Review, Changes: C#

#1844 Remove nukies axe plating prying capabilities.
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
Labels: Changes: YML, Status: Needs Review

#1780 Double Ice Cream, a new drink for bartenders to serve. Take 2
  Resources/Locale/en-US/deltav/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/DeltaV/Flavors/flavors.yml
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/DeltaV/Recipes/Reactions/drinks.yml
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/doubleicecreamglass.rsi/fill-1.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/doubleicecreamglass.rsi/fill-2.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/doubleicecreamglass.rsi/fill-3.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/doubleicecreamglass.rsi/fill-4.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/doubleicecreamglass.rsi/fill-5.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/doubleicecreamglass.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/doubleicecreamglass.rsi/icon_empty.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/doubleicecreamglass.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#1792 Adds SLP-57
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp57.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp57.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp57.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp57.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp57.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp57.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp57.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp57.rsi/mag-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp57.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#1841 lighthouse update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1851 glacier update
  Resources/Maps/glacier.yml
Labels: Changes: YML, Changes: Map

#1858 make throngler mail 10% as common
  Resources/Prototypes/DeltaV/Mail/mailDeliveries.yml
Labels: Changes: YML, Status: Needs Review

#1861 Fix objective uplink locale
  Resources/Locale/en-US/store/categories.ftl
Labels: Changes: Localization

#1869 Corpsman-Lethal-Mag
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
Labels: Changes: YML, Status: Needs Review

#1866 fix felinids footsteps
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: Status: Needs Review, Changes: C#

#1872 make meteors duds on glacier
  Content.Server/DeltaV/StationEvents/Events/MeteorSwarmRule.cs
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#1633 Dual Boot Batches
  RunBoth-Debug.bat
  RunBoth-Tools.bat
  RunBoth.bat
  runclient-Debug.bat
  runserver-Debug.bat
Labels: Changes: YML, Status: Needs Review

#1793 Adds the SLP-67 "Volk"
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp67.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp67.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp67.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp67.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp67.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp67.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp67.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp67.rsi/mag-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/slp67.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#1850 add mediborg to silicons department
  Resources/Prototypes/DeltaV/Roles/Jobs/Medical/medical_borg.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML, Status: Needs Review

#1868 Thief Breaching Charges Balance
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#1874 lighthouse engi fix
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1875 1984 Autmoadrobe, move robes
  Resources/Migrations/deltaMigrations.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/automatrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: YML, Status: Needs Review

#1886 HOS Turtleneck reenable
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: YML, Status: Needs Review

#1879 Corpsman Glasses Adjustment
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/DeltaV/Recipes/Construction/Graphs/clothing/glasses_corpshud.yml
Labels: Changes: YML, Status: Needs Review

#1881 Map Edits: Arena
  Resources/Maps/arena.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1863 Shoukou: Station Anchor
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1895 Fix verbs in mapping state (#30631)
  Content.Client/Verbs/UI/VerbMenuUIController.cs
Labels: Changes: C#

#1899 fix slime ghost role rules
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
Labels: Changes: YML, Status: Needs Review

#1902 remove deathgasp from the emote wheel
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#1903 Fix Lobby track metadata
  Resources/Audio/Lobby/Get_It_Done.ogg
  Resources/Audio/Lobby/thestation.ogg
Labels: Changes: Audio

#1877 make cats attack mouse toy
  Resources/Prototypes/DeltaV/ai_factions.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Status: Needs Review

#1900 nukie mouse yaml cleanup
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/nukiemouse.yml
Labels: Changes: YML, Status: Needs Review

#1898 fix telegnomes sliding on ice
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
Labels: Changes: YML, Status: Needs Review

#1908 let goliaths pry doors
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Labels: Changes: YML

#1910 make chapel sprite purple
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/chapel.png
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#1906 Diona.xml correction
  Resources/ServerInfo/Guidebook/Mobs/Diona.xml
Labels: Changes: Documentation

#1913 Map Edits: The Hive
  Resources/Maps/hive.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1876 glacier update
  Resources/Maps/glacier.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1918 Hotfix chibi.yml
  Resources/Maps/chibi.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1921 Adds load acts + action bar loadout files
  Content.Client/Commands/ActionsCommands.cs
  Resources/mapping_actions_alarms.yml
  Resources/mapping_actions_deltav.yml
  Resources/mapping_actions_disposals.yml
  Resources/mapping_actions_pipes.yml
  Resources/mapping_actions_power.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#1925 fix large mail description
  Resources/Locale/en-US/_NF/mail/mail.ftl
Labels: Changes: Localization

#1928 change pai wipe text
  Resources/Locale/en-US/deltav/pai/pai-system.ftl
  Resources/Locale/en-US/pai/pai-system.ftl
Labels: Changes: Localization

#1929 Revert "change pai wipe text (#1928)"
  Resources/Locale/en-US/deltav/pai/pai-system.ftl
  Resources/Locale/en-US/pai/pai-system.ftl
Labels: Changes: Localization

#1936 cherry pick "Fix currency duplication bug (#32524)"
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/Stack/StackSystem.cs
  Content.Server/Store/Components/CurrencyComponent.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
Labels: Changes: C#

#1938 NTES_Titan evac DeviceNetwork added
  Resources/Maps/Shuttles/DeltaV/NTES_Titan.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1935 shrink tree hitboxes
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: Changes: YML, Status: Needs Review

#1940 Fix deep fryer not being repairable once broken.
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/deep_fryer.yml
Labels: Changes: YML, Status: Needs Review

#1949 add selfunremovable to headcages
  Content.Shared/Nyanotrasen/Abilities/Psionics/Items/HeadCageComponent.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Items/HeadCagedComponent.cs
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#1946 Fixed Vulpkanin maskes not properly hiding the face on screen loadout.
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
Labels: Changes: YML, Status: Needs Review
