Repository DeltaV-Station/Delta-v, pull requests merged in 2024-12, with the labels that each got.

#2293 Update Pebble, including Station AI
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: YML, Changes: Map, size/XL

#2018 enable AI
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
Labels: Changes: YML, S: Needs Review

#2029 add the roboticist job
  Resources/Locale/en-US/deltav/job/job-description.ftl
  Resources/Locale/en-US/deltav/job/job-names.ftl
  Resources/Locale/en-US/deltav/preferences/loadout-groups.ftl
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Science/roboticist.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/DeltaV/Loadouts/role_loadouts.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Epistemics/roboticist.yml
  Resources/Prototypes/DeltaV/Roles/play_time_trackers.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization

#2331 fix arena and hive
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/hive.yml
Labels: Changes: YML, Changes: Map

#2330 nuke firelock electronics price
  Resources/Prototypes/Entities/Objects/Devices/Electronics/firelock.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2332 fix edge
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XS

#2329 replace antimov board with overlord for traitors, made it expensive
  Resources/Locale/en-US/deltav/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#2333 remove invalid from pebble
  Resources/Maps/pebble.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XS

#2335 add robotics to id card console
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
Labels: S: Needs Review, Changes: C#

#2336 something something fix pebble
  Resources/Maps/pebble.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XS

#2338 ai law changes + ion storm
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: YML, size/XS

#2337 borg slavery :fire: :fire: :fire:
  Content.Client/DeltaV/Silicons/Laws/SlavedBorgSystem.cs
  Content.Server/DeltaV/Silicons/Borgs/BorgSwitchableTypeSystem.Lawset.cs
  Content.Server/DeltaV/Silicons/Laws/SlavedBorgSystem.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/DeltaV/Silicons/Laws/SharedSlavedBorgSystem.cs
  Content.Shared/DeltaV/Silicons/Laws/SlavedBorgComponent.cs
  Resources/Locale/en-US/_Goobstation/station-laws/laws.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_Goobstation/silicon-laws.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#2306 Add mercenary outfit to clothesmate
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2345 DeltaV unique AI Names
  Resources/Prototypes/DeltaV/Datasets/Names/ai.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: YML, S: Needs Review

#2344 Adds Silicon Rules
  Resources/Locale/en-US/deltav/guidebook/guides.ftl
  Resources/Prototypes/DeltaV/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/DeltaVRuleset.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/SiliconRules/S10_OrderConflicts.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/SiliconRules/S1_Laws.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/SiliconRules/S2_LawPriority.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/SiliconRules/S3_LawRedefinition.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/SiliconRules/S4_RequestChanges.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/SiliconRules/S5_FreeSilicon.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/SiliconRules/S6_UnreasonableOrders.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/SiliconRules/S7_Consistency.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/SiliconRules/S8_DefaultCrewDefinition.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/SiliconRules/S9_DefaultHarmDefinition.xml
Labels: Changes: YML, S: Needs Review, Changes: Localization, Changes: Documentation, size/M

#2350 Silicon Rule Hotfix
  Resources/ServerInfo/Guidebook/DeltaV/Rules/DeltaVRuleset.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/SiliconRules/S8_DefaultCrewDefinition.xml
Labels: Changes: Documentation

#2352 Gives AI Delta V radio channels
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2353 Update "snipers" to require weilding
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2363 dont give AI a fugi report
  Content.Server/DeltaV/StationEvents/Events/FugitiveRule.cs
Labels: Changes: C#, size/XS

#2360 Added warp points to shipyard shuttles + removed two invalids
  Resources/Maps/Shuttles/DeltaV/barge.yml
  Resources/Maps/Shuttles/DeltaV/helix.yml
  Resources/Maps/Shuttles/DeltaV/ntcv-nomad.yml
  Resources/Maps/Shuttles/DeltaV/ntsp-bulwark.yml
  Resources/Maps/Shuttles/DeltaV/ntsv-tote.yml
  Resources/Maps/Shuttles/DeltaV/ntv-pulse.yml
  Resources/Maps/Shuttles/DeltaV/ntxr-saucer.yml
  Resources/Maps/Shuttles/DeltaV/prospector.yml
  Resources/Maps/Shuttles/DeltaV/pts.yml
Labels: Changes: YML, Changes: Map

#2368 Adds sprite to superweapon spawner
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/Random/security.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2358 fix notary stamp objective never happening
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2366 Updates Logi and Epi dept signs for server consistency
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/epistemics.png
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/logistics.png
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: YML, size/XS, Changes: Sprite

#2339 Make medical borgs able to fly in space
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2113 mail carrier hood. AAAAAAAAAAAAH!!
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Textures/DeltaV/Clothing/Head/Hoods/Coat/hoodmail.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hoods/Coat/hoodmail.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hoods/Coat/hoodmail.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#2288 Observation Bundle Modifications
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
Labels: Changes: YML, size/XS

#2310 Add a foam sabre
  Resources/Locale/en-US/deltav/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Melee/foam_blade.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Civilian/mime.yml
  Resources/Prototypes/DeltaV/Mail/mailDeliveries.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/DeltaV/Clothing/Belt/foamsheath.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Clothing/Belt/foamsheath.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Belt/foamsheath.rsi/sheath-sabre-equipped-BELT.png
  Resources/Textures/DeltaV/Clothing/Belt/foamsheath.rsi/sheath-sabre.png
  Resources/Textures/DeltaV/Clothing/Belt/foamsheath.rsi/sheath.png
  Resources/Textures/DeltaV/Objects/Fun/Toys/foam_sabre.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Fun/Toys/foam_sabre.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Fun/Toys/foam_sabre.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Fun/Toys/foam_sabre.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#2386 remove unnecessary migrations
  Resources/Migrations/deltaMigrations.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2174 Give Central Command more Hallways
  Resources/Maps/DeltaV/centcomm.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#2377 Adds meteor shielding to Asterisk
  Resources/Maps/asterisk.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#2379 Grey & Wooden Railings
  Resources/Prototypes/DeltaV/Entities/Structures/Walls/railing.yml
  Resources/Textures/DeltaV/Structures/Walls/railing.rsi/corner_grey.png
  Resources/Textures/DeltaV/Structures/Walls/railing.rsi/corner_small_grey.png
  Resources/Textures/DeltaV/Structures/Walls/railing.rsi/corner_small_wood.png
  Resources/Textures/DeltaV/Structures/Walls/railing.rsi/corner_wood.png
  Resources/Textures/DeltaV/Structures/Walls/railing.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Walls/railing.rsi/round_grey.png
  Resources/Textures/DeltaV/Structures/Walls/railing.rsi/round_wood.png
  Resources/Textures/DeltaV/Structures/Walls/railing.rsi/side_grey.png
  Resources/Textures/DeltaV/Structures/Walls/railing.rsi/side_wood.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2376 Add Reinforced Directional Tinted Window
  Resources/Prototypes/DeltaV/Entities/Structures/Windows/tinted_windows.yml
  Resources/Textures/DeltaV/Structures/Windows/directional.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Windows/directional.rsi/tinted_reinforced_window.png
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#2359 change up and add ninja objectives
  Resources/Locale/en-US/deltav/objectives/conditions/ninja.ftl
  Resources/Locale/en-US/deltav/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/DeltaV/Objectives/ninja.yml
  Resources/Prototypes/DeltaV/Objectives/objectiveGroups.yml
  Resources/Prototypes/DeltaV/Objectives/stealTargetGroups.yml
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#2383 Randomizes the appearance of Fugitives
  Resources/Prototypes/DeltaV/GameRules/events.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2204 Build Diona Different
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2401 aac tablet refactor
  Content.Client/DeltaV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml.cs
  Content.Server/DeltaV/AACTablet/AACTabletComponent.cs
  Content.Server/DeltaV/AACTablet/AACTabletSystem.cs
  Content.Shared/DeltaV/AACTablet/AACTabletUiMessages.cs
  Content.Shared/DeltaV/AACTablet/SharedAACTabletSystem.cs
  Content.Shared/DeltaV/QuickPhrase/QuickPhrasePrototype.cs
Labels: Changes: UI, Changes: C#, size/M

#2402 Derotates Micro
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XS

#2351 Automatic ACO procedure
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/DeltaV/Cabinet/SpareIDSafeComponent.cs
  Content.Server/DeltaV/Station/Components/CaptainStateComponent.cs
  Content.Server/DeltaV/Station/Events/PlayerJobEvents.cs
  Content.Server/DeltaV/Station/Systems/CaptainStateSystem.cs
  Content.Server/Station/Systems/StationJobsSystem.cs
  Content.Shared/DeltaV/CCVars/DCCVars.cs
  Resources/ConfigPresets/DeltaV/apoapsis.toml
  Resources/Locale/en-US/deltav/job/captain-state.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Command/safe.yml
  Resources/Prototypes/DeltaV/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L

#2406 make lathe items worthless
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/DeltaV/Cargo/Components/PriceModifierComponent.cs
  Content.Server/DeltaV/Cargo/Systems/PricingSystem.Modifier.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#2403 Update CODEOWNERS
  .github/CODEOWNERS
Labels: S: Needs Review, size/S

#2413 fix diona speed
  Resources/Prototypes/Body/Parts/diona.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2380 add lavaland real
  Content.Client/DeltaV/Shuttles/Systems/DockingConsoleSystem.cs
  Content.Client/DeltaV/Shuttles/UI/DockingConsoleBoundUserInterface.cs
  Content.Client/DeltaV/Shuttles/UI/DockingConsoleWindow.xaml
  Content.Client/DeltaV/Shuttles/UI/DockingConsoleWindow.xaml.cs
  Content.Server/DeltaV/Planet/PlanetSystem.cs
  Content.Server/DeltaV/Shuttles/Systems/DockingConsoleSystem.cs
  Content.Server/DeltaV/Shuttles/Systems/DockingShuttleSystem.cs
  Content.Server/DeltaV/Station/Components/StationPlanetSpawnerComponent.cs
  Content.Server/DeltaV/Station/Components/StationSurfaceComponent.cs
  Content.Server/DeltaV/Station/Systems/StationPlanetSpawnerSystem.cs
  Content.Server/DeltaV/Station/Systems/StationSurfaceSystem.cs
  Content.Shared/DeltaV/Planet/PlanetPrototype.cs
  Content.Shared/DeltaV/Shuttles/Components/DockingConsoleComponent.cs
  Content.Shared/DeltaV/Shuttles/Components/DockingShuttleComponent.cs
  Content.Shared/DeltaV/Shuttles/Components/MiningShuttleComponent.cs
  Content.Shared/DeltaV/Shuttles/DockingConsoleUI.cs
  Content.Shared/DeltaV/Shuttles/Systems/SharedDockingConsoleSystem.cs
  Content.Shared/DeltaV/Shuttles/Systems/SharedDockingShuttleSystem.cs
  Resources/Locale/en-US/deltav/shuttles/docking-console.ftl
  Resources/Maps/Nonstations/DeltaV/glacier_surface_outpost.yml
  Resources/Maps/Nonstations/DeltaV/lavaland_mining_base.yml
  Resources/Maps/Nonstations/glacier_surface.yml
  Resources/Maps/Shuttles/DeltaV/mining.yml
  Resources/Maps/Shuttles/DeltaV/mining_base.yml
  Resources/Maps/Shuttles/DeltaV/mining_broken.yml
  Resources/Maps/Shuttles/DeltaV/mining_carp.yml
  Resources/Maps/Shuttles/DeltaV/mining_morebroken.yml
  Resources/Maps/Shuttles/DeltaV/mining_mostdestroyed.yml
  Resources/Maps/Shuttles/DeltaV/mining_snakes.yml
  Resources/Maps/Shuttles/DeltaV/mining_ticks.yml
  Resources/Maps/Shuttles/DeltaV/mining_watcher.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/CircuitBoards/computer.yml
  Resources/Prototypes/DeltaV/Entities/Stations/base.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/DeltaV/planets.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: UI, Changes: C#, Changes: Localization, size/XL, Holy Shit, S: Approved

#2362 pda messaging real
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatEntry.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NewChatPopup.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
  Content.Client/DeltaV/NanoChat/NanoChatSystem.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.NanoChat.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/DeltaV/NanoChat/NanoChatSystem.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/LogProbeUiState.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/DeltaV/NanoChat/NanoChatCardComponent.cs
  Content.Shared/DeltaV/NanoChat/SharedNanoChatSystem.cs
  Resources/Locale/en-US/deltav/access/components/agent-id-card-component.ftl
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/deltav/nanochat/components/nanochat-card-component.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/name_identifier_groups.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Textures/DeltaV/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/DeltaV/Interface/VerbIcons/bell.svg
  Resources/Textures/DeltaV/Interface/VerbIcons/bell.svg.png
  Resources/Textures/DeltaV/Interface/VerbIcons/bell_muted.png
  Resources/Textures/DeltaV/Misc/program_icons.rsi/meta.json
  Resources/Textures/DeltaV/Misc/program_icons.rsi/nanochat.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-chat.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, Changes: Sprite, size/XL, S: Approved

#2417 Make the shadow cat a ghost role
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/shadows.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#2412 fix "teach person a lesson"
  Content.Server/DeltaV/Objectives/Components/TeachLessonConditionComponent.cs
  Content.Server/DeltaV/Objectives/Systems/TeachLessonConditionSystem.cs
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#2400 Allow jetpacks to fit in the suit storage slot
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/black.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/black.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/black.rsi/icon-on.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/black.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/black.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/black.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/black.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/black.rsi/on-equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/black.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/blue.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/blue.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/blue.rsi/icon-on.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/blue.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/blue.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/blue.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/blue.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/blue.rsi/on-equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/blue.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/security.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/security.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/security.rsi/icon-on.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/security.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/security.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/security.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/security.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/security.rsi/on-equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Tanks/Jetpacks/security.rsi/on-equipped-SUITSTORAGE.png
Labels: Changes: YML, S: Needs Review, size/L, Changes: Sprite, S: Approved

#2424 Auto ACO Procedure bug fixes
  Content.Server/DeltaV/Station/Systems/CaptainStateSystem.cs
  Content.Shared/DeltaV/CCVars/DCCVars.cs
  Resources/ConfigPresets/Build/debug.toml
Labels: Changes: C#, size/S

#2346 Modify clown and mime sexy masks and add them to the autodrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: Changes: YML, size/S, S: Approved

#2399 Make LO know at least the basics of cargo tech.
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2396 CentCom Map HotFix
  Resources/Maps/DeltaV/centcomm.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2430 fix mining shuttle not docking on small stations
  Content.Server/DeltaV/Shuttles/Systems/DockingConsoleSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2431 fix auto aco timing
  Content.Server/DeltaV/Station/Systems/CaptainStateSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2419 add mining points
  Content.Client/Lathe/UI/LatheBoundUserInterface.cs
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Shared/DeltaV/Salvage/Components/MiningPointsComponent.cs
  Content.Shared/DeltaV/Salvage/Components/MiningPointsLatheComponent.cs
  Content.Shared/DeltaV/Salvage/MiningPointsUI.cs
  Content.Shared/DeltaV/Salvage/Systems/MiningPointsSystem.cs
  Content.Shared/Research/Prototypes/LatheRecipePrototype.cs
  Resources/Locale/en-US/deltav/lathe/ui/lathe-menu.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M

#2394 Reduce RE time
  Content.Shared/Nyanotrasen/ReverseEngineering/ReverseEngineeringMachineComponent.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2375 Change Overlord Law so no RDM
  Resources/Locale/en-US/deltav/station-laws/laws.ftl
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#2303 Delta-V Specific Posters!
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/grayposters.rsi/dangernana.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/grayposters.rsi/litdakka.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/grayposters.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/grayposters.rsi/posterearthnanotrasen.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/grayposters.rsi/posterroidsyndicate.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/grayposters.rsi/posterworknanotrasen.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/grayposters.rsi/posterworksyndicate.png
  Resources/Textures/DeltaV/Structures/Wallmounts/Posters/grayposters.rsi/work.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2434 fix lavaland shuttle for real
  Content.Server/DeltaV/Shuttles/Systems/DockingConsoleSystem.cs
Labels: S: Needs Review, Changes: C#

#2414 glacier surface update
  Resources/Locale/en-US/deltav/shuttles/docking-console.ftl
  Resources/Maps/Nonstations/DeltaV/glacier_surface_outpost.yml
  Resources/Maps/Shuttles/DeltaV/glacier_surface_shuttle.yml
  Resources/Maps/glacier.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: Localization, size/XL

#2416 Asterisk and Chibi updates
  Resources/Maps/asterisk.yml
  Resources/Maps/chibi.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2415 lighthouse lavaland update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/M

#2390 Modified djstation and added random intercom
  Resources/Maps/Ruins/DeltaV/djstation.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/Random/intercom.yml
  Resources/Textures/DeltaV/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Wallmounts/intercom.rsi/random_intercom.png
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: Sprite, size/XL

#2423 Make space ruins dirty!
  Resources/Maps/Ruins/DeltaV/derelict.yml
  Resources/Maps/Ruins/DeltaV/old_ai_sat.yml
  Resources/Maps/Ruins/DeltaV/relaystation.yml
  Resources/Maps/Ruins/DeltaV/whiteship_ancient.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2420 Edge Fixes + Minor Updates
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2436 Edge Christmas Update, but fixed
  Resources/Maps/edge.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2435 Colin Xmas Map update
  Resources/Maps/asterisk.yml
  Resources/Maps/chibi.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2437 add automatic panic bunker
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: size/XS

#2391 Update Synth Specialist rules
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
Labels: S: Needs Review, Changes: Localization, size/XS

#2356 Add order access to cargo technicians
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2442 Clarify Sec/Command/Justice Following IC documents
  Resources/ServerInfo/Guidebook/DeltaV/Rules/RoleRules/C1_CommandSecurityJustice.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#2443 check ban flag for auto panic bunker
  Content.Server/Administration/Systems/AdminSystem.cs
Labels: S: Needs Review, Changes: C#

#2446 fix vox gladiators not getting nitrogen tanks
  Resources/Prototypes/Nyanotrasen/Loadouts/role_loadouts.yml
Labels: Changes: YML

#2447 make mining shuttle console ui 1% better
  Content.Client/DeltaV/Shuttles/UI/DockingConsoleWindow.xaml.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/XS

#2448 Add a new janitor PDA - Hygiene technician
  Resources/Locale/en-US/deltav/job/job-names.ftl
  Resources/Locale/en-US/deltav/preferences/loadout-groups.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/pda-hygienetechnician.png
Labels: Changes: YML, Changes: Localization, size/S, Changes: Sprite

#2449 Make Security Jetpacks Not Be Empty
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/suit_storage.yml
Labels: Changes: YML, size/XS

#2388 Add service access to mime and clown
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2454 Change bounty skip access to Orders
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: YML, size/XS

#2455 Remove additional DoafterEvent
  Content.Shared/Execution/DoafterEvent.cs
Labels: S: Needs Review, Changes: C#

#2428 Adds empty AI core to Centcom
  Resources/Maps/DeltaV/centcomm.yml
Labels: Changes: YML, Changes: Map, size/M

#2438 glacier christmas + other update
  Resources/Maps/Shuttles/DeltaV/glacier_surface_shuttle.yml
  Resources/Maps/glacier.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2451 Shoukou Christmas Update (2024)
  Resources/Maps/shoukou.yml
Labels: Changes: YML, Changes: Map, size/XL

#2456 Make stocks trading require LO access.
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2439 lighthouse christmas update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2452 Add Atmos alert computer board to lathe recipes and research
  Resources/Prototypes/DeltaV/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2372 Add the psychologist's locker
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/generic.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/generic_door.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/generic_icon.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/generic_open.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/locked.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/psych.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/psych_door.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/psych_open.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/unlocked.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/welded.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2355 Add Interdyne clothes + contraband to the chemdrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemdrobe.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/interdynechemgoogles.rsi/equipped-EYES.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/interdynechemgoogles.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/interdynechemgoogles.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/interdynechemgoogles.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Eyes/Glasses/interdynechemgoogles.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Hoods/interdynechemhood.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Hoods/interdynechemhood.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Hoods/interdynechemhood.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Hoods/interdynechemhood.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Hoods/interdynechemhood.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Mask/interdynechemmask.rsi/equipped-MASK.png
  Resources/Textures/DeltaV/Clothing/Mask/interdynechemmask.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Mask/interdynechemmask.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Mask/interdynechemmask.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Mask/interdynechemmask.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/Misc/interdynechemsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Misc/interdynechemsuit.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Misc/interdynechemsuit.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Misc/interdynechemsuit.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/Misc/interdynechemsuit.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/interdyneuniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/interdyneuniform.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/interdyneuniform.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/interdyneuniform.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Uniforms/Jumpsuit/interdyneuniform.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2382 Flower Bushes
  Resources/Prototypes/DeltaV/Entities/Objects/Decoration/flora.yml
  Resources/Textures/DeltaV/Objects/Decoration/Flora/bush.rsi/base.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/bush.rsi/base_light.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/bush.rsi/hibiscus.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/bush.rsi/hydrangea.png
  Resources/Textures/DeltaV/Objects/Decoration/Flora/bush.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2378 Barrels & Kegs
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Storage/Crates/barrel.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/Graphs/barrel.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/barrel.yml
  Resources/Textures/DeltaV/Objects/Storage/barrel.rsi/base.png
  Resources/Textures/DeltaV/Objects/Storage/barrel.rsi/closed.png
  Resources/Textures/DeltaV/Objects/Storage/barrel.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Storage/barrel.rsi/open.png
  Resources/Textures/DeltaV/Objects/Storage/keg.rsi/base.png
  Resources/Textures/DeltaV/Objects/Storage/keg.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/L, Changes: Sprite

#2441 make some ores more common on lavaland planets
  Resources/Prototypes/DeltaV/Procedural/biome_ore_templates.yml
  Resources/Prototypes/DeltaV/planets.yml
Labels: Changes: YML, S: Needs Review, size/S

#2250 New Blood Based Soda!
  Resources/Locale/en-US/deltav/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/deltav/reagents/meta/consumable/drink/soda.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/gib.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/DeltaV/Flavors/flavors.yml
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/DeltaV/Recipes/Reactions/drinks.yml
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/drgibbbloodred.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/drgibbbloodred.rsi/icon_open.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/drgibbbloodred.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/drgibbbloodred.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/drgibbbloodred.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#2374 Emag for fugi
  Resources/Locale/en-US/deltav/fugitive/sets.ftl
  Resources/Prototypes/DeltaV/Catalog/fugitive_sets.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/fugitive.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#2445 add ash storms to lavaland
  Content.Server/Body/Components/LungComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/DeltaV/Weather/WeatherEffectsSystem.cs
  Content.Server/DeltaV/Weather/WeatherSchedulerComponent.cs
  Content.Server/DeltaV/Weather/WeatherSchedulerSystem.cs
  Content.Shared/DeltaV/Weather/Components/AshStormImmuneComponent.cs
  Content.Shared/Weather/SharedWeatherSystem.cs
  Content.Shared/Weather/WeatherComponent.cs
  Content.Shared/Weather/WeatherPrototype.cs
  Resources/Locale/en-US/deltav/weather/ashstorm.ftl
  Resources/Prototypes/DeltaV/Body/Organs/ashwalker.yml
  Resources/Prototypes/DeltaV/Body/Prototypes/ashwalker.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/ashwalker.yml
  Resources/Prototypes/DeltaV/planets.yml
  Resources/Prototypes/weather.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L

#2460 Remove justice lockers from upstream files and add DeltaV base lockers.
  Resources/Prototypes/DeltaV/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/cj.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/cj_door.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/cj_open.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/clerk.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/clerk_door.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/clerk_open.png
  Resources/Textures/DeltaV/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#2398 Frontier Port: Pretty Money
  Content.Client/Stack/StackSystem.cs
  Content.Client/_NF/Stack/StackSystem.Layers.cs
  Content.Packaging/Properties/launchSettings.json
  Content.Shared/Stacks/StackComponent.cs
  Content.Shared/_NF/Stacks/Components/StackLayerThresholdComponent.cs
  Content.Shared/_NF/Stacks/StackLayerFunction.cs
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/space_cash.yml
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_10.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_100.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_1000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_10000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_100000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_25000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_250000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_500.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_5000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_50000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, size/L, Changes: Sprite

#2465 Updates Maintenance Lights
  Resources/Migrations/deltaMigrations.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Lighting/base_lighting.yml
Labels: Changes: YML, S: Needs Review, size/M

#2470 Fix Rodentia Bat snouts to properly mirror left and right face
  Resources/Textures/DeltaV/Mobs/Customization/Rodentia/snout_markings.rsi/bat.png
  Resources/Textures/DeltaV/Mobs/Customization/Rodentia/snout_markings.rsi/bat_nose.png
Labels: size/XS, Changes: Sprite

#2471 remove constant shuttle spam from survival
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2450 Add error logging for Auto ACO procedure.
  Content.Server/DeltaV/Station/Components/CaptainStateComponent.cs
  Content.Server/DeltaV/Station/Systems/CaptainStateSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2466 cleanup and carrying refactor
  Content.Packaging/Properties/launchSettings.json
  Content.Server/DeltaV/GlimmerWisp/LifeDrainerSystem.cs
  Content.Server/Nyanotrasen/Carrying/BeingCarriedComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarriableComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarryingComponent.cs
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Server/Nyanotrasen/Kitchen/Components/DeepFryerComponent.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.Results.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/DeltaV/Carrying/BeingCarriedComponent.cs
  Content.Shared/DeltaV/Carrying/CarriableComponent.cs
  Content.Shared/DeltaV/Carrying/CarryDoAfterEvent.cs
  Content.Shared/DeltaV/Carrying/CarryingComponent.cs
  Content.Shared/DeltaV/Carrying/CarryingSlowdownComponent.cs
  Content.Shared/DeltaV/Carrying/CarryingSlowdownSystem.cs
  Content.Shared/DeltaV/Carrying/CarryingSystem.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingDoAfterEvent.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingSlowdownComponent.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingSlowdownSystem.cs
  Resources/Locale/en-US/deltav/fugitive/sets.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/DeltaV/Catalog/fugitive_sets.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/fugitive.yml
  Resources/Textures/DeltaV/Objects/Storage/barrel.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Storage/keg.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, Changes: Sprite, size/XL

#2467 port ore bag magnet toggle from white dream
  Content.Shared/DeltaV/Item/ItemToggle/Components/ItemToggleExamineComponent.cs
  Content.Shared/DeltaV/Item/ItemToggle/Systems/ItemToggleExamineSystem.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/icon_on.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/icon_on.png
  Resources/Textures/Objects/Specific/Mining/ore_bag_holding.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M, Changes: Sprite

#2473 Add history tab to bounty console
  Content.Client/Cargo/BUI/CargoBountyConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/BountyHistoryEntry.xaml
  Content.Client/Cargo/UI/BountyHistoryEntry.xaml.cs
  Content.Client/Cargo/UI/CargoBountyMenu.xaml
  Content.Client/Cargo/UI/CargoBountyMenu.xaml.cs
  Content.Server/Cargo/Components/StationCargoBountyDatabaseComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Shared/Cargo/CargoBountyHistoryData.cs
  Content.Shared/Cargo/Components/CargoBountyConsoleComponent.cs
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
Labels: S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M

#2468 buff ore box
  Resources/Prototypes/Entities/Structures/Storage/ore_box.yml
Labels: Changes: YML, S: Needs Review

#2480 Centcomm Hotfix
  Resources/Maps/DeltaV/centcomm.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XS

#2476 Add External access to the prison guard role
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2343 Add a light to the paramedic's helmet + removal of paramedic suit storage from upstream files.
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Textures/DeltaV/Clothing/Head/Helmets/paramedhelm.rsi/icon-flash.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/paramedhelm.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/paramedhelm.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/paramedhelm.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/paramedhelm.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/Helmets/paramedhelm.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/paramedhelm.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/paramedhelm.rsi/off-equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/paramedhelm.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/paramedhelm.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/DeltaV/Clothing/Head/Helmets/paramedhelm.rsi/on-equipped-HELMET.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2170 New weapon - I.C.E.E.
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/HitscanPrototype.cs
  Resources/Locale/en-US/deltav/research/technologies.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/security.yml
  Resources/Prototypes/DeltaV/Research/arsenal.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/0-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/0-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/25-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/25-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/50-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/50-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/75-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/75-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/mag-unshaded-1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/mag-unshaded-2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/mag-unshaded-3.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/mag-unshaded-4.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/wielded-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/wielded-inhand-right.png
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M, Changes: Sprite

#2440 make glimmer events trigger psionic artifacts
  Content.Server/DeltaV/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactMetapsionicTriggerSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2131 New psionic ablility: Precognition
  Content.Server/DeltaV/Abilities/Psionics/PrecognitionPowerSystem.cs
  Content.Server/DeltaV/StationEvents/NextEvent/NextEventComponent.cs
  Content.Server/DeltaV/StationEvents/NextEvent/NextEventSystem.cs
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Content.Shared/DeltaV/Abilities/Psionics/PrecognitionPowerComponent.cs
  Content.Shared/DeltaV/Abilities/Psionics/PrecognitionResultComponent.cs
  Content.Shared/DeltaV/Actions/Events/PrecognitionPowerActionEvent.cs
  Content.Shared/Nyanotrasen/Psionics/Events.cs
  Resources/Locale/en-US/deltav/abilities/psionic.ftl
  Resources/Locale/en-US/deltav/station-events/station-event-system.ftl
  Resources/Prototypes/DeltaV/Actions/types.yml
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/DeltaV/GameRules/glimmer_events.yml
  Resources/Prototypes/DeltaV/GameRules/unknown_shuttles.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/GameRules/random_sentience.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Textures/DeltaV/Interface/Actions/actions_psionics.rsi/meta.json
  Resources/Textures/DeltaV/Interface/Actions/actions_psionics.rsi/precognition.png
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, Changes: Documentation, size/L, Changes: Sprite

#2304 Add a bread knife exclusive to perma
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Textures/DeltaV/Objects/Weapons/Melee/prison_knife.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/prison_knife.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/prison_knife.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/prison_knife.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/prison_knife.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite, S: Approved

#2463 Gorlex Girlfriends Mail
  Resources/Locale/en-US/deltav/paper/book-salvage.ftl
  Resources/Locale/en-US/deltav/paper/paper-misc.ftl
  Resources/Prototypes/DeltaV/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/books.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/DeltaV/Mail/mailDeliveries.yml
  Resources/Textures/DeltaV/Objects/Misc/gorlex_magazine.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Misc/gorlex_magazine.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#2457 make wrecks cost mining points to pull
  Content.Client/Salvage/UI/SalvageMagnetBoundUserInterface.cs
  Content.Server/Salvage/SalvageSystem.Magnet.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Shared/DeltaV/Salvage/Systems/MiningPointsSystem.cs
  Content.Shared/Salvage/Magnet/AsteroidOffering.cs
  Content.Shared/Salvage/Magnet/DebrisOffering.cs
  Content.Shared/Salvage/Magnet/ISalvageMagnetOffering.cs
  Content.Shared/Salvage/Magnet/SalvageOffering.cs
  Resources/Locale/en-US/deltav/salvage/salvage-magnet.ftl
Labels: S: Needs Review, Changes: C#, Changes: Localization, size/S

#2478 Add luna moth wings to moths
  Resources/Locale/en-US/deltav/markings/moth.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Textures/DeltaV/Mobs/Customization/Moth/moth_wings.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Moth/moth_wings.rsi/selene.png
  Resources/Textures/DeltaV/Mobs/Customization/Moth/moth_wings.rsi/selene_primary.png
  Resources/Textures/DeltaV/Mobs/Customization/Moth/moth_wings.rsi/selene_secondary.png
  Resources/Textures/DeltaV/Mobs/Customization/Moth/moth_wings.rsi/selene_tertiary.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S, Changes: Sprite

#2474 disable vent fauna events
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2077 early merge of rebalanced salv weapon researching
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Interface/Actions/actions_borg.rsi/fauna-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/icon-carp.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#2483 Fix Sleepers getting nukies as kill targets
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, size/XS

#2462 Drink flavors
  Resources/Locale/en-US/deltav/flavors/flavor-profiles.ftl
  Resources/Prototypes/DeltaV/Flavors/flavors.yml
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/L

#2459 Psychologist Loadout Improvements
  Resources/Locale/en-US/deltav/job/job-names.ftl
  Resources/Locale/en-US/deltav/preferences/loadout-groups.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Medical/psychologist.yml
  Resources/Prototypes/DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/pda-psychiatrist.png
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/pda-socialworker.png
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/pda-therapist.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#2492 Reduce amount of chef jobs on hive
  Resources/Prototypes/Maps/hive.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XS

#2491 Revert "disable vent fauna events (#2474)"
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2252 Nerfed E-Shield
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2497 fix ash storms not doing damage
  Content.Shared/Weather/SharedWeatherSystem.cs
Labels: S: Needs Review

#2488 Add kill fellow traitor objective
  Content.Server/DeltaV/Objectives/Components/PickRandomTraitorComponent.cs
  Content.Server/DeltaV/Objectives/Systems/KillFellowTraitorObjectiveSystem.cs
  Resources/Locale/en-US/deltav/objectives/conditions/kill-fellow-traitor.ftl
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#2453 Add the cargo assistant job and spawner
  Resources/Locale/en-US/deltav/job/job-description.ftl
  Resources/Locale/en-US/deltav/job/job-names.ftl
  Resources/Locale/en-US/deltav/preferences/loadout-groups.ftl
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/books.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/DeltaV/Loadouts/role_loadouts.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Cargo/cargo_assistant.yml
  Resources/Prototypes/DeltaV/Roles/play_time_trackers.yml
  Resources/Prototypes/DeltaV/StatusIcon/job.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/CargoAssistant.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/DeltaV/Markers/jobs.rsi/cargoassistant.png
  Resources/Textures/DeltaV/Markers/jobs.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/pda-cargo-assistant.png
  Resources/Textures/DeltaV/Objects/Devices/pda.rsi/pda-interntech.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idcargoassistant.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#2469 dump ore bag into oreproc on click
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2501 Removes cooked egg reaction
  Resources/Prototypes/Recipes/Reactions/single_reagent.yml
Labels: Changes: YML, S: Needs Review, size/S

#2503 1 more egg carton
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2502 Flour ops
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2486 Sneaky foam dart grenade explosive
  Resources/Locale/en-US/deltav/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#2498 add tape recorder
  Content.Client/DeltaV/TapeRecorder/TapeRecorderSystem.cs
  Content.Client/DeltaV/TapeRecorder/UI/TapeRecorderBoundUserInterface.cs
  Content.Client/DeltaV/TapeRecorder/UI/TapeRecorderWindow.xaml
  Content.Client/DeltaV/TapeRecorder/UI/TapeRecorderWindow.xaml.cs
  Content.Server/DeltaV/TapeRecorder/TapeRecorderSystem.cs
  Content.Shared/DeltaV/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Shared/DeltaV/TapeRecorder/Components/FitsInTapeRecorderComponent.cs
  Content.Shared/DeltaV/TapeRecorder/Components/TapeCasetteComponent.cs
  Content.Shared/DeltaV/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/DeltaV/TapeRecorder/Systems/SharedTapeRecorderSystem.cs
  Content.Shared/DeltaV/TapeRecorder/TapeCasetteRecordedMessage.cs
  Content.Shared/DeltaV/TapeRecorder/TapeRecorderUI.cs
  Resources/Audio/DeltaV/Items/TapeRecorder/attributions.yml
  Resources/Audio/DeltaV/Items/TapeRecorder/play.ogg
  Resources/Audio/DeltaV/Items/TapeRecorder/rewind.ogg
  Resources/Audio/DeltaV/Items/TapeRecorder/stop.ogg
  Resources/Locale/en-US/deltav/taperecorder/taperecorder.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/empty.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/idle.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/playing.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/recording.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/rewinding.png
  Resources/Textures/DeltaV/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, Changes: Sprite, size/XL, Changes: Audio

#2506 morty plushie :3
  Resources/Prototypes/DeltaV/Entities/Objects/Fun/toys.yml
  Resources/Textures/DeltaV/Objects/Fun/Toys/mortyplush.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Fun/Toys/mortyplush.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#2495 vent critters rework
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Locale/en-US/deltav/station-events/events/vent-critters.ftl
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#2481 cleanup more stuff
  Content.Server/DeltaV/Abilities/Psionics/PrecognitionPowerSystem.cs
  Content.Server/DeltaV/StationEvents/NextEvent/NextEventComponent.cs
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/DeltaV/Abilities/Psionics/PrecognitionPowerComponent.cs
  Content.Shared/DeltaV/Abilities/Psionics/PrecognitionResultComponent.cs
  Content.Shared/DeltaV/Psionics/Events.cs
  Content.Shared/Nyanotrasen/Psionics/Events.cs
  Resources/Locale/en-US/deltav/abilities/psionic.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L

#2517 fix vent critters rarely spawning anything
  Content.Server/DeltaV/Abilities/Psionics/PrecognitionPowerSystem.cs
  Content.Server/StationEvents/Components/VentCrittersRuleComponent.cs
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#2519 Precog fixes
  Content.Server/DeltaV/Abilities/Psionics/PrecognitionPowerSystem.cs
Labels: Changes: C#

#2516 added morty plushie to plushie, toy, and arcade reward pools,
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
Labels: Changes: YML, S: Needs Review, size/XS, Changes: Sprite

#2520 Maint Light Suffix
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: Changes: YML, S: Needs Review

#2522 lighthouse mining shuttle fix
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2524 Adds recipe for a box of nuggies
  Resources/Prototypes/DeltaV/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
Labels: Changes: YML

#2508 Research digiboard
  Resources/Locale/en-US/deltav/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/deltav/research/rd-clipboard.ftl
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/Objectives/stealTargetGroups.yml
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/rd_clipboard.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/rd_clipboard_over.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/rd_clipboard_paper.png
  Resources/Textures/DeltaV/Objects/Misc/rd_clipboard.rsi/rd_clipboard_pen.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#2347 hide listed ore on asteroid pulls
  Content.Client/Salvage/UI/SalvageMagnetBoundUserInterface.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2536 Holopads Patch and Additions
  Resources/Locale/en-US/deltav/holopad/holopad.ftl
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#2510 salvage points shop
  Content.Client/DeltaV/VendingMachines/ShopVendorSystem.cs
  Content.Client/DeltaV/VendingMachines/UI/ShopVendorBoundUserInterface.cs
  Content.Client/DeltaV/VendingMachines/UI/ShopVendorItem.xaml
  Content.Client/DeltaV/VendingMachines/UI/ShopVendorItem.xaml.cs
  Content.Client/DeltaV/VendingMachines/UI/ShopVendorWindow.xaml
  Content.Client/DeltaV/VendingMachines/UI/ShopVendorWindow.xaml.cs
  Content.Server/DeltaV/VendingMachines/ShopVendorSystem.cs
  Content.Shared/DeltaV/VendingMachines/PointsVendorComponent.cs
  Content.Shared/DeltaV/VendingMachines/SharedShopVendorSystem.cs
  Content.Shared/DeltaV/VendingMachines/ShopInventoryPrototype.cs
  Content.Shared/DeltaV/VendingMachines/ShopVendorComponent.cs
  Content.Shared/DeltaV/VendingMachines/ShopVendorUI.cs
  Resources/Locale/en-US/deltav/vending-machines/shop-vendor.ftl
  Resources/Migrations/deltaMigrations.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Items/Backpacks/duffelbag.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/DeltaV/Wires/layouts.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L

#2410 Port Magic Crayon From Frontier
  Content.Client/Crayon/CrayonSystem.cs
  Content.Server/Crayon/CrayonSystem.cs
  Resources/Locale/en-US/_NF/crayon/crayon-component.ftl
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail_civilian.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/magic_crayon.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/magic_crayon.yml
  Resources/Prototypes/_NF/Recipes/Crafting/magic_crayon.yml
  Resources/Textures/_NF/Objects/Fun/magic_crayon.rsi/icon-inhand-left.png
  Resources/Textures/_NF/Objects/Fun/magic_crayon.rsi/icon-inhand-right.png
  Resources/Textures/_NF/Objects/Fun/magic_crayon.rsi/icon.png
  Resources/Textures/_NF/Objects/Fun/magic_crayon.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M, Changes: Sprite, S: Approved

#2547 Fix mag shaders for ICEE
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/mag-unshaded-1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/mag-unshaded-2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/cold_cannon.rsi/mag-unshaded-3.png
Labels: size/XS, Changes: Sprite

#2511 unnerf mining rig
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: Changes: YML, size/XS

#2543 Diona immune to FTL Knockdown
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_NF/Shuttles/Components/FTLKnockdownImmuneComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#2534 Anti-LOOC fighting rule
  Resources/ServerInfo/Guidebook/DeltaV/Rules/CommunityRules/A2_Community.xml
Labels: S: Needs Review, Changes: Documentation

#2548 Add a pistol disguised as an appraisal tool
  Resources/Locale/en-US/deltav/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/appraisal-gun.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/appraisal-gun.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/appraisal-gun.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/appraisal-gun.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/appraisal-gun.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/appraisal-gun.rsi/mag-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Pistols/appraisal-gun.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#2538 Added more Syndicate Uniforms to the Emagged Uniform Printer
  Resources/Prototypes/DeltaV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, S: Needs Review, size/M

#2553 Clean up DeltaV's clothing.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/clothing.yml
Labels: Changes: YML, S: Needs Review, size/M

#2544 Secure cabinets
  Resources/Prototypes/DeltaV/Entities/Structures/Storage/SecureCabinet/secure_cabinets.yml
  Resources/Prototypes/DeltaV/Recipes/Construction/storage.yml
  Resources/Prototypes/DeltaV/Recipes/Crafting/Graphs/SecureCabinet/secure_cabinet.yml
  Resources/Textures/DeltaV/Structures/Storage/secure_cabinet.rsi/locked.png
  Resources/Textures/DeltaV/Structures/Storage/secure_cabinet.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Storage/secure_cabinet.rsi/secure-cabinet-open.png
  Resources/Textures/DeltaV/Structures/Storage/secure_cabinet.rsi/secure-cabinet.png
  Resources/Textures/DeltaV/Structures/Storage/secure_cabinet.rsi/unlocked.png
Labels: Changes: YML, S: Needs Review, size/L, Changes: Sprite
