Repository DeltaV-Station/Delta-v, pull requests merged in 2024-04, with the labels that each got.

#1049 shoukou atmos rework and tweaks
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#1030 New horns for oni.
  Resources/Locale/en-US/deltav/markings/Oni.ftl
  Resources/Locale/en-US/nyanotrasen/markings/Oni.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/bull.png
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/shaved.png
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#1059 Shoukou's quick patch
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#883 port lighthouse real
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Status: Needs Review, Changes: Map, Changes: C#

#1062 move fishops manual to deltav
  Resources/Locale/en-US/deltav/paper/book-salvage.ftl
  Resources/Locale/en-US/paper/book-salvage.ftl
  Resources/Prototypes/Catalog/Fills/Books/lore.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/books.yml
Labels: Changes: YML, Changes: Localization

#1063 lighthouse fixes
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Status: Needs Review, Changes: Map

#1064 Edge FIX: cursed steel
  Resources/Maps/edge.yml
Labels: Status: Needs Review, Changes: Map

#1065 Map Edits: Lighthouse
  Resources/Maps/lighthouse.yml
Labels: Changes: Map

#1025 Unlocked Booze-O-Mat
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: YML, Status: Needs Review

#1067 Rebase epistemics signs
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/epi1.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/epi2.png
  Resources/Textures/Nyanotrasen/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#1066 lighthouse mini fix
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Status: Needs Review, Changes: Map

#1073 Update Spawners
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/books.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
Labels: Changes: YML

#1055 Fix Ifriit ghost role showing up as unknown
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
Labels: Changes: YML

#1056 Breaching Charges
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/primed.png
Labels: Changes: YML, Changes: Sprite

#1069 Fix shuttle structure construction
  Content.Client/Wall/ShuttleWallVisuals.cs
  Content.Shared/Wall/ShuttleWallVisuals.cs
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Walls/shuttle.rsi/meta.json
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-0.png
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-1.png
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-2.png
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-3.png
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-4.png
  Resources/Textures/Structures/Walls/shuttle.rsi/shuttle_construct-5.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/full.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/meta.json
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state0.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state1.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state2.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state3.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state4.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state5.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state6.png
  Resources/Textures/Structures/Walls/shuttleinterior.rsi/state7.png
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Sprite

#1070 lighthouse mini fix
  Resources/Maps/lighthouse.yml
Labels: Status: Needs Review, Changes: Map

#1080 trade station markers and debug assert fix
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
Labels: Changes: C#

#1079 Makes asteroids great-ish again
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/Random/miningrock.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Walls/mountain.yml
  Resources/Prototypes/Procedural/biome_templates.yml
Labels: Changes: YML

#1081 fix nukie planet whitelist
  Resources/Maps/Nonstations/nukieplanet.yml
Labels: Status: Needs Review, Changes: Map

#1083 Brings back the clown hardsuit.
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
Labels: Changes: YML

#1074 Randomized lollipop and gumball flavors
  Content.Client/DeltaV/Abilities/Borgs/RandomizedCandyVisualizer.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Server/DeltaV/Abilities/Borgs/CandyFlavorPrototype.cs
  Content.Server/DeltaV/Abilities/Borgs/RandomizedCandySystem.cs
  Content.Server/Nyanotrasen/Abilities/Borgs/FabricateCandyComponent.cs
  Content.Server/Nyanotrasen/Abilities/Borgs/FabricateCandySystem.cs
  Content.Shared/DeltaV/Abilities/Borgs/RandomizedCandyComponent.cs
  Resources/Locale/en-US/deltav/flavors/flavor-profiles.ftl
  Resources/Prototypes/DeltaV/Flavors/candyflavors.yml
  Resources/Prototypes/DeltaV/Flavors/flavors.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/candy.yml
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/gumball-shine.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/gumball.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/lollipop-ball.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/lollipop-equipped-MASK-vulpkanin.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/lollipop-equipped-MASK.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/lollipop-stickandshine.png
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization, Changes: Sprite

#1095 Fix Access: second act
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: YML

#1100 Mr. Butlertron can now be vinced
  Resources/Prototypes/DeltaV/NPC/roboisseur.yml
Labels: Changes: YML

#1084 add prison headsets to secdrobe and prison lockers
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
Labels: Changes: YML

#1085 remove duplicate "classic crewcut" (got upstreamed)
  Resources/Locale/en-US/deltav/accessories/hair.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/hair.yml
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/classic_crewcut.png
  Resources/Textures/DeltaV/Mobs/Customization/hair.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#1107 Adds DV comment to upstream file
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
Labels: Changes: YML, Status: Needs Review

#1043 make nukie require a round of engi and salv
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Changes: YML

#931 Smoke.mp4
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/pink.rsi/closed.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/pink.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/pink.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/pink.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/pink.rsi/open.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/purple.rsi/closed.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/purple.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/purple.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/purple.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Cartons/purple.rsi/open.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/closed.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/open.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/pink.rsi/trash.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/closed.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/open.png
  Resources/Textures/DeltaV/Objects/Consumable/Smokeables/Cigarettes/Packs/purple.rsi/trash.png
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#1103 lighthouse proto update
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Status: Needs Review, Changes: Map

#1121 remove bad openables from upstream merge
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/deep_fryer.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/oracle.yml
Labels: Changes: YML

#1123 Update DV file note
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: YML

#1120 lighthouse update
  Resources/Maps/lighthouse.yml
Labels: Status: Needs Review, Changes: Map

#1127 Reduce inventory of unlocked Booze-O-Mats
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/unlockedboozeomat.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: YML

#1132 lighthouse jukebox and n2
  Resources/Maps/lighthouse.yml
Labels: Status: Needs Review, Changes: Map

#1136 Edge Station - Returned box evac & small changes
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Status: Needs Review, Changes: Map

#1094 Add awoo emote to vulps (and harpies)
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#1142 lighthouse update
  Resources/Maps/lighthouse.yml
Labels: Status: Needs Review, Changes: Map

#718 Railgun
  Resources/Audio/DeltaV/Effects/license.txt
  Resources/Audio/DeltaV/Effects/railgun_charge.ogg
  Resources/Audio/DeltaV/Weapons/Guns/Gunshots/railgun.ogg
  Resources/Audio/DeltaV/Weapons/Guns/Impacts/rod_impact.ogg
  Resources/Audio/DeltaV/license.txt
  Resources/Locale/en-US/deltav/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/railgun.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Railguns/railgun.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/weapons.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Ammunition/Cartridges/railrod.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Ammunition/Cartridges/railrod.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Ammunition/Cartridges/railrod.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Ammunition/Cartridges/railrod_nonlethal.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Ammunition/Cartridges/railrod_nonlethal.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Ammunition/Cartridges/railrod_nonlethal.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Projectiles/projectiles.rsi/beam_heavy_green.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Projectiles/projectiles.rsi/impact_beam_heavy_green.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Projectiles/projectiles.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Projectiles/projectiles.rsi/muzzle_beam_heavy_green.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun.rsi/wielded-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun.rsi/wielded-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun_ert.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun_ert.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun_ert.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun_ert.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun_ert.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun_ert.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun_ert.rsi/wielded-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun_ert.rsi/wielded-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun_laser.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun_laser.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Railguns/railgun_laser.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite
