Repository DeltaV-Station/Delta-v, pull requests merged in 2024-08, with the labels that each got.

#1567 Update chibi.yml
  Resources/Maps/chibi.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1571 Update chibi.yml
  Resources/Maps/chibi.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1581 Prescription security HUD fix
  Resources/Prototypes/DeltaV/Recipes/Construction/Graphs/clothing/prescription_huds.yml
Labels: Changes: YML

#1584 Adds some alternate job titles
  Resources/Locale/en-US/deltav/job/job-names.ftl
  Resources/Locale/en-US/deltav/preferences/loadout-groups.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Cargo/salvage_technician.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Civilian/clown.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
Labels: Changes: YML, Changes: Localization

#1587 The Return Of War
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: YML

#1482 Reintroduces The Reclaimer as a ruin
  Resources/Maps/Shuttles/DeltaV/mining_base.yml
  Resources/Maps/Shuttles/DeltaV/mining_broken.yml
  Resources/Maps/Shuttles/DeltaV/mining_carp.yml
  Resources/Maps/Shuttles/DeltaV/mining_morebroken.yml
  Resources/Maps/Shuttles/DeltaV/mining_mostdestroyed.yml
  Resources/Maps/Shuttles/DeltaV/mining_snakes.yml
  Resources/Maps/Shuttles/DeltaV/mining_ticks.yml
  Resources/Maps/Shuttles/DeltaV/mining_watcher.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: YML, Changes: Map

#1600 Recommit failed changelog entries
  Resources/Changelog/Parts/1482.yml
  Resources/Changelog/Parts/1581.yml
  Resources/Changelog/Parts/1588.yml
  Resources/Changelog/Parts/1592.yml
Labels: Changes: YML

#1491 AAC tablet for speech-impaired characters
  Content.Client/DeltaV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/DeltaV/AACTablet/AACTabletComponent.cs
  Content.Server/DeltaV/AACTablet/AACTabletSystem.cs
  Content.Shared/DeltaV/AACTablet/SharedAACTabletSystem.cs
  Content.Shared/DeltaV/QuickPhrase/QuickPhrasePrototype.cs
  Resources/Locale/en-US/deltav/phrases/common.ftl
  Resources/Locale/en-US/deltav/phrases/species.ftl
  Resources/Locale/en-US/deltav/phrases/subjects.ftl
  Resources/Locale/en-US/deltav/phrases/threats.ftl
  Resources/Locale/en-US/deltav/phrases/uncategorized.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/aac_tablet.yml
  Resources/Prototypes/DeltaV/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/commands.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/manners.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/numbers.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/pronouns.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/qualitative.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/questions.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/animals.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/crew.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/generic_species.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/command.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/engineering.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/epistemics.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/generic.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/justice.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/logistics.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/medical.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/security.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/service.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/hazards.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/hostiles.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/status.yml
  Resources/Prototypes/DeltaV/QuickPhrases/base.yml
  Resources/Prototypes/DeltaV/QuickPhrases/jobs.yml
  Resources/Prototypes/DeltaV/QuickPhrases/locations.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/medical.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac-inhand-left.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac-inhand-right.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_screen-inhand-left.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_screen-inhand-right.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_screen.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_tablet.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/meta.json
Labels: Changes: YML, Changes: UI, Changes: C#, Changes: Localization, Changes: Sprite

#1605 remove laser from cap locker with hardsuit
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML

#1456 Carpy the Legal Carp gets a suit for differentiation
  Content.Client/DamageState/DamageStateVisualsComponent.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/DeltaV/Mobs/Pets/lawyercarp.rsi/alive.png
  Resources/Textures/DeltaV/Mobs/Pets/lawyercarp.rsi/dead.png
  Resources/Textures/DeltaV/Mobs/Pets/lawyercarp.rsi/dead_mouth.png
  Resources/Textures/DeltaV/Mobs/Pets/lawyercarp.rsi/icon.png
  Resources/Textures/DeltaV/Mobs/Pets/lawyercarp.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Pets/lawyercarp.rsi/mouth.png
  Resources/Textures/DeltaV/Mobs/Pets/lawyercarp.rsi/suit.png
  Resources/Textures/DeltaV/Mobs/Pets/lawyercarp.rsi/suit_dead.png
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Sprite

#1615 More Locked Blast Doors
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Shutter/blast_door.yml
Labels: Changes: YML

#1617 Fix Nukie Mouse reinforcements
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
Labels: Changes: YML, Status: Needs Review

#1620 bugfix: mail icons
  Content.Client/Nyanotrasen/Mail/MailSystem.cs
Labels: Changes: YML, Changes: C#

#1625 Adjusts AME rate of diminishing returns
  Content.Server/Ame/AmeNodeGroup.cs
Labels: Changes: YML, Changes: C#

#1614 Minor changes to the NTES Vertex
  Resources/Maps/Shuttles/DeltaV/NTES_Vertex.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1628 add backpacks to prisoners/gladiators
  Resources/Prototypes/Nyanotrasen/Loadouts/role_loadouts.yml
Labels: Changes: YML

#1630 fix recruiter pen
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/recruiter.yml
Labels: Changes: YML

#1604 Map updates
  Resources/Maps/asterisk.yml
  Resources/Maps/chibi.yml
  Resources/Maps/micro.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1629 AME changes (oh boy)
  Content.Server/Ame/AmeNodeGroup.cs
Labels: Changes: YML, Changes: C#

#1635 Pro fix to the NTES Vertex
  Resources/Maps/Shuttles/DeltaV/NTES_Vertex.yml
Labels: Changes: YML, Changes: Map

#1472 Courier performancer tracker
  Content.Client/DeltaV/CartridgeLoader/Cartridges/MailMetricUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/MailMetricUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/MailMetricUiFragment.xaml.cs
  Content.Server/DeltaV/Cargo/Components/StationLogisticStatsDatabaseComponent.cs
  Content.Server/DeltaV/Cargo/Systems/LogisticStatsSystem.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeSystem.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/MailMetricUiState.cs
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Stations/mail.yml
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-mail.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: UI, Changes: C#, Changes: Localization, Changes: Sprite

#1627 yml cleanup
  .github/labeler.yml
  Resources/Prototypes/DeltaV/Body/Organs/vulpkanin.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/backpacks.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/duffelbag.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/satchel.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/NPC/syndicateNPCs.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_civilian.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_command.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_engineering.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_epistemology.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_medical.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_security.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_specific_items.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
Labels: Changes: YML, Changes: Map

#1634 AAC tablet changes 1: headings and more phrases
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml.cs
  Resources/Locale/en-US/deltav/phrases/common.ftl
  Resources/Locale/en-US/deltav/phrases/locations.ftl
  Resources/Locale/en-US/deltav/phrases/subjects.ftl
  Resources/Locale/en-US/deltav/phrases/threats.ftl
  Resources/Locale/en-US/deltav/phrases/uncategorized.ftl
  Resources/Prototypes/DeltaV/QuickPhrases/Common/commands.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/numbers.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/pronouns.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/qualitative.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/generic.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/medical.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/service.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/hazards.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/status.yml
  Resources/Prototypes/DeltaV/QuickPhrases/locations.yml
Labels: Changes: YML, Changes: UI, Changes: C#, Changes: Localization

#1642 lighthouse update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1580 glacier update
  Resources/Maps/glacier.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1637 fix admin pda health analyzer
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML, Changes: C#

#1606 New insulated head cage sprite
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/cage.rsi/equipped-HELMET.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/cage.rsi/meta.json
Labels: Changes: YML, Changes: C#, Changes: Sprite

#1647 add tank harness to mantis loadout
  Resources/Prototypes/DeltaV/Loadouts/role_loadouts.yml
  Resources/Prototypes/Nyanotrasen/Loadouts/role_loadouts.yml
Labels: Changes: YML

#1643 fix carpy suit shading
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML

#1653 id-card-access-level-cj --> chief-justice
  Resources/Prototypes/DeltaV/Access/justice.yml
Labels: Changes: YML

#1649 fix mass sleep
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/MassSleep/MassSleepPowerSystem.cs
Labels: Status: Needs Review, Changes: C#

#1638 half underpressure lockout threshold
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Changes: YML

#1651 Plant bag of holding, Botanists rejoice!
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Hydroponics/plant_bag_holding.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/devices.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#1631 make mindshields removable
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, Changes: C#

#1657 fix agent id senior job icons
  Resources/Locale/en-US/deltav/job/job-names.ftl
  Resources/Prototypes/StatusIcon/job.yml
Labels: Changes: YML, Changes: Localization

#1659 mr butlertron changes
  Resources/Prototypes/DeltaV/NPC/roboisseur.yml
Labels: Changes: YML

#1660 fix aac tables not working on radio
  Content.Server/DeltaV/AACTablet/AACTabletComponent.cs
  Content.Server/DeltaV/AACTablet/AACTabletSystem.cs
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/aac_tablet.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#1664 Rules: close MMI loophole in New Life Rules
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/3_NewLife.xml
Labels: Status: Needs Review, Changes: Documentation

#1666 add survival loadouts to deltav antags
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/DeltaV/GameRules/unknown_shuttles.yml
Labels: Changes: YML

#1668 add atmos stuff for mapping vox boxes
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/Monitor/Components/AirAlarmComponent.cs
  Content.Server/Atmos/Piping/Trinary/Components/GasFilterComponent.cs
  Content.Server/Atmos/Piping/Unary/Components/GasVentScrubberComponent.cs
  Resources/Prototypes/Atmospherics/thresholds.yml
  Resources/Prototypes/DeltaV/Entities/Markers/atmos_blocker.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Specific/Atmospherics/vox.yml
Labels: Changes: YML, Changes: C#

#1645 Map Edits: Arena/Hive
  Resources/Maps/arena.yml
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/hive.yml
Labels: Changes: YML, Changes: Map

#1673 Add Service/decorative floors to the Cutter Machine
  Resources/Prototypes/DeltaV/Recipes/Lathes/tiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML

#1674 pulse price hike
  Resources/Prototypes/DeltaV/Catalog/Shipyard/civilian.yml
Labels: Changes: YML

#1683 fix justice id cards
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/identification_cards.yml
Labels: Changes: YML

#1661 Upates spawners with entity tables
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/books.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/machineparts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
Labels: Changes: YML

#1678 job whitelists panel !!!
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml.cs
  Content.Client/Administration/UI/PlayerPanel/PlayerPanelEui.cs
  Content.Client/DeltaV/Administration/UI/DepartmentWhitelistPanel.xaml
  Content.Client/DeltaV/Administration/UI/DepartmentWhitelistPanel.xaml.cs
  Content.Client/DeltaV/Administration/UI/JobWhitelistsEui.cs
  Content.Client/DeltaV/Administration/UI/JobWhitelistsWindow.xaml
  Content.Client/DeltaV/Administration/UI/JobWhitelistsWindow.xaml.cs
  Content.Server/DeltaV/Administration/Commands/JobWhitelistsCommand.cs
  Content.Server/DeltaV/Administration/JobWhitelistsEui.cs
  Content.Server/Players/JobWhitelist/JobWhitelistManager.cs
  Content.Shared/DeltaV/Administration/JobWhitelistsEuiState.cs
  Content.Shared/DeltaV/Roles/JobRequirement/WhitelistRequirement.cs
  Resources/Locale/en-US/deltav/administration/ui/player-panel.ftl
  Resources/Locale/en-US/deltav/info/whitelists.ftl
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: Changes: YML, Changes: UI, Changes: C#, Changes: Localization

#1697 fix nyano coat loadouts
  Resources/Prototypes/Nyanotrasen/Loadouts/Jobs/Cargo/mail_carrier.yml
  Resources/Prototypes/Nyanotrasen/Loadouts/Jobs/Epistemics/forensicmantis.yml
Labels: Changes: YML

#1696 more helix price
  Resources/Prototypes/DeltaV/Catalog/Shipyard/civilian.yml
Labels: Changes: YML

#1699 add playtime requirement to disaster victim ghost roles
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: Changes: YML

#1700 the return of fireaxe prying
  Resources/Locale/en-US/deltav/tools/tool-qualities.ftl
  Resources/Prototypes/DeltaV/tool_qualities.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Tiles/plating.yml
Labels: Changes: YML, Changes: Localization

#1702 fix revenant jug spilling
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: Changes: YML

#1704 remove femtanyl from the jukebox
  Resources/Audio/DeltaV/Jukebox/attributions.yml
  Resources/Audio/DeltaV/Jukebox/femtanyl_-_MURDER_EVERY_1_U_KNOW_feat._takihasdied_MONO.ogg
  Resources/Prototypes/DeltaV/Catalog/Jukebox/Standard.yml
Labels: Changes: YML, Status: Needs Review

#1708 fix blanket whitelist not working in client
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
Labels: Changes: C#

#1710 fix broken emotes
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
Labels: Changes: YML

#1709 remove duplicate mime survival box
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: YML

#1711 nospawn cleanup
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Security/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/special.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/Entities/Markers/Spawners/corpses.yml
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Vapes/vape.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Books/lore.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Paper/salvage_lore.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Effects/lightning.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ration.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Projectiles/shotgun.yml
Labels: Changes: YML

#1717 job whitelist panel presets
  Content.Client/DeltaV/Administration/UI/JobWhitelistsWindow.xaml
  Content.Client/DeltaV/Administration/UI/JobWhitelistsWindow.xaml.cs
  Content.Shared/DeltaV/Whitelist/WhitelistTierPrototype.cs
  Resources/Prototypes/DeltaV/whitelist_tiers.yml
Labels: Changes: YML, Changes: UI, Changes: C#

#1716 Tidying up QM/LO placement for jobs
  Resources/Locale/en-US/deltav/job/job-names.ftl
  Resources/Locale/en-US/job/job-names.ftl
Labels: Changes: Localization

#1718 make jobs that dont use whitelist greyed out on whitelist panel
  Content.Client/DeltaV/Administration/UI/DepartmentWhitelistPanel.xaml.cs
Labels: Changes: UI, Changes: C#

#1720 Felinid Emotes
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Textures/DeltaV/Interface/Emotes/attributions.yml
  Resources/Textures/DeltaV/Interface/Emotes/growl.png
  Resources/Textures/DeltaV/Interface/Emotes/hiss.png
  Resources/Textures/DeltaV/Interface/Emotes/meow.png
  Resources/Textures/DeltaV/Interface/Emotes/mew.png
  Resources/Textures/DeltaV/Interface/Emotes/purr.png
Labels: Changes: YML

#1701 New Accents, Accent Weight Change + New Irish Accent Redux (From PR #1640 Thanks GitHub)
  Content.Server/DeltaV/Speech/Components/IrishAccentComponent.cs
  Content.Server/DeltaV/Speech/EntitySystems/IrishAccentSystem.cs
  Resources/Locale/en-US/deltav/accent/irish.ftl
  Resources/Locale/en-US/deltav/traits/traits.ftl
  Resources/Prototypes/DeltaV/Accents/word_replacements.yml
  Resources/Prototypes/DeltaV/Traits/neutral.yml
  Resources/Prototypes/Traits/speech.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#1694 Adds Vulp Markings to Felinids
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
Labels: Changes: YML, Status: Needs Review

#1721 mining re-rebalance
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
Labels: Changes: YML
