Repository DeltaV-Station/Delta-v, pull requests merged in 2024-10, with the labels that each got.

#1951 Reduce Topical Cook Time
  Resources/Prototypes/Recipes/Cooking/medical_recipes.yml
Labels: Changes: YML, Status: Needs Review

#1933 Justice can into access Criminal Records Computer
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: YML, Status: Needs Review

#1943 Removing some spaces from YAML files
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#1817 make fugitives anonymous
  Content.Server/DeltaV/StationEvents/Events/FugitiveRule.cs
  Resources/Locale/en-US/deltav/game-ticking/game-rules/rule-fugitive.ftl
Labels: Status: Needs Review, Changes: C#, Changes: Localization

#1915 the big RE culling/rebalance
  Resources/Prototypes/DeltaV/Recipes/Lathes/powercells.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Devices/swapper.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/node_scanner.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/Research/experimental.yml
Labels: Changes: YML

#1956 Move blue combat hardsuits to the SecFab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML

#1958 Update asterisk.yml
  Resources/Maps/asterisk.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1920 Shoukou: Bridge Remodel and Station Pets
  Resources/Maps/shoukou.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1961 Map Edits: Edge
  Resources/Maps/edge.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1955 Goliath HP Nerf
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Labels: Changes: YML, Status: Needs Review

#1942 Reapplies the decals / wood tiles / door assembly sprites
  Resources/Prototypes/Decals/Overlays/grayscale.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/checkerNESW.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/checkerNWSE.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/diagonal.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/diagonal_checker_a.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/diagonal_checker_b.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/fulltile_overlay.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/halftile_overlay.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/halftile_overlay_180.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/halftile_overlay_270.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/halftile_overlay_90.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/meta.json
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/quartertile_overlay.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/quartertile_overlay_180.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/quartertile_overlay_270.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/quartertile_overlay_90.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/threequartertile_overlay.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/threequartertile_overlay_180.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/threequartertile_overlay_270.png
  Resources/Textures/DeltaV/Decals/Overlays/greyscale.rsi/threequartertile_overlay_90.png
  Resources/Textures/DeltaV/Tiles/attributions.yml
  Resources/Textures/DeltaV/Tiles/wood.png
  Resources/Textures/DeltaV/Tiles/wood_broken.png
  Resources/Textures/DeltaV/Tiles/wood_large.png
  Resources/Textures/DeltaV/Tiles/wood_tile.png
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#1963 unfuck frezon and n2o prices
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/Atmospherics/gases.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#1968 Shoukou: Quick Patch
  Resources/Maps/shoukou.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1953 disable species vision filters by default
  Content.Shared/DeltaV/CCVars/DCCVars.cs
Labels: Status: Needs Review, Changes: C#

#1930 update links in the rules
  Resources/ServerInfo/Guidebook/DeltaV/Rules/DeltaVRuleset.xml
Labels: Changes: Documentation

#1971 Adds Goliath to Arena Spawner
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/mobs.yml
Labels: Changes: YML, Status: Needs Review

#1969 Makes APCs rotate again
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/base.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/broken.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/display-charging.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/display-full.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/display-lack.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/display-remote.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/emag-unlit.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/frame.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/lock0-locked.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/lock1-locked.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/panel.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/sparks-unlit.png
  Resources/Textures/DeltaV/Structures/Power/apc.rsi/static.png
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#1974 Changed rules on skeleton ghost role.
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#1972 Tweaks map pops
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, Changes: Map

#1976 Fixes rules locale on the dragon ghost role.
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: YML, Status: Needs Review

#1970 Makes sneaky rodents able to avoid traps
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML, Status: Needs Review

#1996 early merge of fix item locations
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: Status: Needs Review, Changes: C#

#1994 Added hiss emote to tarantulas
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: Changes: YML, Status: Needs Review

#1997 add Hiss emote to arachnid
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
Labels: Changes: YML, Status: Needs Review

#1998 add lone digger by caravan palace to the jukebox
  Resources/Audio/DeltaV/Jukebox/Caravan_Palace_Lone_Digger-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/attributions.yml
  Resources/Prototypes/DeltaV/Catalog/Jukebox/Standard.yml
Labels: Changes: YML, Status: Needs Review, Changes: Audio

#1988 Completely rework Lighthouse Medbay
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Changes: Map

#1981 glacier update
  Resources/Maps/glacier.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#2002 blacklist nukedisk from slime storage
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/mouth_storage.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Changes: YML, Status: Needs Review

#1982 upstream merge 7/10
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
  Content.Server/Destructible/Thresholds/Behaviors/TimerStartBehavior.cs
  Content.Server/Explosion/Components/TimerStartOnSignalComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Signal.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.FTL.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/Hands/Components/HandsComponent.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Migrations/migration.yml
  Resources/Prototypes/DeviceLinking/sink_ports.yml
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Hydroponics/randomMutations.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/Head/Misc/hairflower.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Misc/hairflower.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/hairflower.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/autismpin.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/goldautismpin.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/aro-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/asex-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/autism-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/autism.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/bi-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/gay-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/goldautism-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/goldautism.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/inter-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/les-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/lgbt-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/non-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/pan-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/trans-equipped-NECK.png
  Resources/Textures/Tiles/steel.png
  Resources/clientCommandPerms.yml
Labels: Changes: YML, Status: Needs Review, Changes: UI, Changes: C#, Changes: Localization, Changes: Sprite

#1983 Adds the coordinates to the rattle message.
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
Labels: Status: Needs Review, Changes: C#

#1985 Add foam toys crate to the cargo request catalog
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/fun.yml
Labels: Changes: YML, Status: Needs Review

#1980 untroll glimmermobspawnrule
  Content.Server/DeltaV/StationEvents/Events/GlimmerMobSpawnRule.cs
Labels: Status: Needs Review, Changes: C#

#2011 Raised the price of tracking implants.
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
Labels: Changes: YML, Status: Needs Review

#2013 Removes suffix from toy box.
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: Changes: YML, Status: Needs Review

#2021 Fixes the Helix shuttle wiring.
  Resources/Maps/Shuttles/DeltaV/helix.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#2022 Sec Star Returns
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: YML, Status: Needs Review

#2024 Theobromine Tweaks (vulps + coffee)
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Changes: YML, Status: Needs Review

#2026 remove 8 second role rule timer
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review, Changes: C#

#2027 remove salt from salvage
  Resources/Prototypes/Procedural/Magnet/asteroid_ore_gens.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/ore.yml
Labels: Changes: YML

#2030 replace mantis bag prototypes with starting gear
  Resources/Locale/en-US/deltav/preferences/loadout-groups.ftl
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Nyanotrasen/Loadouts/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/Loadouts/loadout_groups.yml
  Resources/Prototypes/Nyanotrasen/Loadouts/role_loadouts.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#2031 give xenos speech sounds from rmc14
  Resources/Audio/_RMC14/Voice/Xeno/alien_talk1.ogg
  Resources/Audio/_RMC14/Voice/Xeno/alien_talk2.ogg
  Resources/Audio/_RMC14/Voice/Xeno/alien_talk3.ogg
  Resources/Audio/_RMC14/Voice/Xeno/attributions.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/_RMC14/SoundCollections/xeno_speech.yml
  Resources/Prototypes/_RMC14/Voice/speech_sounds.yml
Labels: Changes: YML, Status: Needs Review, Changes: Audio

#2033 disable the stupid fucking rate limit popup
  Content.Server/Chat/Managers/ChatManager.RateLimit.cs
Labels: Status: Needs Review, Changes: C#

#2034 Adding clerk access to evidence lockers and brig timers.
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/timer.yml
Labels: Changes: YML, Status: Needs Review

#2037 use LocalizedJobTitle in crew manifest
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
Labels: Changes: C#

#1960 make martyr module disarmable
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/DeltaV/Recipes/Construction/Graphs/utilities/borg_modules.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Objects/Devices/payload.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: YML

#2028 add robotics access and mapping stuff
  Resources/Locale/en-US/deltav/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Access/research.yml
  Resources/Prototypes/DeltaV/Access/epistemics.yml
  Resources/Prototypes/DeltaV/Access/misc.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Textures/DeltaV/Markers/jobs.rsi/meta.json
  Resources/Textures/DeltaV/Markers/jobs.rsi/roboticist.png
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#2041 Solaris midi fix
  Resources/Audio/MidiCustom/space-station-14.sf2
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
Labels: Changes: YML, Status: Needs Review

#2038 fix playtime formatting (#32974)
  Content.Client/Info/PlaytimeStats/PlaytimeStatsEntry.cs
  Content.Client/Info/PlaytimeStats/PlaytimeStatsWindow.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Content.Shared/Roles/JobRequirement/DepartmentTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/OverallPlaytimeRequirement.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Resources/Locale/en-US/_lib.ftl
  Resources/Locale/en-US/info/playtime-stats.ftl
  Resources/Locale/en-US/job/role-requirements.ftl
Labels: Status: Needs Review, Changes: C#, Changes: Localization

#2043 tweak: Remove 'nuke' replacement from Italian accent
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: YML, Status: Needs Review

#2044 early merge killpersonconditionsystem refactor (#32680)
  Content.Server/Objectives/Components/TargetObjectiveImmuneComponent.cs
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
Labels: Status: Needs Review, Changes: C#

#2046 Made pie cannon usable by pacifists
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
Labels: Changes: YML, Status: Needs Review

#2052 Add the .38 magazine to the emagged autolathe.
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML

#2057 cherry-pick "Fix server crash on shutdown due to DB notifications" (#31379)
  Content.Server/Database/ServerDbPostgres.Notifications.cs
Labels: Status: Needs Review, Changes: C#

#2012 Arsenal tech adjustment
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: YML, Status: Needs Review

#1916 make teslas great again
  Content.Server/DeltaV/Tesla/TeslaEnergyBallSystem.PassiveDrain.cs
  Content.Server/Tesla/Components/TeslaEnergyBallComponent.cs
  Content.Server/Tesla/EntitySystem/TeslaEnergyBallSystem.cs
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/crates.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#2061 CancerMouseFix
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail.yml
Labels: Changes: YML, Status: Needs Review

#2064 blacklist winter coats from mail capsule
  Resources/Prototypes/_NF/Entities/Objects/Misc/mail_capsule.yml
Labels: Changes: YML, Status: Needs Review

#2066 bring back old railing
  Resources/Prototypes/DeltaV/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
Labels: Changes: YML, Status: Needs Review

#2039 Rules Rewrite 24OCT2024
  Resources/Locale/en-US/deltav/guidebook/guides.ftl
  Resources/Prototypes/DeltaV/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/0_Admin.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/CommunityRules/A1_ERP.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/CommunityRules/A2_Community.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/CommunityRules/A3_Streaming.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/CommunityRules/A4_Ahelp.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/CommunityRules/A5_Exploits.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/CommunityRules/D2_Exploits.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/CommunityRules/E1_ERP.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/DeltaVRuleset.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/1_Behave.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/1_ServerExpectations.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/2_Metagaming.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/3_NewLife.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/3_Powergaming.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/4_NamingConventions.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/4_Self-antag.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/5_Leaving.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/5_RoleplayGuidelines.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/6_Powergaming.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/GameRules/7_EOR.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/RoleRules/C1_CommandSecurityJustice.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/RoleRules/C2_PrisonerRule.xml
  Resources/ServerInfo/Guidebook/DeltaV/Rules/RoleRules/C3_Antags.xml
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Documentation

#2067 mail refactor
  Content.Client/DeltaV/CartridgeLoader/Cartridges/MailMetricUiFragment.xaml.cs
  Content.Client/DeltaV/Mail/MailComponent.cs
  Content.Client/DeltaV/Mail/MailSystem.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeSystem.cs
  Content.Server/DeltaV/Mail/Components/DelayedItemComponent.cs
  Content.Server/DeltaV/Mail/Components/MailComponent.cs
  Content.Server/DeltaV/Mail/Components/MailReceiverComponent.cs
  Content.Server/DeltaV/Mail/Components/MailTeleporterComponent.cs
  Content.Server/DeltaV/Mail/Components/StationMailRouterComponent.cs
  Content.Server/DeltaV/Mail/EntitySystems/DelayedItemSystem.cs
  Content.Server/DeltaV/Mail/EntitySystems/MailSystem.cs
  Content.Server/DeltaV/Mail/MailCommands.cs
  Content.Server/DeltaV/Mail/MailConstants.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/MailMetricUiState.cs
  Content.Shared/DeltaV/Mail/MailDeliveryPoolPrototype.cs
  Content.Shared/DeltaV/Mail/MailVisuals.cs
  Content.Shared/DeltaV/Mail/SharedMailComponent.cs
  Content.Shared/Nyanotrasen/Mail/SharedMailComponent.cs
Labels: Status: Needs Review, Changes: UI, Changes: C#, Holy Shit

#2068 cherry pick "Fix Bug With Uppercase Radio Keys" (#33031)
  Content.Shared/Chat/SharedChatSystem.cs
Labels: Status: Needs Review, Changes: C#

#2070 add the no EORG popup
  Content.Client/DeltaV/RoundEnd/NoEorgPopup.xaml
  Content.Client/DeltaV/RoundEnd/NoEorgPopup.xaml.cs
  Content.Client/DeltaV/RoundEnd/NoEorgPopupSystem.cs
  Content.Shared/DeltaV/CCVars/DCCVars.cs
  Resources/Locale/en-US/deltav/roundend/no-eorg-popup.ftl
Labels: Status: Needs Review, Changes: UI, Changes: C#, Changes: Localization

#2008 Removed mention of the full auto from the viper uplink catalog locale.
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: Changes: Localization

#2053 Make permas start with tracking implant already implanted.
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
Labels: Changes: YML, Status: Needs Review, Status: Do Not Merge

#2073 BorrChassis typo ops
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#1889 Scar and Tattoo Fixes
  Resources/Locale/en-US/deltav/markings/scars.ftl
  Resources/Locale/en-US/deltav/markings/tattoos.ftl
  Resources/Locale/en-US/markings/tattoos.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Textures/DeltaV/Mobs/Customization/scars.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/scars.rsi/scar_chest_female.png
  Resources/Textures/DeltaV/Mobs/Customization/tattoos.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/tattoos.rsi/tattoo_hive_chest_female.png
  Resources/Textures/DeltaV/Mobs/Customization/tattoos.rsi/tattoo_nightling.png
  Resources/Textures/DeltaV/Mobs/Customization/tattoos.rsi/tattoo_nightling_female.png
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#2075 cherry-pick "fix chameleon projector bot whitelist" (#33055)
  Resources/Prototypes/Entities/Objects/Devices/chameleon_projector.yml
Labels: Changes: YML, Status: Needs Review
