Repository DeltaV-Station/Delta-v, pull requests merged in 2024-01, with the labels that each got.

#634 Listening Outpost Tweaks
  Content.Server/DeltaV/StationEvents/Components/PirateRadioSpawnRuleComponent.cs
  Resources/Maps/Shuttles/DeltaV/DV-pirateradio.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/salvage.yml
  Resources/Prototypes/DeltaV/GameRules/events.yml
Labels: Status: Needs Review, Changes: Map, Changes: C#

#594 Reverts Shot Gun Sprites
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/shotgun_cabinet.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/enforcer.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/enforcer.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/enforcer.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/enforcer.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/enforcer.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/enforcer.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/improvised_shotgun.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/improvised_shotgun.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/improvised_shotgun.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/improvised_shotgun.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/improvised_shotgun.rsi/ishotgunstep1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/improvised_shotgun.rsi/ishotgunstep2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/improvised_shotgun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/pump.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/pump.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/pump.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/pump.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/pump.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/pump.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/sawn.rsi/bolt-open.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/sawn.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/sawn.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/sawn.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/sawn.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Shotguns/sawn.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-empty-open.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-filled-closed.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-filled-open.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/glass-1.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/glass-2.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/glass-3.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/glass-4.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/glass-up.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/glass.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/locked.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/shotgun.png
  Resources/Textures/DeltaV/Structures/Wallmounts/shotgun_cabinet.rsi/unlocked.png
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#580 Bbgun
  Resources/Locale/en-US/deltav/prototypes/catalog/cargo/cargo-fun.ftl
  Resources/Locale/en-US/deltav/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Fun/toy_guns.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Boxes/toy_guns.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/toy_projectiles.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Ammunition/Boxes/bbgun.rsi/bbbox.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Ammunition/Boxes/bbgun.rsi/bbbullet.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Ammunition/Boxes/bbgun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/bbgun.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/bbgun.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/bbgun.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/bbgun.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/bbgun.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/bbgun.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#636 give revs a chance
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, Status: Needs Review

#638 Listening Outpost hotfix
  Resources/Prototypes/DeltaV/GameRules/events.yml
Labels: Changes: YML, Status: Needs Review

#640 Outpost emergency hotfix
  Resources/Prototypes/DeltaV/GameRules/events.yml
Labels: Changes: YML, Status: Needs Review

#637 Seperate flag for whitelist commands
  Content.Server/Whitelist/WhitelistCommands.cs
  Content.Shared/Administration/AdminFlags.cs
Labels: Changes: C#

#645 Adjust tidy tool
  Tools/Nyanotrasen/TidyToolHowTo.txt
  Tools/Nyanotrasen/tidy_map.py
Labels: Status: Needs Review

#648 Janidrobe has once again maiden outfits.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
Labels: Changes: YML, Status: Needs Review

#646 Map Edits
  Resources/Maps/arena.yml
Labels: Status: Needs Review, Changes: Map

#653 Map Edits: The Hive
  Resources/Maps/hive.yml
Labels: Status: Needs Review, Changes: Map

#656 Hopefully fix atmos issues
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/GenericGasReactionSystem.cs
  Content.Server/Atmos/GasMixture.cs
  Content.Server/Atmos/Reactions/AmmoniaOxygenReaction.cs
  Content.Server/Atmos/Reactions/FrezonCoolantReaction.cs
  Content.Server/Atmos/Reactions/GasReactionPrototype.cs
  Content.Server/Atmos/Reactions/N2ODecompositionReaction.cs
  Content.Server/Atmos/Reactions/TritiumFireReaction.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/Atmospherics/reactions.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#662 Added ChemVend to Pebble
  Resources/Maps/pebble.yml
Labels: Status: Needs Review, Changes: Map

#657 Shoukou update, the reckoning.
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#665 prevent shock collar clock
  Content.Server/Nyanotrasen/Item/ShockCollar/ShockCollarSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/shock_collar.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#672 Nerf borg AA
  Resources/Prototypes/DeltaV/Access/mics.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: YML

#671 Spare ID safe
  Content.Client/DeltaV/Biscuit/BiscuitSystem.cs
  Content.Client/DeltaV/Biscuit/BiscuitVisualsComponent.cs
  Content.Server/DeltaV/Biscuit/BiscuitComponent.cs
  Content.Server/DeltaV/Biscuit/BiscuitSystem.cs
  Content.Server/Paper/PaperComponent.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/DeltaV/Biscuit/SharedBiscuitComponent.cs
  Resources/Audio/DeltaV/Effects/crack1.ogg
  Resources/Audio/DeltaV/Effects/license.txt
  Resources/Locale/en-US/deltav/misc/biscuits.ftl
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Access/misc.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paperslips.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Command/safe.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Textures/DeltaV/Interface/Paper/paper_background_corpcard.svg
  Resources/Textures/DeltaV/Interface/Paper/paper_background_corpcard.svg.96dpi.png
  Resources/Textures/DeltaV/Interface/Paper/paper_background_corpcard.svg.96dpi.png.yml
  Resources/Textures/DeltaV/Objects/Misc/biscuits.rsi/biscuit.png
  Resources/Textures/DeltaV/Objects/Misc/biscuits.rsi/biscuit_paper.png
  Resources/Textures/DeltaV/Objects/Misc/biscuits.rsi/biscuit_paper_corp.png
  Resources/Textures/DeltaV/Objects/Misc/biscuits.rsi/biscuit_secret.png
  Resources/Textures/DeltaV/Objects/Misc/biscuits.rsi/biscuit_secret_top.png
  Resources/Textures/DeltaV/Objects/Misc/biscuits.rsi/biscuit_top.png
  Resources/Textures/DeltaV/Objects/Misc/biscuits.rsi/corpslip.png
  Resources/Textures/DeltaV/Objects/Misc/biscuits.rsi/corpslip_words.png
  Resources/Textures/DeltaV/Objects/Misc/biscuits.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/biscuits.rsi/slip.png
  Resources/Textures/DeltaV/Objects/Misc/biscuits.rsi/slip_words.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/cabinet-empty-closed.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/cabinet-empty-open.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/cabinet-filled-closed.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/cabinet-filled-open.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/cabinet.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/card.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/glass-1.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/glass-2.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/glass-3.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/glass-4.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/glass-up.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/glass.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/locked.png
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Wallmounts/idcard_cabinet.rsi/unlocked.png
Labels: Changes: YML, Changes: C#, Changes: Localization, Changes: Sprite

#669 Added Drain on Pebble
  Resources/Maps/pebble.yml
Labels: Status: Needs Review, Changes: Map

#675 Map Edits- Pebble
  Resources/Maps/pebble.yml
Labels: Changes: Map

#676 Pebble Hotfix
  Resources/Maps/pebble.yml
Labels: Changes: Map

#673 Seperate migrations into multiple files
  Content.Server/Maps/MapMigrationSystem.cs
  Resources/Migrations/deltaMigrations.yml
  Resources/Migrations/migration.yml
Labels: Changes: YML, Changes: C#

#684 Oh no, tracking links!
  README.md
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: Changes: Documentation

#690 Update Rules.txt
  Resources/ServerInfo/Rules.txt
Labels: Status: Needs Review

#688 Fixes snake spawner spawning spiders
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/mobs.yml
Labels: Changes: YML, Status: Needs Review

#679 Prevent zombies from becoming psionic
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/DispelPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/MetapsionicPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/NoosphericZapPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/PsionicInvisibilityPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/PsionicRegenerationPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/PyrokinesisPowerSystem.cs
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/TelegnosisPowerSystem.cs
  Content.Server/Nyanotrasen/StationEvents/Events/NoosphericStormRule.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/PsionicComponent.cs
Labels: Changes: C#

#650 Fix psionic invisiblity to others
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: YML, Status: Needs Review

#643 Fixes mantis not spawnin with their respective bag.
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
Labels: Changes: YML, Status: Needs Review

#678 Laika change.
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML, Status: Needs Review

#696 Remove remaining spare ID card
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML

#631 Salvage cloak
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/DeltaV/Clothing/Neck/Cloaks/salvage.rsi/equipped-NECK.png
  Resources/Textures/DeltaV/Clothing/Neck/Cloaks/salvage.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Neck/Cloaks/salvage.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#697 Fix SpareIdCabinet prototypes
  Resources/Maps/asterisk.yml
  Resources/Maps/edge.yml
  Resources/Maps/hive.yml
Labels: Status: Needs Review, Changes: Map

#698 Gamemode votes
  Resources/ConfigPresets/DeltaV/periapsis.toml
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML

#700 Hopefully fix roboisseur zzzz-the
  Resources/Locale/en-US/deltav/roboisseur/roboisseur.ftl
Labels: Changes: Localization

#710 Fix paramedic spawing with wrong backpack
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
Labels: Changes: YML

#720 Evac shuttle updates
  Resources/Maps/Shuttles/DeltaV/NTES_Centipede.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Seal.yml
  Resources/Maps/Shuttles/DeltaV/NTES_UCLB.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: Map

#711 Update for preferred Delta V exterior lights
  Resources/Migrations/deltaMigrations.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Lighting/base_lighting.yml
Labels: Changes: YML, Status: Needs Review

#695 Shoukou maintenance update.... again.
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#732 Map Edits: Arena
  Resources/Maps/arena.yml
Labels: Changes: Map

#733 Update pride.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
Labels: Changes: YML, Status: Needs Review

#736 Asterisk 2.0
  Resources/Maps/asterisk.yml
Labels: Status: Needs Review, Changes: Map

#737 Re-add evac shuttles Box & Lox
  Resources/Maps/Shuttles/DeltaV/NTES_Box.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Lox.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: Map

#742 Map Edits: The Hive
  Resources/Maps/hive.yml
Labels: Changes: Map

#743 Fix prisoners spawning at latejoin cryopods
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
Labels: Changes: C#

#714 Nerfing Health Code Violation
  Resources/Locale/en-US/deltav/reagents/generic.ftl
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/drinks.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#746 Shoukou's cryo update.
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#750 Update prisoner.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
Labels: Changes: YML

#751 Add prisoner latejoin cryopod
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
  Resources/Prototypes/DeltaV/Entities/Structures/cryopod.yml
Labels: Changes: YML, Changes: C#

#752 Remove last remaining way of getting tesla generator
  Resources/Prototypes/Maps/salvage.yml
Labels: Status: Needs Review, Changes: Map
