Repository DeltaV-Station/Delta-v, pull requests merged in 2024-07, with the labels that each got.

#1405 Add "Subpoenaed" status for SecHud and Criminal Records Computer
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Shared/CriminalRecords/Systems/SharedCriminalRecordsSystem.cs
  Content.Shared/Security/SecurityStatus.cs
  Resources/Locale/en-US/deltav/criminal-records/criminal-records.ftl
  Resources/Prototypes/DeltaV/StatusIcon/security.yml
  Resources/Textures/DeltaV/Interface/Misc/security_icons.rsi/hud_subpoenaed.png
  Resources/Textures/DeltaV/Interface/Misc/security_icons.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization, Changes: Sprite

#1449 Fix ShuttleManipulator protoid
  Resources/Migrations/deltaMigrations.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Decoration/shuttle_manipulator.yml
Labels: Changes: YML

#1452 Revert "Nyano port of digging (#400)"
  Content.Server/Nyanotrasen/Digging/DiggingSystem.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Maps/TileSystem.cs
  Content.Shared/Nyanotrasen/Digging/DiggingEvents.cs
  Content.Shared/Nyanotrasen/Digging/EarthDiggingComponent.cs
  Resources/Audio/Nyanotrasen/Items/attributions.yml
  Resources/Audio/Nyanotrasen/Items/shovel_dig.ogg
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Nyanotrasen/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Nyanotrasen/Tiles/floors.yml
  Resources/Prototypes/Nyanotrasen/tool_qualities.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/planet.yml
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/bedrock-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/bedrock-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/bedrock.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/dirt-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/dirt-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/dirt.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grassdark-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grassdark-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grassdark.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grassjungle-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grassjungle-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grasslight-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grasslight-inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/grasslight.png
  Resources/Textures/Nyanotrasen/Objects/Tiles/tiles.rsi/meta.json
  Resources/Textures/Nyanotrasen/Tiles/bedrock.png
Labels: Changes: YML, Changes: C#, Changes: Sprite

#1450 Log giving items to the Oracle or Butlertrol
  Content.Server/DeltaV/NPC/Roboisseur/RoboisseurSystem.cs
  Content.Server/Nyanotrasen/Research/Oracle/OracleSystem.cs
Labels: Changes: YML, Changes: C#

#1448 Added new Lobby Screen, breaking space.
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/breakingspace.webp
Labels: Changes: YML, Status: Needs Review

#1458 fix shipyard
  Content.Client/DeltaV/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Server/DeltaV/Shipyard/ShipyardConsoleSystem.cs
Labels: Changes: YML, Changes: UI, Changes: C#

#1460 Revert sophie name
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
Labels: Changes: YML

#1457 cleanup antag locale and stuff
  Resources/Locale/en-US/deltav/prototypes/roles/antags.ftl
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Prototypes/Body/Parts/terminator.yml
  Resources/Prototypes/Body/Prototypes/terminator.yml
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/DeltaV/Objectives/paradox_anomaly.yml
  Resources/Prototypes/DeltaV/Roles/Antags/paradox.yml
  Resources/Prototypes/Entities/Mobs/Player/terminator.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Objectives/terminator.yml
  Resources/Prototypes/Roles/Antags/terminator.yml
  Resources/Prototypes/Species/terminator.yml
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/skull_icon.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Terminator/parts.rsi/torso_m.png
Labels: Changes: YML, Changes: UI, Changes: C#, Changes: Localization, Changes: Sprite

#1361 3 new additions to jukebox
  Resources/Audio/DeltaV/Jukebox/Phoron_Will_Make_Us_RichMONO2.ogg
  Resources/Audio/DeltaV/Jukebox/attributions.yml
  Resources/Audio/DeltaV/Jukebox/every_light_is_blinking_at_onceMONO.ogg
  Resources/Audio/DeltaV/Jukebox/lasers_rip_apart_the_bulkheadMONO.ogg
  Resources/Prototypes/DeltaV/Catalog/Jukebox/Standard.yml
Labels: Changes: YML, Status: Needs Review

#1463 Remove clown medal theft objective
  Resources/Prototypes/Objectives/thief.yml
Labels: Changes: YML

#1464 add new cyborg laws
  Resources/Locale/en-US/deltav/station-laws/laws.ftl
  Resources/Prototypes/DeltaV/siliconlaws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: YML, Status: Needs Review, Changes: Localization

#1468 remove research access from canisters
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: Changes: YML

#1466 add random gun safe spawners
  Resources/Prototypes/DeltaV/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/Random/safes.yml
Labels: Changes: YML, Status: Needs Review

#1471 Tweak security playtime requirements
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: YML

#1479 Add clipboards to Law Drobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
Labels: Changes: YML

#1410 shoukou atmos futureproofing and fish
  Resources/Maps/shoukou.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1169 glacier real
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/DeltaV/Station/Components/StationSurfaceComponent.cs
  Content.Server/DeltaV/Station/Systems/StationSurfaceSystem.cs
  Resources/Maps/Nonstations/glacier_surface.yml
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map, Changes: C#

#1502 Map Edits: Glacier
  Resources/Maps/glacier.yml
Labels: Changes: YML, Changes: Map

#1503 add glacier to default pool
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1509 give mime and clown lockers right access
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Changes: YML

#1507 glacier hotfixes
  Resources/Maps/glacier.yml
Labels: Changes: YML, Changes: Map

#1505 New Emergency shuttle "NTES Vertex"
  Resources/Maps/Shuttles/DeltaV/NTES_Vertex.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1510 make glacier use vertex evac
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1454 Ectoplasm separation
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
Labels: Changes: YML

#1173 new experimental shuttle NTXR Saucer
  Resources/Maps/Shuttles/DeltaV/ntxr-saucer.yml
  Resources/Prototypes/DeltaV/Catalog/Shipyard/experimental.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1514 glacier update
  Resources/Maps/glacier.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1267 add sec shuttle bulwark to shipyard
  Resources/Maps/Shuttles/DeltaV/ntsp-bulwark.yml
  Resources/Prototypes/DeltaV/Catalog/Shipyard/military.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1519 Fix shuttle windows
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
Labels: Changes: YML, Status: Needs Review

#1515 fix senior researcher pda
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML

#1487 Revert "Remove glorius death"
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: YML

#1500 Adjusts playtime requirements
  Resources/Prototypes/DeltaV/Roles/Jobs/Cargo/courier.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
Labels: Changes: YML

#1499 Allows green jumpsuits/hats for service workers
  Resources/Locale/en-US/deltav/preferences/loadout-groups.ftl
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/DeltaV/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: YML, Changes: Localization

#1520 warden no longer reqs whitelist
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: YML

#1462 CrystalThistle!
  Resources/Locale/en-US/deltav/reagents/meta/fun.ftl
  Resources/Locale/en-US/deltav/seeds.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/DeltaV/Hydroponics/seeds.yml
  Resources/Prototypes/DeltaV/Reagents/fun.yml
  Resources/Prototypes/DeltaV/Recipes/Reactions/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_produce.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Crystal_Thistle.rsi/dead.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Crystal_Thistle.rsi/harvest.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Crystal_Thistle.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Crystal_Thistle.rsi/produce.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Crystal_Thistle.rsi/seed.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Crystal_Thistle.rsi/stage-1.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Crystal_Thistle.rsi/stage-2.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Crystal_Thistle.rsi/stage-3.png
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#1484 Update Asterisk & Micro
  Resources/Maps/asterisk.yml
  Resources/Maps/micro.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/micro.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1316 Tiny loadout patch
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/DeltaV/Loadouts/Jobs/Science/mystagogue.yml
  Resources/Prototypes/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: YML, Status: Needs Review

#1476 Homerun bat 2
  Resources/Locale/en-US/deltav/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Melee/home_run_bat.yml
  Resources/Textures/DeltaV/Objects/Weapons/Melee/home_run_bat.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/home_run_bat.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/home_run_bat.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/home_run_bat.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/home_run_bat.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Melee/home_run_bat.rsi/wielded-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Melee/home_run_bat.rsi/wielded-inhand-right.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#1523 Expands Borg Construction Steps
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
Labels: Changes: YML

#1534 ACTUALLY locks ifrit behind playtime
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: YML

#1538 Revert low pressure nerf
  Content.Shared/Atmos/Atmospherics.cs
Labels: Changes: YML, Changes: C#

#1539 Revert bananium nerf
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
Labels: Changes: YML

#1540 Add salt to mining rock drop pool
  Resources/Prototypes/ore.yml
Labels: Changes: YML

#1529 Create a Security Borg job proto and spawner; for mapping.
  Resources/Locale/en-US/deltav/job/job-description.ftl
  Resources/Locale/en-US/deltav/job/job-names.ftl
  Resources/Locale/en-US/deltav/job/job-supervisors.ftl
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/securityborg.yml
  Resources/Prototypes/DeltaV/Roles/play_time_trackers.yml
  Resources/Prototypes/DeltaV/StatusEffects/job.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/SecurityBorg.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#1542 2 New peppers! Ghost and Cosmic Revenant!
  Resources/Locale/en-US/deltav/seeds.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/DeltaV/Hydroponics/seeds.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_produce.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Cosmic_Revenant.rsi/dead.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Cosmic_Revenant.rsi/harvest.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Cosmic_Revenant.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Cosmic_Revenant.rsi/produce.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Cosmic_Revenant.rsi/seed.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Cosmic_Revenant.rsi/stage-1.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Cosmic_Revenant.rsi/stage-2.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Cosmic_Revenant.rsi/stage-3.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Cosmic_Revenant.rsi/stage-4.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Cosmic_Revenant.rsi/stage-5.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Cosmic_Revenant.rsi/stage-6.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Ghost_Pepper.rsi/dead.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Ghost_Pepper.rsi/harvest.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Ghost_Pepper.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Ghost_Pepper.rsi/produce.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Ghost_Pepper.rsi/seed.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Ghost_Pepper.rsi/stage-1.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Ghost_Pepper.rsi/stage-2.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Ghost_Pepper.rsi/stage-3.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Ghost_Pepper.rsi/stage-4.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Ghost_Pepper.rsi/stage-5.png
  Resources/Textures/DeltaV/Objects/Specific/Hydroponics/Ghost_Pepper.rsi/stage-6.png
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#1546 Update asterisk.yml
  Resources/Maps/asterisk.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1527 lighthouse update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1439 Edge Rebuild Phases 2 and 3
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1528 glacier door naming pass
  Resources/Maps/glacier.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1545 Fix Service Workers wearing no pants by default
  Resources/Prototypes/DeltaV/Loadouts/loadout_groups.yml
Labels: Changes: YML

#1548 fix glacier uniform printer
  Resources/Maps/glacier.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1524 Peace Hypospray, Escalation Module
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Security/security.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/DeltaV/Objects/Specific/Robotics/borgmodule.rsi/icon-hurt.png
  Resources/Textures/DeltaV/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#1553 Lowered frequency of random revenants
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML

#1544 make Borg abuse illegal
  Resources/ServerInfo/Guidebook/DeltaV/Rules/CommunityRules/E2_Community.xml
Labels: Changes: YML, Status: Needs Review, Changes: Documentation

#1543 fix bulwark shuttle
  Resources/Maps/Shuttles/DeltaV/ntsp-bulwark.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1512 New salvage wreck "Solar Farm"
  Resources/Maps/Salvage/DeltaV/DV-solar-farm.yml
  Resources/Prototypes/DeltaV/Maps/salvage.yml
Labels: Changes: YML, Changes: Map

#1495 Adds Chibi Station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/chibi.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/chibi.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map, Changes: C#

#1562 Set Shoukou's minimum population to 5
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1563 Adjusts steal group for Shiva/Laika discrepancy on maps
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: Changes: YML

#1560 Updates and adds salvage map to pool
  Resources/Maps/Salvage/DeltaV/DV-vegan-meatball.yml
  Resources/Prototypes/DeltaV/Maps/salvage_modified.yml
Labels: Changes: YML, Changes: Map

#1488 Adds Silvia the snake, a pet for CMO
  Resources/Locale/en-US/deltav/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/DeltaV/Objectives/stealTargetGroups.yml
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Textures/DeltaV/Mobs/Pets/silvia.rsi/dead_silvia.png
  Resources/Textures/DeltaV/Mobs/Pets/silvia.rsi/glow.png
  Resources/Textures/DeltaV/Mobs/Pets/silvia.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Pets/silvia.rsi/silvia.png
Labels: Changes: YML, Changes: Localization, Changes: Sprite

#1556 Adds doorjack to Syndicate Assault Cyborg
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: YML

#1569 lighthouse update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map

#1570 glacier update
  Resources/Maps/glacier.yml
Labels: Changes: YML, Status: Needs Review, Changes: Map
