Repository DeltaV-Station/Delta-v, pull requests merged in 2024-02, with the labels that each got.

#753 Adds Nyano Evac shuttles
  Resources/Maps/Shuttles/DeltaV/NTES_BC20.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Kaeri.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Right.yml
Labels: Changes: Map

#635 adds new headset sprites for the listening post operatives
  Resources/Prototypes/DeltaV/Entities/Clothing/Ears/headsets.yml
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/syndicate_listening.rsi/alt-equipped-EARS.png
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/syndicate_listening.rsi/icon_alt.png
  Resources/Textures/DeltaV/Clothing/Ears/Headsets/syndicate_listening.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#593 Alternative wagging tail for felinids.
  Resources/Locale/en-US/deltav/markings/felinid.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/alternative_tail.rsi/m_waggingtail_cat_FRONT.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/alternative_tail.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Localization, Changes: Sprite

#757 Changes Asterisk's evac shuttle to the NTES Kaeri
  Resources/Prototypes/Maps/asterisk.yml
Labels: Status: Needs Review, Changes: Map

#758 Add warp points to evac shuttles
  Resources/Maps/Shuttles/DeltaV/NTES_BC20.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Box.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Centipede.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Kaeri.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Lox.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Right.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Seal.yml
  Resources/Maps/Shuttles/DeltaV/NTES_UCLB.yml
Labels: Changes: Map

#768 Fixes Gauze Markings 2 - Medical Boogaloo (#22452)
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
Labels: Changes: YML, Status: Needs Review

#770 Quick fix to the fix
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
Labels: Changes: YML, Status: Needs Review

#769 Edge 2.0
  Resources/Maps/asterisk.yml
  Resources/Maps/edge.yml
Labels: Status: Needs Review, Changes: Map

#785 Moves ruins maps to DV folder and updates with some changes and dangers
  Resources/Maps/Ruins/DeltaV/biodome_satellite.yml
  Resources/Maps/Ruins/DeltaV/derelict.yml
  Resources/Maps/Ruins/DeltaV/djstation.yml
  Resources/Maps/Ruins/DeltaV/old_ai_sat.yml
  Resources/Maps/Ruins/DeltaV/relaystation.yml
  Resources/Maps/Ruins/DeltaV/whiteship_ancient.yml
  Resources/Maps/Ruins/DeltaV/whiteship_bluespacejumper.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Status: Needs Review, Changes: Map

#782 Asterisk 2.1
  Resources/Maps/asterisk.yml
Labels: Status: Needs Review, Changes: Map

#786 Map Edits: Evac Shuttles
  Resources/Maps/Shuttles/DeltaV/NTES_BC20.yml
  Resources/Maps/Shuttles/DeltaV/NTES_Box.yml
Labels: Changes: Map

#793 PSB tag fix so Reptilian can eat it
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ration.yml
Labels: Changes: YML, Status: Needs Review

#791 Drop the mics
  Resources/Prototypes/DeltaV/Access/mics.yml
  Resources/Prototypes/DeltaV/Access/misc.yml
Labels: Changes: YML, Status: Needs Review

#780 Fixes uncloneable description
  Resources/Locale/en-US/deltav/traits/traits.ftl
Labels: Status: Needs Review, Changes: Localization

#777 Gives martial artist the same access and time reqs as boxer
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/martialartist.yml
Labels: Changes: YML, Status: Needs Review

#774 Change Gladiator requirement to match Prisoner
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
Labels: Changes: YML, Status: Needs Review

#773 Fixes felinids not having nom.
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Resources/Audio/DeltaV/Items/eatfood.ogg
Labels: Status: Needs Review, Changes: C#

#760 Re-Re-Add Lean
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Reactions/drink.yml
Labels: Changes: YML, Status: Needs Review

#794 Replace NTES_Box with NTES_Delta
  Resources/Maps/Shuttles/DeltaV/NTES_Delta.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: Map

#798 Move/update new salvage map
  Resources/Maps/Salvage/DeltaV/DV-outpost-arm.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: Changes: Map

#800 Fix mantis stamp
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-mantis.png
  Resources/Textures/Objects/Misc/stamps.rsi/meta.json
Labels: Status: Needs Review, Changes: Sprite

#807 Update patreon list
  Content.Client/Credits/CreditsWindow.xaml.cs
  Resources/Credits/Patrons.yml
Labels: Changes: YML, Changes: UI, Changes: C#

#811 Energy gun sprites + Minor bug fixes
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/equipped-BACKPACK.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/lethal-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/lethal-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_carbine.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/disabler-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/disabler-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/lethal-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun_pistol.rsi/lethal-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/disabler-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/disabler-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/lethal-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/mini_energygun.rsi/lethal-inhand-right.png
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#795 .38 Special mindbreaker fix + ammo techfab
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/special.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, Status: Needs Review

#812 Fix glimmer mite sound being loud
  Resources/Audio/DeltaV/Glimmer_Creatures/mite.ogg
Labels: Status: Needs Review

#813 Center glimmer mite sprite
  Resources/Textures/DeltaV/Mobs/Ghosts/glimmermite.rsi/mite.png
  Resources/Textures/DeltaV/Mobs/Ghosts/glimmermite.rsi/mite_dead.png
Labels: Status: Needs Review, Changes: Sprite

#819 Refill the DIY Holy Water kit
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Boxes/general.yml
Labels: Changes: YML, Status: Needs Review

#808 Felinid bubble speech.
  Resources/Prototypes/DeltaV/typing_indicator.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Textures/Effects/speech.rsi/felinid0.png
  Resources/Textures/Effects/speech.rsi/felinid1.png
  Resources/Textures/Effects/speech.rsi/felinid2.png
  Resources/Textures/Effects/speech.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#821 Fix PseudoItems
  Content.Client/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Shared/Item/ItemComponent.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/PseudoItemComponent.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/SharedPseudoItemSystem.Checks.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/SharedPseudoItemSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#532 Bureaucratic error changes
  Content.Server/StationEvents/Events/BureaucraticErrorRule.cs
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#666 Felinid changes.
  Content.Shared/DeltaV/StepTrigger/Component/NoShoesSilentFootstepsComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#

#556 Make felinids scream in agony when sprayed with water.
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
Labels: Changes: YML, Status: Needs Review

#824 Prevent probers from being unachored by gorilla gauntlets
  Content.Server/Nyanotrasen/Psionics/Glimmer/GlimmerReactiveSystem.cs
  Content.Shared/Weapons/Melee/Components/MeleeThrowOnHitComponent.cs
  Content.Shared/Weapons/Melee/MeleeThrowOnHitSystem.cs
Labels: Changes: C#

#827 Nerf ear destroyers
  Resources/Audio/DeltaV/Voice/Harpy/chirp1.ogg
Labels: Status: Needs Review

#799 Signage For Meee
  Resources/Prototypes/DeltaV/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/barbershop.png
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/direction_exam.png
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/direction_icu.png
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/laundromat.png
  Resources/Textures/DeltaV/Structures/Wallmounts/signs.rsi/meta.json
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#816 Shoukou small patch
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#833 Map Edits: Shoukou
  Resources/Maps/shoukou.yml
Labels: Changes: Map

#837 Vulpkanin's Deuteranopia
  Content.Client/Nyanotrasen/Overlays/DogVisionSystem.cs
  Content.Shared/DeltaV/Abilities/DefaultVisionSystem.cs
  Resources/Locale/en-US/deltav/traits/traits.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/Traits/altvision.yml
  Resources/Prototypes/Nyanotrasen/Traits/disabilities.yml
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization

#840 *Properly* fix salvage strings
  Content.Client/Salvage/UI/SalvageMagnetBoundUserInterface.cs
  Content.Shared/Salvage/SalvageMapPrototype.cs
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Locale/en-US/deltav/salvage/salvage-magnet.ftl
  Resources/Prototypes/DeltaV/Maps/salvage.yml
  Resources/Prototypes/DeltaV/Maps/salvage_modified.yml
  Resources/Prototypes/Maps/salvage.yml
  Resources/Prototypes/Nyanotrasen/Maps/salvage.yml
Labels: Status: Needs Review, Changes: Map, Changes: C#, Changes: Localization

#845 Glimmer Mite change
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/glimmer_creatures.yml
Labels: Changes: YML, Status: Needs Review

#838 Glimmer Drain requires 5 crystal again
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/glimmerdevices.yml
Labels: Changes: YML, Status: Needs Review

#850 Relicense future content under APGLv3
  LEGAL.md
  LICENSE-AGPLv3.txt
  LICENSE-MIT.txt
  MARKERS.md
  README.md
  TODO.md
Labels: Changes: Documentation

#685 Metempsychosis Returns
  Content.IntegrationTests/Tests/Nyanotrasen/Metempsychosis/MetempsychosisTest.cs
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Medical/Components/MedicalScannerComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychosisKarmaComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineComponent.cs
  Content.Server/Nyanotrasen/Cloning/MetempsychoticMachineSystem.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Resources/Locale/en-US/nyanotrasen/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/metempsychoticMachine.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticHumanoids.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticNonHumanoids.yml
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/meta.json
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/pod_0.png
  Resources/Textures/Nyanotrasen/Structures/Machines/metempsychotic.rsi/pod_1.png
Labels: Changes: YML, Status: Needs Review, Changes: C#, Changes: Localization, Changes: Sprite

#822 fix fish labeler crafting
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/Entities/Objects/Tools/hand_labeler.yml
  Resources/Prototypes/Nyanotrasen/tags.yml
Labels: Changes: YML, Status: Needs Review

#856 Remove old syndicate cyborg
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/Syndicate_Gadgets/borg_beacon.yml
Labels: Changes: YML, Status: Needs Review

#864 Make loadacts more user friendly
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Commands/ActionsCommands.cs
Labels: Changes: C#

#867 Adjust migrations for metempsychotics
  Resources/Migrations/deltaMigrations.yml
Labels: Changes: YML, Status: Needs Review

#869 Uncomments MidRoundAntag
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML, Status: Needs Review

#870 Update Asterisk and Edge
  Resources/Maps/asterisk.yml
  Resources/Maps/edge.yml
Labels: Status: Needs Review, Changes: Map

#874 Make periapsis only have 10 non-whitelisted slots, and make whitelist not shit
  Content.Server/Connection/ConnectionManager.cs
  Resources/ConfigPresets/DeltaV/periapsis.toml
  Resources/Locale/en-US/deltav/connection-messages.ftl
Labels: Changes: C#, Changes: Localization

#872 Updates shoukou up to date.
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#877 Temporarily De-list Sub
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Status: Needs Review, Changes: Map

#876 Remove antique laser from captain's locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, Status: Needs Review

#861 Fix missing guidebook effects
  Resources/Locale/en-US/deltav/guidebook/chemistry/statuseffects.ftl
Labels: Status: Needs Review, Changes: Localization

#858 Replace the new mentions of QM
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/ServerInfo/Guidebook/Glossary.xml
Labels: Changes: YML, Status: Needs Review, Changes: Documentation

#881 Pebble maintenance
  Resources/Maps/pebble.yml
Labels: Status: Needs Review, Changes: Map

#882 Laika headset and id removal, glasses replacement
  Resources/Prototypes/DeltaV/InventoryTemplates/secdog_inventory_template.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: Changes: YML, Status: Needs Review

#885 oracle wrong item message cooldown
  Content.Server/Nyanotrasen/Research/Oracle/OracleComponent.cs
  Content.Server/Nyanotrasen/Research/Oracle/OracleSystem.cs
Labels: Status: Needs Review, Changes: C#

#886 Fix deep fryer divide by zero
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
Labels: Status: Needs Review, Changes: C#

#880 Obliterates the captain ID card from locker.
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, Status: Needs Review

#879 Fix missing sound for Psionic Regen
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/PsionicRegeneration/PsionicRegenerationPowerComponent.cs
  Resources/Audio/Nyanotrasen/Psionics/attributions.yml
  Resources/Audio/Nyanotrasen/Psionics/heartbeat_fast.ogg
Labels: Changes: YML, Status: Needs Review, Changes: C#

#860 Mobsters from prerebase
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/DeltaV/Markers/jobs.rsi/meta.json
  Resources/Textures/DeltaV/Markers/jobs.rsi/mobster.png
Labels: Changes: YML, Status: Needs Review, Changes: Sprite

#889 Vision filter accessibility option
  Content.Client/DeltaV/Options/UI/Tabs/DeltaTab.xaml
  Content.Client/DeltaV/Options/UI/Tabs/DeltaTab.xaml.cs
  Content.Client/DeltaV/Overlays/UltraVisionSystem.cs
  Content.Client/Nyanotrasen/Overlays/DogVisionSystem.cs
  Content.Client/Options/UI/OptionsMenu.xaml
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Shared/DeltaV/Abilities/DefaultVisionComponent.cs
  Content.Shared/DeltaV/Abilities/DefaultVisionSystem.cs
  Content.Shared/DeltaV/CCVars/DCCVars.cs
  Resources/Locale/en-US/deltav/escape-menu/options-menu.ftl
  Resources/Locale/en-US/deltav/traits/traits.ftl
  Resources/Prototypes/DeltaV/Traits/altvision.yml
Labels: Changes: YML, Changes: UI, Changes: C#, Changes: Localization

#887 Psionic insulation and invisibility fix
  Content.Server/Nyanotrasen/Psionics/Invisibility/PsionicInvisibilitySystem.cs
Labels: Status: Needs Review, Changes: C#

#894 Map Edits: The Hive
  Resources/Maps/hive.yml
Labels: Changes: Map

#895 Map Edits: The Hive
  Resources/Maps/hive.yml
Labels: Changes: Map

#896 Hive minor tweaks
  Resources/Maps/hive.yml
Labels: Status: Needs Review, Changes: Map

#902 Fix salvage mobs having ghost roles when they shouldn't
  Resources/Migrations/deltaMigrations.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/mobs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/space.yml
Labels: Changes: YML

#903 Map Edits: Hive
  Resources/Maps/hive.yml
Labels: Changes: Map

#904 Map Hotfix: Asterisk
  Resources/Maps/asterisk.yml
Labels: Changes: Map

#910 Map Hotfix: The Hive
  Resources/Maps/hive.yml
Labels: Changes: Map

#898 Expands Shoukou's medical
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#912 Disable psionic invisibility
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
Labels: Changes: YML

#917 A quick patch for shoukou.
  Resources/Maps/shoukou.yml
Labels: Status: Needs Review, Changes: Map

#920 Map Hotfixes
  Resources/Maps/asterisk.yml
  Resources/Maps/pebble.yml
Labels: Changes: Map
