Repository DeltaV-Station/Delta-v, pull requests merged in 2025-07, with the labels that each got.

#4010 DeltaV updated whitelist system
  Resources/Locale/en-US/_DV/guidebook/guides.ftl
  Resources/Locale/en-US/job/role-whitelist.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/_DV/Guidebook/newplayer.yml
  Resources/Prototypes/_DV/whitelist_tiers.yml
  Resources/ServerInfo/Guidebook/_DV/NewPlayer/Whitelist.xml
Labels: Changes: YML, S: Needs Review, Changes: Localization, Changes: Documentation, size/M

#4031 tweak survival values further
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, S: Needs Review, size/S

#3814 Janitorial Overdrive - Cleaning To the extreme
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Service/cleanades_box.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_DV/tags.yml
Labels: Changes: YML, S: Needs Review, size/M

#4027 Cultists (tiles) cant kill artists (work)
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicCorruptingSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#4034 Fix harpy theobromine poisoning
  Resources/Prototypes/_DV/Body/Prototypes/harpy.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4037 Added Paperworkbelt to psychologist
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_DV/Loadouts/Miscellaneous/belts.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#4038 Added Pharmacist as alt job title for chemists!
  Resources/Locale/en-US/_DV/job/job-names.ftl
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Textures/_DV/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/pda.rsi/pda-pharmacist.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S, Changes: Sprite

#4029 Small Chitind Change - Put those Extra Arms to work
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Chitinid.xml
Labels: Changes: YML, S: Needs Review, Changes: Documentation, size/XS

#4041 Correct the outdated Space Law section on Alert Procedure
  .wiki/_DV/Laws/SpaceLaw.txt
Labels: size/XS

#3963 Laser tag
  Resources/Locale/en-US/_DV/store/uplink/weaponry.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_DV/Catalog/Uplink/weaponry.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/base.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/disabler-inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/disabler-inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/equipped-BELT.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/icon.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/lethal-inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/lethal-inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mag-unshaded-0.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mag-unshaded-1.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mag-unshaded-2.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mag-unshaded-3.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mag-unshaded-4.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mode-disabler.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/laser_tag_gun.rsi/mode-lethal.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#4042 Lower xeno ghostrole raffle timer
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/xeno.yml
Labels: Changes: YML, S: Needs Review

#3960 Midpoint update
  Resources/Maps/_DV/midpoint.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#4045 Make eshield slightly cheaper
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, S: Needs Review

#4048 Make Null Glare an actually useful influence
  Content.Server/Flash/FlashSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicGlareSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicRiftSystem.cs
Labels: S: Needs Review, Changes: C#, size/S

#4015 make LPO's crew monitor actually show people on the station
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Shared/_DV/Medical/CrewMonitoring/LongRangeCrewMonitorComponent.cs
  Content.Shared/_DV/Medical/CrewMonitoring/LongRangeCrewMonitorSystem.cs
  Resources/Maps/_DV/Nonstations/listening_post.yml
  Resources/Prototypes/Entities/Structures/Machines/crew_monitor_server.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/computers.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: C#, size/L

#4030 Give LPO records tablet
  Content.Server/_CD/Records/Consoles/CharacterRecordConsoleSystem.cs
  Resources/Prototypes/_DV/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#4039 Save the turtles
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/color_turtlenecks.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/color_turtlenecks_skirt.yml
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/skirt-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/skirt-icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/skirt-inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/color_turtle.rsi/skirt-inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/trousers-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/trousers-icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/trousers-inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/color_turtle.rsi/trousers-inhand-right.png
Labels: Changes: YML, S: Needs Review, Changes: Sprite, size/XL

#4054 actually implement temperature immunity
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicRiftSystem.cs
  Content.Server/_DV/CosmicCult/MonumentSystem.cs
  Content.Shared/Temperature/Systems/SharedTemperatureSystem.cs
  Content.Shared/_DV/CosmicCult/Components/TemperatureImmunityComponent.cs
Labels: S: Needs Review, Changes: C#, size/S

#4064 Give everybody the same TC - Again
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/_DV/Roles/Jobs/Epistemics/roboticist.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#4066 Reincorporates Wizard
  Resources/Locale/en-US/_DV/objectives/conditions/wizard.ftl
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Magic/touch_spells.yml
  Resources/Prototypes/_DV/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DV/Objectives/wizard.yml
  Resources/Textures/_DV/Misc/wizard.rsi/meta.json
  Resources/Textures/_DV/Misc/wizard.rsi/scale.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#4061 Port Frontier plant analyzer
  Content.Client/_NF/PlantAnalyzer/UI/PlantAnalyzerBoundUserInterface.cs
  Content.Client/_NF/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml
  Content.Client/_NF/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml.cs
  Content.Server/_NF/Botany/Components/PlantAnalyzerComponent.cs
  Content.Server/_NF/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Shared/_NF/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Shared/_NF/PlantAnalyzer/PlantAnalyzerScannedSeedPlantInformation.cs
  Content.Shared/_NF/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Resources/Locale/en-US/_DV/research/technologies.ftl
  Resources/Locale/en-US/_NF/botany/components/plantanalyzer.ftl
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_DV/Research/civilianservices.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/plant_analyzer.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/icon.png
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/plantanalyzer.png
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/unlit.png
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#4069 DeltaV Wizard Changes
  Resources/Locale/en-US/_DV/objectives/conditions/wizard.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_DV/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DV/Objectives/wizard.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#4074 Acidspit matches to ftl now
  Resources/Prototypes/Flavors/flavors.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4072 Reintro StationLimitedNetwork component on crew_monitor_server
  Resources/Prototypes/Entities/Structures/Machines/crew_monitor_server.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3660 remove closet skeletong, add menace skeleton
  Content.Shared/_DV/Roles/MenaceSkeletonRole.cs
  Resources/Locale/en-US/_DV/ghost/roles/closet-skeleton.ftl
  Resources/Locale/en-US/_DV/ghost/roles/menace-skeleton.ftl
  Resources/Locale/en-US/_DV/objectives/conditions/skeleton.ftl
  Resources/Locale/en-US/_DV/prototypes/roles/antags.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_DV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_DV/Objectives/menaceskeleton.yml
  Resources/Prototypes/_DV/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DV/Roles/Antags/menace_skeleton.yml
  Resources/Prototypes/_DV/Roles/MindRoles/mind_roles.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L

#4025 Adds whitelist requirements to sec/command
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/_DV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_DV/Roles/Jobs/Security/securityborg.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4075 Re-add cosmicRadio after IPC pops lock
  Content.Server/_DV/CosmicCult/CosmicCultSystem.cs
  Content.Server/_EE/Radio/IntrinsicRadioKeySystem.cs
Labels: S: Needs Review, Changes: C#, size/S

#4080 Replaces wizard whitelist & Teleport scroll
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Roles/Antags/wizard.yml
  Resources/Prototypes/Roles/Jobs/Fun/wizard_startinggear.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4057 Alert Procedure update
  .wiki/_DV/Laws/AlertProcedure.txt
  .wiki/_DV/Laws/SpaceLaw.txt
  .wiki/_DV/Laws/StandardOperatingProcedure.txt
  Resources/ServerInfo/Guidebook/_DV/AlertProcedure.xml
Labels: S: Needs Review, Changes: Documentation, size/M

#4079 Make Noospheric Zap an actual electric zap
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/NoosphericZapPowerSystem.cs
  Resources/Prototypes/_DV/Actions/psionic.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#4084 Add description to the LO's bedsheet
  Resources/Locale/en-US/_DV/prototypes/entities/objects/misc/LO_bedsheet.ftl
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#4082 Modifies Probers to be more dynamic
  Content.Server/Nyanotrasen/Psionics/Glimmer/GlimmerReactiveSystem.cs
  Content.Server/_DV/StationEvents/Components/LockProbersRuleComponent.cs
  Content.Server/_DV/StationEvents/Events/LockProbersRule.cs
  Content.Shared/Nyanotrasen/Psionics/Glimmer/SharedGlimmerReactiveComponent.cs
  Resources/Prototypes/_DV/GameRules/glimmer_events.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#4088 Midpoint - Hotfix
  Resources/Maps/_DV/midpoint.yml
Labels: Changes: YML, Changes: Map

#4070 Make cosmic cult progression smoother take 2
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_DV/CosmicCult/CosmicCultSystem.Finale.cs
  Content.Server/_DV/CosmicCult/CosmicCultSystem.cs
  Content.Server/_DV/CosmicCult/MonumentSystem.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicSubtleMarkComponent.cs
  Resources/Locale/en-US/_DV/cosmiccult/examine.ftl
  Resources/Locale/en-US/_DV/cosmiccult/preset-cosmiccult.ftl
Labels: S: Needs Review, Changes: C#, Changes: Localization, size/M

#4006 Adds Division Station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_DV/Shuttles/NTES_Right.yml
  Resources/Maps/division.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/division.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: C#, size/XL

#4005 Adding the new Terra Station!
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_DV/Shuttles/NTES_Yggdrasil.yml
  Resources/Maps/terra.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/terra.yml
Labels: Changes: YML, Changes: Map, Changes: C#, size/XL

#4093 Glimmer event - psionic nosebleed
  Content.Server/_DV/StationEvents/Components/PsionicNosebleedRuleComponent.cs
  Content.Server/_DV/StationEvents/Events/PsionicNosebleedRule.cs
  Resources/Locale/en-US/_DV/abilities/psionic.ftl
  Resources/Prototypes/_DV/GameRules/glimmer_events.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/S

#4095 Division station hotfix
  Resources/Maps/division.yml
Labels: Changes: YML, Changes: Map

#4104 Fix cosmic subtle mark not being removed properly
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
Labels: Changes: C#, size/XS

#4024 Give bluespace ore a texture
  Resources/Prototypes/_DV/Entities/Objects/Materials/ore.yml
  Resources/Textures/_DV/Objects/Materials/Ores/bluespace.rsi/bluespace.png
  Resources/Textures/_DV/Objects/Materials/Ores/bluespace.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Materials/Ores/bluespace.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Materials/Ores/bluespace.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite
