Repository DeltaV-Station/Delta-v, pull requests merged in 2025-02, with the labels that each got.

#2823 Decrease survival, increase traitors, give survival a thieves chance.
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2806 Minor fixes for feedback popups
  Content.Client/_DV/FeedbackPopup/FeedbackPopupWindow.xaml
  Content.Client/_DV/FeedbackPopup/FeedbackPopupWindow.xaml.cs
  Content.Server/_DV/FeedbackPopup/FeedbackPopupCommand.cs
  Content.Server/_DV/FeedbackPopup/FeedbackPopupManager.cs
  Resources/Locale/en-US/_DV/feedbackpopup/feedbackpopup.ftl
Labels: S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/S

#2805 Oni/refactor
  Content.Server/Nyanotrasen/Abilities/Oni/HeldbyOniComponent.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniComponent.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Nyanotrasen/Abilities/Oni/SharedOniSystem.cs
  Content.Shared/Prying/Systems/PryingSystem.cs
  Content.Shared/Tools/Components/ToolComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_DV/Damage/Components/BonusStaminaDamageComponent.cs
  Content.Shared/_DV/Damage/Systems/BonusStaminaDamageSystem.cs
  Content.Shared/_DV/Prying/Components/PlayerToolModifierComponent.cs
  Content.Shared/_DV/Prying/Systems/PlayerToolModifierSystem.cs
  Content.Shared/_DV/Weapons/Ranged/Components/PlayerAccuracyModifierComponent.cs
  Content.Shared/_DV/Weapons/Ranged/Systems/PlayerAccuracyModifierSystem.cs
  Content.Shared/_DV/Weapons/Ranged/Systems/SharedGunSystem.Holder.cs
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/L

#2826 add pride cloaks back to pride vend
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_vending.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2829 Swap hands in reverse (for borgs)
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_DV/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Resources/Locale/en-US/_DV/escape-menu/options-menu.ftl
  Resources/keybinds.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M

#2832 Fix Harpy chat emotes
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2851 Derotate Hammurabi Station
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#2834 Remove the multitool from tech and lathe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
Labels: Changes: YML, S: Needs Review, size/S

#2833 Made the universal more expensive.
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_armory.yml
Labels: Changes: YML, S: Needs Review

#2846 Port Frontier Station's conveyor belt sprites
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/conveyor.yml
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_loose.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_ccw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_ccw_r.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_cw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_cw_r.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_stopped_ccw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_stopped_cw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/greenlight.png
  Resources/Textures/_NF/Structures/conveyor.rsi/meta.json
  Resources/Textures/_NF/Structures/conveyor.rsi/redlight.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-fwd.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-off.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-rev.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch.png
Labels: Changes: YML, S: Needs Review, Changes: Sprite

#2835 Svallin 1984
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: YML, S: Needs Review, size/S

#2863 Add more folders to the Bureaucracy crate
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2854 make skeletons take holy damage
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2853 Add sticky notes
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/sticky_notes.yml
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_base.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin1.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin2.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin3.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin4.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_dispenser_bin5.png
  Resources/Textures/_DV/Objects/Misc/stickies.rsi/sticky_note_words.png
Labels: Changes: YML, S: Needs Review, size/L, Changes: Sprite

#2859 Fix shitmed locales
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: S: Needs Review, Changes: Localization, size/XS

#2865 Fix glimmer events being queued
  Resources/Prototypes/_DV/GameRules/glimmer_events.yml
Labels: Changes: YML, size/XS

#2867 Update Patrons.yml
  Resources/Credits/Patrons.yml
Labels: Changes: YML, S: Needs Review, size/S

#2864 Add Papermoon dyed paper reams
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/ream-bright.png
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/ream-classic.png
Labels: Changes: YML, S: Needs Review, size/L, Changes: Sprite

#2868 Add 4 Pieces of paper to paper bin
  Content.Shared/Storage/Components/BinComponent.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2879 fix ipc encryption key mispredict
  Content.Server/_EE/Silicon/EncryptionHolderRequiresLock/EncryptionHolderRequiresLockSystem.cs
  Content.Shared/Radio/Components/EncryptionKeyHolderComponent.cs
Labels: S: Needs Review, Changes: C#

#2874 Hostage implants are now free for hostage ops
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Objectives/nukies.yml
Labels: Changes: YML, S: Needs Review, size/S

#2882 radio implant refactor and fix
  Content.Server/_DV/Implants/Radio/RadioImplantSystem.cs
  Content.Shared/_DV/Implants/Radio/HasRadioImplantComponent.cs
  Content.Shared/_DV/Implants/Radio/SharedRadioImplantSystem.cs
Labels: S: Needs Review, Changes: C#, size/M

#2873 Add white reams to the bureaucracy crate
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/bureaucracy.rsi/ream-white.png
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#2884 fix ipc nukies not getting comms
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/_EE/Silicon/IPC/InternalEncryptionKeySpawner.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Content.Shared/_DV/Silicon/IPC/InternalEncryptionKeySpawner.cs
Labels: S: Needs Review, Changes: C#, size/M

#2898 Fixed shocking windows + disposals tube at CentComm
  Resources/Maps/_DV/centcomm.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2812 SOS app for the PDA
  Content.Server/_Impstation/CartridgeLoader/Cartridges/SOSCartridgeComponent.cs
  Content.Server/_Impstation/CartridgeLoader/Cartridges/SOSCartridgeSystem.cs
  Resources/Locale/en-US/_Impstation/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/cartridges.yml
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/cart-sos.png
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Devices/sos.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Devices/sos.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M, Changes: Sprite

#2886 More IPC Fixes
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Loadouts/role_loadouts.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/_EE/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EE/Voice/speech_emotes.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#2844 Filter autodoc to only show surgeries relevant for selected part
  Content.Client/_Shitmed/Autodoc/PickSurgeryWindow.xaml.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/S

#2885 seismic 1984
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
Labels: Changes: YML, size/XS

#2901 fix spy monitor not fitting in storage implant
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2799 kill objectives only target people with jobs
  Content.Server/Objectives/Components/PickRandomPersonComponent.cs
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_DV/Objectives/traitor.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#2881 great job prototypes cleanup
  Content.Server/Nyanotrasen/Abilities/Boxer/Boxer/BoxerComponent.cs
  Content.Server/Nyanotrasen/Abilities/Boxer/Boxer/BoxingGlovesComponent.cs
  Content.Server/Nyanotrasen/Abilities/Boxer/BoxingSystem.cs
  Resources/ConfigPresets/Build/debug.toml
  Resources/ConfigPresets/Build/development.toml
  Resources/ConfigPresets/DeltaV/deltav.toml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/martialartist.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
  Resources/Prototypes/_DV/Roles/Jobs/requirement_overrides.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/L

#2904 try fix review labeler action
  .github/workflows/labeler-needsreview.yml
Labels: Changes: YML

#2903 bring back ai overlay for diagnostic hud
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiOverlayComponent.cs
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_DV/Actions/clothing.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#2847 Add surgical cleanliness and sanitation
  Content.Client/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Server/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Server/_DV/Surgery/SurgeryCrossContaminationComponent.cs
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_DV/Surgery/SharedSurgeryCleanSystem.cs
  Content.Shared/_DV/Surgery/SurgeryCleanDirtDoAfterEvent.cs
  Content.Shared/_DV/Surgery/SurgeryCleanedEvent.cs
  Content.Shared/_DV/Surgery/SurgeryCleansDirt.cs
  Content.Shared/_DV/Surgery/SurgeryContaminableComponent.cs
  Content.Shared/_DV/Surgery/SurgeryDirtinessComponent.cs
  Content.Shared/_DV/Surgery/SurgeryDirtinessEvent.cs
  Content.Shared/_DV/Surgery/SurgerySelfDirtyComponent.cs
  Content.Shared/_DV/Surgery/SurgeryStepDirtinessComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Resources/Locale/en-US/_DV/surgery/cleanliness.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L

#2794 Nanochat lookup
  Content.Client/_DV/CartridgeLoader/Cartridges/NanoChatLookupView.xaml
  Content.Client/_DV/CartridgeLoader/Cartridges/NanoChatLookupView.xaml.cs
  Content.Client/_DV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_DV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Server/_DV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Shared/_DV/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_DV/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/_DV/NanoChat/NanoChatCardComponent.cs
  Content.Shared/_DV/NanoChat/SharedNanoChatSystem.cs
  Resources/Locale/en-US/_DV/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/_DV/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_DV/Interface/VerbIcons/hamburger_icon.svg.png
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#2786 Feedback popup for increased round time
  Content.Server/_DV/FeedbackPopup/ExtendRoundTimeFeedbackPopupSystem.cs
  Resources/Locale/en-US/_DV/feedbackpopup/popups/feedback-popup-extend-round-time.ftl
  Resources/Prototypes/_DV/FeedbackPopup/feedbackpopupRoundLength.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/S

#2892 Change repeat job icons
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/Prisoner.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/Prosecutor.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/nyanoMantis.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/idprosecutor.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/nyanomantis.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/nyanoprisoner.png
Labels: S: Needs Review, size/XS, Changes: Sprite

#2777 Adds additional lawsets for the AI
  Resources/Locale/en-US/_DV/station-laws/laws.ftl
  Resources/Prototypes/_DV/Entities/Markers/Spawners/Random/laws.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_DV/siliconlaws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#2900 remove crew monitor objective
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2907 Revert "SOS app for the PDA"
  Content.Server/_Impstation/CartridgeLoader/Cartridges/SOSCartridgeComponent.cs
  Content.Server/_Impstation/CartridgeLoader/Cartridges/SOSCartridgeSystem.cs
  Resources/Locale/en-US/_Impstation/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/cartridges.yml
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/cart-sos.png
  Resources/Textures/_DV/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Devices/sos.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Devices/sos.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M, Changes: Sprite

#2910 Turrets and grenades can hit prone people [port]
  Content.Server/Explosion/EntitySystems/ProjectileGrenadeSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Weapons/Ranged/Components/TargetedProjectileComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: S: Needs Review, Changes: C#, size/S

#2872 Add Explorer's Labcoat to the Chemdrobe, Medidrobe, and Scidrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2866 Add Streamer lawset
  Resources/Locale/en-US/_DV/station-laws/laws.ftl
  Resources/Prototypes/_DV/Entities/Markers/Spawners/Random/laws.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_DV/siliconlaws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: YML, Changes: Localization, size/S

#2919 Removes the microreactor cell from the Observations Kit
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2918 make the knife not kill you anymore
  Content.Server/Nyanotrasen/Psionics/AntiPsychicWeaponComponent.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2914 added soap to surgeon's lockers so they don't have to tide
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/medical.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2849 Ushanka Trinket Addition - Branch
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Loadouts/Miscellaneous/trinkets.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2906 fix shop vendor buying on non-click
  Content.Client/_DV/VendingMachines/UI/ShopVendorWindow.xaml.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/XS

#2921 Change default value of game.secret_weight
  Content.Shared/CCVar/CCVars.Game.cs
Labels: Changes: C#, size/XS

#2923 Justice lockable buttons
  Resources/Prototypes/_DV/Entities/Structures/Wallmounts/switch.yml
Labels: Changes: YML, S: Needs Review, size/S

#2916 Give nukies 5 tc, take away their armor, add commander and medic armor for purchase
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/_DV/tags.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#2927 IPC typo fix
  Resources/Locale/en-US/_EE/power/batteryDrinker.ftl
Labels: S: Needs Review, Changes: Localization, size/XS

#2939 change air alarm defaults
  Resources/Prototypes/Atmospherics/thresholds.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2935 slight buff to surgery burn and brute repair
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2934 Actually let nukies buy commander and agent armor, and actually give them 5 more tc
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/syndicate.yml
Labels: Changes: YML, S: Needs Review, size/S

#2941 Add bicaridine pills to brute trauma treatment kits
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2926 Grabbag of fixes for sanitation
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_DV/Surgery/SurgeryContaminableComponent.cs
  Content.Shared/_DV/Surgery/SurgeryStepDirtinessComponent.cs
  Resources/Prototypes/_Shitmed/Damage/containers.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS, Changes: Sprite

#2894 Adds the Interdyne Cigarette Carton, Blood-red Flippo, and Chainsmoker bundle. Plus updates to all Cigarette Cartons
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/_DV/Objects/Consumable/Smokeables/Cigarettes/Cartons/syndicate.rsi/closed.png
  Resources/Textures/_DV/Objects/Consumable/Smokeables/Cigarettes/Cartons/syndicate.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Consumable/Smokeables/Cigarettes/Cartons/syndicate.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Consumable/Smokeables/Cigarettes/Cartons/syndicate.rsi/meta.json
  Resources/Textures/_DV/Objects/Consumable/Smokeables/Cigarettes/Cartons/syndicate.rsi/open.png
  Resources/Textures/_DV/Objects/Tools/syndielighter.rsi/fire.png
  Resources/Textures/_DV/Objects/Tools/syndielighter.rsi/icon.png
  Resources/Textures/_DV/Objects/Tools/syndielighter.rsi/inhand-left-lit.png
  Resources/Textures/_DV/Objects/Tools/syndielighter.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Tools/syndielighter.rsi/inhand-right-lit.png
  Resources/Textures/_DV/Objects/Tools/syndielighter.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Tools/syndielighter.rsi/meta.json
  Resources/Textures/_DV/Objects/Tools/syndielighter.rsi/open.png
  Resources/Textures/_DV/Objects/Tools/syndielighter.rsi/top.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#2933 Add autoclave to easily sanitize large amounts of items and faster
  Content.Server/_DV/Autoclave/AutoclaveComponent.cs
  Content.Server/_DV/Autoclave/AutoclaveSystem.cs
  Content.Shared/_DV/Autoclave/AutoclaveVisuals.cs
  Content.Shared/_DV/Surgery/SharedSurgeryCleanSystem.cs
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/CircuitBoards/Machine/autoclave.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Devices/flatpack.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/autoclave.yml
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/base.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/door_closed.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/door_open.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/light_active.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/light_inactive.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, size/L, Changes: Sprite

#2950 Revert `Storage UI V2`
  Content.Client/Storage/StorageBoundUserInterface.cs
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Client/UserInterface/Systems/Hotbar/HotbarUIController.cs
  Content.Client/UserInterface/Systems/Hotbar/Widgets/HotbarGui.xaml
  Content.Client/UserInterface/Systems/Hotbar/Widgets/HotbarGui.xaml.cs
  Content.Client/UserInterface/Systems/Storage/Controls/ItemGridPiece.cs
  Content.Client/UserInterface/Systems/Storage/Controls/StorageContainer.cs
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
  Content.Shared/CCVar/CCVars.Interactions.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/StorageComponent.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: S: Needs Review, Changes: UI, Changes: C#, size/XL

#2956 Localize Monkey and Kobold Names
  Resources/Locale/en-US/_Shitmed/species/species.ftl
Labels: S: Needs Review, Changes: Localization, size/XS

#2951 Add nitrious oxide tanks to surgery kits
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: Changes: YML, S: Needs Review

#2955 fix typo in ik60 description
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2952 Return "Cearly Nuclear" to the pool of Nuke Music
  Resources/Audio/_DV/StationEvents/attributions.yml
  Resources/Audio/_DV/StationEvents/clearly_nuclear.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: Changes: YML, S: Needs Review, size/XS, Changes: Audio

#2942 Make food reagents process faster
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2953 Fix the handcuff bundle typo
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
Labels: S: Needs Review, Changes: Localization, size/XS

#2930 Make crew monitors beep when someone dies / crits
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Resources/Audio/_DV/Medical/CrewMonitoring/crew_alert.ogg
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M, Changes: Audio

#2962 cybernetic limb adjustment
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2968 Revert "Feedback popup for increased round time"
  Content.Server/_DV/FeedbackPopup/ExtendRoundTimeFeedbackPopupSystem.cs
  Resources/Locale/en-US/_DV/feedbackpopup/popups/feedback-popup-extend-round-time.ftl
  Resources/Prototypes/_DV/FeedbackPopup/feedbackpopupRoundLength.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/S

#2961 The Paperwork Hater Stamp
  Resources/Locale/en-US/_DV/paper/stamp-component.ftl
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Textures/_DV/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/stamps.rsi/stamp-hate-paperwork.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S, Changes: Sprite

#2971 Update in-game Alert Procedure to match the (more recent) wiki
  Resources/ServerInfo/Guidebook/_DV/AlertProcedure.xml
Labels: S: Needs Review, Changes: Documentation, size/S

#2966 corrected chitinid and diona guidebooks
  Resources/ServerInfo/Guidebook/Mobs/Diona.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Chitinid.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#2972 Fix colored paper descriptions
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2967 Replace Clearly Nuclear with its remaster
  Resources/Audio/_DV/StationEvents/Blatantly_Nuclear.ogg
  Resources/Audio/_DV/StationEvents/attributions.yml
  Resources/Audio/_DV/StationEvents/clearly_nuclear.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: Changes: YML, S: Needs Review, Changes: Audio

#2973 Fix damage state displays in the Crew Monitoring UI
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
Labels: S: Needs Review, Changes: UI, Changes: C#

#2974 add mindrole to DV antags
  Resources/Prototypes/_DV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_DV/Roles/MindRoles/mind_roles.yml
Labels: Changes: YML, S: Needs Review, size/S

#2977 Fix big sprite in health analyzer
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
Labels: S: Needs Review, Changes: UI, size/XS

#2783 Linear AME power generation
  Content.Server/Ame/AmeNodeGroup.cs
  Content.Server/Ame/EntitySystems/AmeControllerSystem.cs
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#2975 Book of Mysteries becomes useful + steal objective
  Resources/Locale/en-US/_DV/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/_DV/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_DV/Objectives/traitor.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#2840 More jumpskirts
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Nyanotrasen/Loadouts/loadout_groups.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Security/prisonguard.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/chemsuitskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/chemsuitskirt.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/chemsuitskirt.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/chemsuitskirt.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/chemsuitskirt.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/explorer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/explorer.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/explorer.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/explorer.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/explorer.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/prisonguard.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/prisonguard.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/prisonguard.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/prisonguard.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/prisonguard.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/scientist_formal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/scientist_formal.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/scientist_formal.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/scientist_formal.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/scientist_formal.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#2985 Return "whirr" and "boop" emotes for IPCs
  Resources/Locale/en-US/_EE/emotes/emotes.ftl
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_EE/Voice/speech_emotes.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#2992 give ipcs and borgs fibers
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Resources/Locale/en-US/_DV/forensics/fibers.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_DV/borg_types.yml
  Resources/Prototypes/_EE/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/borg_types.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/S

#3001 no AI slop
  CONTRIBUTING.md
Labels: Changes: Documentation

#2993 Arsenal Tech tweaks
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_DV/Research/arsenal.yml
Labels: Changes: YML, S: Needs Review, size/S

#3002 remove thief ghost role steal objectives
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DV/Objectives/traitor.yml
Labels: Changes: YML, S: Needs Review, size/S

#2464 Lemon Lime Bitters
  Resources/Locale/en-US/_DV/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DV/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/_DV/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/unlockedboozeomat.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_DV/Flavors/flavors.yml
  Resources/Prototypes/_DV/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_DV/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_DV/Recipes/Reactions/drinks.yml
  Resources/Textures/_DV/Objects/Consumable/Drinks/angobitters.rsi/icon.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/angobitters.rsi/icon_open.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/angobitters.rsi/meta.json
  Resources/Textures/_DV/Objects/Consumable/Drinks/lemonlimebitters.rsi/fill-1.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/lemonlimebitters.rsi/fill-2.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/lemonlimebitters.rsi/fill-3.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/lemonlimebitters.rsi/fill-4.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/lemonlimebitters.rsi/icon.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/lemonlimebitters.rsi/icon_empty.png
  Resources/Textures/_DV/Objects/Consumable/Drinks/lemonlimebitters.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#3004 Fix felinid stepping sounds playing all at once
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: Changes: C#, size/S

#3007 MG winter boots fix (real now)
  Resources/Textures/_DV/Clothing/Shoes/Boots/winterbootsrd.rsi/equipped-FEET.png
Labels: S: Needs Review, size/XS, Changes: Sprite

#2911 Breaching Hammer desc typo
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/breaching_hammer.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2979 Tweak IPCs
  Content.Server/_EE/Silicon/WeldingHealable/WeldingHealableSystem.cs
  Content.Server/_EE/Silicon/WeldingHealable/WeldingHealingComponent.cs
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Damage/containers.yml
  Resources/Prototypes/_DV/Damage/modifier_sets.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_DV/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/medical.yml
  Resources/Prototypes/_DV/Stacks/medical_stacks.yml
  Resources/Prototypes/_EE/Body/Organs/ipc.yml
  Resources/Prototypes/_EE/Damage/modifier_sets.yml
  Resources/Prototypes/_EE/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EE/Entities/Mobs/Player/silicon_base.yml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
  Resources/Textures/_DV/Objects/Medical/Oilpack.rsi/icon.png
  Resources/Textures/_DV/Objects/Medical/Oilpack.rsi/meta.json
  Resources/Textures/_DV/Objects/Medical/Omnipatch.rsi/icon.png
  Resources/Textures/_DV/Objects/Medical/Omnipatch.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, Changes: Documentation, size/L, Changes: Sprite

#2994 Port plant boxes from Frontier
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_botany.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/plant_box.yml
  Resources/Textures/_NF/Structures/Storage/plantbox.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/plantbox.rsi/plantbox-top.png
  Resources/Textures/_NF/Structures/Storage/plantbox.rsi/plantbox.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#3009 Llb alcohol fix
  Resources/Prototypes/_DV/Reagents/Consumable/Drink/drinks.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS, Changes: Sprite

#2944 change shuttle times
  Resources/ConfigPresets/DeltaV/apoapsis.toml
  Resources/ConfigPresets/DeltaV/deltav.toml
  Resources/ConfigPresets/DeltaV/horizon.toml
  Resources/ConfigPresets/DeltaV/periapsis.toml
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#3010 port auto ahelp spam ban and ahelp cooldown from ⭐STARLIGHT⭐
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: S: Needs Review, Changes: C#, size/S

#2989 Courier maxxing
  Content.Server/_DV/Mail/Components/MailTeleporterComponent.cs
  Content.Server/_DV/Mail/EntitySystems/MailSystem.cs
  Resources/Locale/en-US/_Impstation/mail/mail.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/mailTeleporter.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#2970 Cargo clothing updates
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/cargotechpants.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/cargotechpants.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/XS, Changes: Sprite

#3016 Glass can repair IPCs and Bleed doesnt infinitly become evil
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/_DV/Damage/modifier_sets.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3019 Update hud.yml to add ipcs to diagnostic hud
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3014 Make omnipatch stacks include 10 patches
  Resources/Prototypes/_DV/Entities/Objects/Specific/Medical/healing.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3020 Removes IPC radiation bloodloss
  Resources/Prototypes/_DV/Damage/modifier_sets.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3013 make pizza crates not invalidate chef
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
Labels: Changes: YML, S: Needs Review, size/S

#3024 WIP: Add back the ability to hug buckled people
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
Labels: Changes: C#, size/XS

#2981 lighthouse update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/M

#3026 Add hotbar indicator to surgery cleanliness
  Content.Client/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Client/_DV/Surgery/SurgeryDirtinessItemStatus.cs
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#3017 Dragons despawn with 10 mins between rifts, gib on death, etc
  Content.Server/Dragon/Components/DragonComponent.cs
  Content.Server/Dragon/DragonSystem.cs
  Resources/Locale/en-US/_DV/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_DV/objectives/conditions/carp-rifts.ftl
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Objectives/dragon.yml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, Changes: Documentation, size/S

#2856 Added bags for HoP
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_DV/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_DV/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Textures/_DV/Clothing/Back/Backpacks/hop.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Clothing/Back/Backpacks/hop.rsi/icon.png
  Resources/Textures/_DV/Clothing/Back/Backpacks/hop.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Back/Backpacks/hop.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Back/Backpacks/hop.rsi/meta.json
  Resources/Textures/_DV/Clothing/Back/Duffels/hop.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Clothing/Back/Duffels/hop.rsi/icon.png
  Resources/Textures/_DV/Clothing/Back/Duffels/hop.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Back/Duffels/hop.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Back/Duffels/hop.rsi/meta.json
  Resources/Textures/_DV/Clothing/Back/Satchels/hop.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Clothing/Back/Satchels/hop.rsi/icon.png
  Resources/Textures/_DV/Clothing/Back/Satchels/hop.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Back/Satchels/hop.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Back/Satchels/hop.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#3032 Don't double apply modifiers when Oni punch people
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3033 Laika/Vulpkanin comfortable temperature range shifts slightly down
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
Labels: Changes: YML, S: Needs Review, size/XS

#1582 Adds Syndicate Robo-Neuroticist, a midround antag
  Content.Shared/_DV/Roles/RoboNeuroticistRole.cs
  Resources/Locale/en-US/_DV/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_DV/objectives/conditions/roboneuroticist.ftl
  Resources/Locale/en-US/_DV/prototypes/roles/antags.ftl
  Resources/Locale/en-US/_DV/roboneuroticist/roboneuroticist.ftl
  Resources/Locale/en-US/_DV/roboneuroticist/sets.ftl
  Resources/Locale/en-US/_DV/robotics/syndicate-mmi.ftl
  Resources/Maps/_DV/Shuttles/roboneuroticist_ship.yml
  Resources/Prototypes/_DV/Catalog/roboneuroticist_sets.yml
  Resources/Prototypes/_DV/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_DV/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/CircuitBoards/Machine/production.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Medical/rechargingsyndicatecrewmonitor.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/roboneuroticist.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/rechargingradiojammer.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_DV/Objectives/roboneuroticist.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_DV/Roles/Antags/roboneuroticist.yml
  Resources/Prototypes/_DV/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_DV/Shuttles/roboneuroticist.yml
  Resources/Textures/_DV/Clothing/Head/Helmets/eva_roboneuroticist.rsi/equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Helmets/eva_roboneuroticist.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Helmets/eva_roboneuroticist.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Head/Helmets/eva_roboneuroticist.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Head/Helmets/eva_roboneuroticist.rsi/meta.json
  Resources/Textures/_DV/Clothing/OuterClothing/Suits/eva_roboneuroticist.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/Suits/eva_roboneuroticist.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/Suits/eva_roboneuroticist.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/Suits/eva_roboneuroticist.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/OuterClothing/Suits/eva_roboneuroticist.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/roboneuroticistpurple.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/roboneuroticistpurple.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/roboneuroticistpurple.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/roboneuroticistpurple.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/roboneuroticistpurple.rsi/meta.json
  Resources/Textures/_DV/Structures/Machines/synd_exosuit_fabricator.rsi/fab-active.png
  Resources/Textures/_DV/Structures/Machines/synd_exosuit_fabricator.rsi/fab-idle.png
  Resources/Textures/_DV/Structures/Machines/synd_exosuit_fabricator.rsi/fab-load.png
  Resources/Textures/_DV/Structures/Machines/synd_exosuit_fabricator.rsi/fab-o.png
  Resources/Textures/_DV/Structures/Machines/synd_exosuit_fabricator.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: C#, Changes: Localization, Changes: Sprite, size/XL

#3036 Port RMC #5539 / Allow folding sleeves and removing jackets
  Content.Shared/_RMC14/Clothing/RMCClothingFoldableComponent.cs
  Content.Shared/_RMC14/Clothing/RMCClothingSystem.cs
  Resources/Locale/en-US/_DV/clothing/foldable.ftl
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#3021 Port respawning from Frontierstation/Corvax
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Client/_Corvax/Respawn/RespawnSystem.cs
  Content.Client/_NF/UserInterface/Systems/Ghost/Controls/GhostRespawnRulesWindow.xaml
  Content.Client/_NF/UserInterface/Systems/Ghost/Controls/GhostRespawnRulesWindow.xaml.cs
  Content.Server/_Corvax/Respawn/RespawnSystem.cs
  Content.Server/_NF/Commands/GhostRespawnCommand.cs
  Content.Shared/_Corvax/Respawn/RespawnResetEvent.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Locale/en-US/_NF/respawn/respawn-system.ftl
Labels: S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L

#3038 Remove Security Cyborg
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_DV/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_DV/Research/arsenal.yml
  Resources/Prototypes/_DV/borg_types.yml
Labels: Changes: YML, size/M

#3037 Add missing command uniforms to the uniform printer
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
Labels: Changes: YML, size/S

#3040 Revert "Remove Security Cyborg"
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_DV/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_DV/Research/arsenal.yml
  Resources/Prototypes/_DV/borg_types.yml
Labels: Changes: YML, S: Needs Review

#3039 Add DeltaV-specific HE and shrapnel mines
  Resources/Prototypes/_DV/Entities/Objects/Misc/land_mine.yml
Labels: Changes: YML, S: Needs Review, size/S

#2809 Update rule S4
  Resources/ServerInfo/Guidebook/_DV/Rules/SiliconRules/S4_RequestChanges.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#3045 Fix being able to add/edit invalid NanoChat contacts
  Content.Client/_DV/CartridgeLoader/Cartridges/EditChatPopup.xaml.cs
  Content.Client/_DV/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/XS

#3044 disable observer respawn metatrolling
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/_Corvax/Respawn/RespawnSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3046 Fix Thaven guidebook entry not showing up
  Resources/Prototypes/Guidebook/species.yml
Labels: Changes: YML, S: Needs Review

#3047 Thaven hotfixes
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/ServerInfo/_Impstation/Guidebook/Mobs/Thaven.xml
Labels: Changes: YML, S: Needs Review, Changes: Documentation, size/S

#3052 Add missing Sec and Justice clothing to the Uniform Printer
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
Labels: Changes: YML, S: Needs Review, size/S

#3023 added ipc plushie (batteries not included)
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/_DV/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Textures/_DV/Objects/Fun/Toys/ipcplush.rsi/heart.png
  Resources/Textures/_DV/Objects/Fun/Toys/ipcplush.rsi/icon.png
  Resources/Textures/_DV/Objects/Fun/Toys/ipcplush.rsi/meta.json
  Resources/Textures/_DV/Objects/Fun/Toys/ipcplush.rsi/screenshine.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#3049 upstream event weight tweaks
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3057 Fixing loadout min totals
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3056 Long Winter Coat for Mimes
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Civilian/mime.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Textures/_DV/Clothing/OuterClothing/WinterCoats/mimelongcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/WinterCoats/mimelongcoat.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/WinterCoats/mimelongcoat.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/WinterCoats/mimelongcoat.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/OuterClothing/WinterCoats/mimelongcoat.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#3064 make borgs use ipc repairing
  Content.Server/Medical/HealingSystem.cs
  Content.Server/_EE/Silicon/WeldingHealable/WeldingHealableComponent.cs
  Content.Server/_EE/Silicon/WeldingHealable/WeldingHealableSystem.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#3066 fixes to objectives and mindrole for robo neuro guy
  Resources/Prototypes/_DV/Objectives/roboneuroticist.yml
  Resources/Prototypes/_DV/Roles/MindRoles/mind_roles.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3071 tweak shuttle time on peri and horizon again
  Resources/ConfigPresets/DeltaV/horizon.toml
  Resources/ConfigPresets/DeltaV/periapsis.toml
Labels: size/XS

#3051 Add departamental lathes
  Resources/Locale/en-US/_DV/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/techboard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/CircuitBoards/Machine/production.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/shared.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/L
