Repository DeltaV-Station/Delta-v, pull requests merged in 2025-04, with the labels that each got.

#3341 Gamblagator tweaks
  Resources/Prototypes/_DV/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3219 Give Paramedics Emergency JoL
  Content.Server/_DV/Tools/PryingRequiresPowerComponent.cs
  Content.Server/_DV/Tools/PryingRequiresPowerSystem.cs
  Content.Shared/Prying/Systems/PryingSystem.cs
  Resources/Locale/en-US/_DV/prototypes/entities/tools/jaws-of-life.ftl
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/equipped-BELT.png
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/jaws_cutter.png
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/jaws_pry.png
  Resources/Textures/_DV/Objects/Tools/emergency_jaws_of_life.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M, Changes: Sprite

#3354 Remove the foam toys set + minor cleanup of fun.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/fun.yml
Labels: Changes: YML, S: Needs Review, size/S

#3358 Fix the paramedic locker fill
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
Labels: Changes: YML, size/S

#3359 Watches to trinkets!
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Loadouts/Miscellaneous/trinkets.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3362 Fix atmos and spationaut helmet states for DeltaV species
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-unshaded-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#3368 Move the advanced truncheon from upstream folder to ours
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Melee/advanced_truncheon.yml
Labels: Changes: YML, size/XS

#3352 Byoin fix 3
  Resources/Maps/byoin.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2990 Message highlights
  Content.Client/CharacterInfo/CharacterInfoSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_DV/Options/UI/OptionColorSlider.xaml
  Content.Client/_DV/Options/UI/OptionColorSlider.xaml.cs
  Content.Client/_DV/Options/UI/OptionsTabControlRow.xaml.cs
  Content.Client/_DV/Options/UI/OptionsTabControls.cs
  Content.Client/_DV/Options/UI/Tabs/DeltaTab.xaml
  Content.Client/_DV/Options/UI/Tabs/DeltaTab.xaml.cs
  Content.Client/_DV/UserInterfaces/Systems/Chat/ChatUIController.cs
  Content.Client/_DV/UserInterfaces/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/_DV/UserInterfaces/Systems/Chat/Controls/Widgets/ChatBox.xaml.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Resources/Locale/en-US/_DV/chat/highlights.ftl
  Resources/Locale/en-US/_DV/chat/ui/chat-box.ftl
  Resources/Locale/en-US/_DV/escape-menu/options-menu.ftl
  Resources/Prototypes/_DV/Catalog/Chat/highlights.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/XL

#3374 fix ipcs not being able to disarm
  Resources/Prototypes/_EE/Entities/Mobs/Player/ipc.yml
Labels: Changes: YML, size/XS

#3335 hide surgeries that cant be done yet
  Content.Client/_Shitmed/Choice/UI/ChoiceControl.xaml
  Content.Client/_Shitmed/Choice/UI/ChoiceControl.xaml.cs
  Content.Client/_Shitmed/Medical/Surgery/SurgeryBui.cs
  Content.Client/_Shitmed/Medical/Surgery/SurgeryStepButton.xaml.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/S

#3376 Fix rubber ammo not appearing on the security techfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, size/XS

#3378 Hotfix for broken comms from empty message highlights
  Content.Client/_DV/UserInterfaces/Systems/Chat/ChatUIController.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3379 Fix new ERT
  Resources/Prototypes/_DV/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_DV/Roles/Jobs/CentComm/EmergencyResponseTeam.yml
Labels: Changes: YML, S: Needs Review, size/S

#3381 Fix changelog
  Resources/Changelog/DeltaVChangelog.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3373 revert tactical hacking
  Content.Server/Wires/BaseToggleWireAction.cs
  Content.Server/Wires/BaseWireAction.cs
  Content.Server/Wires/WiresComponent.cs
Labels: S: Needs Review, Changes: C#, size/M

#3382 remove evil shitcode from RandomMetadata early merge
  Content.Server/RandomMetadata/RandomMetadataComponent.cs
  Content.Server/RandomMetadata/RandomMetadataSystem.cs
  Resources/Locale/en-US/_DV/datasets/names/nukie_first.ftl
  Resources/Locale/en-US/datasets/names/joining.ftl
  Resources/Locale/en-US/datasets/names/nukie_first.ftl
  Resources/Prototypes/Datasets/Names/joining.yml
  Resources/Prototypes/Datasets/Names/nukies.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DV/Datasets/Names/nukies.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/human.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#3384 fix special scrubber/vent tags early merge
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: S: Needs Review, size/XS

#3372 add apc wires
  Content.Client/Power/APC/UI/ApcMenu.xaml.cs
  Content.Server/Power/Components/PowerNetworkBatteryComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/PowerWireAction.cs
  Content.Server/Wires/BaseWireAction.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Server/_DV/Wires/WiresSystem.Power.cs
  Content.Shared/APC/SharedApc.cs
  Resources/Locale/en-US/_DV/ui/power-apc.ftl
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/APC.yml
  Resources/Prototypes/_DV/Wires/layouts.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M

#3387 Unlinq message highlights
  Content.Client/_DV/UserInterfaces/Systems/Chat/ChatUIController.cs
Labels: S: Needs Review, Changes: C#, size/S

#3392 Add missing line break to IPC Guidebook entry
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#3360 Cherrypick "Move medical locker fills to entityTables (#36249)" from upstream
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/medical.yml
Labels: Changes: YML, S: Needs Review, size/L

#3396 Whitelisted scars for vulpkanin
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
Labels: Changes: YML, S: Needs Review, size/S

#3012 Allow hand-written mail to go into mail bags
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3404 Make Felinid Parts actually Felinid Parts
  Resources/Prototypes/_DV/Body/Parts/felinid.yml
  Resources/Prototypes/_DV/Body/Prototypes/felinid.yml
Labels: Changes: YML, S: Needs Review, size/M

#3395 New Syndicate Item - Firebug's Friend
  Resources/Locale/en-US/_DV/store/uplink/chemicals.ftl
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_DV/Catalog/Uplink/chemicals.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/chemistry-bottles.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#3161 fire alarm 1984
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3406 Nerf the hristov
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
Labels: Changes: YML, S: Needs Review

#3400 Alternate Aloxadone Recipe
  Resources/Prototypes/_NF/Recipes/Reactions/medicine.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3410 fix thaven mood test part 2
  Content.IntegrationTests/Tests/_Impstation/Thaven/MoodTests.cs
Labels: S: Needs Review, Changes: C#, size/S

#3408 Update Patrons.yml
  Resources/Credits/Patrons.yml
Labels: Changes: YML, S: Needs Review, size/S

#3415 remove tab from trial timer field
  Resources/Prototypes/_DV/Entities/Objects/Specific/Justice/trialtimer.yml
Labels: size/XS

#3417 Add pre-commit to nix flake
  shell.nix
Labels: S: Needs Review, size/XS

#3407 Make elite suit a sidegrade again + move name and description changes to FTL
  Resources/Locale/en-US/_DV/prototypes/entities/clothing/belts.ftl
  Resources/Locale/en-US/_DV/prototypes/entities/clothing/elite_suit.ftl
  Resources/Locale/en-US/_DV/prototypes/entities/clothing/foldable.ftl
  Resources/Locale/en-US/_DV/store/uplink/wearables.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#3309 FTL times shuttle changes
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: size/XS, S: Direction Approved

#3427 Early merge of "Make FlammableTileReaction additive instead of multiplicative. #36387"
  Content.Server/Chemistry/TileReactions/FlammableTileReaction.cs
Labels: Changes: C#, size/XS

#3409 cherrypick: PR 149 and 329 from cosmatic-drift-14/cosmatic-drift
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/StationEvents/Events/IonStormRule.cs
  Content.Server/_CD/Traits/SynthComponent.cs
  Content.Server/_CD/Traits/SynthSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/_CD/reagents/meta/biological.ftl
  Resources/Locale/en-US/_CD/station/events.ftl
  Resources/Locale/en-US/_CD/traits/traits.ftl
  Resources/Prototypes/_CD/Reagents/biological.yml
  Resources/Prototypes/_CD/Traits/traits.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M

#3423 fix remilia etc not being healable with topicals
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3430 Make IK carbines wielded
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: Changes: YML

#3432 Make pacifists be able to use disablers
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3416 Paramedic TC nerf
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
Labels: Changes: YML, S: Needs Review, size/XS, S: Direction Approved

#3405 Cherrypick Frontier's suit storage fixes for our guns
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Snipers/ceremonial_grand.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Snipers/ceremonial_grand.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/energygun.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/energygun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/energygun.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/energygun.rsi/wielded-inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/energygun.rsi/wielded-inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/jackdaw.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/jackdaw.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/jackdaw.rsi/wielded-inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/jackdaw.rsi/wielded-inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/vulcan.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/vulcan.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/vulcan.rsi/wielded-inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/vulcan.rsi/wielded-inhand-right.png
Labels: S: Needs Review, size/S, Changes: Sprite, S: Direction Approved

#3424 surgery dirtiness cleanup 2: judgement day
  Content.Client/_DV/Surgery/SurgeryCleanStatusSystem.cs
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Shared/_DV/Surgery/SurgeryContaminableComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#3399 Atmos and botanist overalls jumpskirts
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Civilian/botanist.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/atmos_casual.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/atmos_casual.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/atmos_casual.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/atmos_casual.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/atmos_casual.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/atmos_casual.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/atmos_casual.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/overalls.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/overalls.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/overalls.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/overalls.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/overalls.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/overalls.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite, S: Direction Approved

#3418 Allow players to print IPC/FBP chasses
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Humanoid/HumanoidVisualLayersExtension.cs
  Content.Shared/_DV/Body/Systems/SharedBodySystem.MapInit.cs
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/_DV/Body/Prototypes/ipc.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EE/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/robotics.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M, S: Direction Approved

#3443 Disable mob pushing
  Resources/ConfigPresets/Build/development.toml
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: size/XS

#3446 update readme path names
  README.md
Labels: Changes: Documentation, size/XS

#3391 Add medical masks to medical lathes
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
Labels: Changes: YML, S: Needs Review, size/S

#3440 Pebble sec rework: Take two
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3454 Tape recorder and cassette tape to every TechFab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/shared.yml
Labels: Changes: YML, size/S

#3342 Removed the rattle functionality from the tracking implant
  Resources/Locale/en-US/_DV/prototypes/entities/objects/misc/tracking_implant.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#3277 Reworked event progression
  Content.Server/StationEvents/Components/RampingStationEventSchedulerComponent.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#3460 Fix the sprites of the Elite ERT Engineer hardsuit
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/ERTSuits/eliteertengineer.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/ERTSuits/eliteertengineer.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/Hardsuits/ERTSuits/eliteertengineer.rsi/inhand-right.png
Labels: Changes: Sprite

#3464 give weh slippers waddling
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3465 fix borg selection thing
  Content.Client/Silicons/Borgs/BorgSelectTypeMenu.xaml.cs
Labels: Changes: UI, Changes: C#, size/XS

#3457 Bring Edge up to mapping conventions
  Resources/Maps/edge.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/M

#3434 Add the exfiltration shuttle grid
  Resources/Maps/_DV/Shuttles/exfiltration.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3079 nuke autolathe/protolathe
  Content.IntegrationTests/Tests/Construction/Interaction/MachineConstruction.cs
  Resources/Migrations/deltaMigrations.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/ServerInfo/Guidebook/Engineering/VoltageNetworks.xml
  Resources/ServerInfo/Guidebook/Science/Science.xml
Labels: Changes: YML, S: Needs Review, S: Do Not Merge, Changes: C#, Changes: Documentation, size/S

#3442 Add the cold weather security poncho to loadout
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
Labels: Changes: YML, size/XS, S: Direction Approved

#3403 Port Funkychem midgame & lategame
  Resources/Locale/en-US/_DV/guidebook/guides.ftl
  Resources/Locale/en-US/_Floof/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Funkystation/entities/objects/consumable/food/baked/bagel.ftl
  Resources/Locale/en-US/_Funkystation/guidebook/guides.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/exotics.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Funkystation/reagents/meta/toxins.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Guidebook/chemicals.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/Hydroponics/randomChemicals.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Cooking/medical_recipes.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/XenoArch/artifact_triggers.yml
  Resources/Prototypes/_DV/Body/Organs/feroxi.yml
  Resources/Prototypes/_DV/Guidebook/medical.yml
  Resources/Prototypes/_Floof/Reagents/chemicals.yml
  Resources/Prototypes/_Floof/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Funkystation/Guidebook/chemicals.yml
  Resources/Prototypes/_Funkystation/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_Funkystation/Polymorphs/polymorph.yml
  Resources/Prototypes/_Funkystation/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/_Funkystation/Reagents/exotic.yml
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
  Resources/Prototypes/_Funkystation/Reagents/toxins.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/exotic.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/toxins.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat.yml
  Resources/ServerInfo/Funkystation/Guidebook/ChemicalTabs/Exotic.xml
  Resources/ServerInfo/Guidebook/Chemicals.xml
  Resources/ServerInfo/Guidebook/Medical/Botanicals.xml
  Resources/ServerInfo/Guidebook/Medical/MedicalDoctor.xml
  Resources/ServerInfo/Guidebook/Medical/Medicine.xml
  Resources/ServerInfo/Guidebook/_DV/Medical/FrequentlyUsedChemicals.xml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, Changes: Documentation, size/M

#3462 rework holofan to be like tg
  Content.Shared/_DV/Holosign/ChargeHolosignProjectorComponent.cs
  Content.Shared/_DV/Holosign/ChargeHolosignSystem.cs
  Content.Shared/_DV/Whitelist/HolofanComponent.cs
  Resources/Locale/en-US/_DV/tools/charge-holoprojector.ftl
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/_DV/Entities/Structures/Holographic/projections.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#3435 Resprite Telegnosis
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/special.yml
  Resources/Textures/_DV/Mobs/Ghosts/telegnosis.rsi/meta.json
  Resources/Textures/_DV/Mobs/Ghosts/telegnosis.rsi/telegnosis.png
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#3475 Rebalance licoxide for new cheaper recipes
  Resources/Prototypes/Reagents/fun.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3461 Allows AAC phrases to be combined
  Content.Client/_DV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml.cs
  Content.Server/_DV/AACTablet/AACTabletSystem.cs
  Content.Shared/_DV/AACTablet/AACTabletUiMessages.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/M

#3485 Harpies' sound can only be changed by themselves
  Content.Server/Instruments/SwappableInstrumentComponent.cs
  Content.Server/Instruments/SwappableInstrumentSystem.cs
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#3468 feat: implement custom vulp voidsuit sprites
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Textures/_DV/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-vulpkanin-light.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-vulpkanin.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/paramedhelm.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Helmets/paramedhelm.rsi/icon-flash.png
  Resources/Textures/_DV/Clothing/Head/Helmets/paramedhelm.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Helmets/paramedhelm.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Head/Helmets/paramedhelm.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Head/Helmets/paramedhelm.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Helmets/paramedhelm.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_DV/Clothing/Head/Helmets/paramedhelm.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_DV/Clothing/Head/Helmets/paramedhelm.rsi/off-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Helmets/paramedhelm.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_DV/Clothing/Head/Helmets/paramedhelm.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_DV/Clothing/Head/Helmets/paramedhelm.rsi/on-equipped-HELMET.png
Labels: Changes: YML, size/M, Changes: Sprite

#3455 Added stuff to vending machine stocks
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/donut.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sustenance.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_vending.yml
Labels: Changes: YML, S: Needs Review, size/M

#3436 Administrative Hat
  Resources/Prototypes/_DV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Loadouts/role_loadouts.yml
  Resources/Textures/_DV/Clothing/Head/Hats/admin_hat.rsi/equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hats/admin_hat.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hats/admin_hat.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#3452 New animated techfab sprite layers
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Structures/Machines/techfab.rsi/building.png
  Resources/Textures/Structures/Machines/techfab.rsi/meta.json
  Resources/Textures/Structures/Machines/techfab.rsi/unlit-building.png
  Resources/Textures/_DV/Structures/Machines/techfab.rsi/building.png
  Resources/Textures/_DV/Structures/Machines/techfab.rsi/meta.json
  Resources/Textures/_DV/Structures/Machines/techfab.rsi/unlit-building.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#3487 Colin map updates - Dept Economy
  Resources/Maps/asterisk.yml
  Resources/Maps/chibi.yml
  Resources/Maps/micro.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#3492 Revert polymorphed entities before gibbing if revert on death.
  Content.IntegrationTests/Tests/Body/GibTest.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Kitchen/EntitySystems/KitchenSpikeSystem.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactCrusherSystem.cs
  Content.Server/_DV/Chapel/SacrificialAltarSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
Labels: Changes: C#, size/S

#3494 Fix sales by making ATS station-owned
  Content.Server/_DV/Cargo/Systems/CargoSystem.ATS.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3495 add vent critter spawn location to scrubbers
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Changes: YML, size/XS

#3499 Fix for our airlocks and windoors accesses
  Resources/Prototypes/_DV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DV/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_DV/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/_DV/Wires/layouts.yml
Labels: Changes: YML, S: Needs Review, size/M

#3476 DeltaV species guidebook update
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Chitinid.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Felinid.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Feroxi.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Oni.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Rodentia.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Vulpkanin.xml
  Resources/ServerInfo/_Impstation/Guidebook/Mobs/Thaven.xml
Labels: S: Needs Review, Changes: Documentation, size/M

#3363 Add Cryogenics Specialist as an alternative job title for senior physician
  Resources/Locale/en-US/_DV/job/job-names.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Textures/_DV/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/pda.rsi/pda-cryospecialist.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S, Changes: Sprite

#3450 Correcting Harpy Height Minimun back to 90% for smoll Harpies.
  Resources/Prototypes/_DV/Species/harpy.yml
Labels: Changes: YML, S: Needs Review, size/XS, S: Direction Approved

#3511 make it easier to cut limb off
  Resources/Prototypes/_Shitmed/Body/Parts/base.yml
Labels: Changes: YML, S: Needs Review

#3515 fix more borg module inhands
  Resources/Prototypes/_DV/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: YML, S: Needs Review

#3496 Add chemical skimmer
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Shared/Chemistry/Components/InjectorComponent.cs
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Chemistry/skimmer.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_DV/Recipes/Lathes/chemistry.yml
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left-fill-1.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left-fill-2.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left-fill-3.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left-fill-4.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left-fill-5.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right-fill-1.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right-fill-2.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right-fill-3.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right-fill-4.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right-fill-5.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/meta.json
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer1.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer2.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer3.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer4.png
  Resources/Textures/_DV/Objects/Specific/Chemistry/skimmer.rsi/skimmer5.png
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M, Changes: Sprite

#3183 Medicine for holy damage
  Resources/Locale/en-US/_DV/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_DV/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_DV/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_DV/Flavors/flavors.yml
  Resources/Prototypes/_DV/Reagents/medicine.yml
  Resources/Prototypes/_DV/Recipes/Reactions/medicine.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#3508 glacier dept economy update
  Resources/Maps/glacier.yml
Labels: Changes: YML, Changes: Map, size/L

#3490 Byoin Update 4
  Resources/Maps/byoin.yml
  Resources/Prototypes/Maps/byoin.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#3467 Pebble fixes
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3505 Drop creatures when polymorphing
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/_DV/Carrying/CarryingSystem.cs
  Content.Shared/_DV/Containers/ContentContainerSystem.cs
  Content.Shared/_DV/Polymorph/PolymorphEvent.cs
Labels: S: Needs Review, Changes: C#, size/M

#3518 minor kitsune tweaks
  Resources/Prototypes/_DV/Damage/modifier_sets.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/kitsunefox.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/kitsune.yml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Kitsune.xml
Labels: Changes: YML, Changes: Documentation, size/S

#3507 lighthouse dept economy update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#3503 Add request computers to Edge
  Resources/Maps/edge.yml
Labels: Changes: YML, Changes: Map, size/XL

#3437 Gamblagator tweaks
  Resources/Prototypes/_DV/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML, size/XS

#3332 Port ChatStack
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Shared/_EE/CCVars/CCVars.EE.cs
  Resources/Locale/en-US/_EE/chat/chatstack.ftl
  Resources/Locale/en-US/_EE/escape-menu/ui/options-menu.ftl
Labels: S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M

#3533 make spare id cabinet indestructible
  Resources/Prototypes/_DV/Entities/Objects/Specific/Command/safe.yml
  Resources/Prototypes/_DV/Entities/Structures/Wallmounts/spare_id_cabinet.yml
Labels: Changes: YML, size/M

#3481 Funkychem balancing
  Resources/Locale/en-US/_Funkystation/reagents/meta/exotics.ftl
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Floof/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Funkystation/Polymorphs/polymorph.yml
  Resources/Prototypes/_Funkystation/Reagents/exotic.yml
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/exotic.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/medicine.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#3536 Update Codeowners
  .github/CODEOWNERS
Labels: S: Needs Review, size/XS

#3537 Add BiologicalMetaphysical to various ShowHealthBar/Icons
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_DV/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Shitmed/Body/Organs/cybernetic.yml
  Resources/Prototypes/borg_types.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3539 Dump entire intellicard when polymorphing
  Content.Shared/_DV/Containers/ContentContainerSystem.cs
Labels: S: Needs Review, Changes: C#

#3529 Add Syndicate Cold Weather Poncho
  Resources/Locale/en-US/_DV/store/uplink/wearables.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_DV/Catalog/Uplink/wearables.yml
  Resources/Prototypes/_DV/Entities/Clothing/Neck/misc.yml
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpgorlex.rsi/equipped-NECK.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpgorlex.rsi/icon.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpgorlex.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpgorlex.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpgorlex.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S, Changes: Sprite

#3530 Shared stuff on lathes
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/shared.yml
Labels: Changes: YML, S: Needs Review, size/S

#3521 Health Analyzer Reactivation
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/S

#3531 Cleanup + proper divide of epistemics access
  Resources/Prototypes/Access/research.yml
  Resources/Prototypes/Access/service.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/_DV/Access/epistemics.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3545 IPC paradox clone radio fix
  Content.Server/_DV/Radio/EncryptionKeySystem.cs
Labels: Changes: C#

#3546 Add blueprint support at TechFabs
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML

#3470 The Return of Station Wide Destruction
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3498 adds IC law to game so gamers can PR suggestions instead of being lost in discord
  .wiki/_DV/Laws/AlertProcedure.txt
  .wiki/_DV/Laws/CompanyPolicy.txt
  .wiki/_DV/Laws/SpaceLaw.txt
  .wiki/_DV/Laws/StandardOperatingProcedure.txt
Labels: S: Needs Review, size/XL

#3547 Foldable clothing fix
  Content.Shared/Clothing/Components/FoldableClothingComponent.cs
Labels: Changes: C#, size/XS

#3510 Nuke OwOnavirus mentions
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Felinid.xml
Labels: Changes: YML, S: Needs Review, Changes: Documentation

#3552 Correct minor Space Law table inconsistencies
  .wiki/_DV/Laws/SpaceLaw.txt
Labels: S: Needs Review, size/XS

#3555 Make funding allocation computer more configurable (#36790)
  Content.Client/Cargo/BUI/FundingAllocationConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/FundingAllocationMenu.xaml
  Content.Client/Cargo/UI/FundingAllocationMenu.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Funds.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/_DV/Cargo/Systems/CargoSystem.ATS.cs
  Content.Shared/CCVar/CCVars.Cargo.cs
  Content.Shared/Cargo/Components/FundingAllocationConsoleComponent.cs
  Content.Shared/Cargo/Components/StationBankAccountComponent.cs
  Resources/Locale/en-US/_DV/cargo/cargo-console-component.ftl
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
Labels: S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M

#3528 Kitsune bug fixes
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/_DV/Abilities/Kitsune/KitsuneFoxSystem.cs
  Content.Server/_DV/Abilities/Kitsune/KitsuneSystem.cs
  Resources/Prototypes/_DV/Entities/Mobs/Player/kitsunefox.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#3500 Add a secure botany windoor
  Resources/Prototypes/_DV/Entities/Structures/Doors/Windoors/windoor.yml
Labels: Changes: YML, size/XS

#3491 Minor Security Kit Change + Cell Recharger buff
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_DV/Entities/Clothing/Shoes/winter-boots.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_DV/Recipes/Lathes/security.yml
Labels: Changes: YML, S: Needs Review, size/S, S: Direction Approved

#3474 Trader shuttle- This shuttle is for the trader event role, it does no…
  Resources/Maps/_DV/Shuttles/trader.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3550 Map Updates: Shoukou
  Resources/Maps/shoukou.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3553 Bot emotes + supplybot petting
  Resources/Locale/en-US/_DV/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S, S: Direction Approved

#3526 Grant LO Funding access
  Resources/Prototypes/Access/cargo.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/_DV/Access/cargo.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, size/XS, S: Direction Approved

#3559 Adds NanoTask to PDAs that were missing it
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: YML, S: Needs Review

#3543 Lobby time 4 -> 7 minutes
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: size/XS, S: Direction Approved

#3478 New borg ID chip sprites and small tweaks
  Resources/Locale/en-US/_DV/access/components/borg-id-chip.ftl
  Resources/Prototypes/_DV/Entities/Objects/Specific/Robotics/id_chips.yml
  Resources/Textures/_DV/Objects/Specific/Robotics/id_chip.rsi/icon.png
  Resources/Textures/_DV/Objects/Specific/Robotics/id_chip.rsi/meta.json
  Resources/Textures/_DV/Objects/Specific/Robotics/id_chip.rsi/unshaded.png
  Resources/Textures/_DV/Objects/Specific/Robotics/syndie_id_chip.rsi/icon.png
  Resources/Textures/_DV/Objects/Specific/Robotics/syndie_id_chip.rsi/meta.json
  Resources/Textures/_DV/Objects/Specific/Robotics/syndie_id_chip.rsi/unshaded.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S, Changes: Sprite, S: Direction Approved

#3562 Kitsune fixes 2
  Content.Server/_DV/Abilities/Kitsune/KitsuneSystem.cs
Labels: S: Needs Review, Changes: C#, size/S

#3544 Bring Apoapsis round restart time in line with other servers
  Resources/ConfigPresets/DeltaV/deltav.toml
  Resources/ConfigPresets/DeltaV/horizon.toml
  Resources/ConfigPresets/DeltaV/periapsis.toml
Labels: S: Needs Review, size/XS, S: Direction Approved

#3556 Uplink Item: Records Tablet
  Content.Client/_CD/Records/UI/CharacterRecordViewer.xaml.cs
  Content.Shared/_CD/Records/SharedCharacterRecordConsole.cs
  Resources/Locale/en-US/_DV/records/viewer.ftl
  Resources/Locale/en-US/_DV/store/uplink/deception.ftl
  Resources/Prototypes/_DV/Catalog/Uplink/deception.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Syndicate_Gadgets/records_tablet.yml
  Resources/Textures/_DV/Objects/Devices/tablets.rsi/icon.png
  Resources/Textures/_DV/Objects/Devices/tablets.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M, Changes: Sprite, S: Direction Approved

#3482 More admeme tools for accesses and radio channels
  Content.Shared/_DV/Access/ReverseAgentAccessConfiguratorComponent.cs
  Content.Shared/_DV/Access/ReverseAgentIDCardComponent.cs
  Content.Shared/_DV/Access/ReverseAgentIDCardSystem.cs
  Resources/Locale/en-US/_DV/headset/headset-component.ftl
  Resources/Locale/en-US/_DV/job/job-names.ftl
  Resources/Locale/en-US/_DV/prototypes/access/reverse-agent.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/_DV/Access/admeme.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/_DV/radio_channels.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L

#3572 Shuttle Edits: Trader Ship
  Resources/Maps/_DV/Shuttles/trader.yml
  Resources/Prototypes/_DV/Mapping/maps.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#3576 Nuke Corgium Reaction
  Resources/Prototypes/_Funkystation/Recipes/Reactions/exotic.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3579 Butlertron maintenance
  Content.Server/_DV/NPC/Roboisseur/RoboisseurComponent.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3577 Fix #3425: nullcheck glove dirtiness to prevent toolbar control from breaking
  Content.Client/_DV/Surgery/SurgeryDirtinessItemStatus.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3581 Add Anodynafil as an alternative anesthetic option
  Resources/Locale/en-US/_DV/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/en-US/_DV/reagents/meta/medicine.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_DV/Reagents/medicine.yml
  Resources/Prototypes/_DV/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_DV/status_effects.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#3567 Edge armory changes and a few extra things.
  Resources/Maps/edge.yml
Labels: Changes: YML, Changes: Map, size/XL

#3588 fully refactor waddling
  Content.Client/Movement/Systems/WaddleAnimationSystem.cs
  Content.Client/_DV/Waddle/WaddleAnimationSystem.cs
  Content.Server/Movement/Systems/WaddleAnimationSystem.cs
  Content.Server/_DV/Waddle/WaddleAnimationSystem.cs
  Content.Shared/Clothing/Components/WaddleWhenWornComponent.cs
  Content.Shared/Clothing/EntitySystems/WaddleClothingSystem.cs
  Content.Shared/Movement/Systems/SharedWaddleAnimationSystem.cs
  Content.Shared/_DV/Waddle/SharedWaddleAnimationSystem.cs
  Content.Shared/_DV/Waddle/WaddleAnimationComponent.cs
  Content.Shared/_DV/Waddle/WaddleClothingSystem.cs
  Content.Shared/_DV/Waddle/WaddleWhenWornComponent.cs
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: Changes: YML, S: Needs Review, Changes: C#

#3479 Craftable Pride Flags
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Prototypes/_DV/Entities/Structures/Wallmounts/flags.yml
  Resources/Prototypes/_DV/Recipes/Construction/Graphs/flags.yml
  Resources/Prototypes/_DV/Recipes/Construction/furniture.yml
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/ace_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/aro_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/bi_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/enby_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/gay_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/intersex_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/les_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/meta.json
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/pan_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/trans_flag.png
  Resources/Textures/_DV/Structures/Wallmounts/flags.rsi/trans_royal_shrimp_flag.png
Labels: Changes: YML, S: Needs Review, size/L, Changes: Sprite, S: Direction Approved

#3463 add moffers from tg
  Resources/Audio/_DV/Items/Moffers/attributions.yml
  Resources/Audio/_DV/Items/Moffers/moth_scream1.ogg
  Resources/Audio/_DV/Items/Moffers/moth_scream2.ogg
  Resources/Audio/_DV/Items/Moffers/moth_scream3.ogg
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DV/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/_DV/SoundCollections/moth.yml
  Resources/Textures/_DV/Clothing/Shoes/Specific/moffers.rsi/equipped-FEET.png
  Resources/Textures/_DV/Clothing/Shoes/Specific/moffers.rsi/icon.png
  Resources/Textures/_DV/Clothing/Shoes/Specific/moffers.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite, Changes: Audio

#3497 Reduced cost of death acidifier to 3TC
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3453 Printable hardsuits
  Resources/Locale/en-US/_DV/lathe/lathe-categories.ftl
  Resources/Locale/en-US/_DV/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/logistics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/_DV/Recipes/Lathes/categories.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DV/Research/arsenal.yml
  Resources/Prototypes/_DV/Research/civilianservices.yml
  Resources/Prototypes/_DV/Research/industrial.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/L, S: Direction Approved

#3589 disable thaven test
  Content.IntegrationTests/Tests/_Impstation/Thaven/MoodTests.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3597 Port Caramexinin from imp
  Resources/Locale/en-US/_Impstation/reagents/meta/medicine.ftl
  Resources/Prototypes/_Impstation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Impstation/reagents/medicine.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#3565 Crafting options for directional and directional reinforced uranium windows
  Resources/Prototypes/_DV/Recipes/Construction/structures.yml
Labels: Changes: YML, S: Needs Review, size/S

#3587 Easy upgradeable solar panels
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/solarpanel.yml
Labels: Changes: YML, S: Needs Review, size/M

#3602 fix minor typo
  Resources/Prototypes/_DV/Entities/Mobs/Player/kitsunefox.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3601 Changes to CC
  Resources/Maps/_DV/centcomm.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#3584 Map Edits: Roboship
  Resources/Maps/_DV/Shuttles/roboneuroticist_ship.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#3520 feat: added new plated coat
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/detectivearmouredcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/detectivearmouredcoat.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/detectivearmouredcoat.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite
