Repository DeltaV-Station/Delta-v, pull requests merged in 2025-03, with the labels that each got.

#3065 add missing ipc survival boxes
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3078 return airlock blacklist for emag
  Content.Shared/Emag/Components/EmagComponent.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/emag.yml
Labels: Changes: YML, S: Needs Review, Changes: C#

#3075 Reduced Destructible threshold from 300 and 150 to 100 and 50
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3080 unmigrate techfabs
  Resources/Migrations/deltaMigrations.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2912 Listening Post Modernisation
  Resources/Maps/_DV/Nonstations/listening_post.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/Closets/Lockers/wall_lockers.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3070 Curator Chat (Ported from RMC14 #5084)
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
  Content.Client/_RMC14/Mentor/MentorHelpWindow.xaml
  Content.Client/_RMC14/Mentor/MentorHelpWindow.xaml.cs
  Content.Client/_RMC14/Mentor/MentorWindow.xaml
  Content.Client/_RMC14/Mentor/MentorWindow.xaml.cs
  Content.Client/_RMC14/Mentor/StaffHelpUIController.cs
  Content.Client/_RMC14/Mentor/StaffHelpWindow.xaml
  Content.Client/_RMC14/Mentor/StaffHelpWindow.xaml.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_RMC14/Mentor/MentorManager.cs
  Content.Shared/Administration/AdminFlags.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Mentor/MentorHelpMsg.cs
  Content.Shared/_RMC14/Mentor/MentorMessage.cs
  Content.Shared/_RMC14/Mentor/MentorMessageReceivedMsg.cs
  Content.Shared/_RMC14/Mentor/MentorSendMessageMsg.cs
  Content.Shared/_RMC14/Mentor/MentorStatusMsg.cs
  Content.Shared/_RMC14/Mentor/SendMentorHelpMessageEvent.cs
  Resources/Audio/_RMC14/Effects/Admin/attributions.yml
  Resources/Audio/_RMC14/Effects/Admin/mhelp.ogg
  Resources/Locale/en-US/_DV/escape-menu/options-menu.ftl
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, Changes: Documentation, size/L, Changes: Audio

#2960 Byoin perma expansion and command, engineering and security rework
  Resources/Maps/byoin.yml
  Resources/Prototypes/Maps/byoin.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3083 rename ammonia back to miasma
  Resources/Locale/en-US/_DV/gases/gases.ftl
  Resources/Locale/en-US/_DV/prototypes/entities/structures/piping/atmospherics/miners.ftl
  Resources/Locale/en-US/_DV/prototypes/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Prototypes/Atmospherics/gases.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#3094 Fix scroll bar to navigate players Curator Chat
  Content.Client/_RMC14/Mentor/MentorWindow.xaml
Labels: S: Needs Review, Changes: UI

#3073 Give heads of staff spare departamental lathe boards
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3103 Add a multitool and screwdriver to the CMO locker (QoL)
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3102 Byoin Fix
  Resources/Maps/byoin.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#3098 Fixes again
  Content.Client/_RMC14/Mentor/StaffHelpUIController.cs
Labels: S: Needs Review, Changes: C#, size/S

#3088 thaven patch 1 - mood sync, moodupset glimmer 500, speech bubble
  Resources/Locale/en-US/_DV/markings/thaven.ftl
  Resources/Locale/en-US/_Impstation/thavens/no-and.ftl
  Resources/Locale/en-US/_Impstation/thavens/shared.ftl
  Resources/Locale/en-US/_Impstation/thavens/wildcard.ftl
  Resources/Locale/en-US/_Impstation/thavens/yes-and.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_noses.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/thaven.yml
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_DV/typing_indicator.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/no_and.yml
  Resources/Prototypes/_Impstation/Species/Thavens/Moods/yes_and.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
  Resources/Prototypes/_Impstation/datasets.yml
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_small.png
  Resources/Textures/_DV/Effects/speech.rsi/meta.json
  Resources/Textures/_DV/Effects/speech.rsi/thaven0.png
  Resources/Textures/_DV/Effects/speech.rsi/thaven1.png
  Resources/Textures/_DV/Effects/speech.rsi/thaven2.png
  Resources/Textures/_DV/Mobs/Customization/thaven.rsi/carp_spots.png
  Resources/Textures/_DV/Mobs/Customization/thaven.rsi/cheek_barbels.png
  Resources/Textures/_DV/Mobs/Customization/thaven.rsi/eyebrow_barbels.png
  Resources/Textures/_DV/Mobs/Customization/thaven.rsi/meta.json
  Resources/Textures/_DV/Mobs/Customization/thaven.rsi/underbelly_face.png
  Resources/Textures/_DV/Mobs/Customization/thaven.rsi/underbelly_torso.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#3097 New CHelp Sound
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Resources/Audio/_DV/Effects/Admin/attributions.yml
  Resources/Audio/_DV/Effects/Admin/chord2.ogg
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS, Changes: Audio

#3105 Byoin fix 2
  Resources/Maps/byoin.yml
Labels: Changes: YML, Changes: Map, size/XS

#3106 Add epistemics techfab label
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, size/XS

#3091 Remove hostage ops
  Resources/Prototypes/_DV/Objectives/nukies.yml
Labels: Changes: YML, S: Needs Review

#3084 Locker health rework
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Changes: YML, S: Needs Review, size/M

#3109 make borgs have job requirements
  Content.Client/Silicons/Borgs/BorgSelectTypeMenu.xaml.cs
  Content.Client/Silicons/Borgs/BorgSwitchableTypeSystem.cs
  Content.Client/_DV/Silicons/Borgs/BorgSwitchableTypeSystem.Job.cs
  Content.Server/_DV/Silicons/Borgs/BorgSwitchableTypeSystem.Job.cs
  Content.Shared/Silicons/Borgs/BorgTypePrototype.cs
  Content.Shared/Silicons/Borgs/SharedBorgSwitchableTypeSystem.cs
  Content.Shared/_DV/Silicons/Borgs/SharedBorgSwitchableTypeSystem.Job.cs
  Resources/Prototypes/_DV/borg_types.yml
  Resources/Prototypes/borg_types.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, size/M

#3107 Add a hostage warden for hostage ops.
  Resources/Locale/en-US/_DV/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/en-US/_DV/ghost/roles/hostage-warden.ftl
  Resources/Prototypes/_DV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/human.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/_DV/Roles/Antags/nukeops.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#3117 port borg downing fix
  Content.Server/Standing/StandingStateSystem.cs
  Content.Shared/_NF/Interaction/Systems/SharedHandPlaceholderSystem.cs
  Content.Shared/_NF/Standing/PreventDropOnDownedComponent.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#3114 lighthouse techfab update
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/M

#3120 fix borg hand test
  Content.Shared/_NF/Interaction/Systems/SharedHandPlaceholderSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2940 Remove greentexts - Replace with custom responses
  Content.Client/UserInterface/Systems/Character/CharacterUIController.cs
  Content.Client/_DV/CustomObjectiveSummary/CustomObjectiveSummaryUIController.cs
  Content.Client/_DV/CustomObjectiveSummary/CustomObjectiveSummaryWindow.xaml
  Content.Client/_DV/CustomObjectiveSummary/CustomObjectiveSummaryWindow.xaml.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/_DV/CustomObjectiveSummary/CustomObjectiveSummarySystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/_DV/CustomObjectiveSummary/CustomObjectiveSummaryComponent.cs
  Content.Shared/_DV/CustomObjectiveSummary/CustomObjectiveSummeryEvents.cs
  Resources/Locale/en-US/_DV/customobjectivesummary/customobjectivesummary.ftl
  Resources/Locale/en-US/_DV/feedbackpopup/popups/removegreentextpopup.ftl
  Resources/Prototypes/_DV/FeedbackPopup/feedbackpopupsRemoveGreentext.yml
  Resources/Prototypes/_DV/secret_weights.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L

#2842 Move role-based surgery bonuses to gloves
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SurgerySpeedModifierSystem.cs
  Content.Shared/_Shitmed/Surgery/SurgerySpeedModifyEvent.cs
  Resources/Locale/en-US/_Shitmed/armor-examine.ftl
  Resources/Locale/en-US/_Shitmed/technologies/technologies.ftl
  Resources/Prototypes/_Shitmed/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/advanced_operating_table.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
  Resources/Textures/_Shitmed/Clothing/Hands/Gloves/mechanical_surgery_gloves.rsi/equipped-HAND.png
  Resources/Textures/_Shitmed/Clothing/Hands/Gloves/mechanical_surgery_gloves.rsi/icon.png
  Resources/Textures/_Shitmed/Clothing/Hands/Gloves/mechanical_surgery_gloves.rsi/inhand-left.png
  Resources/Textures/_Shitmed/Clothing/Hands/Gloves/mechanical_surgery_gloves.rsi/inhand-right.png
  Resources/Textures/_Shitmed/Clothing/Hands/Gloves/mechanical_surgery_gloves.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M, Changes: Sprite

#3122 fix glove pr
  Resources/Prototypes/_Shitmed/Recipes/Lathes/robotics.yml
Labels: Changes: YML, S: Needs Review

#3113 replace secborg lawset with a more space law focused one
  Resources/Locale/en-US/_DV/station-laws/laws.ftl
  Resources/Locale/en-US/_DV/station-laws/silicon-police.ftl
  Resources/Prototypes/_DV/SiliconLaws/silicon_police.yml
  Resources/Prototypes/_DV/siliconlaws.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#3123 Make Ghost Roles in their own FTL file
  Resources/Locale/en-US/_DV/ghost/roles/clippy.ftl
  Resources/Locale/en-US/_DV/ghost/roles/closet-skeleton.ftl
  Resources/Locale/en-US/_DV/ghost/roles/fugitive.ftl
  Resources/Locale/en-US/_DV/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_DV/ghost/roles/listeningop.ftl
  Resources/Locale/en-US/_DV/ghost/roles/nukie-mouse.ftl
  Resources/Locale/en-US/_DV/ghost/roles/paradox-anomaly.ftl
  Resources/Locale/en-US/_DV/ghost/roles/recruiter.ftl
  Resources/Locale/en-US/_DV/ghost/roles/roboneuroticist.ftl
  Resources/Locale/en-US/_DV/ghost/roles/salvageantag.ftl
  Resources/Locale/en-US/_DV/ghost/roles/shadow-cat.ftl
  Resources/Locale/en-US/_DV/ghost/roles/silvia.ftl
  Resources/Locale/en-US/_DV/ghost/roles/softantag.ftl
  Resources/Locale/en-US/_DV/ghost/roles/space-dragon.ftl
  Resources/Locale/en-US/_DV/ghost/roles/syndicate-refugee.ftl
  Resources/Locale/en-US/_DV/ghost/roles/synthesis.ftl
Labels: Changes: Localization, size/M

#3126 rewrite borg hand code
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Shared/Silicons/Borgs/Components/ItemBorgModuleComponent.cs
  Content.Shared/_NF/Interaction/Components/HandPlaceholderComponent.cs
  Content.Shared/_NF/Interaction/Components/HandPlaceholderRemoveableComponent.cs
  Content.Shared/_NF/Interaction/Systems/HandPlaceholderSystem.cs
  Content.Shared/_NF/Interaction/Systems/SharedHandPlaceholderSystem.cs
  Content.Shared/_NF/Silicons/Borgs/DroppableBorgModuleComponent.cs
  Content.Shared/_NF/Silicons/Borgs/DroppableBorgModuleSystem.cs
  Content.Shared/_NF/Whitelist/Components/NFBookBagComponent.cs
  Content.Shared/_NF/Whitelist/Components/NFLighterComponent.cs
  Content.Shared/_NF/Whitelist/Components/NFOreBagComponent.cs
  Content.Shared/_NF/Whitelist/Components/NFPlantBagComponent.cs
  Content.Shared/_NF/Whitelist/Components/NFShakerComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Robotics/borg_hand_placeholder.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/L

#3076 fine-grained mapping prevention
  Content.Client/Entry/EntryPoint.cs
  Content.IntegrationTests/Tests/_DV/MappingCategoryTest.cs
  Content.Server/_DV/Mapping/MapCategoriesPrototype.cs
  Content.Server/_DV/Mapping/MappingCategoriesComponent.cs
  Content.Server/_DV/Mapping/MappingCategoriesSystem.cs
  Content.Server/_DV/Mapping/MappingCategoryPrototype.cs
  Resources/Maps/_DV/Salvage/DV-asteroid-mining-chemlab.yml
  Resources/Maps/_DV/centcomm.yml
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Debugging/clicktest.yml
  Resources/Prototypes/Entities/Debugging/debug_sweps.yml
  Resources/Prototypes/Entities/Debugging/item.yml
  Resources/Prototypes/Entities/Debugging/options_visualizer.yml
  Resources/Prototypes/Entities/Debugging/spanisharmyknife.yml
  Resources/Prototypes/Entities/Debugging/stress_test.yml
  Resources/Prototypes/Entities/Debugging/tippy.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_DV/Mapping/categories.yml
  Resources/Prototypes/_DV/Mapping/maps.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: C#, size/L

#3133 fix last bits of implanter troll
  Content.Shared/Implants/SharedImplanterSystem.cs
Labels: size/XS

#3111 add departmental access to borgs
  Resources/Prototypes/_DV/borg_types.yml
  Resources/Prototypes/borg_types.yml
Labels: Changes: YML, S: Needs Review, size/S

#2984 glacier major atmos rework
  Resources/Maps/glacier.yml
  Resources/Prototypes/_DV/Atmospherics/thresholds.yml
  Resources/Prototypes/_DV/Entities/Structures/Piping/Atmospherics/gas_pipe_sensor.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3005 schmoko snoko
  Resources/Maps/shoukou.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3139 Bomb Suit Insulation
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3143 prevent climbing while being carried
  Content.Shared/Climbing/Systems/ClimbSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3145 kill whitelist verbose logging
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
Labels: S: Needs Review, size/XS

#3144 Add missing recipes to assorted lathes
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/shared.yml
Labels: Changes: YML, S: Needs Review

#3147 Fix autoclave not being able to be placed on desks
  Resources/Prototypes/_DV/Entities/Structures/Machines/autoclave.yml
Labels: Changes: YML

#3152 Emergency Shoko Patch (removes o2 miner)
  Resources/Maps/shoukou.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/S

#3119 give more borg modules hands
  Content.Shared/_DV/Whitelist/ElectronicsComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/Electronics/base_electronics.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_DV/tags.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#3112 give secborgs cuffs and zipties
  Resources/Prototypes/_DV/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#3096 Increase CMO and medical doctor time requirements
  Resources/Prototypes/_DV/Roles/Jobs/requirement_overrides.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3158 fix thaven mood test
  Content.IntegrationTests/Tests/_Impstation/Thaven/MoodTests.cs
Labels: Changes: C#, size/XS

#3093 Python Non-AP Tweak
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Textures/_DV/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/piercing-icon.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S, Changes: Sprite

#3156 add water vapor order to cargo
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_atmospherics.yml
Labels: Changes: YML, size/XS

#3160 fix borg hand heisentest real
  Content.Shared/_NF/Silicons/Borgs/DroppableBorgModuleSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3154 Adds Search tab to AAC and updates layout
  Content.Client/_DV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/M

#3136 Fixed unzipped epi coats
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/epicoat.rsi/icon-open.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/epicoat.rsi/meta.json
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/epicoat.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/epicoat.rsi/open-inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/epicoat.rsi/open-inhand-right.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/mystacoat.rsi/icon-open.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/mystacoat.rsi/meta.json
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/mystacoat.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/mystacoat.rsi/open-inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/mystacoat.rsi/open-inhand-right.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#3162 add unset air sensor for burn chambers
  Resources/Prototypes/_DV/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: Changes: YML, S: Needs Review, size/S

#3116 cyborg access rework
  Content.Client/Silicons/Borgs/BorgBoundUserInterface.cs
  Content.Client/Silicons/Borgs/BorgMenu.xaml
  Content.Client/Silicons/Borgs/BorgMenu.xaml.cs
  Content.Shared/_DV/Silicons/Borgs/IdChipSlotComponent.cs
  Content.Shared/_DV/Silicons/Borgs/IdChipSlotSystem.cs
  Resources/Locale/en-US/_DV/access/components/borg-id-chip.ftl
  Resources/Locale/en-US/_DV/silicons/borg-id-chip.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Robotics/id_chips.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/robotics.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_DV/Objects/Specific/Robotics/id_chip.rsi/icon.png
  Resources/Textures/_DV/Objects/Specific/Robotics/id_chip.rsi/meta.json
  Resources/Textures/_DV/Objects/Specific/Robotics/id_chip.rsi/unshaded.png
  Resources/Textures/_DV/Objects/Specific/Robotics/syndie_id_chip.rsi/icon.png
  Resources/Textures/_DV/Objects/Specific/Robotics/syndie_id_chip.rsi/meta.json
  Resources/Textures/_DV/Objects/Specific/Robotics/syndie_id_chip.rsi/unshaded.png
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#2566 add bluespace shelter capsules
  Content.Client/_DV/Salvage/Systems/ShelterCapsuleSystem.cs
  Content.Server/_DV/Salvage/Systems/ShelterCapsuleSystem.cs
  Content.Shared/_DV/Salvage/Components/ShelterCapsuleComponent.cs
  Content.Shared/_DV/Salvage/Systems/SharedShelterCapsuleSystem.cs
  Resources/Locale/en-US/_DV/salvage/shelter-capsule.ftl
  Resources/Maps/_DV/Nonstations/shelters.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/_DV/Catalog/mining_voucher.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Salvage/mining_voucher.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Salvage/shelter_capsules.yml
  Resources/Textures/_DV/Objects/Specific/Salvage/shelter_capsule.rsi/capsule.png
  Resources/Textures/_DV/Objects/Specific/Salvage/shelter_capsule.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: C#, Changes: Localization, Changes: Sprite, size/XL

#2059 Secborg Module Overhaul
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Security/security.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_DV/Research/arsenal.yml
  Resources/Prototypes/_DV/borg_types.yml
  Resources/Textures/_DV/Objects/Weapons/Guns/Launchers/nonlethal_launcher.rsi/icon.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Launchers/nonlethal_launcher.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#3165 Map Edits: Arena
  Resources/Maps/arena.yml
Labels: Changes: YML, Changes: Map, size/XL

#3172 shark xml update
  Resources/ServerInfo/Guidebook/Mobs/_DV/Feroxi.xml
Labels: Changes: Documentation, size/XS

#3176 return ahelp to f1, add alternate keybind for staff help chooser
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
  Content.Client/_RMC14/Mentor/StaffHelpUIController.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
  Resources/keybinds.yml
Labels: Changes: YML, Changes: UI, Changes: C#, Changes: Documentation, size/S

#3170 Add dysgraphia trait
  Resources/Locale/en-US/_DV/alerts/alerts.ftl
  Resources/Locale/en-US/_DV/job/job-description.ftl
  Resources/Locale/en-US/_DV/traits/traits.ftl
  Resources/Locale/en-US/tips.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/_DV/Traits/disabilities.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/S

#3178 remove raffle from fish
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2780 Add HasComponent condition for reagents
  Content.Shared/_DV/EntityEffects/EffectConditions/HasComponent.cs
Labels: S: Needs Review, Changes: C#, size/M

#3169 rework hyperlathes into upgrade kits
  Content.Shared/_DV/Construction/UpgradeKitComponent.cs
  Content.Shared/_DV/Construction/UpgradeKitSystem.cs
  Content.Shared/_DV/Construction/UpgradedMachineComponent.cs
  Content.Shared/_DV/Construction/UpgradedMachineSystem.cs
  Content.Shared/_DV/Lathe/LatheUpgradeComponent.cs
  Content.Shared/_DV/Lathe/LatheUpgradeSystem.cs
  Content.Shared/_NF/Silicons/Borgs/DroppableBorgModuleSystem.cs
  Resources/Locale/en-US/_DV/construction/upgrade-kits.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/lathe_upgrade_kits.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_DV/Recipes/Lathes/upgrade_kits.yml
  Resources/Textures/_DV/Objects/Tools/lathe_upgrade_kit.rsi/icon.png
  Resources/Textures/_DV/Objects/Tools/lathe_upgrade_kit.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#3168 experimental rcd rework
  Resources/Locale/en-US/_DV/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_DV/Recipes/Lathes/tools.yml
  Resources/Prototypes/_DV/Research/industrial.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#3186 Pebble compliance
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: YML, Changes: Map, size/XL

#3146 Add emag interaction to departamental techfabs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3191 Shark PSB 1984, replace with tinned meat
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_DV/Loadouts/Miscellaneous/survival.yml
Labels: Changes: YML, size/M

#3167 Reduced price of the overlord board
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3193 fix escalation module being unusable
  Resources/Prototypes/_DV/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3195 Fix the changelog of the overlord PR
  Resources/Changelog/DeltaVChangelog.yml
Labels: Changes: YML

#3166 Add a salvage expedition board to the LO's locker
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/logistics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/electronics.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3199 Moth can eat pills
  Resources/Prototypes/Body/Organs/moth.yml
Labels: Changes: YML

#3201 fix harpies not being able to host anoms
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
Labels: size/XS

#3200 Fix guidebook keybind for CChat
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#3173 nerf melee when laying down
  Content.Shared/_DV/CCVars/DCCVars.cs
  Content.Shared/_DV/Standing/LayingDownCombatSystem.cs
Labels: S: Needs Review, Changes: C#, Changes: Localization, size/S

#3204 Revert "Shark PSB 1984, replace with tinned meat"
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_DV/Loadouts/Miscellaneous/survival.yml
Labels: Changes: YML, S: Needs Review, size/M

#3208 Namespace correction for feroxi metabolizer
  Resources/Locale/en-US/_DV/metabolism/metabolizer_types.ftl
Labels: S: Needs Review, Changes: Localization

#3210 slightly decrease survival intensity
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, S: Needs Review

#3206 make steel heal caustic for ipcs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
Labels: Changes: YML, S: Needs Review, Changes: Documentation

#3185 Medical derotting adjustments
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Resources/Locale/en-US/_DV/guidebook/chemistry/conditions.ftl
  Resources/Locale/en-US/_DV/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_DV/Reagents/medicine.yml
  Resources/Prototypes/_DV/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/S

#3217 Fix the roboneuro's ship + add new freezer fill
  Resources/Maps/_DV/Shuttles/roboneuroticist_ship.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/food.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/M

#3192 add ai detector from ss13
  Content.Shared/_DV/Physics/CollidingVisualsComponent.cs
  Content.Shared/_DV/Physics/CollidingVisualsSystem.cs
  Content.Shared/_DV/Whitelist/AiDetectableComponent.cs
  Resources/Locale/en-US/_DV/store/uplink/deception.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_DV/Catalog/Uplink/deception.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/ai_detector.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#3220 prevent taking ghost roles from the lobby
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3218 add FurredLimbs markings for felinids
  Resources/Locale/en-US/_DV/markings/felinid.ftl
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_l_arm.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_l_foot.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_l_hand.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_l_leg.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_r_arm.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_r_foot.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_r_hand.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/furred_r_leg.png
  Resources/Textures/_DV/Mobs/Customization/Felinid/felinid_limbs.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#3227 fix mono crew_alert.ogg
  Resources/Audio/_DV/Medical/CrewMonitoring/crew_alert.ogg
Labels: S: Needs Review, size/XS, Changes: Audio

#3229 various access related fixes
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, S: Needs Review

#3215 Make the surgery dirtiness status also reflect gloves & mask
  Content.Client/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Client/_DV/Surgery/SurgeryDirtinessItemStatus.cs
Labels: S: Needs Review, Changes: C#, size/M

#3235 evil name datasets
  Resources/Locale/en-US/_DV/datasets/names/clippy.ftl
  Resources/Locale/en-US/_DV/datasets/names/mouse-death-commando.ftl
  Resources/Prototypes/Datasets/Names/mouse_death_commando.yml
  Resources/Prototypes/_DV/Datasets/Names/mouse_death_commando.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/nukiemouse.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_DV/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_clippy.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Shitmed/Species/cyborg.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#3231 Speedyoink antag-before-job selection from upstream
  Content.Server/Antag/AntagSelectionSystem.API.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Antag/Components/AntagSelectionComponent.cs
  Content.Server/GameTicking/Rules/GameRuleSystem.Utility.cs
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
  Content.Server/_DV/GameTicking/Rules/DelayedRuleSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/Antag/AntagAcceptability.cs
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/L

#3238 rewrite id computer toggle code
  Content.Client/Access/UI/IdCardConsoleBoundUserInterface.cs
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Server/_DV/Access/Systems/IdCardConsoleSystem.Toggle.cs
  Content.Shared/_DV/Access/IdCardConsoleUI.cs
Labels: S: Needs Review, Changes: UI, Changes: C#

#3237 Don't generate random humanoid heights
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: S: Needs Review, Changes: C#

#3228 Small CC update
  Resources/Maps/_DV/centcomm.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#3244 Fix wrong loc id
  Resources/Locale/en-US/_DV/escape-menu/options-menu.ftl
Labels: Changes: Localization

#3224 sharkminnow shoes and chitin
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/_DV/Entities/Clothing/Shoes/sharkminnow.yml
  Resources/Prototypes/_DV/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_DV/Recipes/Construction/Graphs/clothing/sharkminnow_shoes.yml
  Resources/Prototypes/_DV/Recipes/Construction/clothing.yml
  Resources/Prototypes/_DV/Stacks/Materials/materials.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Textures/_DV/Clothing/Shoes/Misc/sharkminnow.rsi/equipped-FEET.png
  Resources/Textures/_DV/Clothing/Shoes/Misc/sharkminnow.rsi/icon.png
  Resources/Textures/_DV/Clothing/Shoes/Misc/sharkminnow.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Shoes/Misc/sharkminnow.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Shoes/Misc/sharkminnow.rsi/meta.json
  Resources/Textures/_DV/Objects/Materials/Mob/sharkchitin.rsi/chitin.png
  Resources/Textures/_DV/Objects/Materials/Mob/sharkchitin.rsi/chitin_2.png
  Resources/Textures/_DV/Objects/Materials/Mob/sharkchitin.rsi/chitin_3.png
  Resources/Textures/_DV/Objects/Materials/Mob/sharkchitin.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Materials/Mob/sharkchitin.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Materials/Mob/sharkchitin.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#3211 Rename the dysgraphia trait to be more accurate
  Resources/Locale/en-US/_DV/traits/traits.ftl
Labels: S: Needs Review, Changes: Localization, size/XS

#3247 Make brass textures look nicer
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
  Resources/Prototypes/Stacks/Materials/Sheets/metal.yml
  Resources/Textures/_DV/Objects/Materials/Sheets/metal.rsi/brass-inhand-left.png
  Resources/Textures/_DV/Objects/Materials/Sheets/metal.rsi/brass-inhand-right.png
  Resources/Textures/_DV/Objects/Materials/Sheets/metal.rsi/brass.png
  Resources/Textures/_DV/Objects/Materials/Sheets/metal.rsi/brass_2.png
  Resources/Textures/_DV/Objects/Materials/Sheets/metal.rsi/brass_3.png
  Resources/Textures/_DV/Objects/Materials/Sheets/metal.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Sprite

#3223 Little Guy Ops: Propeller hat and silly overalls, yippie!
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_DV/Clothing/Head/Hats/propellerhat.rsi/equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hats/propellerhat.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hats/propellerhat.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/littleguy_overalls.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/littleguy_overalls.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/littleguy_overalls.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#3249 fix mediborg and secborg jobs not having access
  Resources/Prototypes/_DV/Entities/Mobs/Player/silicon.yml
Labels: Changes: YML, S: Needs Review

#3250 fix mediborg gaming
  Content.Shared/_NF/Interaction/Systems/HandPlaceholderSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3059 Set up surgical augments infrastructure & add tool panel augments
  Content.Client/_DV/Augments/AugmentToolPanelMenu.xaml
  Content.Client/_DV/Augments/AugmentToolPanelMenu.xaml.cs
  Content.Client/_DV/Augments/AugmentToolPanelMenuBoundUserInterface.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/_DV/Augments/AugmentPowerCellSystem.cs
  Content.Server/_DV/Augments/AugmentToolPanelSystem.cs
  Content.Server/_EE/Power/Systems/BatteryDrinkerSystem.cs
  Content.Shared/_DV/Augments/AugmentActionComponent.cs
  Content.Shared/_DV/Augments/AugmentActionSystem.cs
  Content.Shared/_DV/Augments/AugmentActivatableUIComponent.cs
  Content.Shared/_DV/Augments/AugmentActivatableUISystem.cs
  Content.Shared/_DV/Augments/AugmentArmComponent.cs
  Content.Shared/_DV/Augments/AugmentChargerComponent.cs
  Content.Shared/_DV/Augments/AugmentComponent.cs
  Content.Shared/_DV/Augments/AugmentPowerCellSlot.cs
  Content.Shared/_DV/Augments/AugmentSystem.cs
  Content.Shared/_DV/Augments/AugmentToolPanelComponent.cs
  Content.Shared/_DV/Augments/SharedAugmentToolPanelSystem.cs
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryBodyConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryOrganSlotConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/Steps/SurgeryAddOrganSlotStepComponent.cs
  Resources/Locale/en-US/_DV/augments/augments.ftl
  Resources/Locale/en-US/_DV/augments/surgeries.ftl
  Resources/Locale/en-US/_DV/research/technologies.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-popup.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_DV/Augments/arm.yml
  Resources/Prototypes/_DV/Augments/base.yml
  Resources/Prototypes/_DV/Augments/power.yml
  Resources/Prototypes/_DV/Entities/Surgery/surgeries.yml
  Resources/Prototypes/_DV/Entities/Surgery/surgery_steps.yml
  Resources/Prototypes/_DV/Recipes/Construction/Graphs/augments.yml
  Resources/Prototypes/_DV/Recipes/Construction/augments.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_DV/Research/civilianservices.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
  Resources/Textures/_DV/Objects/Augments/arm.rsi/base.png
  Resources/Textures/_DV/Objects/Augments/arm.rsi/base_cables.png
  Resources/Textures/_DV/Objects/Augments/arm.rsi/botany.png
  Resources/Textures/_DV/Objects/Augments/arm.rsi/engineering.png
  Resources/Textures/_DV/Objects/Augments/arm.rsi/meta.json
  Resources/Textures/_DV/Objects/Augments/arm.rsi/paperwork.png
  Resources/Textures/_DV/Objects/Augments/arm.rsi/surgical.png
  Resources/Textures/_DV/Objects/Augments/power.rsi/apc.png
  Resources/Textures/_DV/Objects/Augments/power.rsi/cell.png
  Resources/Textures/_DV/Objects/Augments/power.rsi/incomplete_cell.png
  Resources/Textures/_DV/Objects/Augments/power.rsi/incomplete_cell_cables.png
  Resources/Textures/_DV/Objects/Augments/power.rsi/incomplete_charger.png
  Resources/Textures/_DV/Objects/Augments/power.rsi/incomplete_charger_cables.png
  Resources/Textures/_DV/Objects/Augments/power.rsi/meta.json
  Resources/Textures/_DV/Objects/Augments/power.rsi/station.png
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#3150 Minor fixes, cleanup and QOL update to objective summary
  Content.Client/_DV/CustomObjectiveSummary/CustomObjectiveSummaryUIController.cs
  Content.Client/_DV/CustomObjectiveSummary/CustomObjectiveSummaryWindow.xaml
  Content.Client/_DV/CustomObjectiveSummary/CustomObjectiveSummaryWindow.xaml.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Server/_DV/CustomObjectiveSummary/CustomObjectiveSummarySystem.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Resources/Locale/en-US/_DV/customobjectivesummary/customobjectivesummary.ftl
Labels: S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/S

#3239 Add the ability for wintercoats/long winter coats. To hold gas tanks both big and small.
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: Changes: YML, size/XS

#3253 Slightly increase NanoMed Plus starting inventory
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3261 add missing surgery step documentation
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryOrganSlotConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/Steps/SurgeryAddOrganSlotStepComponent.cs
Labels: S: Needs Review

#3257 minor beam dev buff
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: Changes: YML, size/XS

#3149 Add triaging to health analyzers and HUD
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBoundUserInterface.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Client/_DV/Overlays/ShowTriageIconsSystem.cs
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/_DV/MedicalRecords/MedicalRecordsSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
  Content.Shared/_DV/MedicalRecords/MedicalRecord.cs
  Content.Shared/_DV/MedicalRecords/MedicalRecordComponent.cs
  Content.Shared/_DV/MedicalRecords/SharedMedicalRecordsSystem.cs
  Content.Shared/_DV/MedicalRecords/TriageMessages.cs
  Content.Shared/_DV/Overlays/ShowTriageIconsComponent.cs
  Resources/Locale/en-US/_DV/medical/components/health-analyzer-component.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_DV/StatusIcon/triage.yml
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/claimed_others.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/claimed_yours.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/delayed.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/expectant.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/immediate.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/meta.json
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/minor.png
  Resources/Textures/_DV/Interface/Misc/triage_icons.rsi/unclaimed.png
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#3264 make organ insertion surgeries slot-based, add posibrain surgery
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
Labels: Changes: YML, S: Needs Review, size/S

#3263 Fix sec winter coats being unable to hold weaponry in suit storage
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: Changes: YML, S: Needs Review, size/M

#3258 rickenback attribution gaming
  Resources/Audio/_DV/Weapons/attributions.yml
  Resources/Audio/_DV/Weapons/electricguitarhit.ogg
  Resources/Prototypes/_DV/Entities/Objects/Fun/instruments.yml
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/wielded-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/wielded-inhand-right.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/icon.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/meta.json
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/wielded-inhand-left.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/wielded-inhand-right.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite, Changes: Audio

#3270 remove unused button from chemmaster ui
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
Labels: Changes: UI, size/XS

#3271 count dead mobs as sleeping for surgery
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
Labels: Changes: C#

#3269 port autodoc program yml import/export
  Content.Client/_Shitmed/Autodoc/AutodocBoundUserInterface.cs
  Content.Client/_Shitmed/Autodoc/AutodocProgramWindow.xaml
  Content.Client/_Shitmed/Autodoc/AutodocProgramWindow.xaml.cs
  Content.Client/_Shitmed/Autodoc/AutodocWindow.xaml
  Content.Client/_Shitmed/Autodoc/AutodocWindow.xaml.cs
  Content.Shared/_DV/Augments/AugmentSystem.cs
  Content.Shared/_Shitmed/Autodoc/AutodocUI.cs
  Content.Shared/_Shitmed/Autodoc/Systems/SharedAutodocSystem.cs
  Resources/Locale/en-US/_Shitmed/autodoc.ftl
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization

#3265 all outer clothing has all suit storage
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#3273 make red and blue soap clean dirt faster
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
Labels: Changes: YML, S: Needs Review

#3272 fix not being able to clean autodoc
  Content.Client/_DV/Surgery/SurgeryCleanStatusSystem.cs
  Content.Server/_DV/Autoclave/AutoclaveSystem.cs
  Content.Server/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_DV/Surgery/SurgeryCleanSystem.cs
  Content.Shared/_DV/Surgery/SurgeryCleansDirtComponent.cs
  Content.Shared/_DV/Surgery/SurgeryCrossContaminationComponent.cs
  Content.Shared/_DV/Surgery/SurgeryDirtinessComponent.cs
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: Changes: YML, Changes: C#, size/M

#3268 reduce cryptobiolin and champagne alcohol evil status
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: YML, size/XS

#3245 Buyable TEG
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/engine.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Devices/flatpack.yml
Labels: Changes: YML, S: Needs Review, size/S

#3276 move uplink things around yml and ftl
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Locale/en-US/_DV/store/uplink/allies.ftl
  Resources/Locale/en-US/_DV/store/uplink/ammo.ftl
  Resources/Locale/en-US/_DV/store/uplink/chemicals.ftl
  Resources/Locale/en-US/_DV/store/uplink/disruption.ftl
  Resources/Locale/en-US/_DV/store/uplink/explosives.ftl
  Resources/Locale/en-US/_DV/store/uplink/implants.ftl
  Resources/Locale/en-US/_DV/store/uplink/job.ftl
  Resources/Locale/en-US/_DV/store/uplink/objectives.ftl
  Resources/Locale/en-US/_DV/store/uplink/pointless.ftl
  Resources/Locale/en-US/_DV/store/uplink/weaponry.ftl
  Resources/Locale/en-US/_DV/store/uplink/wearables.ftl
  Resources/Prototypes/_DV/Catalog/Uplink/allies.yml
  Resources/Prototypes/_DV/Catalog/Uplink/ammo.yml
  Resources/Prototypes/_DV/Catalog/Uplink/chemicals.yml
  Resources/Prototypes/_DV/Catalog/Uplink/disruption.yml
  Resources/Prototypes/_DV/Catalog/Uplink/explosives.yml
  Resources/Prototypes/_DV/Catalog/Uplink/implants.yml
  Resources/Prototypes/_DV/Catalog/Uplink/job.yml
  Resources/Prototypes/_DV/Catalog/Uplink/objectives.yml
  Resources/Prototypes/_DV/Catalog/Uplink/pointless.yml
  Resources/Prototypes/_DV/Catalog/Uplink/weaponry.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/L

#3278 Remove feedback for pinktext
  Content.Server/_DV/CustomObjectiveSummary/CustomObjectiveSummarySystem.cs
  Resources/Locale/en-US/_DV/feedbackpopup/popups/removegreentextpopup.ftl
  Resources/Prototypes/_DV/FeedbackPopup/feedbackpopupsRemoveGreentext.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization

#3279 fix biomass reclaimer and shadow factory name
  Content.Shared/Clumsy/ClumsySystem.cs
  Resources/Prototypes/_DV/GameRules/unknown_shuttles.yml
Labels: Changes: YML, S: Needs Review, Changes: C#

#3189 Shark names list
  Resources/Locale/en-US/_DV/datasets/names/feroxi.ftl
  Resources/Prototypes/_DV/Datasets/Names/feroxi_first_female.yml
  Resources/Prototypes/_DV/Datasets/Names/feroxi_first_male.yml
  Resources/Prototypes/_DV/Datasets/Names/feroxi_last.yml
  Resources/Prototypes/_DV/Species/feroxi.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#3275 bring back biochemical research tree + reorganise some stuff
  Resources/Locale/en-US/_DV/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_DV/Research/biochemical.yml
  Resources/Prototypes/_DV/Research/disciplines.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
  Resources/Prototypes/borg_types.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#3274 add syndie autodoc bundle
  Resources/Locale/en-US/_DV/store/uplink/disruption.ftl
  Resources/Prototypes/_DV/Catalog/Fills/Items/Backpacks/duffelbag.yml
  Resources/Prototypes/_DV/Catalog/Uplink/disruption.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
  Resources/Textures/_DV/Structures/Machines/syndie_autodoc.rsi/idle.png
  Resources/Textures/_DV/Structures/Machines/syndie_autodoc.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#3281 Add StatusEffects to revenant ectoplasm so PVS doesn't crap out
  Resources/Prototypes/_DV/Entities/Objects/Specific/Medical/morgue.yml
Labels: Changes: YML, size/XS

#3246 HoS Kit Buff -X-01 Improvements
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3283 increase FTL cooldown
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: S: Needs Review, Changes: C#, size/XS

#3284 Make battery guns smaller
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML, size/XS

#3291 make synthesis specialist free agent in character menu
  Resources/Prototypes/_DV/Roles/MindRoles/mind_roles.yml
Labels: Changes: YML, S: Needs Review

#3299 fixes gnash emote for feroxi
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3298 Better Russian in autodoc
  Resources/Locale/en-US/_Shitmed/autodoc.ftl
Labels: Changes: Localization

#3303 make cloning biochemical
  Resources/Prototypes/_DV/Research/biochemical.yml
  Resources/Prototypes/_DV/Research/experimental.yml
Labels: Changes: YML, S: Needs Review, size/S

#3306 Move security cyborg modules to security techfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/security.yml
Labels: Changes: YML, size/XS

#3293 Reduce FTL cooldown + increase range
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: S: Needs Review, Changes: C#

#3304 Unhide the height slider in the humanoid profile editor
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
Labels: S: Needs Review, Changes: UI

#3314 Fix thermal regulation this time for real (#36062)
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3307 Change traitor ratio for more traitors
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3318 fix admin changelog
  Content.Client/Changelog/ChangelogTab.xaml.cs
  Resources/Changelog/Admin.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#

#3302 Adding Emote Icons, default emote sounds for slimes, Fixing Harpy Squish and Chirp, and Adding Vox Gasp & Death Gasp
  Resources/Audio/_DV/Effects/Gasp/attributions.yml
  Resources/Audio/_DV/Effects/Gasp/vox_deathgasp_1.ogg
  Resources/Audio/_DV/Effects/Gasp/vox_gasp_1.ogg
  Resources/Audio/_DV/Effects/Gasp/vox_gasp_2.ogg
  Resources/Locale/en-US/_DV/chat/emotes.ftl
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_DV/SoundCollections/harpy.yml
  Resources/Prototypes/_DV/SoundCollections/vox.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/Voice/speech_emotes.yml
  Resources/Prototypes/_EE/Voice/speech_emotes.yml
  Resources/Textures/_DV/Interface/Emotes/attributions.yml
  Resources/Textures/_DV/Interface/Emotes/awoo.png
  Resources/Textures/_DV/Interface/Emotes/bark.png
  Resources/Textures/_DV/Interface/Emotes/caw.png
  Resources/Textures/_DV/Interface/Emotes/ecg.png
  Resources/Textures/_DV/Interface/Emotes/gnash.png
  Resources/Textures/_DV/Interface/Emotes/howl.png
  Resources/Textures/_DV/Interface/Emotes/ring.png
  Resources/Textures/_DV/Interface/Emotes/snarl.png
  Resources/Textures/_DV/Interface/Emotes/whine.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Audio

#3321 reign in heights a bit
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Prototypes/_DV/Species/Oni.yml
  Resources/Prototypes/_DV/Species/felinid.yml
  Resources/Prototypes/_DV/Species/harpy.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
Labels: Changes: YML, Changes: C#, size/XS

#3324 replace vulp insulation
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
Labels: Changes: YML, S: Needs Review

#3325 fix telegnome action
  Content.Server/Nyanotrasen/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Shared/Eye/VisibilityFlags.cs
Labels: Changes: C#, size/XS

#3319 Make xenoarchaeology more on par with anomaly research glimmerwise
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3333 Make DeltaV specific radio channels be affected by solar flares
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3326 New superweapon: gamblagator
  Resources/Audio/_DV/Weapons/Guns/Gunshots/gamblagatorshot.ogg
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_DV/Entities/Markers/Spawners/Random/safes.yml
  Resources/Prototypes/_DV/Entities/Markers/Spawners/Random/security.yml
  Resources/Prototypes/_DV/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_DV/Recipes/Lathes/security.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Textures/_DV/Objects/Power/gamblagator_capacitors.rsi/capacitor.png
  Resources/Textures/_DV/Objects/Power/gamblagator_capacitors.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Projectiles/evil_projectile.rsi/evil_impact.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Projectiles/evil_projectile.rsi/evil_laser.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Projectiles/evil_projectile.rsi/evil_muzzle_flash.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Projectiles/evil_projectile.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Snipers/gamblagator.rsi/base.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Snipers/gamblagator.rsi/bolt-open.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Snipers/gamblagator.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Snipers/gamblagator.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Snipers/gamblagator.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Snipers/gamblagator.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Snipers/gamblagator.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Snipers/gamblagator.rsi/wielded-inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Snipers/gamblagator.rsi/wielded-inhand-right.png
Labels: Changes: YML, S: Needs Review, size/L, Changes: Sprite, Changes: Audio

#3336 localize air alarm gas names
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/S

#3338 Add the hand labeler to the techfabs
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/shared.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3340 Quick subdermal implants cleanup
  Resources/Prototypes/_DV/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3344 fix radiation blockers
  Content.Server/Radiation/Systems/RadiationSystem.GridCast.cs
  Content.Shared/Nutrition/EntitySystems/OpenableSystem.cs
Labels: Changes: C#, size/XS

#3346 The Wizard - Coming to a Delta V near you
  Resources/Prototypes/_DV/secret_weights.yml
Labels: Changes: YML, size/XS

#3347 Revert "The Wizard - Coming to a Delta V near you"
  Resources/Prototypes/_DV/secret_weights.yml
Labels: Changes: YML

#3348 wizard whitelist
  Resources/Prototypes/Roles/Antags/wizard.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3349 remove false cl
  Resources/Changelog/DeltaVChangelog.yml
Labels: Changes: YML, size/XS
