Repository DeltaV-Station/Delta-v, pull requests merged in 2025-01, with the labels that each got.

#2571 Fix NoCargoOrderArbitrage (Seeds evil)
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2573 fix tests
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
Labels: Changes: YML, S: Needs Review

#2572 Add back the HOS headset to warden's locker
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2367 Makes intercoms rotate to indicate direction they are facing
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Textures/_DV/Structures/Wallmounts/intercom.rsi/base.png
  Resources/Textures/_DV/Structures/Wallmounts/intercom.rsi/broadcasting.png
  Resources/Textures/_DV/Structures/Wallmounts/intercom.rsi/build.png
  Resources/Textures/_DV/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/_DV/Structures/Wallmounts/intercom.rsi/panel.png
  Resources/Textures/_DV/Structures/Wallmounts/intercom.rsi/speaker.png
  Resources/Textures/_DV/Structures/Wallmounts/intercom.rsi/unshaded.png
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#1257 shipyard ui cleanup
  Content.Client/_DV/Shipyard/UI/ShipyardBoundUserInterface.cs
  Content.Client/_DV/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/_DV/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Client/_DV/Shipyard/UI/VesselRow.xaml
  Content.Client/_DV/Shipyard/UI/VesselRow.xaml.cs
  Content.Server/_DV/Shipyard/ShipyardConsoleSystem.cs
  Content.Server/_DV/Shipyard/ShipyardSystem.cs
  Content.Shared/_DV/Shipyard/SharedShipyardConsoleSystem.cs
  Content.Shared/_DV/Shipyard/ShipyardUi.cs
  Resources/Locale/en-US/_DV/shipyard/shipyard-console.ftl
  Resources/Prototypes/_DV/Entities/Structures/Machines/computers.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M

#2141 stock market refactor
  Content.Client/_DV/CartridgeLoader/Cartridges/StockTradingUi.cs
  Content.Client/_DV/CartridgeLoader/Cartridges/StockTradingUiFragment.xaml.cs
  Content.Server/_DV/Cargo/Components/StationStockMarketComponent.cs
  Content.Server/_DV/Cargo/Systems/StockMarketSystem.cs
  Content.Server/_DV/CartridgeLoader/Cartridges/StockTradingCartridgeSystem.cs
  Content.Shared/_DV/CartridgeLoader/Cartridges/StockTradingUiMessageEvent.cs
  Content.Shared/_DV/CartridgeLoader/Cartridges/StockTradingUiState.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/M

#2539 Add fox ears inner layer
  Resources/Locale/en-US/_DV/markings/vulpkanin.ftl
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Textures/_DV/Mobs/Customization/Vulpkanin/ear_markings.rsi/fox-inner.png
  Resources/Textures/_DV/Mobs/Customization/Vulpkanin/ear_markings.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS, Changes: Sprite

#2397 Differentiate warden and HOS suit
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2576 stop carrying if you get downed
  Content.Shared/_DV/Carrying/CarryingSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2577 change tests namespace to _DV too
  Content.IntegrationTests/Tests/_DV/CrimeassistTest.cs
  Content.IntegrationTests/Tests/_DV/MetempsychosisTest.cs
  Content.IntegrationTests/Tests/_DV/ReverseEngineeringTest.cs
  Content.IntegrationTests/Tests/_DV/RoboisseurTest.cs
  Content.IntegrationTests/Tests/_DV/ShipyardTest.cs
Labels: S: Needs Review, Changes: C#

#2525 Evac fixes
  Resources/Maps/_DV/Shuttles/NTES_BC20.yml
  Resources/Maps/_DV/Shuttles/NTES_Centipede.yml
  Resources/Maps/_DV/Shuttles/NTES_Fishbowl.yml
  Resources/Maps/_DV/Shuttles/NTES_Seal.yml
  Resources/Maps/_DV/Shuttles/NTES_UCLB.yml
Labels: Changes: YML, Changes: Map, size/L

#2580 Map Edits: Arena
  Resources/Maps/arena.yml
  Resources/Prototypes/Maps/arena.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2551 Map Edits: Hive
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/hive.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2554 Add missing roles to Secure Cabinet
  Resources/Prototypes/_DV/Entities/Structures/Storage/SecureCabinet/secure_cabinets.yml
Labels: Changes: YML, S: Needs Review, size/S

#2541 lighthouse unchristmasing
  Resources/Maps/lighthouse.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2540 glacier unchristmasing
  Resources/Maps/glacier.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2530 Shoko Anti-Christmas update
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2562 Colin Map Update - Holopads
  Resources/Maps/asterisk.yml
  Resources/Maps/chibi.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/chibi.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2567 Edge Station Update Dec 31st
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2579 Moved HOPs access configurator to the administrative assistant starting gear
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
Labels: Changes: YML, size/XS

#2578 Add an optional administrative assistant locker for mappers
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/command.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/_DV/Structures/Storage/closet.rsi/admin_assist.png
  Resources/Textures/_DV/Structures/Storage/closet.rsi/admin_assist_door.png
  Resources/Textures/_DV/Structures/Storage/closet.rsi/admin_assist_open.png
  Resources/Textures/_DV/Structures/Storage/closet.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#2582 Patrons - December 2024
  Content.Client/Credits/CreditsWindow.xaml.cs
  Resources/Credits/Patrons.yml
Labels: Changes: YML, Changes: UI, Changes: C#, size/M

#2583 feat: cleanbots can now go beneath tables
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2518 more harmless critters from events
  Content.Server/StationEvents/Events/VentCrittersRule.cs
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_DV/GameRules/events.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#2561 Feedback popups
  Content.Client/_DV/FeedbackPopup/FeedbackPopupUIController.cs
  Content.Client/_DV/FeedbackPopup/FeedbackPopupWindow.xaml
  Content.Client/_DV/FeedbackPopup/FeedbackPopupWindow.xaml.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_DV/FeedbackPopup/FeedbackPopupManager.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Content.Shared/_DV/FeedbackOverwatch/FeedbackOverwatchEvents.cs
  Content.Shared/_DV/FeedbackOverwatch/FeedbackPopupPrototype.cs
  Content.Shared/_DV/FeedbackOverwatch/SharedFeedbackOverwatchSystem.Events.cs
  Content.Shared/_DV/FeedbackOverwatch/SharedFeedbackOverwatchSystem.cs
  Resources/Locale/en-US/_DV/feedbackpopup/feedbackpopup.ftl
  Resources/Locale/en-US/_DV/feedbackpopup/popups/examplefeedbackpopup.ftl
  Resources/Prototypes/_DV/FeedbackPopup/feedbackpopups.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L

#2202 DeadRum, The Quest for More Rum
  Resources/Prototypes/_DV/Recipes/Reactions/drinks.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2585 glacier update
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#2584 lighthouse update
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/M

#2593 Colin Maps hotfix
  Resources/Maps/asterisk.yml
  Resources/Maps/chibi.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/M

#2591 fix door prying
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2599 Map Hotfixes: Arena/TheHive
  Resources/Maps/arena.yml
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/hive.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2605 Cargo Technicians get 17TC
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
Labels: Changes: YML

#2588 Add and update cryo chems
  Resources/Locale/en-US/_Floof/reagents/meta/medicine.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_Floof/Reagents/chemicals.yml
  Resources/Prototypes/_Floof/Reagents/medicine.yml
  Resources/Prototypes/_Floof/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Floof/Recipes/Reactions/medicine.yml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
Labels: Changes: YML, S: Needs Review, Changes: Localization, Changes: Documentation, size/M

#2601 Fixed locale + added comments on cargo_science.yml
  Resources/Prototypes/Catalog/Cargo/cargo_science.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2606 fix: glimmer probers now explode when unanchored due to grid change
  Content.Server/Nyanotrasen/Psionics/Glimmer/GlimmerReactiveSystem.cs
Labels: Changes: C#, size/XS

#2608 fix precognition spamming late round events
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2504 Port ingredient containers from frontier
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_ingredients.yml
  Resources/Textures/DeltaV/Objects/Consumable/Food/ingredients.rsi/cocoa-chip-big.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Food/ingredients.rsi/pepper-big.png
  Resources/Textures/DeltaV/Objects/Consumable/Food/ingredients.rsi/salt-big.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2315 Discord AHelp Reply System
  Content.Server/Administration/ServerApi.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Discord/WebhookPayload.cs
  Content.Server/_NF/Administration/BwoinkData.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
Labels: S: Needs Review, Changes: C#, size/L, Holy Shit

#1965 Add new station: Byoin
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_DV/Shuttles/NTES_Basu.yml
  Resources/Maps/byoin.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/byoin.yml
Labels: Changes: YML, Changes: Map, Changes: C#, size/XL

#2286 Blacklists Storage and High Value items from Storage Implant, but reduces cost
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#2620 law 4 update so less roundstart bolting AI core shut and APC off
  Resources/Locale/en-US/_DV/station-laws/laws.ftl
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#2615 Perforator buff
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2614 snipe qol prs from upstream
  Content.Client/CartridgeLoader/Cartridges/LogProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml.cs
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Forensics/Systems/FingerprintMaskSystem.cs
  Content.Server/Forensics/Systems/ForensicPadSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/PAI/PAISystem.cs
  Content.Server/Power/EntitySystems/RiggableSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactMicrowaveTriggerSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/_DV/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.NanoChat.cs
  Content.Server/_DV/NanoChat/NanoChatSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/LogProbePrintMessage.cs
  Content.Shared/CartridgeLoader/Cartridges/LogProbeUiState.cs
  Content.Shared/Chemistry/Components/RehydratableComponent.cs
  Content.Shared/Chemistry/EntitySystems/RehydratableSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Content.Shared/Forensics/Events.cs
  Content.Shared/Kitchen/Components/MicrowaveComponent.cs
  Content.Shared/NPC/Components/NoFriendlyFireComponent.cs
  Content.Shared/NPC/Systems/NoFriendlyFireSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Weapons/Reflect/ReflectComponent.cs
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
  Resources/Locale/en-US/chemistry/components/rehydratable-component.ftl
  Resources/Locale/en-US/forensics/forensics.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Objects/Devices/forensic_scanner.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Specific/dragon.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/experimental.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L

#2610 no using headsets when cuffed
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Resources/Locale/en-US/_DV/radio/headset.ftl
Labels: S: Needs Review, Changes: C#, Changes: Localization, size/S

#2586 Improvements to the psionic mantis belt + anti-psychic knife bug-fix
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/knives.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2596 update tesla guidebook
  Resources/ServerInfo/Guidebook/Engineering/Singularity.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#2546 Cold res for blood reds
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2625 shadow cat non-antag rules
  Resources/Prototypes/Entities/Mobs/NPCs/shadows.yml
Labels: Changes: YML, size/XS

#2627 Revert the diagnostic hud as it was before
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
Labels: Changes: YML, S: Needs Review, size/S

#2628 Fix DeltaV weaponry gun safes being AA
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/security.yml
Labels: Changes: YML, S: Needs Review, size/S

#2393 Blukie Suit Resprite
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/juggernaut.rsi/equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/juggernaut.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/combat-equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/icon-flash.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/off-equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/Head/ReverseEngineering/syndicate.rsi/on-equipped-HELMET.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/meta.json
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/icon.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/inhand-left.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/inhand-right.png
  Resources/Textures/DeltaV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2611 Add a bionic voice mask implanter to Nukeop inventory
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, S: Needs Review, size/S

#2305 make doorjack 4 tc
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2631 Speech is relayed by holopad holograms (#33978)
  Content.Server/Holopad/HolopadSystem.cs
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Shared/Telephone/TelephoneComponent.cs
  Resources/Locale/en-US/telephone/telephone.ftl
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/S

#2624 Byoin first tweak
  Resources/Maps/byoin.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#2635 Added binary key to the LPO
  Resources/Prototypes/_DV/Entities/Clothing/Ears/headsets.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2634 Adds Additional Holopads
  Resources/Locale/en-US/_DV/holopad/holopad.ftl
  Resources/Prototypes/_DV/Entities/Structures/Machines/holopad.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#2594 Adds magboots and insuls to atmos techs lockers
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2598 Remove "keep alive" traitor objective
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2637 Byoin Maintenance Expansions
  Resources/Maps/byoin.yml
  Resources/Prototypes/Maps/byoin.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2563 Adds Purchasable Arena Mob Crates
  Content.IntegrationTests/Tests/CargoTest.cs
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/arena.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_DV/Recipes/Crafting/Graphs/Storage/steel_livestock_crates.yml
  Resources/Prototypes/_DV/Recipes/Crafting/crates.yml
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_reinforced.rsi/DamageOverlay_75.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_reinforced.rsi/base.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_reinforced.rsi/closed.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_reinforced.rsi/icon.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_reinforced.rsi/locked.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_reinforced.rsi/meta.json
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_reinforced.rsi/open.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_reinforced.rsi/sparking.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_reinforced.rsi/unlocked.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_reinforced.rsi/welded.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_secure.rsi/base.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_secure.rsi/closed.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_secure.rsi/icon.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_secure.rsi/locked.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_secure.rsi/meta.json
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_secure.rsi/open.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_secure.rsi/sparking.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_secure.rsi/unlocked.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_secure.rsi/welded.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_steel.rsi/base.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_steel.rsi/closed.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_steel.rsi/icon.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_steel.rsi/meta.json
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_steel.rsi/open.png
  Resources/Textures/_DV/Structures/Storage/Crates/livestock_steel.rsi/welded.png
Labels: Changes: YML, S: Needs Review, Changes: C#, size/L, Changes: Sprite

#2592 Add the paperwork belt
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/equipped-BELT.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/icon.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Belt/paperwork.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2650 fix recent pr namespaces
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/juggernaut.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/syndicate.rsi/combat-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/syndicate.rsi/icon-flash.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/syndicate.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/syndicate.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/syndicate.rsi/off-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/ReverseEngineering/syndicate.rsi/on-equipped-HELMET.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/juggernaut.rsi/meta.json
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/OuterClothing/ReverseEngineering/syndicate.rsi/meta.json
  Resources/Textures/_DV/Objects/Consumable/Food/ingredients.rsi/cocoa-chip-big.png
  Resources/Textures/_DV/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/_DV/Objects/Consumable/Food/ingredients.rsi/pepper-big.png
  Resources/Textures/_DV/Objects/Consumable/Food/ingredients.rsi/salt-big.png
Labels: S: Needs Review

#2651 fix bounty arbitrage test
  Content.IntegrationTests/Tests/CargoTest.cs
  Content.Shared/Cargo/Prototypes/CargoBountyPrototype.cs
  Resources/Prototypes/Catalog/Bounties/bounties.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#2649 small shitmed update
  Content.Server/Kitchen/Components/SharpComponent.cs
  Content.Server/_Shitmed/Medical/Surgery/GhettoSurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/Tools/CauteryComponent.cs
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/l_arm.png
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/l_hand.png
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/meta.json
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/r_arm.png
  Resources/Textures/_DV/Mobs/Species/Harpy/parts.rsi/r_hand.png
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M, Changes: Sprite

#2644 Pebble Update Jan 7th
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2613 Shoukou but lights are better (apparently)
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, Changes: Map, size/XL

#2647 Add pronouns to crew manifest
  Content.Client/CrewManifest/UI/CrewManifestSection.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/CrewManifest/CrewManifestSystem.cs
  Content.Shared/CrewManifest/SharedCrewManifestSystem.cs
  Resources/Locale/en-US/_DV/gender.ftl
Labels: S: Needs Review, Changes: C#, Changes: Localization, size/M

#2660 fix security superweapon spawner sprite
  Resources/Prototypes/_DV/Entities/Markers/Spawners/Random/security.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2597 enable cargo and admin assistants
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2661 Butlerops PT 2
  Content.Server/_DV/NPC/Roboisseur/RoboisseurComponent.cs
Labels: Changes: C#, size/XS

#2645 Add surgeon access & role
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Locale/en-US/_DV/job/job-names.ftl
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Locale/en-US/_DV/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/medical.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_DV/Access/medical.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_DV/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Medical/surgeon.yml
  Resources/Prototypes/_DV/Roles/Jobs/Medical/surgeon.yml
  Resources/Prototypes/_DV/Roles/play_time_trackers.yml
  Resources/Prototypes/_DV/StatusIcon/job.yml
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/Surgeon.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_DV/Markers/jobs.rsi/meta.json
  Resources/Textures/_DV/Markers/jobs.rsi/surgeon.png
  Resources/Textures/_DV/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/pda.rsi/pda-surgeon.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/idsurgeon.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_DV/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_DV/Structures/Storage/closet.rsi/surgeon.png
  Resources/Textures/_DV/Structures/Storage/closet.rsi/surgeon_door.png
  Resources/Textures/_DV/Structures/Storage/closet.rsi/surgeon_open.png
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#2663 Feedback popup command
  Content.Server/_DV/FeedbackPopup/FeedbackPopupCommand.cs
  Content.Shared/_DV/FeedbackOverwatch/SharedFeedbackOverwatchSystem.cs
  Resources/Locale/en-US/_DV/feedbackpopup/feedbackpopup.ftl
Labels: Changes: C#, Changes: Localization, size/M

#2657 Changes Curtains for QOL
  Resources/Prototypes/Entities/Structures/Decoration/curtains.yml
  Resources/Textures/_DV/Structures/Decoration/Curtains/hospital.rsi/closed.png
  Resources/Textures/_DV/Structures/Decoration/Curtains/hospital.rsi/meta.json
  Resources/Textures/_DV/Structures/Decoration/Curtains/hospital.rsi/open.png
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#2667 Revert "allow cloning living people (#932)"
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/Cloning/CloningSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2665 add AI defense turret + let AI unlock buttons
  Content.Shared/Lock/LockSystem.cs
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/turrets.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#2668 make limb severing bleed instead of bloodloss damage
  Content.Server/Body/Systems/BodySystem.cs
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
Labels: S: Needs Review, Changes: C#, size/S

#2639 mediborg candy refactor
  Content.Server/Nyanotrasen/Abilities/Borgs/FabricateCandyComponent.cs
  Content.Server/Nyanotrasen/Abilities/Borgs/FabricateCandySystem.cs
  Content.Shared/Nyanotrasen/Actions/FabricateCandyEvent.cs
  Content.Shared/_DV/Silicons/Borgs/FabricateCandyComponent.cs
  Content.Shared/_DV/Silicons/Borgs/FabricateCandySystem.cs
  Resources/Locale/en-US/nyanotrasen/abilities/borgs.ftl
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/_DV/Actions/borgs.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Food/candy.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/Nyanotrasen/Objects/Consumable/Food/candy.rsi/meta.json
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/gumball-shine.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/gumball.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/lollipop-ball.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/lollipop-equipped-MASK-vulpkanin.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/lollipop-equipped-MASK.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/lollipop-stickandshine.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/lollipop.png
  Resources/Textures/_DV/Objects/Consumable/Food/candy.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#2674 add painkillers to logi purchases
  Resources/Locale/en-US/_DV/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/medical.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#2395 Add Machine Incompatible Trait
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Shared/_DV/Traits/Assorted/UnborgableComponent.cs
  Content.Shared/_DV/Traits/Assorted/UnborgableSystem.cs
  Resources/Locale/en-US/_DV/borg/borg.ftl
  Resources/Locale/en-US/_DV/medical/components/health-analyzer-component.ftl
  Resources/Locale/en-US/_DV/traits/traits.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/_DV/Traits/disabilities.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M

#2664 lighthouse update
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2666 glacier update
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: YML, Changes: Map, size/XL

#2648 Byoin surgery accommodation
  Resources/Maps/byoin.yml
  Resources/Prototypes/Maps/byoin.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2679 Add tank harnesses to the medical techfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Recipes/Lathes/medical.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2676 Depression RP Trait
  Resources/Locale/en-US/_DV/traits/traits.ftl
  Resources/Prototypes/_DV/Traits/disabilities.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#2682 Remove the medical cybernetic eyes from the secfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML

#2678 Allow tank harnesses and hospital gowns to be operated through
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_DV/tags.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#2689 Ported Reptilian Hiss for Reptilians, Kobolds and Lizards
  Resources/Audio/_Impstation/Voice/Reptilian/attributions.yml
  Resources/Audio/_Impstation/Voice/Reptilian/reptillian_hiss1.ogg
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/SoundCollections/reptilian.yml
Labels: Changes: YML, S: Needs Review, size/S, Changes: Audio

#2685 Make chloral hydrate better suited for use as anesthesia
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2690 Tweaks to the paperwork belt
  Resources/Prototypes/_DV/Entities/Clothing/Belt/belts.yml
Labels: Changes: YML, size/XS

#2684 Replace ForcedSleep with Anesthesia for surgery
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_DV/Surgery/AnesthesiaComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/_DV/status_effects.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#2697 add surgeon description
  Resources/Locale/en-US/_DV/job/job-description.ftl
Labels: S: Needs Review, Changes: Localization, size/XS

#2633 Adds a random spawner for laws
  Resources/Prototypes/_DV/Entities/Markers/Spawners/Random/laws.yml
Labels: Changes: YML, S: Needs Review, size/S

#2700 fix shocked door spraypaint error
  Content.Client/Doors/DoorSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2681 Asterisk surgery update
  Resources/Maps/asterisk.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2688 add cold weather ponchos
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Textures/_DV/Clothing/Neck/Misc/cwparctic.rsi/equipped-NECK.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwparctic.rsi/icon.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwparctic.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwparctic.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwparctic.rsi/meta.json
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpsec.rsi/equipped-NECK.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpsec.rsi/icon.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpsec.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpsec.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Neck/Misc/cwpsec.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2692 add turtlenecks for senior officers
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Security/security_officer.yml
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/security_alt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/security_alt.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/security_alt.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/security_alt.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/security_alt.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/security_alt.rsi/rolled-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/seniorofficer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpskirt/seniorofficer.rsi/rolled-equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/security_alt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/security_alt.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/security_alt.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/security_alt.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/security_alt.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/security_alt.rsi/rolled-equipped-INNERCLOTHING.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2702 Pulls Upstream Holopad Additions/Fixes
  Resources/Locale/en-US/holopad/holopad.ftl
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#2658 Nukie Steamroll Preventative
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, S: Needs Review, size/S

#2711 Clean up the loadouts
  Resources/Prototypes/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Medical/psychologist.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Science/mystagogue.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
Labels: Changes: YML, size/L

#2710 Increase Tesla fade time
  Content.Server/Tesla/Components/TeslaEnergyBallComponent.cs
Labels: S: Needs Review, Changes: C#

#2683 Add a ChemMaster flatpack to the CMO's locker
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Devices/flatpack.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2642 Port: Disable round end pacifism and add a new command to pacify everyone
  Content.Server/_DV/RoundEnd/RoundEndSystem.Pacified.cs
  Content.Server/_Harmony/RoundEnd/PacifyAllCommand
Labels: S: Needs Review, Changes: C#, size/M

#2623 energy guns buff take 2
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: YML, size/S

#2213 Hristov Tweaks, Incidental Musiket Changes
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail_security.yml
Labels: Changes: YML, S: Needs Review, size/S

#2720 rename elite suit to thermal suit
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#2724 Fix: Lone ops can no longer be targeted by kill objectives
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2719 Port undergarments from ImpStation
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/_DV/markings/tattoos.ftl
  Resources/Locale/en-US/_DV/preferences/ui/markings-picker.ftl
  Resources/Locale/en-US/_Impstation/markings/undershirt.ftl
  Resources/Locale/en-US/_Impstation/markings/underwear.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/gingerbread.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_DV/Species/harpy.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/undershirt.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/underwear.yml
  Resources/Textures/_DV/Mobs/Customization/tattoos.rsi/meta.json
  Resources/Textures/_DV/Mobs/Customization/tattoos.rsi/tattoo_nanotrasen_chest.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/binder.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/classic.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/gross_sleeveless.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/nanotrasen.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/rolled_undershirt.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/rolled_undershirt_sleeveless.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/sleeveless.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/sports.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/strapless.png
  Resources/Textures/_Impstation/Mobs/Customization/undershirt.rsi/undershirt.png
  Resources/Textures/_Impstation/Mobs/Customization/underwear.rsi/boxers.png
  Resources/Textures/_Impstation/Mobs/Customization/underwear.rsi/briefs.png
  Resources/Textures/_Impstation/Mobs/Customization/underwear.rsi/lowriders.png
  Resources/Textures/_Impstation/Mobs/Customization/underwear.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/underwear.rsi/satin.png
  Resources/Textures/_Impstation/Mobs/Customization/underwear.rsi/tanga.png
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#2706 glacier update
  Resources/Maps/glacier.yml
Labels: Changes: YML, Changes: Map, size/L

#2632 Adds Smile the slime recipe
  Resources/Locale/en-US/_DV/reagents/meta/biological.ftl
  Resources/Migrations/deltaMigrations.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_DV/Body/Organs/Animal/slimes.yml
  Resources/Prototypes/_DV/Body/Prototypes/Animal/slimes.yml
  Resources/Prototypes/_DV/Reagents/biological.yml
  Resources/Prototypes/_DV/Recipes/Reactions/fun.yml
  Resources/Textures/_DV/Mobs/Pets/Smile/organs.rsi/brain-inhand-left.png
  Resources/Textures/_DV/Mobs/Pets/Smile/organs.rsi/brain-inhand-right.png
  Resources/Textures/_DV/Mobs/Pets/Smile/organs.rsi/brain-smile.png
  Resources/Textures/_DV/Mobs/Pets/Smile/organs.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#2722 Replace the medical biofabricator board with a flatpack
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Devices/flatpack.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2730 add surgery access to borg
  Resources/Prototypes/_DV/Access/misc.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2731 Add DeltaV OuterClothing loadout group to secoff roleLoadout
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: Changes: YML, S: Needs Review

#2741 Ported Starlight Signs
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Starlight/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_Starlight/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/brigmed.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/calendar.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/cleanhands.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/disposals_proper.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/eyechart.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/secureareasmall.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/wall_biohazard.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/wall_extremeheat.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/yessmoking.png
  Resources/Textures/_Starlight/Structures/Wallmounts/signs.rsi/youtoolpia.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2729 Ensure BeingCarriedComponent removal cleans up Carrier's virtual items
  Content.Shared/_DV/Carrying/CarryingSystem.cs
Labels: S: Needs Review, Changes: C#, size/S

#2670 Add Advanced Microwave
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/CircuitBoards/Machine/production.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/advanced_microwave.yml
  Resources/Prototypes/_DV/Recipes/Lathes/electronics.yml
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/meta.json
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mw.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mw0.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mw_running_unlit.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mw_unlit.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwb.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwbloody.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwbloody0.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwbloody1.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwbloodyo.png
  Resources/Textures/_DV/Structures/Machines/advanced_microwave.rsi/mwo.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#2672 Acidifying Sec Crates & Emergency Lasers
  Content.Server/_Impstation/Containers/AntiTamper/AntiTamperComponent.cs
  Content.Server/_Impstation/Containers/AntiTamper/AntiTamperSystem.cs
  Content.Shared/_Impstation/Containers/AntiTamper/AntiTamperDisarmDoAfterEvent.cs
  Resources/Locale/en-US/_Impstation/anti-tamper.ftl
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/_Impstation/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Crates/emergency.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Battery/emergencylaser.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/base.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/equipped-BACKPACK.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/mag-unshaded-1.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/mag-unshaded-2.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/mag-unshaded-3.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/mag-unshaded-4.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/wielded-inhand-left.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Battery/emergency_laser_gun.rsi/wielded-inhand-right.png
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#2752 Map Edits: Arena/Hive
  Resources/Maps/arena.yml
  Resources/Maps/hive.yml
  Resources/Prototypes/Maps/tortuga.yml
  Resources/Prototypes/_DV/Entities/Structures/Doors/Windoors/windoor.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2659 Security loadouts rubber magazines
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Security/security_officer.yml
Labels: Changes: YML, S: Needs Review, size/S

#2643 Subvert AI objective
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Server/_DV/Objectives/Components/AILawsUpdatedRequirementComponent.cs
  Content.Server/_DV/Objectives/Events/AILawUpdatedEvent.cs
  Content.Server/_DV/Objectives/Systems/AILawsUpdatedRequirementSystem.cs
  Resources/Locale/en-US/_DV/station-laws/laws.ftl
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_DV/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DV/Objectives/traitor.yml
  Resources/Prototypes/_DV/siliconlaws.yml
Labels: Changes: YML, S: Needs Review, S: Do Not Merge, Changes: C#, Changes: Localization, size/M

#2753 fix teaching a lesson to nuggets
  Content.Server/Mind/MindSystem.cs
  Content.Server/_DV/Objectives/Systems/TeachLessonConditionSystem.cs
  Content.Shared/Mind/Components/MindContainerComponent.cs
Labels: Changes: C#, size/XS

#2739 nerf delayed death
  Content.Server/_Shitmed/DelayedDeath/DelayedDeathSystem.cs
Labels: S: Needs Review, Changes: C#, size/S

#2749 Give Detectives Roundstart Forensic Gloves
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2745 Ups Nukie ratio to 12:1 to prevent lowpop steamroll
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2743 Bounty/history improvements
  Content.Client/Cargo/UI/BountyHistoryEntry.xaml
  Content.Client/Cargo/UI/BountyHistoryEntry.xaml.cs
  Content.Client/Cargo/UI/CargoBountyMenu.xaml
  Content.Client/Cargo/UI/CargoBountyMenu.xaml.cs
  Content.Server/Cargo/Components/StationCargoBountyDatabaseComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Shared/Cargo/CargoBountyHistoryData.cs
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
Labels: S: Needs Review, Changes: UI, Changes: C#, Changes: Localization

#2721 surgery and shitmed tweaks
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Body/Parts/rodentia.yml
  Resources/Prototypes/_DV/Body/Parts/vulpkanin.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_DV/Roles/Jobs/Medical/surgeon.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
Labels: Changes: YML, S: Needs Review, size/M

#2756 Surgeon scrubops
  Resources/Prototypes/_DV/Loadouts/Jobs/Medical/surgeon.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Loadouts/role_loadouts.yml
Labels: Changes: YML, S: Needs Review, size/M

#2732 Increases Minimum Hours For Command Roles
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: Changes: YML, S: Needs Review, size/S

#2758 Roundstart Secfab Rubbers
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: YML, size/S

#2761 Use required number of legs to determine if standing fails
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2755 implement feedback on #2695
  Resources/Textures/_DV/Clothing/Back/Backpacks/security.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Clothing/Back/Backpacks/security.rsi/icon.png
  Resources/Textures/_DV/Clothing/Back/Backpacks/security.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Back/Backpacks/security.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Back/Duffels/security.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Clothing/Back/Duffels/security.rsi/icon.png
  Resources/Textures/_DV/Clothing/Back/Duffels/security.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Back/Duffels/security.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Back/Satchels/security.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Clothing/Back/Satchels/security.rsi/icon.png
  Resources/Textures/_DV/Clothing/Back/Satchels/security.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Back/Satchels/security.rsi/inhand-right.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/Brigmedic.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/Detective.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/SecurityBorg.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/SecurityCadet.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/SecurityOfficer.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/SeniorOfficer.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/Warden.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/nyanoPrisonGuard.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/idbrigmedic.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/iddetective.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/idheadofsecurity.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/idintern-cadet.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/idsecurityofficer.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/idseniorofficer.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/idwarden.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/nyanoprisonguard.png
  Resources/Textures/_DV/Structures/Decoration/banner.rsi/banner_security.png
  Resources/Textures/_DV/Structures/Doors/Airlocks/Glass/security.rsi/assembly.png
  Resources/Textures/_DV/Structures/Doors/Airlocks/Glass/security.rsi/closed.png
  Resources/Textures/_DV/Structures/Doors/Airlocks/Glass/security.rsi/closing.png
  Resources/Textures/_DV/Structures/Doors/Airlocks/Glass/security.rsi/open.png
  Resources/Textures/_DV/Structures/Doors/Airlocks/Glass/security.rsi/opening.png
  Resources/Textures/_DV/Structures/Doors/Airlocks/Standard/security.rsi/assembly.png
  Resources/Textures/_DV/Structures/Doors/Airlocks/Standard/security.rsi/closed.png
  Resources/Textures/_DV/Structures/Doors/Airlocks/Standard/security.rsi/closing.png
  Resources/Textures/_DV/Structures/Doors/Airlocks/Standard/security.rsi/open.png
  Resources/Textures/_DV/Structures/Doors/Airlocks/Standard/security.rsi/opening.png
Labels: S: Needs Review, size/XS, Changes: Sprite

#2764 Chibi Surgery Update
  Resources/Maps/chibi.yml
  Resources/Prototypes/Maps/chibi.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/L

#2662 Edge Update January 9th
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#2725 Shoukou Surgery and Admin Assistant
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: YML, Changes: Map, size/L

#2762 Add EMP Blast effect shader (Frontier #2262)
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_NF/Emp/Overlays/EmpBlastOverlay.cs
  Content.Server/Emp/EmpSystem.cs
  Content.Shared/_NF/Emp/Components/EmpBlastComponent.cs
  Content.Shared/_NF/Emp/Systems/EmpBlastSystem.cs
  Resources/Prototypes/_NF/Entities/Effects/emp.yml
  Resources/Prototypes/_NF/Shaders/shaders.yml
  Resources/Textures/_NF/Shaders/emp.swsl
Labels: Changes: YML, S: Needs Review, Changes: C#, size/L, Changes: Shaders

#2718 bodypart refactor
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/_Shitmed/Body/Part/BodyPartAppearanceComponent.cs
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/arachnid.yml
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Body/Parts/diona.yml
  Resources/Prototypes/Body/Parts/gingerbread.yml
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Parts/moth.yml
  Resources/Prototypes/Body/Parts/rat.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
  Resources/Prototypes/Body/Parts/silicon.yml
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Body/Parts/slime.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Body/Parts/rodentia.yml
  Resources/Prototypes/_DV/Body/Parts/vulpkanin.yml
  Resources/Prototypes/_Shitmed/Body/Parts/Animal/carp.yml
  Resources/Prototypes/_Shitmed/Body/Parts/Animal/kobold.yml
  Resources/Prototypes/_Shitmed/Body/Parts/Animal/monkey.yml
  Resources/Prototypes/_Shitmed/Body/Parts/animal.yml
  Resources/Prototypes/_Shitmed/Body/Parts/base.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
  Resources/Prototypes/_Shitmed/Species/cyborg.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XL

#2768 webeditops fix prisonguard outerclothing
  Resources/Prototypes/Nyanotrasen/Loadouts/role_loadouts.yml
Labels: Changes: YML, size/XS

#2746 Animated Emotes from Impstation
  Content.Client/_Goobstation/Emoting/AnimatedEmotesSystem.cs
  Content.Server/_Goobstation/Emoting/AnimatedEmotesSystem.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/_Goobstation/Emoting/AnimatedEmotesComponent.cs
  Content.Shared/_Goobstation/Emoting/SharedAnimatedEmotesSystem.cs
  Resources/Locale/en-US/_Goobstation/emotes.ftl
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Goobstation/Actions/emotes.yml
  Resources/Textures/_Impstation/Interface/Emotes/attributions.yml
  Resources/Textures/_Impstation/Interface/Emotes/jump.png
  Resources/Textures/_Impstation/Interface/Emotes/spin.png
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#2744 [Port]Game presets can now have cooldowns to prevent back-to-back modes
  Content.Server/GameTicking/Presets/GamePresetPrototype.cs
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#2769 Ensure the Horizontal state is set when buckling/unbuckling
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
Labels: S: Needs Review, Changes: C#, size/XS

#2773 add nitrous tank to surgeon locker
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/medical.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2772 sec jobicon visibility ops
  Resources/Prototypes/StatusIcon/job.yml
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/Prisoner.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/SecurityOfficer.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/Warden.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/nyanoPrisonGuard.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/idsecurityofficer.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/idwarden.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/nyanoprisoner.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/nyanoprisonguard.png
Labels: Changes: YML, S: Needs Review, size/XS, Changes: Sprite

#2784 fix skeleton mind role
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2759 Compression of Arsenal techs
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DV/Research/arsenal.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#2775 Dead Man's Signaller
  Content.Server/_DV/DeviceLinking/Components/DeadMansSignallerComponent.cs
  Content.Server/_DV/DeviceLinking/Systems/DeadMansSignallerSystem.cs
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Electronics/dead-mans-signaller.yml
  Resources/Prototypes/_DV/Recipes/Lathes/devices.yml
  Resources/Textures/_DV/Objects/Devices/deadmanssignaller.rsi/active.png
  Resources/Textures/_DV/Objects/Devices/deadmanssignaller.rsi/inactive.png
  Resources/Textures/_DV/Objects/Devices/deadmanssignaller.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Devices/deadmanssignaller.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Devices/deadmanssignaller.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M, Changes: Sprite

#2785 Fix small namespace issue
  Content.Shared/_NF/Storage/Components/MaterialReclaimerMagnetPickupComponent.cs
  Content.Shared/_NF/Storage/Components/MaterialStorageMagnetPickupComponent.cs
  Content.Shared/_NF/Storage/EntitySystems/MaterialReclaimerMagnetPickupSystem.cs
  Content.Shared/_NF/Storage/EntitySystems/MaterialStorageMagnetPickupSystem.cs
  Resources/Locale/en-US/_NF/storage/components/magnet-pickup-components.ftl
Labels: Changes: C#, Changes: Localization, size/XS

#2748 a few new AAC phrases
  Resources/Locale/en-US/_DV/phrases/common.ftl
  Resources/Locale/en-US/_DV/phrases/species.ftl
  Resources/Locale/en-US/_DV/phrases/subjects.ftl
  Resources/Prototypes/_DV/QuickPhrases/Common/actions.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/commands.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/numbers.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/qualitative.yml
  Resources/Prototypes/_DV/QuickPhrases/Common/questions.yml
  Resources/Prototypes/_DV/QuickPhrases/Species/animals.yml
  Resources/Prototypes/_DV/QuickPhrases/Species/crew.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/command.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/engineering.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/epistemics.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/generic.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/logistics.yml
  Resources/Prototypes/_DV/QuickPhrases/jobs.yml
  Resources/Prototypes/_DV/QuickPhrases/locations.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/L

#2790 refactor felinid/chitinid item coughing
  Content.Client/_DV/Abilities/Felinid/FelinidSystem.cs
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/CoughingUpHairballComponent.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidComponent.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidFoodComponent.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/HairballComponent.cs
  Content.Server/_DV/Abilities/Chitinid/BlockInjectionComponent.cs
  Content.Server/_DV/Abilities/Chitinid/ChitinidComponent.cs
  Content.Server/_DV/Abilities/Chitinid/ChitinidSystem.cs
  Content.Server/_DV/Abilities/Chitinid/CoughingUpChitziteComponent.cs
  Content.Server/_DV/Abilities/Felinid/FelinidSystem.cs
  Content.Shared/_DV/Abilities/CoughingUpItemComponent.cs
  Content.Shared/_DV/Abilities/Felinid/FelinidComponent.cs
  Content.Shared/_DV/Abilities/Felinid/FelinidFoodComponent.cs
  Content.Shared/_DV/Abilities/Felinid/HairballComponent.cs
  Content.Shared/_DV/Abilities/Felinid/SharedFelinidSystem.cs
  Content.Shared/_DV/Abilities/ItemCougherComponent.cs
  Content.Shared/_DV/Abilities/ItemCougherSystem.cs
  Content.Shared/_DV/Chemistry/Components/BlockInjectionComponent.cs
  Resources/Locale/en-US/_DV/abilities/chitinid.ftl
  Resources/Locale/en-US/_DV/abilities/item-cougher.ftl
  Resources/Locale/en-US/nyanotrasen/abilities/felinid.ftl
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DV/Actions/types.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L

#2787 Buff duster fire-rate
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
Labels: Changes: YML, S: Needs Review, size/XS

#2545 Add hostage ops (Nuke ops alternative objective)
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/Nuke/NukeCodePaperSystem.cs
  Content.Server/_DV/Antag/NukieOperationComponent.cs
  Content.Server/_DV/Antag/NukieOperationSystem.cs
  Content.Server/_DV/FeedbackPopup/NukeHostageFeedbackPopupSystem.cs
  Content.Server/_DV/Objectives/Components/KidnapHeadsConditionComponent.cs
  Content.Server/_DV/Objectives/Components/NukeStationConditionComponent.cs
  Content.Server/_DV/Objectives/Systems/KidnapHeadsConditionSystem.cs
  Content.Server/_DV/Objectives/Systems/NukeStationConditionSystem.cs
  Content.Shared/_DV/Antag/NukieOperationPrototype.cs
  Content.Shared/_DV/FeedbackOverwatch/FeedbackPopupInformationComponent.cs
  Content.Shared/_DV/FeedbackOverwatch/SharedFeedbackOverwatchSystem.cs
  Content.Shared/_DV/Implants/AddComponentsImplant/AddComponentsImplantComponent.cs
  Content.Shared/_DV/Implants/AddComponentsImplant/AddComponentsImplantSystem.cs
  Content.Shared/_DV/Implants/AddFactions/AddFactionsImplantComponent.cs
  Content.Shared/_DV/Implants/AddFactions/AddFactionsImplantSystem.cs
  Resources/Locale/en-US/_DV/feedbackpopup/popups/nukeHostagepopup.ftl
  Resources/Locale/en-US/_DV/nukie-operations/operations.ftl
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_DV/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/FeedbackPopup/feedbackpopupsNukeHostage.yml
  Resources/Prototypes/_DV/Objectives/nukies.yml
  Resources/Prototypes/_DV/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L
