Repository DeltaV-Station/Delta-v, pull requests merged in 2025-10, with the labels that each got.

#4253 Adds destructible variant of reinforced hull for mapping
  Resources/Locale/en-US/_DV/tiles/tiles.ftl
  Resources/Prototypes/_DV/Tiles/floors.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#4447 secret weights again
  Resources/Prototypes/_DV/secret_weights.yml
Labels: Changes: YML, S: Needs Review

#4432 nukies 15 35
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4472 Population Increase, Horizon Shutdown
  Resources/ConfigPresets/DeltaV/apoapsis.toml
  Resources/ConfigPresets/DeltaV/periapsis.toml
Labels: S: Needs Review, size/XS

#4404 Adjust both webvests
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: YML, size/XS

#4329 People with the Numb trait no longer scream during surgery
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
Labels: Changes: C#

#4318 Fix Loto Oil
  Resources/Locale/en-US/_DV/guidebook/chemistry/statuseffects.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Nyanotrasen/Reagents/psionic.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_DV/status_effects.yml
Labels: Changes: YML, Changes: Localization, size/S

#4307 Make Surgery dependant on Part Damage
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
Labels: S: Needs Review, Changes: C#, size/XS

#4336 Buff kobolds
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4319 Added Scanners to Modules (#1268)
  Resources/Prototypes/_Shitmed/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4482 Fixes a typo in the revenant entry of the guidebook
  Resources/ServerInfo/Guidebook/_DV/Epistemics/GlimmerCreatures.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#4426 Makes the experimental RCDs description not lie
  Resources/Locale/en-US/_DV/prototypes/entities/objects/tools/tools.ftl
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#4434 Increase colossus minimum spawn time
  Resources/Prototypes/_DV/CosmicCult/events.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4350 Akashic Fold Part 0
  Content.Client/Parallax/ParallaxOverlay.cs
  Content.Server/_DV/AkashicFold/AkashicFoldSystem.cs
  Content.Server/_DV/Planet/PlanetSystem.cs
  Content.Shared/_DV/AkashicFold/AkashicRuinPrototype.cs
  Resources/Locale/en-US/_DV/akashic-fold/planet.ftl
  Resources/Maps/_DV/AkashicFold/akashic_base.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/_DV/AkashicFold/ruins.yml
  Resources/Prototypes/_DV/Procedural/biome_templates.yml
  Resources/Prototypes/_DV/planets.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: C#, Changes: Localization, size/XL

#4028 Unbaldify Reptilians
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Species/reptilian.yml
Labels: Changes: YML, S: Needs Review, size/XS, S: Direction Approved

#4341 Port Cybersun Stealth Hardsuit
  Content.Shared/_Goobstation/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/_Goobstation/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/_Goobstation/Clothing/Systems/ClothingGrantingSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/icon-flash.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/off-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/on-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#4358 Beam Dev nerf
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4401 Tweaks for the EE silicon emotes
  Resources/Locale/en-US/_EE/emotes/emotes.ftl
  Resources/Prototypes/_EE/Voice/speech_emotes.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#4416 do not reset ai store when intellicarded
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: YML, S: Needs Review

#4440 Shadow Damage
  Resources/Audio/_DV/Weapons/attributions.yml
  Resources/Audio/_DV/Weapons/scytheshot.ogg
  Resources/Audio/_DV/Weapons/shadowreload.ogg
  Resources/Audio/_DV/Weapons/shatter.ogg
  Resources/Locale/en-US/_DV/armor/armor-examine.ftl
  Resources/Locale/en-US/_DV/damage/damage-types.ftl
  Resources/Locale/en-US/_DV/store/uplink/weaponry.ftl
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Damage/groups.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_DV/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_DV/Catalog/Uplink/weaponry.yml
  Resources/Prototypes/_DV/Damage/modifier_sets.yml
  Resources/Prototypes/_DV/Damage/types.yml
  Resources/Prototypes/_DV/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Melee/accursedscythe.yml
  Resources/Textures/_DV/Clothing/Head/Hoods/harbingerhood.rsi/equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hoods/harbingerhood.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hoods/harbingerhood.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Head/Hoods/harbingerhood.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Head/Hoods/harbingerhood.rsi/meta.json
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/harbingercoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/harbingercoat.rsi/icon.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/harbingercoat.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/harbingercoat.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/OuterClothing/Coats/harbingercoat.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/harbingertunic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/harbingertunic.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/harbingertunic.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/harbingertunic.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/harbingertunic.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Melee/evilscythe.rsi/icon.png
  Resources/Textures/_DV/Objects/Weapons/Melee/evilscythe.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Melee/evilscythe.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Melee/evilscythe.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Melee/evilscythe.rsi/wielded-inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Melee/evilscythe.rsi/wielded-inhand-right.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/L, Changes: Sprite, Changes: Audio, S: Direction Approved

#4443 Bring back chantry destructability
  Resources/Prototypes/_DV/CosmicCult/Tileset/converter.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/structures.yml
Labels: Changes: YML, S: Needs Review, size/S, S: Direction Approved

#4445 fix IPC not having humanoid emotes
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Prototypes/_EE/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_EE/Voice/speech_emotes.yml
Labels: Changes: YML, S: Needs Review, size/S, No Direction Review Needed

#4437 Makes tape recorders signal-compatible
  Content.Shared/_DV/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/_DV/TapeRecorder/Systems/SharedTapeRecorderSystem.cs
  Resources/Locale/en-US/_DV/linkports/link-ports.ftl
  Resources/Prototypes/_DV/DeviceLinking/sink_ports.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/tape_recorder.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#4377 Adds lights to more hologram projections
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Holographic/projections.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4484 Fixes damage caused by EMP blast from EMP implanter
  Content.Server/Emp/EmpSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS, No Direction Review Needed

#4322 kill profession surgery speed
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/_DV/Roles/Jobs/Medical/surgeon.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4493 Snake Tails for Reptilians (repost)
  Resources/Locale/en-US/_CD/markings/reptilian.ftl
  Resources/Prototypes/_CD/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketail.rsi/tail_snake_wag_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketaildual.rsi/tail_snake_wag_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailstripe.rsi/tail_snake_wag_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/meta.json
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_secondary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_wag_primary.png
  Resources/Textures/_CD/Mobs/Customization/snaketailunder.rsi/tail_snake_wag_secondary.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/L, Changes: Sprite, S: Direction Approved

#4128 ERT slight improvements
  Resources/Prototypes/_DV/Roles/Jobs/CentComm/EmergencyResponseTeam.yml
Labels: Changes: YML, S: Needs Review, size/S, No Direction Review Needed

#4505 Fix Super Synths not being able to be played while being worn on the neck.
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instrument_keyed.yml
Labels: Changes: YML, S: Needs Review, size/XS
