Repository DeltaV-Station/Delta-v, pull requests merged in 2025-06, with the labels that each got.

#3869 Accidental Discharges
  Content.Server/_DV/Weapons/Ranged/Components/FireOnLandComponent.cs
  Content.Server/_DV/Weapons/Ranged/Systems/FireOnLandSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#3876 Recolor Salbutamol to be different from Diph
  Resources/Prototypes/_Funkystation/Reagents/medicine.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3889 fix: bring back kill traitor objectives
  Content.Server/_DV/Objectives/Systems/KillFellowTraitorObjectiveSystem.cs
Labels: S: Needs Review, Changes: C#, size/M

#3890 Chemistry-related Guidebook corrections
  Resources/Locale/en-US/_DV/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_DV/reagents/meta/toxins.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
Labels: Changes: YML, Changes: Localization, Changes: Documentation, size/XS

#3893 Robotech Surgical Tools
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
Labels: Changes: YML, S: Needs Review

#3769 Move secborg's laws around
  Resources/Locale/en-US/_DV/station-laws/silicon-police.ftl
Labels: S: Needs Review, Changes: Localization, size/XS

#3871 Remove the LO knuckledusters from the locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, size/XS

#3898 Hotfix: Cargo shuttle edits
  Resources/Maps/_DV/Shuttles/cargo.yml
  Resources/Maps/_DV/Shuttles/lost_cargo_dv.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/M

#3840 Edge changes
  Resources/Maps/edge.yml
  Resources/Prototypes/Maps/edge.yml
Labels: Changes: YML, Changes: Map, size/XL

#3886 reduce time at cc to 30 seconds
  Resources/ConfigPresets/DeltaV/apoapsis.toml
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#3912 Fix tinted windows not inheriting tags
  Resources/Prototypes/_DV/Entities/Structures/Windows/tinted_windows.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3907 Port Barrel labels from Fronter (but change the sprite a bit)
  Resources/Prototypes/_DV/Entities/Structures/Storage/Crates/barrel.yml
  Resources/Textures/_DV/Objects/Storage/barrel.rsi/meta.json
  Resources/Textures/_DV/Objects/Storage/barrel.rsi/paper.png
Labels: Changes: YML, S: Needs Review, size/S, Changes: Sprite

#3914 Changelog fix for barrel label pr
  Resources/Changelog/DeltaVChangelog.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3896 Homerun Bat - Redux
  Resources/Prototypes/_DV/Catalog/Uplink/weaponry.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Melee/home_run_bat.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3822 Feroxi Hardsuit Helmets
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-unshaded-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/advanced.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/advanced.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/advanced.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/corpsman.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/corpsman.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/corpsman.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/hos.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/hos.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/hos.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/medical.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/medical.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/medical.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/officer.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/officer.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/officer.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/riot.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/riot.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/riot.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/standard.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/standard.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/standard.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/warden.rsi/meta.json
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/warden.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_DV/Clothing/Head/Hardsuits/Combat/warden.rsi/on-equipped-HELMET-feroxi.png
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite, S: Direction Approved

#3857 Remove the Administrative Assistant
  Resources/Locale/en-US/_DV/chat/highlights.ftl
  Resources/Locale/en-US/_DV/datasets/figurines.ftl
  Resources/Locale/en-US/_DV/job/job-names.ftl
  Resources/Locale/en-US/_DV/paper/stamp-component.ftl
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Migrations/deltaMigrations.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/byoin.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/elegance.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/pebble.yml
  Resources/Prototypes/Maps/shoukou.yml
  Resources/Prototypes/Maps/tortuga.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_DV/Catalog/Chat/highlights.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/command.yml
  Resources/Prototypes/_DV/Datasets/figurines.yml
  Resources/Prototypes/_DV/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_DV/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_DV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_DV/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/Closets/Lockers/wall_lockers.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Loadouts/role_loadouts.yml
  Resources/Prototypes/_DV/QuickPhrases/jobs.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_DV/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_DV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/_DV/Roles/play_time_trackers.yml
  Resources/Prototypes/_DV/StatusIcon/job.yml
  Resources/Prototypes/_Impstation/datasets.yml
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/AdminAssistant.png
  Resources/Textures/_DV/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_DV/Markers/jobs.rsi/adminassistant.png
  Resources/Textures/_DV/Markers/jobs.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/pda.rsi/pda-admin-assistant.png
  Resources/Textures/_DV/Objects/Fun/figurines.rsi/meta.json
  Resources/Textures/_DV/Objects/Fun/figurines.rsi/secretary.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/idadminassistant.png
  Resources/Textures/_DV/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: Localization, size/M, Changes: Sprite, S: Direction Approved

#3926 Remove lobotomization
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
Labels: Changes: YML, S: Needs Review, size/S, S: Direction Approved

#3938 Fix admins reciving chelps when deadmined
  Content.Server/_DV/Curation/Systems/CwoinkSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3858 Dreadnought Shuttle
  Resources/Maps/_DV/Shuttles/dreadnought.yml
  Resources/Prototypes/_DV/Mapping/maps.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3930 Add a Nuclear Operative Uplink Implanter
  Resources/Locale/en-US/_DV/store/uplink/implants.ftl
  Resources/Prototypes/_DV/Catalog/Uplink/implants.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S, S: Direction Approved

#3934 Delta V arachnid and moth glasses !
  Resources/Textures/_DV/Clothing/Eyes/Glasses/corpsglasses.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/corpsglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/corpsglasses.rsi/meta.json
  Resources/Textures/_DV/Clothing/Eyes/Glasses/interdynechemgoogles.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/interdynechemgoogles.rsi/equipped-EYES-moth.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/interdynechemgoogles.rsi/meta.json
  Resources/Textures/_DV/Clothing/Eyes/Glasses/presccorpsglasses.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/presccorpsglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/presccorpsglasses.rsi/meta.json
  Resources/Textures/_DV/Clothing/Eyes/Glasses/prescsecglasses.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/prescsecglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/prescsecglasses.rsi/meta.json
  Resources/Textures/_DV/Clothing/Eyes/Glasses/safetyglasses.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/safetyglasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_DV/Clothing/Eyes/Glasses/safetyglasses.rsi/meta.json
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescmedhud.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescmedhud.rsi/equipped-EYES-moth.png
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescmedhud.rsi/meta.json
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescsechud.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescsechud.rsi/equipped-EYES-moth.png
  Resources/Textures/_DV/Clothing/Eyes/Hud/prescsechud.rsi/meta.json
Labels: Changes: Sprite, S: Direction Approved

#3936 Remove references to enforced loyalty from mindshield descriptions
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, S: Needs Review, S: Direction Approved

#3928 Add soap to surgical duffel bags
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3959 Kill homerun bat guarunteed stun
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Melee/home_run_bat.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3951 Byoin hotfix
  Resources/Maps/byoin.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/S

#3916 Bring Shoko up to date on the mapping standards + fixes
  Resources/Maps/shoukou.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3920 Quick fix to the syndie evac pod
  Resources/Maps/_DV/Shuttles/ShuttleEvent/syndie_evacpod.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#3956 Adjusts Autoclave to sit on/not hang off tables
  Resources/Prototypes/_DV/Entities/Structures/Machines/autoclave.yml
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/base.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/door_closed.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/door_open.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/light_active.png
  Resources/Textures/_DV/Structures/Machines/autoclave.rsi/light_inactive.png
Labels: Changes: YML, size/XS, Changes: Sprite

#3952 Edge changes + prison intercom
  Resources/Maps/edge.yml
  Resources/Prototypes/_DV/Entities/Structures/Wallmounts/intercom.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3973 Respritening | Atmos gases
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Textures/Logo/logo_clean.png
  Resources/Textures/Logo/logo_clean_pride.png
  Resources/Textures/_DV/Effects/atmospherics.rsi/frezon.png
  Resources/Textures/_DV/Effects/atmospherics.rsi/meta.json
  Resources/Textures/_DV/Effects/atmospherics.rsi/miasma.png
  Resources/Textures/_DV/Effects/atmospherics.rsi/plasma.png
  Resources/Textures/_DV/Effects/atmospherics.rsi/tritium.png
  Resources/Textures/_DV/Effects/atmospherics.rsi/water_vapor.png
Labels: Changes: YML, S: Needs Review, size/L, Changes: Sprite

#3925 Increase the ninja's stun cooldown to 6 seconds.
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#3953 Leviathan Buffs + Changes
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Impstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_Impstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rockets.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Launchers/leviathan.yml
Labels: Changes: YML, Changes: Localization, size/S

#3957 Make Voxes Carriable
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/chitinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/feroxi.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/kitsune.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
Labels: Changes: YML, S: Needs Review, size/S

#3949 Roboneurotocist - Some Buffs, some new Kit
  Resources/Locale/en-US/_DV/roboneuroticist/sets.ftl
  Resources/Maps/_DV/Shuttles/roboneuroticist_ship.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_DV/Catalog/roboneuroticist_sets.yml
  Resources/Prototypes/_DV/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_DV/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/roboneuroticist.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_DV/Roles/Antags/roboneuroticist.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: Localization, size/L

#3986 Mail access for skeleton crew Cargo Technicians
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
Labels: Changes: YML

#3967 feat: allow autodocs to hold arm augments
  Resources/Prototypes/_DV/Augments/arm.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#3994 Update S8_DefaultCrewDefinition.xml
  Resources/ServerInfo/Guidebook/_DV/Rules/SiliconRules/S8_DefaultCrewDefinition.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#3979 Update Patrons.yml
  Resources/Credits/Patrons.yml
Labels: Changes: YML, S: Needs Review, size/S

#3868 give prisoners more rights
  .wiki/_DV/Laws/StandardOperatingProcedure.txt
Labels: S: Needs Review, size/XS

#3981 Rename senior to mentor
  Resources/Locale/en-US/_DV/job/job-names.ftl
  Resources/Locale/en-US/_DV/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/_DV/prototypes/entities/objects/misc/identification_cards.ftl
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#3968 feat: toggle for advanced operating tables preventing rot
  Content.Shared/Item/ItemToggle/ComponentTogglerSystem.cs
  Content.Shared/_DV/Item/ItemToggle/Components/ComponentTogglerComponent.cs
  Resources/Locale/en-US/_DV/surgery/advanced-operating-table.ftl
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/advanced_operating_table.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/S

#4004 Halve the fire rate of the MK32
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Changes: YML, S: Needs Review

#4000 Nerf SRN buccaneer revolver
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: YML, size/XS

#3983 Spuddles (Adds mappable puddles)
  Resources/Prototypes/_DV/Entities/Effects/puddles.yml
Labels: Changes: YML, S: Needs Review, size/M

#2183 Xeno Buffs- Make Xenos actually scary
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: YML, S: Needs Review, size/S

#4012 Halve SRN weight
  Resources/Prototypes/_DV/GameRules/events.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3605 Service access added to service jobs
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3958 Give Feroxi & Kitsune more markings on arms and legs
  Resources/Prototypes/_DV/Species/feroxi.yml
  Resources/Prototypes/_DV/Species/kitsune.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4009 replace summary stasis with exfil
  .wiki/_DV/Laws/AlertProcedure.txt
  .wiki/_DV/Laws/SpaceLaw.txt
  .wiki/_DV/Laws/StandardOperatingProcedure.txt
Labels: S: Needs Review, size/XS

#4019 Port uninplemented upstream VSCode QOL improvements (PR #33891)
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
Labels: size/M

#3232 Recruiter uplink
  Content.Server/_DV/Recruiter/RecruiterPenSystem.cs
  Content.Shared/_DV/Recruiter/RecruiterPenComponent.cs
  Resources/Locale/en-US/_DV/stack/stacks.ftl
  Resources/Locale/en-US/_DV/store/categories.ftl
  Resources/Locale/en-US/_DV/store/currency.ftl
  Resources/Locale/en-US/_DV/store/recruiter/junk.ftl
  Resources/Locale/en-US/_DV/store/recruiter/treasures.ftl
  Resources/Locale/en-US/_DV/store/recruiter/uniforms.ftl
  Resources/Locale/en-US/_DV/store/store.ftl
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/Backpacks/duffelbag.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_DV/Catalog/Recruiter/junk.yml
  Resources/Prototypes/_DV/Catalog/Recruiter/treasures.yml
  Resources/Prototypes/_DV/Catalog/Recruiter/uniforms.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Food/Containers/lunchbox.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/recruiter.yml
  Resources/Prototypes/_DV/Roles/Antags/recruiter.yml
  Resources/Prototypes/_DV/Stacks/Materials/treatcoins.yml
  Resources/Prototypes/_DV/Store/categories.yml
  Resources/Prototypes/_DV/Store/currency.yml
  Resources/Textures/_DV/Objects/Specific/Syndicate/treatcoin.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Specific/Syndicate/treatcoin.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Specific/Syndicate/treatcoin.rsi/meta.json
  Resources/Textures/_DV/Objects/Specific/Syndicate/treatcoin.rsi/treatcoin.png
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#3929 fix: stop the SmartFridge from eating the contents of plant bags
  Content.Client/_DV/SmartFridge/SmartFridgeMenu.xaml.cs
  Content.Shared/Storage/EntitySystems/DumpableSystem.cs
  Content.Shared/_DV/SmartFridge/SmartFridgeComponent.cs
  Content.Shared/_DV/SmartFridge/SmartFridgeSystem.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/M

#3897 Thaven voice fix
  Resources/Prototypes/_Impstation/Entities/Mobs/Species/thaven.yml
Labels: Changes: YML, size/XS

#3937 Add the correct damage values to moth and IPC guidebooks
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
  Resources/ServerInfo/Guidebook/Mobs/Moth.xml
Labels: Changes: Documentation, size/XS

#3933 Port Harpy wing/arm layering fix, remove base female displacement map (#2917)
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Content.Shared/_DV/Harpy/HarpyVisualsSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_DV/Species/harpy.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/harpy.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#4023 Colossi - Stamina Damage Immunity
  Resources/Prototypes/_DV/CosmicCult/Mobs/colossus.yml
Labels: Changes: YML, size/XS

#4017 Vulp, feroxi, and harpy sprites for coscult armor
  Resources/Prototypes/_DV/CosmicCult/Clothing/cosmiccult_armor.yml
  Resources/Textures/_DV/CosmicCult/Clothing/cosmiccult_armor.rsi/equipped-HELMET-feroxi.png
  Resources/Textures/_DV/CosmicCult/Clothing/cosmiccult_armor.rsi/equipped-HELMET-vulpkanin.png
  Resources/Textures/_DV/CosmicCult/Clothing/cosmiccult_armor.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/_DV/CosmicCult/Clothing/cosmiccult_armor.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Sprite

#4001 Port RMC emote cooldown
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Speech/EmotesMenuSystem.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/_RMC14/Emote/RMCEmoteSystem.cs
  Content.Server/_RMC14/Emote/RecentlyEmotedComponent.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Emote/EmoteCooldownComponent.cs
  Content.Shared/_RMC14/Emote/SharedRMCEmoteSystem.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M
