Repository DeltaV-Station/Delta-v, pull requests merged in 2025-05, with the labels that each got.

#3564 Changing RCD and construction menu sprites to match Delta-V resprites
  Content.Client/RCD/RCDMenuBoundUserInterface.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_assembly.yml
  Resources/Prototypes/RCD/rcd.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/_DV/Interface/Radial/RCD/airlock.png
  Resources/Textures/_DV/Interface/Radial/RCD/airlocks.png
  Resources/Textures/_DV/Interface/Radial/RCD/attributions.yml
  Resources/Textures/_DV/Interface/Radial/RCD/deconstruct.png
  Resources/Textures/_DV/Interface/Radial/RCD/directional.png
  Resources/Textures/_DV/Interface/Radial/RCD/directional_reinforced.png
  Resources/Textures/_DV/Interface/Radial/RCD/glass_airlock.png
  Resources/Textures/_DV/Interface/Radial/RCD/window.png
  Resources/Textures/_DV/Interface/Radial/RCD/window_reinforced.png
  Resources/Textures/_DV/Interface/Radial/RCD/windows_and_grilles.png
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#3473 add comments to dragon and revenant upstream guidebook
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#3614 make gibbing/butchering yield filthy organs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.cs
  Content.Shared/_DV/Body/Systems/SharedBodySystem.GibDirtying.cs
Labels: S: Needs Review, Changes: C#, size/S

#3612 update thief guidebook
  Resources/ServerInfo/Guidebook/Antagonist/Thieves.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#3615 make eorg rule clearer
  Resources/ServerInfo/Guidebook/_DV/Rules/GameRules/4_Self-antag.xml
Labels: Changes: Documentation, size/XS

#3610 Introduce an AI shop system
  Content.Client/_DV/Silicons/StationAiShopSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/_DV/Silicons/StationAiShopSystem.cs
  Content.Shared/Store/Components/StoreComponent.cs
  Content.Shared/_DV/Silicons/SharedStationAiShopSystem.cs
  Content.Shared/_DV/Silicons/StationAiShopComponent.cs
  Resources/Locale/en-US/_DV/store/ai-catalog.ftl
  Resources/Locale/en-US/_DV/store/currency.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_DV/Actions/station_ai.yml
  Resources/Prototypes/_DV/Catalog/ai_catalog.yml
  Resources/Prototypes/_DV/Store/categories.yml
  Resources/Prototypes/_DV/Store/currency.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/bike_horn.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/emergency_sealant.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/holopointer.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/light_synthesizer.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/meta.json
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/nanites.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/rgb_lighting.png
  Resources/Textures/_DV/Interface/Actions/actions_ai.rsi/store.png
  Resources/Textures/_DV/Objects/Misc/holopointer.rsi/meta.json
  Resources/Textures/_DV/Objects/Misc/holopointer.rsi/target_box.png
  Resources/Textures/_DV/Objects/Misc/holopointer.rsi/target_circle.png
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#3617 Remove Buzzochloric Bees from random reagent botany mutation pool
  Resources/Prototypes/Hydroponics/randomChemicals.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3621 Fix Race Condition Leading to the Round Removal of Kitsune
  Content.Server/_DV/Abilities/Kitsune/KitsuneSystem.cs
  Resources/Locale/en-US/_DV/actions/kitsune.ftl
Labels: Changes: C#, Changes: Localization, size/XS

#3624 CosmicCult - Equipment Crashfix
  Content.Server/_DV/CosmicCult/CosmicCultSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3595 Adds a typing indicator to the AAC
  Content.Client/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
  Content.Client/_DV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/_DV/AACTablet/UI/AACWindow.xaml.cs
  Content.Client/_DV/Chat/TypingIndicator/TypingIndicatorSystem.AlternateTypingIndicator.cs
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorEvents.cs
  Resources/Prototypes/_DV/typing_indicator.yml
  Resources/Textures/_DV/Effects/speech.rsi/aac0.png
  Resources/Textures/_DV/Effects/speech.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, size/M, Changes: Sprite

#3627 Grabbag of coscult fixes
  Content.Server/_DV/CosmicCult/Abilities/CosmicBlankSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicConversionSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicReturnSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#3635 cult conversion hotfix
  Content.Server/_DV/CosmicCult/CosmicGlyphSystem.cs
Labels: S: Needs Review, Changes: C#

#3644 fix SRN event
  Resources/Maps/_DV/Shuttles/roboneuroticist_ship.yml
  Resources/Prototypes/_DV/GameRules/events.yml
  Resources/Prototypes/_DV/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_DV/Shuttles/roboneuroticist.yml
Labels: Changes: YML, Changes: Map

#3639 The return of AME alert
  Content.Server/Ame/Components/AmeControllerComponent.cs
  Content.Server/Ame/EntitySystems/AmeControllerSystem.cs
  Content.Server/_DV/Ame/AmeControllerSystem.cs
  Resources/Locale/en-US/_DV/engineering/warnings.ftl
Labels: S: Needs Review, Changes: C#, Changes: Localization, size/M

#3646 Remove IPC Cold damage bloodloss
  Resources/Prototypes/_DV/Damage/modifier_sets.yml
Labels: Changes: YML, size/XS

#3632 buff breaching hammer
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/breaching_hammer.yml
Labels: Changes: YML, S: Needs Review

#3649 Cosmic Cult | Prerelease Patch
  Content.Server/_DV/CosmicCult/Abilities/CosmicGlareSystem.cs
  Content.Server/_DV/CosmicCult/Components/CosmicFinaleComponent.cs
  Content.Server/_DV/CosmicCult/Components/RogueAscendedRoleComponent.cs
  Content.Server/_DV/CosmicCult/Components/RogueInfectionConditionComponent.cs
  Content.Server/_DV/CosmicCult/CosmicCultSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/RogueAscendedSystem.cs
  Content.Server/_DV/CosmicCult/RogueAscendedObjectiveSystem.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicCultComponent.cs
  Resources/Audio/_DV/CosmicCult/ascendant_noise.ogg
  Resources/Audio/_DV/CosmicCult/ascendant_shatter.ogg
  Resources/Audio/_DV/CosmicCult/ascendant_shunt.ogg
  Resources/Audio/_DV/CosmicCult/attributions.yml
  Resources/Audio/_DV/CosmicCult/projectile_razor.ogg
  Resources/Audio/_DV/CosmicCult/projectile_razor_hit.ogg
  Resources/Audio/_DV/CosmicCult/projectile_razor_reload.ogg
  Resources/Locale/en-US/_DV/cosmiccult/ghostroles.ftl
  Resources/Locale/en-US/_DV/cosmiccult/monument-interface.ftl
  Resources/Locale/en-US/_DV/cosmiccult/moods.ftl
  Resources/Locale/en-US/_DV/cosmiccult/names.ftl
  Resources/Locale/en-US/_DV/cosmiccult/radio-channels.ftl
  Resources/Locale/en-US/_DV/station-laws/laws.ftl
  Resources/Prototypes/_DV/CosmicCult/Actions/cosmiccult.actions.yml
  Resources/Prototypes/_DV/CosmicCult/Clothing/cosmiccult_armor.yml
  Resources/Prototypes/_DV/CosmicCult/Effects/effects.yml
  Resources/Prototypes/_DV/CosmicCult/Mobs/astralforms.yml
  Resources/Prototypes/_DV/CosmicCult/MonumentPowers/influences.yml
  Resources/Prototypes/_DV/CosmicCult/Objects/cosmicweapons.yml
  Resources/Prototypes/_DV/CosmicCult/Objects/misc.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/monument.yml
  Resources/Prototypes/_DV/CosmicCult/ascendant_dataset.yml
  Resources/Prototypes/_DV/CosmicCult/events.yml
  Resources/Prototypes/_DV/CosmicCult/glyphs.yml
  Resources/Prototypes/_DV/CosmicCult/infectionmoods.yml
  Resources/Prototypes/_DV/CosmicCult/mind_roles.yml
  Resources/Prototypes/_DV/CosmicCult/objectives.yml
  Resources/Prototypes/_DV/CosmicCult/projectiles.yml
  Resources/Prototypes/_DV/CosmicCult/rogueascended.yml
  Resources/Prototypes/_DV/siliconlaws.yml
  Resources/Textures/_DV/CosmicCult/Objects/ascendantorgan.rsi/icon-unshaded.png
  Resources/Textures/_DV/CosmicCult/Objects/ascendantorgan.rsi/icon.png
  Resources/Textures/_DV/CosmicCult/Objects/ascendantorgan.rsi/meta.json
  Resources/Textures/_DV/CosmicCult/Objects/lawboard.rsi/icon.png
  Resources/Textures/_DV/CosmicCult/Objects/lawboard.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite, Changes: Audio

#3636 Cosmic cult deconversion redux
  Content.Client/_DV/CosmicCult/UI/CosmicDeconvertedEui.cs
  Content.Server/_DV/CosmicCult/DeconversionSystem.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicCenserComponent.cs
  Resources/Locale/en-US/_DV/cosmiccult/cleansingsystem.ftl
  Resources/Locale/en-US/_DV/tools/tool-qualities.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/_DV/CosmicCult/Objects/censer.yml
  Resources/Textures/_DV/CosmicCult/Objects/censer.rsi/flame.png
  Resources/Textures/_DV/CosmicCult/Objects/censer.rsi/icon.png
  Resources/Textures/_DV/CosmicCult/Objects/censer.rsi/inhand-left-flame.png
  Resources/Textures/_DV/CosmicCult/Objects/censer.rsi/inhand-left.png
  Resources/Textures/_DV/CosmicCult/Objects/censer.rsi/inhand-right-flame.png
  Resources/Textures/_DV/CosmicCult/Objects/censer.rsi/inhand-right.png
  Resources/Textures/_DV/CosmicCult/Objects/censer.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#3657 CosmicCorruptible is implemented now
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicCorruptingSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3663 some salv fixes
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Server/_DV/Shuttles/Systems/DockingConsoleSystem.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/XS

#3668 Fix sugar cig and cleanup the file.
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
Labels: Changes: YML, S: Needs Review, size/S

#3675 fix desynchronizer "hiding" you from player panel
  Resources/Prototypes/Polymorphs/polymorph.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3634 Printable Flare Shells, Metal Foam Grenades in vendors, admeme HoS secret orders
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/secret_documents.yml
Labels: Changes: YML, S: Needs Review, size/S

#3679 Minor lathe and order tweaks
  Resources/Prototypes/Recipes/Lathes/machine_boards.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_DV/Recipes/Lathes/medical.yml
  Resources/Prototypes/_DV/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/tools.yml
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
Labels: Changes: YML, S: Needs Review, Changes: Documentation, size/M

#3681 Cosmic Cult | Pre-launch Patch #2
  Content.Server/_DV/CosmicCult/Components/CleanseOnUseComponent.cs
  Content.Server/_DV/CosmicCult/CosmicCultSystem.cs
  Content.Server/_DV/CosmicCult/DeconversionSystem.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicCenserComponent.cs
  Resources/Locale/en-US/_DV/cosmiccult/cleansingsystem.ftl
  Resources/Locale/en-US/_DV/cosmiccult/preset-cosmiccult.ftl
  Resources/Locale/en-US/_DV/datasets/figurines.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/figurine_boxes.yml
  Resources/Prototypes/Entities/Tiles/lava.yml
  Resources/Prototypes/Entities/Tiles/liquid_plasma.yml
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/_DV/CosmicCult/Actions/cosmiccult.actions.yml
  Resources/Prototypes/_DV/CosmicCult/Clothing/cosmiccult_armor.yml
  Resources/Prototypes/_DV/CosmicCult/Effects/effects.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/floors.yml
  Resources/Prototypes/_DV/Datasets/figurines.yml
  Resources/Prototypes/_DV/Entities/Objects/Fun/figurines.yml
  Resources/Textures/_DV/CosmicCult/Effects/effect_ns_flarevfx.rsi/meta.json
  Resources/Textures/_DV/CosmicCult/Effects/effect_ns_flarevfx.rsi/vfx.png
  Resources/Textures/_DV/CosmicCult/Effects/effect_ns_reboundvfx.rsi/meta.json
  Resources/Textures/_DV/CosmicCult/Effects/effect_ns_reboundvfx.rsi/vfx.png
  Resources/Textures/_DV/Objects/Fun/figurines.rsi/cosmiccultist.png
  Resources/Textures/_DV/Objects/Fun/figurines.rsi/cosmiccultist_unshaded.png
  Resources/Textures/_DV/Objects/Fun/figurines.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#3682 fix energy katana inhand sprite
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: Changes: YML, size/XS

#3688 visitor CMO ghost role
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: Changes: YML, S: Needs Review

#3687 Censer needs people to be not-incapacitated for deconversion
  Content.Server/_DV/CosmicCult/DeconversionSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3680 Touch up ERT role loadouts
  Resources/Prototypes/_DV/Roles/Jobs/CentComm/EmergencyResponseTeam.yml
Labels: Changes: YML, S: Needs Review, size/S

#3659 Engiborg improvements
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_DV/tags.yml
Labels: Changes: YML, S: Needs Review

#3671 pka re-rework
  Content.Client/_DV/Projectiles/PressureProjectileSystem.cs
  Content.Server/_DV/Projectiles/PressureProjectileSystem.cs
  Content.Shared/Weapons/Ranged/Upgrades/GunUpgradeSystem.cs
  Content.Shared/_DV/Projectiles/PressureProjectileComponent.cs
  Content.Shared/_DV/Projectiles/SharedPressureProjectileSystem.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/GunUpgradeAttemptEvent.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/GunUpgradeCostComponent.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/GunUpgradeCostSystem.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/GunUpgradeIndoorsComponent.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/GunUpgradeIndoorsSystem.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/GunUpgradeInstalledEvent.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/GunUpgradeModifyComponent.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/GunUpgradeModifySystem.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/GunUpgradeRangeComponent.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/GunUpgradeRangeSystem.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/GunUpgradeSystem.Extract.cs
  Content.Shared/_DV/Weapons/Ranged/Upgrades/UpgradeableGunCostComponent.cs
  Resources/Locale/en-US/_DV/store/uplink/job.ftl
  Resources/Locale/en-US/_DV/weapons/ranged/upgrades.ftl
  Resources/Prototypes/Entities/Objects/Tools/pka_upgrade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_DV/Catalog/Uplink/job.yml
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/pka_upgrade.yml
  Resources/Prototypes/_DV/planets.yml
  Resources/Textures/_DV/Objects/Tools/upgrade.rsi/evil.png
  Resources/Textures/_DV/Objects/Tools/upgrade.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite

#3654 make goliath use the right sprite + slightly lower reach
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Textures/_DV/Mobs/Aliens/Asteroid/goliath.rsi/goliath.png
  Resources/Textures/_DV/Mobs/Aliens/Asteroid/goliath.rsi/goliath_dead.png
  Resources/Textures/_DV/Mobs/Aliens/Asteroid/goliath.rsi/goliath_preattack.png
  Resources/Textures/_DV/Mobs/Aliens/Asteroid/goliath.rsi/goliath_tentacle_retract.png
  Resources/Textures/_DV/Mobs/Aliens/Asteroid/goliath.rsi/goliath_tentacle_spawn.png
  Resources/Textures/_DV/Mobs/Aliens/Asteroid/goliath.rsi/goliath_tentacle_wiggle.png
  Resources/Textures/_DV/Mobs/Aliens/Asteroid/goliath.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Sprite

#3689 Chat bubble for writing on paper
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/_DV/Paper/UI/PaperBoundUserInterface.cs
  Resources/Prototypes/_DV/typing_indicator.yml
  Resources/Textures/_DV/Effects/speech.rsi/meta.json
  Resources/Textures/_DV/Effects/speech.rsi/paper0.png
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, size/S, Changes: Sprite

#3658 Speedmerge make departmental orders consoles print slips
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoOrderRow.xaml
  Content.Client/Cargo/UI/CargoShuttleMenu.xaml.cs
  Content.Client/Paper/UI/PaperVisualsComponent.cs
  Content.Client/Paper/UI/PaperWindow.xaml
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Shared/Cargo/CargoOrderData.cs
  Content.Shared/Cargo/Components/CargoOrderConsoleComponent.cs
  Content.Shared/Cargo/Components/CargoSlipComponent.cs
  Content.Shared/Cargo/Prototypes/CargoAccountPrototype.cs
  Resources/Audio/Effects/Cargo/attributions.yml
  Resources/Audio/Effects/Cargo/beep.ogg
  Resources/Locale/en-US/_DV/cargo/overrides.ftl
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Prototypes/Catalog/cargo_accounts.yml
  Resources/Prototypes/Entities/Objects/Misc/acquisition_slips.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/SoundCollections/machines.yml
  Resources/Prototypes/_DV/Catalog/cargo_accounts.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/acquisition_slips.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/computers.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/barcode.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/barcode.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/barcode.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/cargo.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/cargo.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/cargo.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/engineering.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/engineering.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/engineering.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/medical.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/medical.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/medical.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/science.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/science.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/science.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/security.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/security.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/security.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/service.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/service.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/service.svg.192dpi.png.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/acquisition_form.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/acquisition_form_header.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/acquisition_form_words.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_DV/Interface/Paper/AcquisitionSlips/epistemics.svg
  Resources/Textures/_DV/Interface/Paper/AcquisitionSlips/epistemics.svg.192dpi.png
  Resources/Textures/_DV/Interface/Paper/AcquisitionSlips/epistemics.svg.192dpi.png.yml
  Resources/Textures/_DV/Interface/Paper/AcquisitionSlips/justice.svg
  Resources/Textures/_DV/Interface/Paper/AcquisitionSlips/justice.svg.192dpi.png
  Resources/Textures/_DV/Interface/Paper/AcquisitionSlips/justice.svg.192dpi.png.yml
  Resources/Textures/_DV/Interface/Paper/AcquisitionSlips/logistics.svg
  Resources/Textures/_DV/Interface/Paper/AcquisitionSlips/logistics.svg.192dpi.png
  Resources/Textures/_DV/Interface/Paper/AcquisitionSlips/logistics.svg.192dpi.png.yml
Labels: Changes: YML, Changes: UI, Changes: C#, Changes: Localization, size/L, Changes: Sprite, Changes: Audio, S: Direction Approved

#3643 Update 2_Metagaming.xml
  Resources/ServerInfo/Guidebook/_DV/Rules/GameRules/2_Metagaming.xml
Labels: S: Needs Review, Changes: Documentation, size/S, S: Direction Approved

#3637 RCD resprite and improvements
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_DV/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_DV/RCD/RCD.yml
  Resources/Textures/_DV/Interface/Radial/RCD/attributions.yml
  Resources/Textures/_DV/Interface/Radial/RCD/directional_plasma.png
  Resources/Textures/_DV/Interface/Radial/RCD/directional_reinforced_plasma.png
  Resources/Textures/_DV/Interface/Radial/RCD/external.png
  Resources/Textures/_DV/Interface/Radial/RCD/glass_external.png
  Resources/Textures/_DV/Interface/Radial/RCD/postlight.png
  Resources/Textures/_DV/Interface/Radial/RCD/reinforced_wall.png
  Resources/Textures/_DV/Interface/Radial/RCD/windoor.png
  Resources/Textures/_DV/Interface/Radial/RCD/window_plasma.png
  Resources/Textures/_DV/Interface/Radial/RCD/window_reinforced_plasma.png
  Resources/Textures/_DV/Objects/Tools/RCD.rsi/equipped-BELT.png
  Resources/Textures/_DV/Objects/Tools/RCD.rsi/icon.png
  Resources/Textures/_DV/Objects/Tools/RCD.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Tools/RCD.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Tools/RCD.rsi/meta.json
  Resources/Textures/_DV/Objects/Tools/RCD_combat.rsi/icon.png
  Resources/Textures/_DV/Objects/Tools/RCD_combat.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Tools/RCD_combat.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Tools/RCD_combat.rsi/meta.json
  Resources/Textures/_DV/Objects/Tools/RCD_experimental.rsi/icon.png
  Resources/Textures/_DV/Objects/Tools/RCD_experimental.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Tools/RCD_experimental.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Tools/RCD_experimental.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/M, Changes: Sprite

#3585 Make it easier to delimb extremities, make it harder to delimb core
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.Targeting.cs
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/_DV/Body/Parts/base.yml
  Resources/Prototypes/_Shitmed/Body/Parts/base.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#3650 rename passenger to assistant
  Resources/Locale/en-US/_DV/job/assistant.ftl
  Resources/Locale/en-US/_DV/job/job-description.ftl
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Mail/mail_civilian.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#3651 add bluespace ore to lavaland and vgroid
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/tags.yml
  Resources/Prototypes/Procedural/vgroid.yml
  Resources/Prototypes/Recipes/Lathes/Packs/ore.yml
  Resources/Prototypes/_DV/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/_DV/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_DV/Procedural/biome_ore_templates.yml
  Resources/Prototypes/_DV/Procedural/salvage_loot.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/ore.yml
  Resources/Prototypes/_DV/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/_DV/ore.yml
  Resources/Prototypes/_DV/planets.yml
  Resources/Prototypes/_DV/tags.yml
  Resources/Textures/_DV/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/_DV/Structures/Walls/rock.rsi/rock_bluespace.png
Labels: Changes: YML, S: Needs Review, size/L, Changes: Sprite

#3701 add silo client to techfabs
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, size/XS

#3699 add tile movement code based on vg14
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/_DV/Movement/TileMovementComponent.cs
  Content.Shared/_DV/Movement/TileMovementSystem.cs
Labels: Changes: C#, size/L

#3691 CaptainState rewrite
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/Station/Systems/StationJobsSystem.cs
  Content.Server/_DV/Station/Components/AutomaticSpareIdComponent.cs
  Content.Server/_DV/Station/Components/CaptainStateComponent.cs
  Content.Server/_DV/Station/Systems/AutomaticSpareIdSystem.cs
  Content.Server/_DV/Station/Systems/CaptainStateSystem.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Resources/ConfigPresets/Build/debug.toml
  Resources/ConfigPresets/DeltaV/apoapsis.toml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_DV/Entities/Stations/base.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/L

#3708 Revert: Upstream Toy Sword Appearance + Audio Tweak
  Resources/Locale/en-US/_DV/misc/toysword.ftl
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#3713 give prisoner role right id
  Resources/Prototypes/_DV/Entities/Objects/Devices/pda.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3714 fix space disposal unit charging sprite
  Resources/Prototypes/_DV/Entities/Structures/Piping/Disposal/space_disposal.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3715 fix kitsune action
  Content.Server/_DV/Abilities/Kitsune/KitsuneSystem.cs
  Content.Shared/Actions/BaseActionComponent.cs
  Content.Shared/Charges/Components/LimitedChargesComponent.cs
  Content.Shared/Charges/Systems/SharedChargesSystem.cs
  Content.Shared/_DV/Abilities/Kitsune/SharedKitsuneSystem.cs
  Resources/Prototypes/_DV/Actions/kitsune.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#3717 Allow CTs to wear the default Cargo gear
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3561 Return of warops
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/_DV/Antag/NukieAutoWarComponent.cs
  Content.Server/_DV/Antag/NukieOperationSystem.cs
  Content.Shared/_DV/Antag/NukieOperationPrototype.cs
  Resources/Locale/en-US/_DV/nukie-operations/autowar.ftl
  Resources/Prototypes/_DV/Objectives/nukies.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#3716 up thief ratio to 30 per player
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3725 Sex applies correctly to kitsune fox form
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/_DV/Abilities/Kitsune/KitsuneSystem.cs
Labels: S: Needs Review, Changes: C#

#3724 Fix kitusne clones losing color.
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/_DV/Abilities/Kitsune/SharedKitsuneSystem.cs
  Content.Shared/_DV/Humanoid/AppearanceLoadedEvent.cs
Labels: S: Needs Review, Changes: C#, size/S

#3723 Moves psionic clothing out of Nyano folders and adds suffixes
  Resources/Prototypes/_DV/Entities/Clothing/Psionic/psionic_clothing.yml
  Resources/Prototypes/_DV/Mapping/categories.yml
Labels: Changes: YML, S: Needs Review, size/S

#3726 Fix kitsune fox fires being too dark.
  Content.Server/_DV/Abilities/Kitsune/KitsuneSystem.cs
  Content.Shared/_DV/Abilities/Kitsune/KitsuneComponent.cs
  Content.Shared/_DV/Abilities/Kitsune/SharedKitsuneSystem.cs
Labels: Changes: C#, size/S

#3729 Adds Experiment Plushie and Bee Plushie to Trinkets
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_DV/Loadouts/Miscellaneous/trinkets.yml
Labels: Changes: YML, S: Needs Review

#3731 Add minimum player count for thieves
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3738 fix some contract issues
  Content.Server/_DV/Objectives/Systems/PickRandomTraitorSystem.cs
  Resources/Prototypes/_DV/Objectives/traitor.yml
Labels: Changes: YML, S: Needs Review, Changes: C#

#3739 make marshal antagimmune
  Resources/Prototypes/_DV/Entities/Mobs/Player/human.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/marshal.yml
Labels: Changes: YML, S: Needs Review

#3736 update syndie jail grid
  Resources/Maps/_DV/Nonstations/syndie_jail.yml
Labels: Changes: YML, Changes: Map, size/XL

#3741 prevent fultoning items in containers
  Content.Server/_DV/Traitor/ExtractionFultonSystem.cs
  Resources/Locale/en-US/_DV/objectives/extraction.ftl
Labels: Changes: C#, Changes: Localization, size/XS

#3742 add rep requirement for syndie lawset objective
  Resources/Prototypes/_DV/Objectives/traitor.yml
Labels: Changes: YML, S: Needs Review

#3704 Added ApprovedDenied stamps to CJ, Clerk and Bureaucracy Crate, Paperwork belt to Lawdrobe
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/chiefjustice.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/clerk.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3744 add back exped board
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/logistics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/electronics.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3743 no hostage ops feedback
  Content.Server/_DV/FeedbackPopup/NukeHostageFeedbackPopupSystem.cs
Labels: S: Needs Review, Changes: C#

#3698 Cosmic Cult | Another Pre-launch Patch
  Content.Server/_DV/CosmicCult/Abilities/CosmicFragmentationSystem.cs
  Content.Server/_DV/CosmicCult/Components/CosmicCultRuleComponent.cs
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicChantrySystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicRiftSystem.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicChantryComponent.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicColossusComponent.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicCultComponent.cs
  Content.Shared/_DV/CosmicCult/CosmicCult.Actions.cs
  Content.Shared/_DV/CosmicCult/CosmicCult.DoAfter.cs
  Resources/Audio/_DV/CosmicCult/antag_cosmic_AI_briefing.ogg
  Resources/Audio/_DV/CosmicCult/attributions.yml
  Resources/Audio/_DV/CosmicCult/chantry_alarm.ogg
  Resources/Audio/_DV/CosmicCult/cleanse_deconversion.ogg
  Resources/Audio/_DV/CosmicCult/colossus_ambience.ogg
  Resources/Audio/_DV/CosmicCult/footsteps/attributions.yml
  Resources/Audio/_DV/CosmicCult/projectile_razor_hit.ogg
  Resources/Audio/_DV/CosmicCult/projectile_razor_reload.ogg
  Resources/Locale/en-US/_DV/cosmiccult/examine.ftl
  Resources/Locale/en-US/_DV/cosmiccult/preset-cosmiccult.ftl
  Resources/Locale/en-US/_DV/station-laws/laws.ftl
  Resources/Prototypes/_DV/CosmicCult/Actions/cosmiccult.actions.yml
  Resources/Prototypes/_DV/CosmicCult/Mobs/colossus.yml
  Resources/Prototypes/_DV/CosmicCult/Objects/censer.yml
  Resources/Prototypes/_DV/CosmicCult/Objects/misc.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/converter.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/monument.yml
  Resources/Prototypes/_DV/CosmicCult/game_presets.yml
  Resources/Prototypes/_DV/CosmicCult/polymorphs.yml
  Resources/Prototypes/_DV/siliconlaws.yml
  Resources/ServerInfo/Guidebook/_DV/AlertProcedure.xml
  Resources/ServerInfo/_DV/Guidebook/Antagonist/CosmicCultDeconversion.xml
  Resources/Textures/_DV/CosmicCult/Icons/cosmiccult_abilities.rsi/corruption.png
  Resources/Textures/_DV/CosmicCult/Icons/cosmiccult_abilities.rsi/meta.json
  Resources/Textures/_DV/CosmicCult/Icons/cosmiccult_abilities.rsi/rogueshatter.png
  Resources/Textures/_DV/CosmicCult/Icons/cosmiccult_abilities.rsi/sunder.png
  Resources/Textures/_DV/CosmicCult/Mobs/colossus.rsi/colossus.png
  Resources/Textures/_DV/CosmicCult/Mobs/colossus.rsi/meta.json
  Resources/Textures/_DV/CosmicCult/Mobs/colossus.rsi/unshaded_bg.png
  Resources/Textures/_DV/CosmicCult/Mobs/colossus.rsi/unshaded_fg.png
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, Changes: Documentation, size/L, Changes: Sprite, Changes: Audio

#3749 fix: Allow rotation for more RCD items
  Resources/Prototypes/_DV/RCD/RCD.yml
Labels: Changes: YML, S: Needs Review

#3753 fix syndie fulton verb
  Content.Shared/_DV/Traitor/SharedExtractionFultonSystem.cs
Labels: Changes: C#, size/XS

#3757 Revert "Add minimum player count for thieves"
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: Changes: YML, size/XS

#3750 give everyone the same TC
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
Labels: S: Needs Review, Changes: C#

#3761 make uplink implants work with contracts
  Content.Client/_DV/Reputation/UI/ContractsWindow.xaml.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/_DV/Objectives/Components/ContractObjectiveComponent.cs
  Content.Server/_DV/Objectives/Systems/AssistRandomContractSystem.cs
  Content.Server/_DV/Objectives/Systems/ContractObjectiveSystem.cs
  Content.Server/_DV/Store/Conditions/ReputationCondition.cs
  Content.Shared/Objectives/Systems/SharedObjectivesSystem.cs
  Content.Shared/_DV/Implants/UplinkImplantSystem.cs
  Content.Shared/_DV/Reputation/ContractsComponent.cs
  Content.Shared/_DV/Reputation/Events.cs
  Content.Shared/_DV/Reputation/MindReputationComponent.cs
  Content.Shared/_DV/Reputation/ReputationSystem.cs
  Content.Shared/_DV/Reputation/StoreContractsComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_DV/Actions/uplink.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, size/L

#3764 fix uplink flickering
  Content.Shared/_DV/Reputation/ReputationSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3747 Cosmic Cult | Disable entropic decay popup (Hotfix)
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicEntropyDegenSystem.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicEntropyDebuffComponent.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3722 Add the ability to call a GALPOL exfiltration shuttle
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/_DV/Communications/CommunicationsConsoleSystem.cs
  Content.Server/_DV/Station/Components/StationExfiltrationComponent.cs
  Content.Server/_DV/Station/Systems/StationExfiltrationSystem.cs
  Content.Shared/Communications/SharedCommunicationsConsoleComponent.cs
  Content.Shared/_DV/Communications/CommunicationsConsoleExfiltrationShuttleMessage.cs
  Resources/Locale/en-US/_DV/communications/communications-console-component.ftl
  Resources/Locale/en-US/_DV/shuttles/exfiltration.ftl
  Resources/Maps/_DV/Shuttles/exfiltration.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_DV/Entities/Stations/base.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: UI, Changes: C#, Changes: Localization, size/L

#3766 Make the natural shuttle call an OOC vote
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/_DV/RoundEnd/RoundEndSystem.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Resources/Locale/en-US/_DV/roundend/round-end-system.ftl
Labels: S: Needs Review, Changes: C#, Changes: Localization

#3774 rewrite ai detector
  Content.Server/_DV/AiDetector/AiDetectorComponent.cs
  Content.Server/_DV/AiDetector/AiDetectorSystem.cs
  Content.Shared/_DV/AiDetector/AiDetectorVisuals.cs
  Content.Shared/_DV/Physics/CollidingVisualsComponent.cs
  Content.Shared/_DV/Physics/CollidingVisualsSystem.cs
  Resources/Prototypes/_DV/Entities/Objects/Tools/ai_detector.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#3775 Fixes Thief and Minor Antagonist guidebook entries having headings not being properly displayed
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Thieves.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#3768 ERT time requirements
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/humanoid.yml
Labels: Changes: YML, S: Needs Review, size/M

#3692 DeltaV Cargo Shuttle
  Resources/Maps/_DV/Shuttles/cargo.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3778 Use DV locker sprites for chef/jani
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
Labels: Changes: YML, size/XS

#3772 After round time tweaks
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: S: Needs Review, size/XS

#3783 change ransom reputation to match teach a lesson
  Resources/Prototypes/_DV/Objectives/traitor.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3748 add crit anomaly objective
  Content.Server/_DV/Objectives/Components/CritAnomalyConditionComponent.cs
  Content.Server/_DV/Objectives/Systems/CritAnomalyConditionSystem.cs
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DV/Objectives/objectiveGroups.yml
  Resources/Prototypes/_DV/Objectives/reputation_offerings.yml
  Resources/Prototypes/_DV/Objectives/traitor.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#3765 show reputation-locked items in the uplink + rep tweaks
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreListingControl.xaml.cs
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/_DV/Store/Conditions/ReputationCondition.cs
  Content.Shared/Store/ListingPrototype.cs
  Content.Shared/_DV/Reputation/ReputationSystem.cs
  Resources/Locale/en-US/_DV/store/reputation.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
  Resources/Prototypes/_DV/Catalog/Uplink/weaponry.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L

#3702 Give certain species 2 chest markings
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/_DV/Species/felinid.yml
  Resources/Prototypes/_DV/Species/harpy.yml
  Resources/Prototypes/_DV/Species/kitsune.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#3779 Printable handheld radios
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/logistics.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_DV/Recipes/Lathes/security.yml
  Resources/Prototypes/_DV/Recipes/Lathes/tools.yml
Labels: Changes: YML, size/S

#3785 Decapitalize DeltaV botany items
  Resources/Locale/en-US/_DV/reagents/meta/fun.ftl
  Resources/Locale/en-US/_DV/seeds.ftl
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_DV/Hydroponics/seeds.yml
  Resources/Prototypes/_DV/Reagents/fun.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#3652 Add an antag immune implant for CC trialmins
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: YML, S: Needs Review, size/S

#3788 Replace explosive foam grenade with a shrapnel foam grenade
  Resources/Locale/en-US/_DV/store/uplink/explosives.ftl
  Resources/Prototypes/_DV/Catalog/Uplink/explosives.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Throwable/projectile_grenades.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization

#3786 reimplement assist contract traitor picking
  Content.Server/_DV/Objectives/Components/PickRandomTraitorComponent.cs
  Content.Server/_DV/Objectives/Systems/AssistRandomContractSystem.cs
  Resources/Prototypes/_DV/Objectives/traitor.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/S

#3792 Update Mapping Portion of Contribution Guide
  CONTRIBUTING.md
Labels: S: Needs Review, Changes: Documentation, size/XS

#3790 just a few more aac phrases
  Resources/Locale/en-US/_DV/phrases/common.ftl
  Resources/Locale/en-US/_DV/phrases/subjects.ftl
  Resources/Prototypes/_DV/QuickPhrases/Common/actions.yml
  Resources/Prototypes/_DV/QuickPhrases/Species/crew.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/generic.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/medical.yml
  Resources/Prototypes/_DV/QuickPhrases/Subjects/security.yml
  Resources/Prototypes/_DV/QuickPhrases/jobs.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#3797 Add a locale entry for the flag construction category
  Resources/Locale/en-US/_DV/construction/construction-categories.ftl
Labels: Changes: Localization, size/XS

#3798 Add a missing Harpy marking locale
  Resources/Locale/en-US/_EE/markings/harpy.ftl
Labels: Changes: Localization

#3796 make assist objective failing more robust
  Content.Server/_DV/Objectives/Systems/AssistRandomContractSystem.cs
Labels: Changes: C#, size/XS

#3762 Logi Sells Pot(s)....of plants
  Resources/Locale/en-US/_DV/prototypes/catalog/cargo/cargoproduct-categories.ftl
  Resources/Prototypes/_DV/Catalog/Cargo/cargo_furniture.yml
  Resources/Prototypes/_DV/Catalog/Fills/Crates/furniture.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/plant_pot.yml
  Resources/Textures/_DV/Objects/Decoration/PottedPlants/potted_plants.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Decoration/PottedPlants/potted_plants.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Decoration/PottedPlants/potted_plants.rsi/meta.json
  Resources/Textures/_DV/Objects/Decoration/PottedPlants/potted_plants.rsi/plantpot.png
  Resources/Textures/_DV/Objects/Decoration/PottedPlants/potted_plants_plastic.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Decoration/PottedPlants/potted_plants_plastic.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Decoration/PottedPlants/potted_plants_plastic.rsi/meta.json
  Resources/Textures/_DV/Objects/Decoration/PottedPlants/potted_plants_plastic.rsi/plantpot.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#3802 Add petting to scrimpering whimperlets
  Resources/Locale/en-US/_DV/interaction/interaction-popup-component.ftl
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#3799 Add missing tags to Nyanotrasen "soups"
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/soup.yml
Labels: Changes: YML, size/XS

#3805 Add advanced surgical instruments to the "tool" recipe category
  Resources/Prototypes/_Shitmed/Recipes/Lathes/medical.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3801 Rules Update 10MAY2025 - Antagonists
  Resources/ServerInfo/Guidebook/_DV/Rules/RoleRules/C3_Antags.xml
Labels: S: Needs Review, Changes: Documentation, size/XS

#3810 fix ransom buyback not working
  Content.Server/_DV/Cargo/Systems/CargoSystem.Ransom.cs
Labels: S: Needs Review, Changes: C#

#3548 Adding missing welding mask sprites for Feroxi and Vulpkanin
  Resources/Textures/Clothing/Head/Welding/blue_flame_welding_mask.rsi/equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/blue_flame_welding_mask.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/blue_flame_welding_mask.rsi/up-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/flame_welding_mask.rsi/equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/flame_welding_mask.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/flame_welding_mask.rsi/up-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/paintedwelding.rsi/equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/paintedwelding.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/paintedwelding.rsi/up-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/welding.rsi/equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Head/Welding/welding.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/welding.rsi/up-equipped-HELMET-feroxi.png
  Resources/Textures/Clothing/Mask/gas.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/gas.rsi/meta.json
  Resources/Textures/Clothing/Mask/welding-gas.rsi/equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/meta.json
  Resources/Textures/Clothing/Mask/welding-gas.rsi/up-equipped-MASK-feroxi.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/up-equipped-MASK-vulpkanin.png
Labels: S: Needs Review, size/M, Changes: Sprite

#3807 Revert "Return of warops"
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/_DV/Antag/NukieAutoWarComponent.cs
  Content.Server/_DV/Antag/NukieOperationSystem.cs
  Content.Shared/_DV/Antag/NukieOperationPrototype.cs
  Resources/Locale/en-US/_DV/nukie-operations/autowar.ftl
  Resources/Prototypes/_DV/Objectives/nukies.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#3813 Fix DV Landmines not being armed
  Resources/Prototypes/_DV/Entities/Objects/Misc/land_mine.yml
Labels: Changes: YML, size/S

#3815 remove traits from med and secborgs
  Resources/Prototypes/_DV/Roles/Jobs/Medical/medical_borg.yml
  Resources/Prototypes/_DV/Roles/Jobs/Security/securityborg.yml
Labels: Changes: YML

#3812 DeltaV Lost Cargo Shuttle
  Resources/Maps/_DV/Shuttles/lost_cargo_dv.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3820 Fixed maints airlocks
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: YML, size/S

#3819 Update PR guideline with map PR section
  CONTRIBUTING.md
Labels: S: Needs Review, Changes: Documentation, size/XS

#3826 Bugfix: high damage sources do not sever limbs when they should
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.Targeting.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3832 1 character yml warfare
  Resources/Prototypes/_DV/typing_indicator.yml
Labels: Changes: YML, S: Needs Review

#3835 early merge teg nerf
  Resources/Prototypes/Entities/Structures/Power/Generation/teg.yml
Labels: S: Needs Review, size/XS

#3706 remove death acidifiers from nukies, give them +2tc
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/syndicate.yml
Labels: Changes: YML, S: Needs Review, size/S

#3833 cherry pick Fix storage (#37714)
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Client/UserInterface/Systems/Storage/Controls/StorageWindow.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/StorageComponent.cs
  Resources/Prototypes/_DV/Entities/Objects/Consumable/Food/Containers/lunchbox.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Chapel/ringbox.yml
Labels: Changes: YML, Changes: C#, size/L

#3791 Add the Eden, Miriam, and Orit shuttles
  Resources/Maps/_DV/Shuttles/USSPS_Eden.yml
  Resources/Maps/_DV/Shuttles/USSPS_Miriam.yml
  Resources/Maps/_DV/Shuttles/USSPS_Orit.yml
  Resources/Prototypes/_DV/Catalog/Shipyard/civilian.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3811 Cosmic Cult | Release Patch
  Content.Client/_DV/CosmicCult/CosmicCultSystem.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicFragmentationSystem.cs
  Content.Server/_DV/CosmicCult/CleanseCult.cs
  Content.Server/_DV/CosmicCult/Components/CosmicCultRuleComponent.cs
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_DV/CosmicCult/DeconversionSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicChantrySystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicColossusSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicTileDetonationSystem.cs
  Content.Shared/RepulseAttract/RepulseAttractSystem.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicChantryComponent.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicColossusComponent.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicTileDetonatorComponent.cs
  Content.Shared/_DV/CosmicCult/Components/RogueAscendedAuraComponent.cs
  Content.Shared/_DV/CosmicCult/Components/RogueAscendedComponent.cs
  Content.Shared/_DV/CosmicCult/Components/RogueAscendedDendriteComponent.cs
  Content.Shared/_DV/CosmicCult/Components/RogueAscendedInfectionComponent.cs
  Content.Shared/_DV/CosmicCult/CosmicCult.Actions.cs
  Content.Shared/_DV/CosmicCult/CosmicCult.DoAfter.cs
  Resources/Audio/_DV/CosmicCult/attributions.yml
  Resources/Audio/_DV/CosmicCult/colossus_ambience.ogg
  Resources/Audio/_DV/CosmicCult/colossus_death.ogg
  Resources/Audio/_DV/CosmicCult/colossus_spawn.ogg
  Resources/Audio/_DV/CosmicCult/tile_detonate.ogg
  Resources/Locale/en-US/_DV/cosmiccult/influences.ftl
  Resources/Locale/en-US/_DV/cosmiccult/preset-cosmiccult.ftl
  Resources/Maps/_DV/Nonstations/cosmicvoid.yml
  Resources/Prototypes/_DV/CosmicCult/Actions/cosmiccult.actions.yml
  Resources/Prototypes/_DV/CosmicCult/Effects/effects.yml
  Resources/Prototypes/_DV/CosmicCult/Mobs/astralforms.yml
  Resources/Prototypes/_DV/CosmicCult/Mobs/colossus.yml
  Resources/Prototypes/_DV/CosmicCult/Mobs/cosmicgod.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/converter.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/floors.yml
  Resources/Prototypes/_DV/CosmicCult/faction_icon.yml
  Resources/Prototypes/_DV/secret_weights.yml
  Resources/Prototypes/game_presets.yml
  Resources/ServerInfo/Guidebook/_DV/AlertProcedure.xml
  Resources/ServerInfo/_DV/Guidebook/Antagonist/CosmicCult.xml
  Resources/ServerInfo/_DV/Guidebook/Antagonist/CosmicCultInfluences.xml
  Resources/Textures/_DV/CosmicCult/Effects/colossus_attack.rsi/attack1.png
  Resources/Textures/_DV/CosmicCult/Effects/colossus_attack.rsi/meta.json
  Resources/Textures/_DV/CosmicCult/Effects/tile_attacks.rsi/meta.json
  Resources/Textures/_DV/CosmicCult/Effects/tile_attacks.rsi/tiledamage_end.png
  Resources/Textures/_DV/CosmicCult/Effects/tile_attacks.rsi/tiledamage_start.png
  Resources/Textures/_DV/CosmicCult/Effects/tile_spawn.rsi/floorglow.png
  Resources/Textures/_DV/CosmicCult/Effects/tile_spawn.rsi/meta.json
  Resources/Textures/_DV/CosmicCult/Mobs/colossus.rsi/attacking.png
  Resources/Textures/_DV/CosmicCult/Mobs/colossus.rsi/dead.png
  Resources/Textures/_DV/CosmicCult/Mobs/colossus.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: C#, Changes: Localization, Changes: Documentation, size/L, Changes: Sprite, Changes: Audio

#3794 SOP change - Make captain publicly announce when they alter SOP.
  .wiki/_DV/Laws/StandardOperatingProcedure.txt
Labels: size/XS

#3848 Fix not always being able to drop a carried person
  Content.Shared/_DV/Carrying/CarryingSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#3849 Byoin update 5
  Resources/Maps/byoin.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#3859 Give Chief Justices cryosleep access
  Resources/Prototypes/_DV/Roles/Jobs/Justice/chief_justice.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3866 Cosmic Cult | Refactor Chantry/Fragmentation
  Content.Server/_DV/CosmicCult/Abilities/CosmicFragmentationSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicChantrySystem.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicChantryComponent.cs
  Resources/Prototypes/_DV/CosmicCult/Mobs/wisp.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/converter.yml
  Resources/Prototypes/_DV/CosmicCult/polymorphs.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#3855 RoboTech Vend adjustments
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
Labels: Changes: YML, S: Needs Review, size/XS

#3862 Add Family Lawset
  Resources/Locale/en-US/_DV/station-laws/laws.ftl
  Resources/Prototypes/_DV/Entities/Markers/Spawners/Random/laws.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_DV/siliconlaws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S
