Repository DeltaV-Station/Delta-v, pull requests merged in 2025-08, with the labels that each got.

#4089 Move energy shotgun to the warden's locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4067 Mass Sleep rework
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/MassSleep/MassSleepPowerComponent.cs
  Content.Shared/Nyanotrasen/Abilities/Psionics/Abilities/MassSleep/MassSleepPowerSystem.cs
  Content.Shared/Nyanotrasen/Actions/Events/MassSleepPowerActionEvent.cs
  Content.Shared/_DV/Psionics/Events.cs
  Resources/Locale/en-US/_DV/abilities/psionic.ftl
  Resources/Prototypes/_DV/Actions/psionic.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/M

#4120 Salvage self defense armament
  Resources/Locale/en-US/_DV/paper/paper-misc.ftl
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/_DV/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/_DV/Entities/Markers/Spawners/Random/safes.yml
  Resources/Prototypes/_DV/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#4116 Map Hotfix: Division
  Resources/Maps/division.yml
Labels: Changes: YML, Changes: Map, size/S

#4123 Hot fix to the note for salvage safe
  Resources/Locale/en-US/_DV/paper/paper-misc.ftl
Labels: S: Needs Review, Changes: Localization

#3985 DV shuttles changes
  Resources/Maps/_DV/Shuttles/census.yml
  Resources/Maps/_DV/Shuttles/traveling_cuisines_dv.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_DV/Mapping/maps.yml
  Resources/Prototypes/_DV/Shuttles/recruiter.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#4121 Make mindbreaking lower glimmer
  Content.Server/Nyanotrasen/Abilities/Psionics/PsionicAbilitiesSystem.cs
Labels: S: Needs Review, Changes: C#, size/XS

#4108 Add flash protection to cult helmets
  Resources/Prototypes/_DV/CosmicCult/Clothing/cosmiccult_armor.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4134 Fixed coscult finale warning appearing too early
  Content.Server/_DV/CosmicCult/Components/CosmicFinaleComponent.cs
Labels: S: Needs Review, Changes: C#, size/XS

#4129 Revert "Adds whitelist requirements to sec/command (#4025)"
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/_DV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_DV/Roles/Jobs/Security/securityborg.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4107 Return of Return of warops
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4103 Engraveable rings
  Content.Server/_CD/Engraving/EngraveableComponent.cs
  Content.Server/_CD/Engraving/EngraveableSystem.cs
  Resources/Locale/en-US/_CD/engraving/engraving.ftl
  Resources/Locale/en-US/_DV/engraving/engraving.ftl
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/S

#4141 dispensations
  .wiki/_DV/Laws/StandardOperatingProcedure.txt
Labels: size/XS

#4138 Add trash bags of holding
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Janitorial/trash_bag_holding.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_DV/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/_DV/Roles/Jobs/CentComm/EmergencyResponseTeam.yml
Labels: Changes: YML, size/S

#4145 Add (rebalanced) double esword to uplink
  Resources/Locale/en-US/_DV/store/uplink/weaponry.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_DV/Catalog/Uplink/weaponry.yml
  Resources/Textures/_DV/Objects/Weapons/Melee/e_sword_double-inhands.rsi/inhand-left-blade.png
  Resources/Textures/_DV/Objects/Weapons/Melee/e_sword_double-inhands.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Weapons/Melee/e_sword_double-inhands.rsi/inhand-right-blade.png
  Resources/Textures/_DV/Objects/Weapons/Melee/e_sword_double-inhands.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Weapons/Melee/e_sword_double-inhands.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#4158 Update changelog workflow
  .github/workflows/changelog.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4111 Tweak censer damage on failed deconversion
  Resources/Prototypes/_DV/CosmicCult/Objects/censer.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4065 Automatic ACO for apoapsis
  Resources/ConfigPresets/DeltaV/apoapsis.toml
Labels: S: Needs Review, size/XS

#4165 Updated Division
  Resources/Maps/division.yml
  Resources/Prototypes/Maps/division.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/XL

#4133 Colossus healing tweaks
  Resources/Locale/en-US/_DV/cosmiccult/abilities.ftl
  Resources/Prototypes/_DV/CosmicCult/Actions/cosmiccult.actions.yml
  Resources/Prototypes/_DV/CosmicCult/Mobs/colossus.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#4171 Censer tweaks part 2
  Content.Client/_DV/CosmicCult/UI/CosmicMindwipedEui.cs
  Content.Client/_DV/CosmicCult/UI/CosmicMindwipedMenu.xaml
  Content.Client/_DV/CosmicCult/UI/CosmicMindwipedMenu.xaml.cs
  Content.Server/_DV/CosmicCult/CosmicMindwipedEui.cs
  Content.Server/_DV/CosmicCult/DeconversionSystem.cs
  Resources/Locale/en-US/_DV/cosmiccult/preset-cosmiccult.ftl
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/_DV/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_DV/CosmicCult/Objects/censer.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M

#4182 Add Additional Hair Styles
  Resources/Locale/en-US/_DV/accessories/hair.ftl
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/hair.yml
  Resources/Textures/_DV/Mobs/Customization/additional_hair.rsi/classic_bun.png
  Resources/Textures/_DV/Mobs/Customization/additional_hair.rsi/loosebun.png
  Resources/Textures/_DV/Mobs/Customization/additional_hair.rsi/lowponytail.png
  Resources/Textures/_DV/Mobs/Customization/additional_hair.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S, Changes: Sprite

#4180 survival scheduler part 3
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML, S: Needs Review, size/S

#4185 decrease emote cd to 3s
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
Labels: S: Needs Review, Changes: C#, size/XS

#4143 Adds another salvage map from upstream
  Resources/Maps/_DV/Salvage/DV_abandoned_outpost.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/_DV/Maps/salvage_modified.yml
Labels: Changes: YML, S: Needs Review, Changes: Map

#4188 Fix up readme formatting
  README.md
Labels: S: Needs Review, Changes: Documentation, size/XS

#4155 *blinks
  Resources/Audio/_Impstation/Effects/Emotes/attributions.yml
  Resources/Audio/_Impstation/Effects/Emotes/blink.ogg
  Resources/Locale/en-US/_Impstation/chat/emotes.ftl
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/SoundCollections/emotes.yml
  Resources/Prototypes/_Impstation/Voice/speech_emotes.yml
  Resources/Textures/_Impstation/Interface/Emotes/attributions.yml
  Resources/Textures/_Impstation/Interface/Emotes/blink.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S, Changes: Audio

#4190 Speedmerge #39243 from upstream
  Content.Server/Procedural/DungeonJob/DungeonJob.Ore.cs
Labels: S: Needs Review, Changes: C#, size/XS

#4156 Tweak cosmic cult win conditions
  Content.Server/_DV/CosmicCult/Components/CosmicCultRuleComponent.cs
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Resources/Locale/en-US/_DV/cosmiccult/preset-cosmiccult.ftl
Labels: S: Needs Review, Changes: C#, Changes: Localization, size/M

#4198 small laser + big laser buffs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: Changes: YML, size/XS

#4207 Give mantis locker mindbreaker pills
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/epistemics.yml
Labels: Changes: YML

#4210 AI shop locstring fix
  Resources/Prototypes/_DV/Catalog/ai_catalog.yml
Labels: Changes: YML

#4115 Engi loadout swag
  Resources/Locale/en-US/_DV/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_DV/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/_DV/Loadouts/loadout_groups.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#4164 Tie xenoarch point output to glimmer
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Resources/Locale/en-US/_DV/xenoarchaeology/old_artifact_analyzer.ftl
Labels: S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/S

#4225 renames dog bed to pet bed
  Resources/Locale/en-US/_DV/bed/bed.ftl
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#4085 Reword respawn popup
  Resources/Locale/en-US/_NF/respawn/respawn-system.ftl
Labels: Changes: Localization, size/XS

#4130 Make Glimmer Look Beautiful
  Content.Client/_DV/Options/UI/Tabs/DeltaTab.xaml
  Content.Client/_DV/Options/UI/Tabs/DeltaTab.xaml.cs
  Content.Client/_DV/Overlays/GlimmerOverlay.cs
  Content.Client/_DV/Overlays/GlimmerOverlaySystem.cs
  Content.Shared/Nyanotrasen/Psionics/Glimmer/GlimmerSystem.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Content.Shared/_DV/Overlays/GlimmerOverlayComponent.cs
  Resources/Locale/en-US/_DV/escape-menu/options-menu.ftl
  Resources/Prototypes/_DV/Shaders/highglimmer.yml
  Resources/Textures/_DV/Shaders/highglimmer.swsl
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/M, Changes: Shaders

#4213 Minor cult audio tweaks
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/_DV/CosmicCult/CosmicCultSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicChantrySystem.cs
  Content.Shared/Speech/Components/VocalComponent.cs
  Content.Shared/_DV/CosmicCult/Components/SpeechOverrideComponent.cs
  Resources/Audio/_DV/CosmicCult/Emotes/attributions.yml
  Resources/Audio/_DV/CosmicCult/Emotes/colossus_laugh.ogg
  Resources/Audio/_DV/CosmicCult/Emotes/cosmic_crying.ogg
  Resources/Audio/_DV/CosmicCult/Emotes/cosmic_laugh.ogg
  Resources/Audio/_DV/CosmicCult/Emotes/cosmic_scream.ogg
  Resources/Prototypes/_DV/CosmicCult/Clothing/cosmiccult_armor.yml
  Resources/Prototypes/_DV/CosmicCult/events.yml
  Resources/Prototypes/_DV/CosmicCult/speech_emote_sounds.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M, Changes: Audio

#4233 Cosmic cult bugfix bundle
  Content.Client/_DV/CosmicCult/CosmicCultSystem.cs
  Content.Client/_DV/CosmicCult/CosmicMarkVisualsComponent.cs
  Content.Server/_DV/CosmicCult/Abilities/CosmicMonumentSystem.cs
  Content.Server/_DV/CosmicCult/Components/CosmicCultRuleComponent.cs
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_DV/CosmicCult/CosmicCultSystem.cs
  Content.Server/_DV/CosmicCult/DeconversionSystem.cs
  Content.Server/_DV/CosmicCult/MonumentSystem.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicStarMarkComponent.cs
  Resources/Prototypes/_DV/Entities/Mobs/Player/kitsunefox.yml
  Resources/Textures/_DV/CosmicCult/Effects/cultrevealed.rsi/default.png
  Resources/Textures/_DV/CosmicCult/Effects/cultrevealed.rsi/kitsunefox.png
  Resources/Textures/_DV/CosmicCult/Effects/cultrevealed.rsi/meta.json
  Resources/Textures/_DV/CosmicCult/Effects/cultsubtlerevealed.rsi/kitsunefox.png
  Resources/Textures/_DV/CosmicCult/Effects/cultsubtlerevealed.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M, Changes: Sprite

#4236 Move glyph of cessation to T2, glyph of warding to T3, sliglthly rebalance cult armor
  Resources/Prototypes/_DV/CosmicCult/Clothing/cosmiccult_armor.yml
  Resources/Prototypes/_DV/CosmicCult/MonumentPowers/glyphs.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4140 Removed IPC restriction from invalid markings
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4216 Make malign rifts actually (kinda) dangerous
  Content.Server/_DV/CosmicCult/Components/CosmicMalignRiftComponent.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicRiftSystem.cs
Labels: S: Needs Review, Changes: C#, size/M

#4211 Bugfix station beacons not showing up on map
  Content.Server/Pinpointer/NavMapSystem.cs
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: C#, size/XS

#4259 Remove glyph of knowledge/truth actiavtion time
  Resources/Prototypes/_DV/CosmicCult/glyphs.yml
Labels: Changes: YML

#4177 Uplink Prices changed, Thermal suit buffed.
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4199 Kill Trials
  .wiki/_DV/Laws/SpaceLaw.txt
  .wiki/_DV/Laws/StandardOperatingProcedure.txt
Labels: size/M

#4230 IPC cult cope ops
  Content.Server/_DV/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_DV/CosmicCult/MonumentSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Resources/Prototypes/_EE/Entities/Mobs/Player/silicon_base.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, Changes: UI, Changes: C#, Changes: Localization, size/S, Changes: Sprite, Changes: Shaders, Changes: Audio

#4279 Arms dealer tweaks
  Resources/Maps/_DV/Shuttles/strongbox.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/_DV/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_DV/Mapping/maps.yml
  Resources/Prototypes/_DV/Roles/Antags/armsdealer.yml
Labels: Changes: YML, S: Needs Review, Changes: Map, size/M

#4136 Mass Mindswap rework
  Content.Server/Nyanotrasen/StationEvents/Components/MassMindSwapRuleComponent.cs
  Content.Server/Nyanotrasen/StationEvents/Events/MassMindSwapRule.cs
  Resources/Locale/en-US/_DV/abilities/psionic.ftl
Labels: S: Needs Review, Changes: C#, Changes: Localization, size/M

#4277 Add in-game date to the PDA
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Content.Shared/_DV/CCVars/DCCVars.cs
  Resources/Locale/en-US/_DV/pda/pda-component.ftl
Labels: S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/S

#4265 Make kitsune and felinids denser (faster drag speed)
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/kitsune.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4196 Add syringes to medical belts roundstart
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
Labels: Changes: YML, size/XS

#4284 Some loosely connected cosmic cult tweaks
  Content.Server/_DV/CosmicCult/Components/CosmicMalignRiftComponent.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicPurifiableSystem.cs
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicRiftSystem.cs
  Content.Shared/_DV/CosmicCult/Components/CosmicPurifiableComponent.cs
  Resources/Prototypes/_DV/CosmicCult/Tileset/converter.yml
  Resources/Prototypes/_DV/CosmicCult/Tileset/structures.yml
  Resources/Prototypes/_DV/CosmicCult/glyphs.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M

#4292 Minor cult fix
  Content.Server/_DV/CosmicCult/EntitySystems/CosmicRiftSystem.cs
Labels: Changes: C#, size/XS

#4285 Nuke ops mald pr tm
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/war_declarator.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/syndicate.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4294 Add eye coverage to the blindfold
  Resources/Prototypes/Entities/Clothing/Eyes/misc.yml
Labels: Changes: YML, S: Needs Review

#4149 Mouseops idle
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/nukiemouse.yml
  Resources/Textures/_DV/Mobs/Animals/nukiemouse.rsi/meta.json
  Resources/Textures/_DV/Mobs/Animals/nukiemouse.rsi/mouse-moving.png
  Resources/Textures/_DV/Mobs/Animals/nukiemouse.rsi/mouse.png
Labels: Changes: YML, S: Needs Review, size/XS, Changes: Sprite

#3927 Update the Crime Assist PDA App to match current Space Law
  Content.Client/_DV/CartridgeLoader/Cartridges/CrimeAssistUiFragment.xaml.cs
  Content.Shared/_DV/CartridgeLoader/Cartridges/CrimeAssistPage.cs
  Resources/Locale/en-US/_DV/cartridge-loader/cartridges.ftl
  Resources/Prototypes/_DV/Cartridges/crimeassistflow.yml
Labels: Changes: YML, S: Needs Review, Changes: UI, Changes: C#, Changes: Localization, size/L

#4297 Remove art director from codeowners
  .github/CODEOWNERS
Labels: S: Needs Review, size/XS

#4296 Grabbag of bugfixes
  Content.Shared/Nutrition/EntitySystems/FoodSystem.cs
  Resources/Locale/en-US/_DV/cosmiccult/reagenteffects.ftl
  Resources/Locale/en-US/_DV/job/job-supervisors.ftl
  Resources/Locale/en-US/datasets/names/borg.ftl
  Resources/Locale/en-US/ui/turret-controls.ftl
Labels: S: Needs Review, Changes: C#, Changes: Localization, size/XS

#4300 BUGFIX: harpy movement speed bug
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4273 Actually make LPO's crew monitor actually show people on the station
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Shared/_DV/Medical/CrewMonitoring/LongRangeCrewMonitorSystem.cs
Labels: S: Needs Review, Changes: C#, size/S
