Repository DeltaV-Station/Delta-v, pull requests merged in 2025-09, with the labels that each got.

#4298 Adds plastic to the biogenerator and rebalances the biogenerator
  Resources/Locale/en-US/_DV/stack/stacks.ftl
  Resources/Prototypes/Recipes/Lathes/Packs/biogen.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
  Resources/Prototypes/_DV/Recipes/Lathes/biogen.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#4194 Add hyperzine injector alternative for the cosmic cult
  Resources/Locale/en-US/_DV/cosmiccult/examine.ftl
  Resources/Locale/en-US/_DV/cosmiccult/reagenteffects.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_DV/CosmicCult/Objects/injector.yml
  Resources/Prototypes/_DV/CosmicCult/entropy.yml
  Resources/Textures/_DV/CosmicCult/Objects/injector.rsi/base.png
  Resources/Textures/_DV/CosmicCult/Objects/injector.rsi/empty.png
  Resources/Textures/_DV/CosmicCult/Objects/injector.rsi/meta.json
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#4299 Pneumatic cannon can now be equipped in the suit storage slot
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/meta.json
Labels: Changes: YML, S: Needs Review, size/XS, Changes: Sprite

#4219 Carpet Colors & Fountain
  Resources/Locale/en-US/_DV/prayers/prayers.ftl
  Resources/Prototypes/_DV/Entities/Structures/Decoration/fountains.yml
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
  Resources/Textures/_DV/Structures/Decoration/fountains.rsi/large-round-base-water.png
  Resources/Textures/_DV/Structures/Decoration/fountains.rsi/large-round-base.png
  Resources/Textures/_DV/Structures/Decoration/fountains.rsi/large-round-flows.png
  Resources/Textures/_DV/Structures/Decoration/fountains.rsi/large-round-top-water.png
  Resources/Textures/_DV/Structures/Decoration/fountains.rsi/large-round-top.png
  Resources/Textures/_DV/Structures/Decoration/fountains.rsi/meta.json
  Resources/Textures/_Nuclear14/Tiles/ms13/Carpet/carpet_fancy_blue_diamond.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Carpet/carpet_fancy_red_diamond.png
  Resources/Textures/_Nuclear14/Tiles/ms13/Carpet/carpet_fancy_violet_diamond.png
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M, Changes: Sprite

#4306 ipc heat/cold
  Resources/Prototypes/_EE/Damage/modifier_sets.yml
Labels: Changes: YML, size/XS

#4320 Moved Recipes to Atmospherics Category
  Resources/Locale/en-US/_DV/construction/construction-categories.ftl
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/M

#4269 Fixed Felinids (real not fake)
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/_DV/Damage/modifier_sets.yml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Felinid.xml
Labels: Changes: YML, S: Needs Review, Changes: Documentation, size/M

#4314 Fixed Fibers of the Mechanical Gloves (#1501)
  Resources/Locale/en-US/_DV/forensics/fibers.ftl
  Resources/Prototypes/_DV/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Shitmed/Entities/Clothing/Hands/gloves.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/XS

#4330 Correct a minor typo in the echion uplink descriptions
  Resources/Locale/en-US/_Impstation/store/uplink-catalog.ftl
Labels: S: Needs Review, Changes: Localization, size/XS

#4328 Fixes two Cosmic Cult typos
  Resources/Prototypes/_DV/CosmicCult/Tileset/structures.yml
Labels: Changes: YML, S: Needs Review

#4332 Make Colossus not microscopic
  Resources/Prototypes/_DV/CosmicCult/Mobs/colossus.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4337 Fugitive Report small rewrite
  Resources/Locale/en-US/_DV/game-ticking/game-rules/rule-fugitive.ftl
Labels: S: Needs Review, Changes: Localization, size/XS

#4308 Skia Tweaks + Removes Nightvision form Lathes
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_Goobstation/Overlays/ThermalVisionOverlay.cs
  Content.Client/_RMC14/Effect/RMCEffectSystem.cs
  Content.Client/_RMC14/Xenonids/Screech/RMCXenoScreechShockWaveOverlay.cs
  Content.Server/_DV/Abilities/Psionics/PsychokineticScreamPowerSystem.cs
  Content.Server/_DV/Abilities/ShatterLightsAbilitySystem.cs
  Content.Server/_RMC14/Effect/RMCEffectSystem.cs
  Content.Shared/_DV/Abilities/Psionics/PsychokineticScreamPowerComponent.cs
  Content.Shared/_DV/Abilities/ShatterLightsAbilityComponent.cs
  Content.Shared/_RMC14/Effect/EffectAlphaAnimationComponent.cs
  Content.Shared/_RMC14/Effect/RMCEffectComponent.cs
  Content.Shared/_RMC14/Effect/SharedRMCEffectSystem.cs
  Content.Shared/_RMC14/Xenonids/Screech/RMCXenoScreechShockWaveComponent.cs
  Resources/Locale/en-US/_DV/store/uplink/wearables.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/_DV/Catalog/Uplink/wearables.yml
  Resources/Prototypes/_DV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/Packs/misc.yml
  Resources/Prototypes/_RMC14/Effects/base.yml
  Resources/Prototypes/_RMC14/Effects/screech.yml
  Resources/Prototypes/_RMC14/Shaders/shaders.yml
  Resources/Prototypes/_White/Entities/Clothing/Eyes/goggles.yml
  Resources/Prototypes/_White/Research/experimental.yml
  Resources/Textures/_RMC14/Effects/xeno_screech.rsi/meta.json
  Resources/Textures/_RMC14/Effects/xeno_screech.rsi/screech.png
  Resources/Textures/_RMC14/Shaders/screech_shock_wave.swsl
Labels: Changes: YML, S: Needs Review, Changes: C#, Changes: Localization, size/L, Changes: Sprite, Changes: Shaders

#4321 Make Defib Cabinets Recharge
  Resources/Locale/en-US/_DV/medical/defibrillator.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/defib_cabinet.yml
Labels: Changes: YML, S: Needs Review, Changes: Localization, size/S

#4278 respawn 10 min
  Resources/ConfigPresets/DeltaV/deltav.toml
Labels: S: Needs Review, Changes: C#, size/XS

#4343 Changes "credits" to "spesos" in the stock market
  Content.Server/_DV/Cargo/Systems/StockMarketSystem.cs
  Resources/Locale/en-US/_DV/cartridge-loader/cartridges.ftl
Labels: Changes: C#, Changes: Localization, size/XS

#4348 glimmer shader bugfix 2 electric boogaloo
  Content.Client/_DV/Overlays/GlimmerOverlaySystem.cs
Labels: Changes: C#, size/XS

#4352 Bugfix microwaves staying locked out after cooking finishes
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/_Goobstation/Kitchen/MicrowaveEventsSystem.cs
Labels: S: Needs Review, Changes: C#, size/S

#4349 Readds HoS parade outfits to loadout
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4367 Fix Book of Mysteries casting
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Resources/Prototypes/Magic/forcewall_spells.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/XS

#4427 Adds a period to the syndicate exofab description
  Resources/Prototypes/_DV/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, S: Needs Review, size/XS

#4441 id card computer now sets access when selecting a job preset
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Server/_DV/Access/Systems/IdCardConsoleSystem.Toggle.cs
Labels: S: Needs Review, Changes: UI, Changes: C#, size/S

#4382 New Advanced Operating Table sprites
  Resources/Textures/_DV/Structures/Furniture/Tables/advanced_optable.rsi/meta.json
  Resources/Textures/_DV/Structures/Furniture/Tables/advanced_optable.rsi/state_speed.png
  Resources/Textures/_DV/Structures/Furniture/Tables/advanced_optable.rsi/state_stasis.png
  Resources/Textures/_DV/Structures/Furniture/Tables/advanced_optable.rsi/state_unpowered.png
Labels: S: Needs Review, size/XS, Changes: Sprite

#4360 fix lobby customize save button not appearing on hair/eye changes
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: S: Needs Review, Changes: UI, Changes: C#

#4417 Fix Flares, Give Skia Spacewalk
  Content.Client/_DV/Light/EntitySystems/ExpandableLightEnergySystem.cs
  Content.Client/_DV/Light/LightReactiveSystem.cs
  Content.Server/_DV/Light/EntitySystems/ExpendableLightEnergySystem.cs
  Content.Server/_DV/Light/LightReactiveSystem.cs
  Content.Shared/Light/Components/SharedExpendableLightComponent.cs
  Content.Shared/_DV/Light/EntitySystems/ItemTogglePointLightEnergySystem.cs
  Content.Shared/_DV/Light/SharedLightReactiveSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/torch.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/skia.yml
Labels: Changes: YML, S: Needs Review, Changes: C#, size/M
